{% extends 'account/layout.html' %}

{% block content %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <h2 class="c-grey-900 mT-10 mB-30">Assessments</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20">
                            {#                    <h4 class="c-grey-900 mB-20">Professional Assessment to Answered Questions</h4>#}
                            <p>Your <code class="highlighter-rouge">response</code> to our carefully curated assessments</p>
                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for assessment in assessments %}
                                    <tr>
                                        <th scope="row">{{ assessment.created_at|date:"D d M Y" }}</th>
                                        <td>{{ assessment.assessment_test.title }}</td>
                                        <td>{{ assessment.score }}</td>
                                        <td>
                                            <a href="{% url 'assessment' pk=assessment.pk %}">
                                                <!--<i class="ti-eye"></i>-->
                                                <img src="/static/images/loupe.svg" height="20px">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}