<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block title %}
        <title>{{ title }}</title>
      {% endblock %}
    {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}"/>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
{#      <script defer src="/static/font-awesome/fontawesome-all.js"></script>#}
  </head>
  <body class="app">
    {% load static from staticfiles %}
    <div id='loader'>
      <div class="spinner"></div>
    </div>
    <!-- @App Content -->
    <!-- =================================================== -->
    <div>
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class='sidebar-link td-n' href="/">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="{% static 'images/admin_logo.png' %}" class="therapist_panel_logo" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">MindCure</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
              <a class='sidebar-link' href="{% url 'profile' %}" default>
                <span class="icon-holder">
                  <i class="c-blue-500 ti-user"></i>
                </span>
                <span class="title">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="{% url 'sessions' %}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-comments"></i>
                </span>
                <span class="title">Therapy Sessions</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="{% url 'orders' %}">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
                <span class="title">Orders</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="{% url 'assessments' %}">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 fa-pencil"></i>
                </span>
                <span class="title">Assessments</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="{% url 'resources' %}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-list"></i>
                </span>
                <span class="title">Resources</span>
              </a>
            </li>
{#            <li class="nav-item">#}
{#              <a class='sidebar-link' href="{% url 'settings' %}">#}
{#                <span class="icon-holder">#}
{#                  <i class="c-brown-500 ti-email"></i>#}
{#                </span>#}
{#                <span class="title">Settings</span>#}
{#              </a>#}
{#            </li>#}
          </ul>
        </div>
      </div>

      <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-left">
              <li>
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                  <i class="ion-navicon" style="font-size: 25px;"></i>
                </a>
              </li>
{#              <li class="search-box">#}
{#                <a class="search-toggle no-pdd-right" href="javascript:void(0);">#}
{#                  <i class="search-icon ion-search pdd-right-10"></i>#}
{#                  <i class="search-icon-close ion-close pdd-right-10"></i>#}
{#                </a>#}
{#              </li>#}
{#              <li class="search-input">#}
{#                <input class="form-control" type="text" placeholder="Search...">#}
{#              </li>#}
            </ul>
            <ul class="nav-right">
              <li class="notifications dropdown">
                <span class="counter bgc-red" ng-bind="notifications.total"></span>
                <a href="{% url 'notifications' %}" class="dropdown-toggle no-after" data-toggle="dropdown">
                  <i class="ion-ios-bell-outline"></i>
                </a>

                <ul class="dropdown-menu dropdown-menumenuone">
                  <li class="pX-20 pY-15 bdB">
                    <i class="ion-ios-bell-outline pR-10"></i>
                    <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
                  </li>
                  <li>
                    <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
{#                        {% for notification in notifications %}#}
                        <li ng-repeat="note in notifications.items">
                            <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                              <div class="peer mR-15">
                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                              </div>
                              <div class="peer peer-greed">
                                <span>
                                  <span class="fw-500" ng-bind="note.title"></span>
                                  <span class="c-grey-600" ng-bind="note.body"></span>
                                  </span>
                                </span>
                                <p class="m-0">
                                  <small class="fsz-xs" am-time-ago="note.timestamp"></small>
                                </p>
                              </div>
                            </a>
                        </li>
{#                        {% endfor %}#}
                    </ul>
                  </li>
                  <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="{% url 'notifications' %}" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i class="ion-chevron-right fsz-xs mL-10"></i></a>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="notifications dropdown">
                <span class="counter bgc-blue" ng-bind="messages.total"></span>
                <a href="{% url 'messages' %}" class="dropdown-toggle no-after" data-toggle="dropdown">
                  <i class="ion-ios-email-outline"></i>
                </a>

                <ul class="dropdown-menu dropdown-menumenu">
                  <li class="pX-20 pY-15 bdB">
                    <i class="far fa-envelope-square pR-10"></i>
                    <span class="fsz-sm fw-600 c-grey-900">Messages</span>
                  </li>
                  <li>
                    <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
{#                        {% for message in messages %}#}
                        <li ng-repeat="msg in messages.items">
                            <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                              <div class="peer mR-15">
                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                              </div>
                              <div class="peer peer-greed">
                                <div>
                                  <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                      <p class="fw-500 mB-0" ng-bind="msg.subject"></p>
                                    </div>
                                    <div class="peer">
                                      <small class="fsz-xs" am-time-ago="msg.timestamp"></small>
                                    </div>
                                  </div>
                                  <span class="c-grey-600 fsz-sm" ng-bind="msg.body"></span>
                                </div>
                              </div>
                            </a>
                        </li>
{#                        {% endfor %}#}
                    </ul>
                  </li>
                  <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="{% url 'messages' %}" class="c-grey-600 cH-blue fsz-sm td-n">View All Messages <i class="fs-xs ti-angle-right mL-10"></i></a>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                  <div class="peer mR-10">
                      <i class="ion-ios-person-outline"></i>
{#                    <img class="w-2r bdrs-50p" src="{% static 'images/avatar.png' %}" alt="">#}
                  </div>
                  <!-- <div class="peer">
                    <span class="fsz-sm c-grey-900">{{ user.get_full_name }}</span>
                  </div> -->
                </a>
                <ul class="dropdown-menu fsz-sm">
                  <li>
                    <a href="{% url 'profile' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ion-ios-person-outline mR-10"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="/settings#change_plan" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-settings mR-10"></i>
                      <span>Change Plan</span>
                    </a>
                  </li>
                  <li>
                    <a href="/settings#change_plan" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-settings mR-10"></i>
                      <span>Change Therapist</span>
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="{% url 'logout' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-power-off mR-10"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        {% block content %}{% endblock %}

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
{#          <span>Copyright © {% now "Y" %} Designed by <a href="https://xeptr.org" target='_blank' title="Xeptr">Xeptr Interactive</a>. All rights reserved.</span>#}
            <span>Copyright © {% now "Y" %} All rights reserved.</span>
        </footer>
      </div>
      <!-- #Main ============================ -->
    </div>
        <script type="text/javascript">
      window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
          loader.classList.add('fadeOut');
        }, 300);
      });
    </script>
    <script type="text/javascript" src="/static/assets/vendor.js"></script>
    <script type="text/javascript" src="/static/assets/bundle.js"></script>
  </body>
</html>
