{% extends 'account/layout.html' %}

{% block content %}
  <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="container-fluid">
              <h2 class="c-grey-900 mT-10 mB-30">Billings</h2>
                <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20">
                    <h4 class="c-grey-900 mB-20">Therapy Session Billings</h4>
                    <table id="dataTable" class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Therapist</th>
                          <th scope="col">Reference</th>
                          <th scope="col">Total Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for billing in billings %}
                        <tr>
                          <th scope="row">{{ billing.created_at|date:"D d M Y" }}</th>
                          <td>{{ billing.therapist.name }}</td>
                          <td>{{ billing.sub_transaction.txRef }}</td>
                          <td>{{ billing.sub_transaction.total_amount }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock %}