<!DOCTYPE html>
<html ng-app="mindcureApp">
<head>
    <meta charset="utf-8">
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block title %}
    <title>MiNDCuRE | {{ habit.name }} Report</title>
    {% endblock %}
    {% load static from staticfiles %}
    {% load compress %}
    {% compress css %}
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}"/>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.min.css' %}">
    <style>
        .dropbtn {
            color: #868686;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content li {
            list-style: none;
        }

        .dropdown-content a:hover {
            background-color: #fff
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown_fix {
            min-width: 200px;
            right: 0 !important;
        }

        .def-bell {
            font-size: 30px !important;
            color: rgb(34, 34, 14);
        }

        .def-mail {
            color: #AF5100;
            font-size: 30px !important;
        }

        @media only screen and (min-width: 640px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }
        }

        .profile_link {
            padding: 10px 0 0 30px;
            font-size: 12px;
            line-height:20px
        }

        .profile_link a {
            color: black;
            text-decoration: none;
            display: block;
        }

        .sidebar-menu li a {
            color: #000 !important;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .text-darkgrey {
            color: darkgrey !important;
        }

        .success {
            color: green !important;
        }

        .red {
            color: red !important;
        }

        .red {
            color: red !important;
        }

        .fw-900 {
            font-weight: 900 !important;
        }

        .ps__rail-y:hover>.ps__thumb-y {
            background-color: #999;
            width: 3px !important;
        }


    </style>
    {% endcompress %}
</head>
<body class="app" ng-controller="ProfileController" ng-init="init('{{ csrf_token }}')">
{% load static from staticfiles %}
<div id='loader'>
    <div class="spinner"></div>
</div>
<!-- @App Content -->
<!-- =================================================== -->
<div>

    <div class="page-container">
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
                <div class="container-fluid">
                    <h4 class="c-grey-900 mT-10 mB-30">Below is a report detailing the progress tracking <b>{{ habit.name }}</b></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                <h4 class="c-grey-900 mB-20">{{ habit.name }}</h4>
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>Target Number of days</td>
                                            <td>{{ target_days }}</td>
                                        </tr>
                                        <tr>
                                            <td>Start Date</td>
                                            <td>{{ habit.start_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>Target Date</td>
                                            <td>{{ habit.target_date }}</td>
                                        </tr>
                                         <tr>
                                            <td>Days Not Checked In</td>
                                            <td>{{ not_checked }}</td>
                                        </tr>
                                         <tr>
                                            <td>Successful Days</td>
                                            <td>{{ positive_count }}</td>
                                        </tr>
                                         <tr>
                                            <td>Days of Relapse</td>
                                            <td>{{ negative_count }}</td>
                                        </tr>
                                         <tr>
                                            <td>Successful Days Percentage</td>
                                            <td>{{ success_percentage }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- #Main ============================ -->
</div>
{% load compress %}
{% compress js %}
{% include 'shop/scripts.html' %}
<script>

        $("body").click(function(e) {
            if(e.target.id !== 'chat_sidebar_toggle' && $("#chat-sidebar").hasClass('open')){
                $("#chat-sidebar").removeClass('open');
            }
        });

        window.addEventListener('load', function() {
           const loader = document.getElementById('loader');
          setTimeout(function() {
              loader.classList.add('fadeOut');
          }, 300)
      });

</script>
<script src="{% static 'js/file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bundle.js' %}"></script>
{% endcompress %}

</body>
</html>