<!DOCTYPE html>
<html ng-app="mindcureApp">
<head>
    <meta charset="utf-8">
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
    {% load static from staticfiles %}
    {% load compress %}
    {% compress css %}
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}"/>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.min.css' %}">
    <style>
        .dropbtn {
            color: #868686;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content li {
            list-style: none;
        }

        .dropdown-content a:hover {
            background-color: #fff
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown_fix {
            min-width: 200px;
            right: 0 !important;
        }

        .def-bell {
            font-size: 30px !important;
            color: rgb(34, 34, 14);
        }

        .def-mail {
            color: #AF5100;
            font-size: 30px !important;
        }

        @media only screen and (min-width: 640px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }
        }

        .profile_link {
            padding: 10px 0 0 30px;
            font-size: 12px;
            line-height:20px
        }

        .profile_link a {
            color: black;
            text-decoration: none;
            display: block;
        }

        .sidebar-menu li a {
            color: #000 !important;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .text-darkgrey {
            color: darkgrey !important;
        }

        .success {
            color: green !important;
        }

        .red {
            color: red !important;
        }

        .red {
            color: red !important;
        }

        .fw-900 {
            font-weight: 900 !important;
        }

        .ps__rail-y:hover>.ps__thumb-y {
            background-color: #999;
            width: 3px !important;
        }


    </style>
    {% endcompress %}
</head>
<body class="app" ng-controller="ProfileController" ng-init="init('{{ csrf_token }}')">
{% load static from staticfiles %}
<div id='loader'>
    <div class="spinner"></div>
</div>
<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- ### $Sidebar Header ### -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class='sidebar-link td-n' href="/">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo">
                                        <img src="{% static 'images/mindcure_logo.png' %}" height="85px"
                                             style="padding: 10px">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ion-ios-arrow-back"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            <ul class="sidebar-menu scrollable pos-r">
                <li class="nav-item mT-30 active">
                    <a class='sidebar-link' href="{% url 'profile' %}">
                <span class="icon-holder">
                    <img src="/static/images/user.svg" height="25px">
                </span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="{% url 'sessions' %}">
                <span class="icon-holder">
                  <i class="cH-blue-500 ion-chatbubble-working"></i>
                </span>
                        <span class="title">Therapy Session</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="{% url 'orders' %}">
                <span class="icon-holder">
                  <i class="cH-blue-500 ion-bag"></i>
                </span>
                        <span class="title">Orders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="{% url 'assessments' %}">
                <span class="icon-holder">
                  <i class="cH-blue-500 ion-compose"></i>
                </span>
                        <span class="title">Assessments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="{% url 'messages' %}">
                <span class="icon-holder">
                  <i class="cH-blue-500 ion-email"></i>
                </span>
                        <span class="title">Messages</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='sidebar-link' href="{% url 'resources' %}">
                <span class="icon-holder">
                  <i class="cH-blue-500 ion-clipboard"></i>
                </span>
                        <span class="title">Resources</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
            <div class="header-container">
                <ul class="nav-left">
                    <li>
                        <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                            <i class="ion-navicon" style="font-size: 25px;"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="notifications dropdown">
                        <span class="counter bgc-blue" ng-bind="user_messages.total"></span>
                        <a href="{% url 'messages' %}" class="dropdown-toggle no-after" data-toggle="dropdown">
                            <i class="ion-email def-mail" style="font-size: 30px !important"></i>
                        </a>

                        <ul class="dropdown-content dropdown_fix">
                            <li class="pX-20 pY-15 bdB">
                                <i class="ion-email def-mail pR-10"></i>
                                <span class="fsz-sm fw-600 c-grey-900">Messages</span>
                            </li>
                            <li>
                                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                                    {# {% for message in messages %}#}
                                    <li ng-repeat="msg in messages.items">
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <!--<div class="peer mR-15">-->
                                            <!--<img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">-->
                                            <!--</div>-->
                                            <div class="peer peer-greed">
                                                <div>
                                                    <div class="peers jc-sb fxw-nw mB-5">
                                                        <div class="peer">
                                                            <p class="fw-500 mB-0" ng-bind="msg.subject"></p>
                                                        </div>
                                                        <div class="peer">
                                                            <small class="fsz-xs" am-time-ago="msg.timestamp"></small>
                                                        </div>
                                                    </div>
                                                    <span class="c-grey-600 fsz-sm" ng-bind="msg.body"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {# {% endfor %}#}
                                </ul>
                            </li>
                            <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="{% url 'messages' %}" class="c-grey-600 cH-blue fsz-sm td-n">View All Messages <i
                              class="ion-chevron-right mL-10"></i></a>
                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="notifications dropdown">
                        <span class="counter bgc-red" ng-bind="notifications.total"></span>
                        <a href="{% url 'notifications' %}" class="dropdown-toggle no-after" data-toggle="dropdown">
                            <i class="ion-ios-bell def-bell"></i>
                        </a>

                        <ul class="dropdown-content dropdown_fix">
                            <li class="pX-20 pY-15 bdB">
                                <i class="ion-ios-bell def-bell pR-10"></i>
                                <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
                            </li>
                            <li>
                                <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                                    <li ng-repeat="note in notifications.items">
                                        <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                                            <div class="peer mR-15">
                                                <img class="w-3r bdrs-50p" src="/static/images/boss.png" alt="">
                                            </div>
                                            <div class="peer peer-greed">
                                <span>
                                  <span class="fw-500" ng-bind="note.title"></span>
                                  <span class="c-grey-600" ng-bind="note.body"></span>
                                  </span>
                                                </span>
                                                <p class="m-0">
                                                    <small class="fsz-xs" am-time-ago="note.timestamp"></small>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="{% url 'notifications' %}" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i
                              class="ion-chevron-right fsz-xs mL-10"></i></a>
                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="notifications dropdown" style="margin-right: 30px">
                        <div class="dropdown-toggle no-after" style="margin-top: 14px; margin-left: 10px;"
                             data-toggle="dropdown">
                            <img src="/static/images/user.svg" height="25px">
                        </div>

                        <ul class="dropdown-content dropdown_fix">
                            <li class="profile_link">
                                <a href="{% url 'profile' %}">
                                    <img src="/static/images/user.svg" class="mR-10" height="20px"> Profile
                                </a>
                            </li>
                            <li class="profile_link">
                                <a href="{% url 'change_plan' %}">
                                    <i class="ion-gear-b mR-10 f-18"></i> Change Plan
                                </a>
                            </li>
                            <li class="profile_link">
                                <a href="{% url 'change_therapist' %}">
                                    <img src="{% static 'images/icons/psychologist.svg' %}" class="mR-10" height="16px">
                                    Change Therapist
                                </a>
                            </li>
                            {% if profile.get_current_session.is_active %}
                            <li class="profile_link">
                                <a href="" ng-click="quitTherapy()">
                                    <i class="ion-close-circled mR-10 f-18"></i> Quit Therapy Session
                                </a>
                            </li>
                            {% endif %}
                            <li class="profile_link pb-2">
                                <a href="{% url 'logout' %}">
                                    <i class="ion-power mR-15 f-18"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown">-->
                    <!--<a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">-->
                    <!--<div class="peer mR-10" style="margin-top: 15px; margin-left: 10px;">-->
                    <!--<img src="/static/images/user.svg" height="25px">-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-content" style="right: 15px !important;">-->
                    <!--<li>-->
                    <!--<a href="{% url 'profile' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
                    <!--<img src="/static/images/user.svg" class="mR-10" height="15px">-->
                    <!--<span>Profile</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="{% url 'change_plan' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
                    <!--<i class="ion-gear-b mR-10"></i>-->
                    <!--<span>Change Plan</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="{% url 'change_therapist' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
                    <!--<img src="{% static 'images/icons/psychologist.svg' %}" height="10px">-->
                    <!--<span style="font-size: 9px; padding-left: 8px">Change Therapist</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li>-->
                    <!--<a ng-click="logout()" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
                    <!--<i class="ion-power mR-10"></i>-->
                    <!--<span>Logout</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

        {% block content %}{% endblock %}

        <!-- ### $App Screen Footer ### -->
        <!-- <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © {% now "Y" %}</span>
        </footer> -->
    </div>
    <!-- #Main ============================ -->
</div>
<!--Skygear configuration-->
<!--The app end point and the api key can be found in the developer portal-->
<script src="{% static 'js/skygear.min.js' %}"></script>
<script src="{% static 'js/skygear-chat.min.js' %}"></script>
<script>
        skygear.config({
            'endPoint': 'https://mindcureglobal.com:8050/', // trailing slash is required
            'apiKey': 'mindcure'
        }).then(function () {
            console.log('connected');
        }, function (error) {
            console.error(error);
        });

</script>
{% load compress %}
{% compress js %}
{% include 'shop/scripts.html' %}
<script>

        $("body").click(function(e) {
            if(e.target.id !== 'chat_sidebar_toggle' && $("#chat-sidebar").hasClass('open')){
                $("#chat-sidebar").removeClass('open');
            }
        });

        window.addEventListener('load', function() {
           const loader = document.getElementById('loader');
          setTimeout(function() {
              loader.classList.add('fadeOut');
          }, 300)
      });

</script>
<script src="{% static 'js/file-upload.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bundle.js' %}"></script>
{% endcompress %}

<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-resource.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/ngToast.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/angular-moment.js' %}"></script>
<script src="{% static 'js/new_main.js' %}"></script>
<script src="{% static 'js/socket.io.js' %}"></script>
<script src="{% static 'js/adapter-latest.js' %}"></script>
<script src="{% static 'js/swx-session-storage.min.js' %}"></script>
<script src="{% static 'js/ga.js' %}"></script>
<script src="{% static 'js/ngStorage.min.js' %}"></script>
<script src="{% static 'js/aws-sdk.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block profile-scripts %}
{% endblock %}

</body>
</html>
