{% extends 'account/layout.html' %}

{% block title %}
    <title>Therapy Sessions</title>
{% endblock %}

{% block content %}
    {% load static from staticfiles %}
    <main class='main-content bgc-grey-100' ng-controller="MessageController" ng-init="initCompose('{{ request.user.id}}', '{{ request.user.username}}', '{{ therapist.id }}', '{{ therapist.name}}')">
      <div id='mainContent'>
        <div class="full-container">
          <div class="email-app">
           <div class="email-side-nav remain-height ov-h">
              <div class="h-100 layers">
                <div class="scrollable pos-r bdT layer w-100 fxg-1">
                    <div class="image_frame">
                        <img class="image_message" src="{% static 'images/person.png' %}">
                    </div>
                    <div style="padding:20px; text-align: center !important;">
                        <h4 class="h_career">
                            {{ therapist.name.title.upper }}
                        </h4>

                        <p class="p_career mb0">
                            {{ therapist.qualification.name.title }}
                        </p>

                        <ul class="ul pb-10" style="list-style: none">
                            <li>
                                {% if therapist.rating > 0 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                {% if therapist.rating > 1 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                {% if therapist.rating > 2 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                {% if therapist.rating > 3 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                {% if therapist.rating > 4 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                            </li>
                            <li style="color: rgb(34, 34, 14) !important; font-size: 90%;">
                                ( {{ therapist.reviews_count }} Reviews )
                            </li>
                        </ul>

                        {% if therapist.headline %}

                            <hr style="border: 1px dashed #333;">

                            <p class="profile_p" style="color: #000; text-align: justify;">
                                {{ therapist.headline }}
                            </p>

                            <hr style="border: 1px dashed #333;">

                        {% endif %}
                        <ul class="ul margin-top-10">
                            <!--<a style="margin-right: 5px;" href="{% url 'therapy_messages' pk=therapist.pk %}" class="btn btn-primary btn-xs">-->
                                <!--<i class="ion-email"></i>&nbsp;Message-->
                            <!--</a>-->
                            <a style="margin-left: 5px;" href="{% url 'therapy_chats' pk=therapist.pk %}" class="btn btn-warning btn-xs white">
                                <i class="ion-chatbox"></i>&nbsp;Chat
                            </a>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
          <div class="email-wrapper row remain-height pos-r scrollable bgc-white">
            <div class="email-content open no-inbox-view">
              <div class="email-compose">
                <div class="d-n@md+ p-20">
                  <a class="email-side-toggle c-grey-900 cH-brown-500 td-n" href="javascript:void(0)">
                    <i class="ion-information-circled f-30"></i>
                  </a>
                </div>
                <form class="email-compose-body" ng-submit="sendMessage()">
                  <h4 class="c-grey-900 mB-20">Send Message</h4>
                  <div class="send-header">
                    <div class="form-group">
                      <input type="text" class='form-control' placeholder="To" disabled value="{{ therapist.name }}">
                    </div>
{#                        <div class="form-group">#}
{#                          <input type="text" class='form-control' placeholder="CC">#}
{#                        </div>#}
                    <div class="form-group">
                      <input class="form-control" placeholder="Email Subject" ng-model="message.subject" required>
                    </div>
                    <div class="form-group">
                      <textarea name="compose" class="form-control" placeholder="Say Hi..." rows='10' ng-model="message.body" required></textarea>
                    </div>
                  </div>
                  <div id="compose-area"></div>
                  <div class="text-right mrg-top-30">
                    <button class="btn btn-primary" type="submit">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}