{% extends 'account/layout.html' %}
{% block content %}
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="container-fluid">
          <h4 class="c-grey-900 mT-10 mB-30">Notifications</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="bgc-white bd bdrs-3 p-20 mB-20">
{#                    <h4 class="c-grey-900 mB-20">Bootstrap Data Table</h4>#}
                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Body</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Title</th>
                        <th>Body</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="note in notifications.items">
                        <td ng-bind="note.title"></td>
                        <td ng-bind="note.body"></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}