{% extends 'account/layout.html' %}
{% block content %}
    <!--<style>-->
        <!--/* Style the buttons that are used to open and close the accordion panel */-->
        <!--.custom_accordion {-->
            <!--background-color: #eee;-->
            <!--color: #444;-->
            <!--cursor: pointer;-->
            <!--padding: 18px;-->
            <!--width: 100%;-->
            <!--text-align: left;-->
            <!--border: none;-->
            <!--outline: none;-->
            <!--transition: 0.4s;-->
        <!--}-->

        <!--/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */-->
        <!--.custom_active, .custom_accordion:hover {-->
            <!--background-color: #ccc;-->
        <!--}-->

        <!--/* Style the accordion panel. Note: hidden by default */-->
        <!--.custom_panel {-->
            <!--padding: 0 18px;-->
            <!--background-color: white;-->
            <!--max-height: 0;-->
            <!--overflow: hidden;-->
            <!--transition: max-height 0.2s ease-out;-->
        <!--}-->
    <!--</style>-->
    {% load static from staticfiles %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="full-container">
                <div class="email-app">
                    <div class="email-side-nav remain-height ov-h">
                        <div class="h-100 layers">
                            <div class="p-20 bgc-grey-100 layer w-100">
                                <a href="{% url 'therapists' %}" class="btn btn-primary btn-block">
                                    <img src="{% static 'images/icons/psychologist.svg' %}" height="20px" style="padding-right: 10px;">
                                    View Therapists
                                </a>
                            </div>
                            <div class="scrollable pos-r bdT layer w-100 fxg-1">
                                <ul class="p-20 nav flex-column">
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link c-grey-800 cH-brown-500 active">
                                            <div class="peers ai-c jc-sb">
                                                <div class="peer peer-greed">
                                                    <i class="mR-10 ion-email"></i>
                                                    <span>Inbox</span>
                                                </div>
                                                <div class="peer">
                                                    <span class="badge badge-pill bgc-deep-purple-50 c-deep-purple-700" ng-bind="user_messages.total"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!--<li class="nav-item">-->
                                        <!--<a href="" class="nav-link c-grey-800 cH-brown-500">-->
                                            <!--<div class="peers ai-c jc-sb">-->
                                                <!--<div class="peer peer-greed">-->
                                                    <!--<i class="mR-10 ion-share"></i>-->
                                                    <!--<span>Sent</span>-->
                                                <!--</div>-->
                                                <!--<div class="peer">-->
                                                    <!--<span class="badge badge-pill bgc-green-50 c-green-700">12</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    {#                        <li class="nav-item">#}
                                    {#                          <a href="" class="nav-link c-grey-800 cH-brown-500">#}
                                    {#                            <div class="peers ai-c jc-sb">#}
                                    {#                              <div class="peer peer-greed">#}
                                    {#                                <i class="mR-10 ti-star"></i>#}
                                    {#                                <span>Important</span>#}
                                    {#                              </div>#}
                                    {#                              <div class="peer">#}
                                    {#                                <span class="badge badge-pill bgc-blue-50 c-blue-700">3</span>#}
                                    {#                              </div>#}
                                    {#                            </div>#}
                                    {#                          </a>#}
                                    {#                        </li>#}
                                    {#                        <li class="nav-item">#}
                                    {#                          <a href="" class="nav-link c-grey-800 cH-brown-500">#}
                                    {#                            <div class="peers ai-c jc-sb">#}
                                    {#                              <div class="peer peer-greed">#}
                                    {#                                <i class="mR-10 ti-file"></i>#}
                                    {#                                <span>Drafts</span>#}
                                    {#                              </div>#}
                                    {#                              <div class="peer">#}
                                    {#                                <span class="badge badge-pill bgc-amber-50 c-amber-700">5</span>#}
                                    {#                              </div>#}
                                    {#                            </div>#}
                                    {#                          </a>#}
                                    {#                        </li>#}
                                    {#                        <li class="nav-item">#}
                                    {#                          <a href="" class="nav-link c-grey-800 cH-brown-500">#}
                                    {#                            <div class="peers ai-c jc-sb">#}
                                    {#                              <div class="peer peer-greed">#}
                                    {#                                <i class="mR-10 ti-alert"></i>#}
                                    {#                                <span>Spam</span>#}
                                    {#                              </div>#}
                                    {#                              <div class="peer">#}
                                    {#                                <span class="badge badge-pill bgc-red-50 c-red-700">1</span>#}
                                    {#                              </div>#}
                                    {#                            </div>#}
                                    {#                          </a>#}
                                    {#                        </li>#}
                                    {#                        <li class="nav-item">#}
                                    {#                          <a href="" class="nav-link c-grey-800 cH-brown-500">#}
                                    {#                            <div class="peers ai-c jc-sb">#}
                                    {#                              <div class="peer peer-greed">#}
                                    {#                                <i class="mR-10 ti-trash"></i>#}
                                    {#                                <span>Trash</span>#}
                                    {#                              </div>#}
                                    {#                              <div class="peer">#}
                                    {#                                <span class="badge badge-pill bgc-red-50 c-red-700">+99</span>#}
                                    {#                              </div>#}
                                    {#                            </div>#}
                                    {#                          </a>#}
                                    {#                        </li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="email-wrapper row remain-height bgc-white ov-h">
                        <div class="email-list h-100 layers">
                            <div class="layer w-100" ng-show="user_messages.total > 0">
                                <div class="bgc-grey-100 peers ai-c jc-sb p-20 fxw-nw">
                                    <div class="peer">
                                        {#                    <div class="btn-group" role="group">#}
                                        {#                      <button type="button" class="email-side-toggle d-n@md+ btn bgc-white bdrs-2 mR-3 cur-p">#}
                                        {#                        <i class="ti-menu"></i>#}
                                        {#                      </button>#}
                                        {#                      <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">#}
                                        {#                        <i class="ion-folder"></i>#}
                                        {#                      </button>#}
                                        {#                      <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">#}
                                        {#                        <i class="ion-pricetag"></i>#}
                                        {#                      </button>#}
                                        {#                      <div class="btn-group" role="group">#}
                                        {#                        <button id="btnGroupDrop1" type="button" class="btn cur-p bgc-white no-after dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                                        {#                          <i class="ion-ios-more"></i>#}
                                        {#                        </button>#}
                                        {#                        <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop1">#}
                                        {#                          <li>#}
                                        {#                            <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">#}
                                        {#                              <i class="ti-trash mR-10"></i>#}
                                        {#                              <span>Delete</span>#}
                                        {#                            </a>#}
                                        {#                          </li>#}
                                        {#                          <li>#}
                                        {#                            <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">#}
                                        {#                              <i class="ti-alert mR-10"></i>#}
                                        {#                              <span>Mark as Spam</span>#}
                                        {#                            </a>#}
                                        {#                          </li>#}
                                        {#                          <li>#}
                                        {#                            <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">#}
                                        {#                              <i class="ti-star mR-10"></i>#}
                                        {#                              <span>Star</span>#}
                                        {#                            </a>#}
                                        {#                          </li>#}
                                        {#                        </ul>#}
                                        {#                      </div>#}
                                        {#                    </div>#}
                                    </div>
                                    <div class="peer">
                                        <div class="btn-group" role="group">
                                            <button type="button" ng-disabled="!user_messages.prev" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ion-ios-arrow-left"></i>
                                            </button>
                                            <button type="button" ng-disabled="!user_messages.next" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ion-ios-arrow-right"></i>
                                            </button>
                                        </div>
                                        <small ng-cloak>[[ user_messages.page ]] of [[ user_messages.pages ]]</small>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="layer w-100" ng-show="user_messages.total > 0">-->
                                <!--<div class="bdT bdB">-->
                                    <!--<input type="text" class="form-control m-0 bdw-0 pY-15 pX-20" placeholder="Search...">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="layer w-100 fxg-1 scrollable pos-r">
                                <div ng-show="user_messages.total > 0" ng-repeat="msg in user_messages.items" class="email-list-item peers fxw-nw p-20 bdB bgcH-grey-100 cur-p">
                                    <div class="peer mR-10">
                                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                            <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                                            <label for="inputCall1" class=" peers peer-greed js-sb ai-c"></label>
                                        </div>
                                    </div>
                                    <div class="peer peer-greed ov-h" ng-click="changeCurrent(msg)">
                                        <div class="peers ai-c">
                                            <div class="peer peer-greed">
                                                {{changeCurrent}}
                                                <h4 ng-bind="msg._id.recipient"></h4>
                                            </div>
                                            <div class="peer">
                                                <small ng-bind="msg.data[0].items[0].timestamp | timeAgo" style="color: darkgrey !important"></small>
                                            </div>
                                        </div>
                                        <h8 class="fsz-def tt-c c-grey-900" ng-bind="msg.data[0].items[0].subject"></h8>
                                        <!--<span class="whs-nw w-100 ov-h tov-e d-b" ng-bind="msg.body"></span>-->
                                    </div>
                                </div>
                                <div ng-hide="user_messages.total > 0" style="padding: 100px 0 0 150px">
                                    <img src="{% static 'images/envelope.svg' %}" height="80px"><br><br>
                                    No messages
                                </div>
                            </div>
                        </div>
                        <div class="email-content h-100">
                            <div class="h-100 scrollable pos-r" ng-show="current_message">
                                <div class="bgc-grey-100 peers ai-c jc-sb p-20 fxw-nw d-n@md+">
                                    <div class="peer">
                                        <div class="btn-group" role="group">
                                            <button type="button"
                                                    class="back-to-mailbox btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                            <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ti-folder"></i>
                                            </button>
                                            <button type="button" class="btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ti-tag"></i>
                                            </button>
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button"
                                                        class="btn cur-p bgc-white no-after dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="ti-more-alt"></i>
                                                </button>
                                                <ul class="dropdown-menu fsz-sm" aria-labelledby="btnGroupDrop1">
                                                    <li>
                                                        <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                                            <i class="ti-trash mR-10"></i>
                                                            <span>Delete</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                                            <i class="ti-alert mR-10"></i>
                                                            <span>Mark as Spam</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="d-b td-n pY-5 pX-10 bgcH-grey-100 c-grey-700">
                                                            <i class="ti-star mR-10"></i>
                                                            <span>Satar</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="peer">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                            <button type="button" class="fsz-xs btn bgc-white bdrs-2 mR-3 cur-p">
                                                <i class="ti-angle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="email-content-wrapper">
                                    <!-- Header -->
                                    <div class="peers ai-c jc-sb pX-40 pY-30">
                                        <div class="peers peer-greed">
                                            <div class="peer mR-20">
                                                <img class="bdrs-50p w-3r h-3r" alt="" src="/static/images/person.png">
                                            </div>
                                            <div class="peer">
                                                <small ng-bind="current_message.data[0].items[0].timestamp | timeAgo"></small>
                                                <h5 class="c-grey-900 mB-5" ng-bind="current_message._id.recipient"></h5>
{#                                                <span>To: email@gmail.com</span>#}
                                            </div>
                                        </div>
                                        <div class="peer" ng-hide="current_message.do_not_reply">
                                            <a href="/messages/[[current_message.data[0].items[0].therapist_id]]/new" class="btn btn-primary bdrs-50p p-15 lh-0">
                                                <i class="ion-reply f-18"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Content -->
                                    <div ng-repeat="cms_data in current_message.data">
                                        <div class="bdT pX-40 pY-30" ng-repeat="ms in cms_data.items">
                                            <div style="color: darkgrey !important" class="custom_accordion">
                                                <small class="mB-5">Sender: <em ng-bind="ms.sender"></em></small><br>
                                                <small class="mB-5">Subject:&nbsp;&nbsp;<em ng-bind="ms.subject"></em></small><br>
                                                <small ng-cloak>to: [[ms.recipient]]</small>
                                            </div>
                                            <div style="margin-top: 30px" class="custom_panel">
                                                <div style="color: black !important" ng-bind-html="ms.body"></div>
                                            </div>
                                        </div><hr>
                                    </div>
                                </div>
                            </div>
                            <div class="h-100 scrollable pos-r" ng-hide="user_messages.total > 0" style="padding: 150px 0 0 250px">
{#                                <img src="{% static 'images/envelope.svg' %}" height="80px"><br><br>#}
                                No messages
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block profile-scripts %}
    <script>
        var acc = document.getElementsByClassName("custom_accordion");
        var i;

        console.log(acc, acc.length);

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            console.log('here')
            this.classList.toggle("custom_active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
    </script>
{% endblock %}