{% extends 'account/layout.html' %}

{% block content %}
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="container-fluid">
            <h2 class="c-grey-900 mT-10 mB-30">Orders - <span
                    class="text-darkgrey">{{ order.reference_code.upper }}</span></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20">
                        <h4 class="c-grey-900 mB-20">Order Information</h4>
                        <p class="fw-900">Payment Status: <code ng-class="{'success': '{{ order.payment_status.code}}' == 'successful', 'red': '{{ order.payment_status.code }}' == 'failed',
                          'text-darkgrey': '{{ order.payment_status.code }}' == 'pending'}" class="pad-left-20">{{ order.payment_status.name.title }}</code></p>
                        <p class="fw-900">Order Status: <code ng-class="{'success': '{{ order.order_status.code }}' == 'delivered', 'red': '{{ order.order_status.code }}' == 'cancelled',
                          'text-darkgrey': '{{ order.order_status.code }}' == 'pending'}" class="pad-left-20">{{ order.order_status.name.title }}</code></p>
                        <table id="dataTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order_item in order.order_items.all %}
                            <tr>
                                <th scope="row">
                                    <div style="height: 40px; weight: 40px">
                                        <a href="{% url 'product_detail' slug=order_item.product.sku %}">
                                            <img src="/media/{{ order_item.product.cover_image }}" style="height: 100%; weight: 100%">
                                        </a>
                                    </div>
                                </th>
                                <td>{{ order_item.product.name }}</td>
                                <td>{{ order_item.total_price }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}