{% extends 'account/layout.html' %}

{% block content %}
  <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="container-fluid">
              <h2 class="c-grey-900 mT-10 mB-30">Orders</h2>
                <div class="row">
                <div class="col-md-12">
                  <div class="bgc-white bd bdrs-3 p-20">
                    <h4 class="c-grey-900 mB-20">Purchased Items</h4>
                    <p>Items marked <code class="highlighter-rouge">delivered</code> have been successfully delivered to the customer.</p>
                    <table id="dataTable" class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Reference</th>
                          <th scope="col">Payment Status</th>
                          <th scope="col">Order Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for order in orders %}
                        <tr>
                          <th scope="row">{{ order.created_at|date:"D d M Y" }}</th>
                          <td>
                            <a href="{% url 'order_item' code=order.reference_code %}">{{ order.reference_code }}</a>
                          </td>
                          <td ng-class="{'success': '{{ order.payment_status.code}}' == 'successful', 'red': '{{ order.payment_status.code }}' == 'failed',
                          'text-darkgrey': '{{ order.payment_status.code }}' == 'pending'}">{{ order.payment_status.name|title }}</td>
                          <td ng-class="{'success': '{{ order.order_status.code }}' == 'delivered', 'red': '{{ order.order_status.code }}' == 'cancelled',
                          'text-darkgrey': '{{ order.order_status.code }}' == 'pending'}">
                            {{ order.order_status.name|title }}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock %}