{% extends 'account/layout.html' %}
{% block content %}
    <style>
        .profile_row {
            margin: 50px 0 0 0;
        }
        @media only screen and (min-width: 640px) {

            .section_div_1 {
                margin-left: 50px;
                padding: 25px !important;
                display: inline-block
            }
            .section_div > a > span {
                padding-left: 30px;
                color: lightgrey !important;
                font-size: 12px;
            }

            .section_div > a > img {
                 margin: 0;
            }

            .section_div {
                padding: 25px !important;
                display: inline-block !important;
                text-align: center;
            }
        }

        .section_div {
            padding: 40px;
            display: inline-block !important;
            text-align: center;
        }

        .section_div_1 {
            padding: 40px;
            display: inline-block;
            margin-left: 50px;
        }

        .section_div > a > span {
            padding-left: 30px;
            color: lightgrey !important;
            font-size: 12px;
            margin-left: 20px;
        }

        .section_div_1 > a > span {
            padding-left: 30px;
            color: lightgrey !important;
            font-size: 12px;
        }

        .section_div_1 > a > img {
             height: 100px
        }

        .section_div > a > img {
             margin-left: 50px;
             height: 100px
        }

        .right_button > input {
            background: inherit; border: none; height: 22px;
         }

         .tg_pills {
            padding-right: 20px; margin-bottom: 20px;
         }

    </style>
    {% load static from staticfiles %}
	<div class="profile_main_body">
		<div class="container">
            <div class="row profile_row">
                <div class="col-md-10">
                    <div class="section" style="background: #fff;">
                         <div class="section_div_1">
                            <a href="{% url 'resources' %}">
                                <img src="/static/images/books.svg"><br>
                                <span>Resources</span>
                            </a>
                        </div>
                        <div class="section_div">
                            <a href="{% url 'billings' %}">
                                <img src="/static/images/bill.svg"><br>
                                <span>Billings</span>
                            </a>
                        </div>
                         <div class="section_div">
                            <a href="{% url 'sessions' %}">
                                <img src="/static/images/psychologist.svg"><br>
                                <span>Therapy</span>
                            </a>
                        </div>
                        <div class="section_div">
                            <a href="{% url 'orders' %}">
                                <img src="/static/images/cart.svg"><br>
                                <span style="padding-left: 43px;">Orders</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-10">
					<div class="right_background">
                        {% if flashes %}
                            <div>
                                {% for message in flashes %}
                                    <div {% if message.tags == 'error' %} class="alert alert-danger alert-dismissable" {% else %} class="alert alert-success alert-dismissable" {% endif %}>
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.name }}: {{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" action="{{ request.path }}">
                            {% csrf_token %}
                            <div style="width: 100%;">
                                <div style="float:left; margin-top: 4px">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <small style="color: darkgrey">This bio information serves as an introduction between you and your therapist.
                                This information is not made public.
                                </small>
                            </div>

                            <div class="section" style="margin-bottom: 30px;">
                                <!--<p style="font-size: 20px; margin-bottom: 0px;">Hello, I am <b>{{ user.username }}</b></p>-->

{#                                <p>{{ user.headline }}</p>#}
                                <textarea class="form-control" name="bio" rows="5" style="border: none" required>{% if user.bio %}{{ user.bio }}{% else %}Bio sits here...{% endif %}</textarea>
                            </div>

                            <div style="width: 100%;">
                                <h5 style="float: left; font-weight: 600">Personal Info</h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="section">
                                <div class="btn-group tg_pills">
                                  <button type="button" class="left_button">Username</button>
                                  <button type="button" class="right_button">{{ user.username }}</button>
                                </div>

                                <div class="btn-group tg_pills">
                                  <button type="button" class="left_button">Email</button>
                                  <button type="button" class="right_button">{{ user.email }}</button>
                                </div>

                                {% if user.account.age %}
                                <div class="btn-group tg_pills">
                                    <button type="button" class="left_button">Age</button>
                                    <button type="button" class="right_button">
                                      <input class="form-control" name="age" type="number" style="" value="{{ user.account.age }}">
                                    </button>
                                </div>
                                {% endif %}

                                {% if user.account.gender %}
                                <div class="btn-group tg_pills">
                                  <button type="button" class="left_button">Gender</button>
                                  <button type="button" class="right_button">
                                      <input class="form-control" name="gender" value="{{ user.account.gender }}">
                                  </button>
                                </div>
                                {% endif %}

                                {% if user.account.country %}
                                <div class="btn-group" style="padding-right: 20px; margin-bottom: 20px;">
                                  <button type="button" class="left_button">Country</button>
                                  <button type="button" class="right_button">
                                      <input class="form-control" name="country" value="{{ user.account.country }}">
                                  </button>
                                </div>
                                {% endif %}
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}