{% extends 'account/layout.html' %}
{% block content %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <h4 class="c-grey-900 mT-10 mB-30">Resources</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Books, Audio and Video</h4>
                            <p>Digital Items that have been successfully<code class="highlighter-rouge">purchased</code>.</p>
                            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Link</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Reference Code</th>
                                    <th>Link</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for resource in resources %}
                                    <tr>
                                        <td>{{ resource.created_at|date:"D d M Y" }}</td>
                                        <td>{{ resource.order_item.product.name }}</td>
                                        <td>
                                            <a href="/media/{{ resource.resource_item }}" download>
                                                <i class="ion-code-download f-25 sec"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}