{% extends 'account/layout.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <style>
        #chat-sidebar {
            width: 250px !important;
            height: calc(100vh - 125px);
            overflow: auto;
        }

        .width-360 {
            width: 360px !important;
        }
        .bgc-beige {
            background: beige !important;
        }

        .ul-icons {
             list-style-type: none;
        }

        .p_icons {
            font-size: 18px;
            margin-left: 25px;
            color: #000;
        }

        .ion-ios-star {
            color: gold;
        }

        .image_frame {
            border-radius: 50%;
            /* background: #fff; */
            height: 180px;
            width: 190px;
            margin-left: 30px;
            margin-top: 30px;
            box-shadow: 2px 2px 2px 2px #e2dfdf;
        }
        .h_career {
            color: #22220E;
        }

        input[type="file"] {
            display: none;
        }
        .custom-upload {
            font-size: 20px;
            display: inline-block;
            margin-right: 0px;
            margin-top: 0px;
            color: black;
            cursor: pointer;
        }

        #videoElement {
            width: 100%;
            height: 856px;
            background-color: #000;
        }

        <!--video {-->
          <!--max-width: calc(50% - 100px);-->
          <!--margin: 0 50px;-->
          <!--box-sizing: border-box;-->
          <!--border-radius: 2px;-->
          <!--padding: 0;-->
          <!--background: white;-->
        <!--}-->

    </style>
    <!-- ### $App Screen Content ### -->
    {% load static from staticfiles %}
    <main class='main-content bgc-grey-100' ng-controller="VoiceController" ng-init="init('{{ therapist.id }}', '{{ profile.user.id }}', '{{ therapist.email }}', '{{ therapist.name }}', '{{ request.user.username }}')">
        <div id='mainContent'>
            <div class="full-container">
                <div class="peers fxw-nw pos-r">
                    <!-- Sidebar -->
                    <div class="peer bdR" id="chat-sidebar">
                        <div class="layers h-100 bgc-grey">
                           <div class="scrollable pos-r bdT layer w-100 fxg-1">
                                <div class="image_frame">
                                    {% if therapist.profile_image %}
                                        <img style="border-radius: 50%; width: 190px; height: 180px;" src="/media/{{ therapist.profile_image }}">
                                    {% else %}
                                        <img class="image_message" src="/static/images/person.png">
                                    {% endif %}
                                </div>
                                <div style="padding:20px; text-align: center !important;">
                                    <h4 class="h_career">
                                        {{ therapist.name.title.upper }}
                                    </h4>

                                    <p class="f-14 mb0 dimgrey">
                                        {{ therapist.qualification.name.title }}
                                    </p>

                                    <ul class="ul pb-10" style="list-style: none">
                                        <li>
                                            {% if therapist.rating > 0 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                            {% if therapist.rating > 1 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                            {% if therapist.rating > 2 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                            {% if therapist.rating > 3 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                            {% if therapist.rating > 4 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                        </li>
                                        <li style="color: rgb(34, 34, 14) !important; font-size: 90%;">
                                            ( {{ therapist.reviews_count }} Reviews )
                                        </li>
                                    </ul>

                                    {% if therapist.headline %}

                                        <hr style="border: 1px dashed #333;">

                                        <p class="profile_p" style="color: #000; text-align: justify;">
                                            {{ therapist.headline }}
                                        </p>

                                        <hr style="border: 1px dashed #333;">

                                    {% endif %}
                                    <a target="_blank" href="{% url 'therapist_detail' pk=therapist.pk %}" class="btn btn-default btn-xs mR-05 f-10">
                                        <i class="ion-person"></i>&nbsp;View Profile
                                    </a>
                                    <hr>
                                    {% if profile.get_current_session %}
                                        <div>
                                            <span class="f-12">Starts on: <b class="f-14">{{ profile.get_current_session.start_date }}</b></span><br>
                                            <span class="f-12">Ends on: <b class="f-14">{{ profile.get_current_session.expiration_date }}</b></span>
                                        </div>
                                    {% endif %}
                                    <ul class="ul margin-top-10">
                                        {% if profile.current_therapist.id == therapist.id %}
                                            <a href="{% url 'sessions' %}" class="btn btn-warning btn-xs mR-05 f-10 text-white">
                                                <i class="ion-chatbubbles"></i>&nbsp;Therapy Session
                                            </a>
                                        {% else %}
                                        <a href="{% url 'therapy_chats' pk=therapist.pk %}" class="btn btn-warning btn-xs mR-05 f-10 text-white">
                                                <i class="ion-chatbubbles"></i>&nbsp;Chat
                                            </a>
                                        {% endif %}
                                        <a href="{% url 'therapy_messages' pk=therapist.pk %}" class="btn btn-primary btn-xs mR-05 f-10">
                                            <i class="ion-email"></i>&nbsp;Message
                                        </a>
                                        {% if not profile.get_current_session %}
                                             <a href="{% url 'plan_selection' %}" class="btn btn-danger btn-xs white mR-05 f-10">
                                                <i class="ion-card"></i>&nbsp;Subscribe
                                            </a>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Chat Box -->
                    <div class="peer peer-greed" id='chat-box'>
                        <div class="layers h-100">
                             <!--<video id="localVideo" autoplay muted></video>-->
                             <!--<video id="remoteVideo" autoplay></video>-->
                            <video autoplay="true" id="videoElement" muted></video>
                            <div class="padding-20">
                                <button class="btn btn-danger btn-xs mR-05 f-10 text-white">
                                    <i class="ion-android-call"></i>&nbsp;Hang Up
                                </button>
                            </div>
                            <!--<div class="layer w-100 fxg-1 bgc-grey-200 scrollable pos-r">-->
                                <!---->
                                <!--&lt;!&ndash; Chat Box &ndash;&gt;-->
                                <!--<div class="p-20 gapY-15" ng-repeat="msg in conversation.messages" id="scrolled">-->
                                    <!--&lt;!&ndash; Chat Conversation &ndash;&gt;-->
                                    <!--<div class="peers fxw-nw" ng-show="msg.ownerID !== skyUser._id">-->
                                        <!--<div class="peer peer-greed">-->
                                            <!--<div class="layers ai-fs gapY-5">-->
                                                <!--<div class="layer">-->
                                                    <!--<div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-10em">-->
                                                        <!--<div class="peer-greed chat_bubble_0">-->
                                                            <!--<div class="pad-right-20 def" ng-show="msg.attachment">-->
                                                                <!--<a ng-cloak href="[[ msg.attachment.url ]]" download>-->
                                                                    <!--<i class="ion-android-download f-22"></i>-->
                                                                <!--</a>-->
                                                            <!--</div>-->
                                                            <!--<div ng-bind="msg.attachment.name" class="ellipsis width-190" ng-show="msg.attachment"></div>-->
                                                            <!--<span class="color-black" ng-bind="msg.body"></span>-->
                                                            <!--<small class="metadata text-darkgrey" am-time-ago="msg.createdAt"></small>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash; Chat Conversation &ndash;&gt;-->
                                    <!--<div class="peers fxw-nw ai-fe" style="float: right"  ng-show="msg.ownerID === skyUser._id">-->
                                        <!--<div class="peer peer-greed ord-0">-->
                                            <!--<div class="layers ai-fe gapY-10">Me-->
                                                <!--<div class="layer w-100">-->
                                                    <!--<div class="peers fxw-nw ai-c pY-3 pX-10 sent white bdrs-10em">-->
                                                        <!--<div class="peer-greed ord-0 chat_bubble">-->
                                                            <!--<span class="color-black" ng-bind="msg.body"></span>-->
                                                            <!--<small class="metadata text-darkgrey" am-time-ago="msg.createdAt"></small>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}