{% extends '../partials/auth_layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-group login-box">

            <div class="panel-heading login-panel">
                <div id="login-div" style="text-align:center">
                    <a href="{% url 'index' %}"><img src="/static/images/round_logo.png" height="80px" width="80px"></a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">Your password has been set. <br>You may go ahead and <a href="{% url 'login' %}" class="fw-600">sign in</a> now.</p>
                </div>
                 <div class="login-separator">
                     <a href="{% url 'index' %}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}