{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Password Reset</title>
{% endblock %}
{% block content %}
    <body>
    <style>
        .frm_sbmt {
            width: 100%;
            border-radius: 0;
            padding: 7px 12px;
        }

        input {
            border-radius: 0 !important;
        }

        input.form-control:focus, input.form-control:hover, input.form-control:active {
            outline: none;
            box-shadow: none !important;
            border-color: #222;
            border: 1px solid #222;
        }

        .panel-body, .login-separator {
            background: #fafafa;
        }

        #error-message, #error-messageM {
            background: rgba(175, 81, 0, 0.8);
            padding: 5px;
            margin-bottom: 10px;
            color: #fff !important;
        }
    </style>
    <div class="hidden-xs hidden-sm" id="login_bkground_img" style="height: 100%; margin: 0; overflow: hidden">
{#        <div class="hidden-xs hidden-sm" style="position: fixed;width: 100%;height:100%;background-image: linear-gradient(to right top, rgba(175,81,0,0.9), rgba(34,34,14,0.8) 50%, rgba(61,61,25,0.9));"></div>#}
        <div class="hidden-xs hidden-sm" style="position: fixed;width: 100%;height:100%; background-image: linear-gradient(to right top, rgba(175, 81, 0, 0.02), rgba(34,34,14,0.6) 50%, rgba(61,61,25,0.8));"></div>

        <div class="container mt-10p">
            <div class="row">
                <div class="panel-group login-box hidden-xs hidden-sm">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 30px 20px 5px;box-shadow: -1px 3px 6px -3px #ccc;">

                            <div class="text-center" style="color: #bf5e0f;margin-bottom: 15px;">
                                <header style="font-size: 24px; font-weight: 600;">Password Reset</header>
                            </div>
                            <div class="login-separator">
                                <a href="{% url 'index' %}">
                                    <img src="/static/images/fav.png" style="width: 80px;height: 80px;">
                                </a>
                            </div>
                            <div class="form-group"
                                 style="font-size: 90%;text-align: left;margin-bottom: 15px;color: #5F140E;">

                                Enter email address to receive instructions on resetting your password.
                            </div>
                            <form method="post" action="{{ request.path }}">
                                {% csrf_token %}
                                {% if flashes %}
                                    <div>
                                        {% for message in flashes %}
                                            <div {% if message.tags == 'error' %}
                                                class="alert alert-danger alert-dismissable" {% else %}
                                                class="alert alert-success alert-dismissable" {% endif %}>
                                                <button type="button" class="close" data-dismiss="alert">&times;
                                                </button>
                                                <strong>{{ message }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div id="error-message" class="hidden"></div>
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" class="form-control" id="id_email"
                                           placeholder="Email Address" name="email" required>
                                    {% if form.email.errors %}
                                        <ol>
                                            {% for error in form.email.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-xs btn-success frm_sbmt"
                                            style="font-size: 14px; font-weight: 600;">Reset
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="text-center" style="padding: 20px 0;">Remembered your password? <a
                                href="{% url 'login' %}">Log In</a> here.
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="login-content rvs visible-xs visible-sm">
        <div class="container ">
            <div class="row">
                <div class="panel-group visible-xs visible-sm mobile-login" style="margin-top: 60px;">
                    <div class="panel panel-default">
                        <div class="panel-body" style="box-shadow: -1px 3px 6px -3px #ccc;">
                            <div class="text-center" style="color: #bf5e0f;margin-bottom: 15px;">
                                <header style="font-size: 20px; font-weight: 600;">Password Reset</header>
                            </div>
                            <div class="login-separator">
                                <a href="{% url 'index' %}">
                                    <img src="/static/images/fav.png" style="width: 60px;height: 60px;"></a>
                            </div>
                            <div class="form-group"
                                 style="font-size: 90%;text-align: center;margin-bottom: 15px;color: #5F140E;">

                                Enter email address to receive instructions on resetting your password.
                            </div>
                            <form method="post" action="{{ request.path }}">
                                {% csrf_token %}
                                {% if flashes %}
                                    <div>
                                        {% for message in flashes %}
                                            <div {% if message.tags == 'error' %}
                                                class="alert alert-danger alert-dismissable" {% else %}
                                                class="alert alert-success alert-dismissable" {% endif %}>
                                                <button type="button" class="close" data-dismiss="alert">&times;
                                                </button>
                                                <strong>{{ message }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div id="error-messageM" class="hidden"></div>

                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" class="form-control" id="id_email"
                                           placeholder="Email Address" name="email" required>
                                    {% if form.email.errors %}
                                        <ol>
                                            {% for error in form.email.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-xs btn-success frm_sbmt"
                                            style="font-size: 14px; font-weight: 600;">Reset
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="text-center" style="padding: 20px 0;">Remembered your password? <a
                                href="{% url 'login' %}">Log In</a> here.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
