{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Password Reset Done</title>
{% endblock %}
{% block content %}
    <body>
    <style>
        .frm_sbmt {
            width: 100%;
            border-radius: 0;
            padding: 7px 12px;
        }

        input {
            border-radius: 0 !important;
        }

        input.form-control:focus, input.form-control:hover, input.form-control:active {
            outline: none;
            box-shadow: none !important;
            border-color: #222;
            border: 1px solid #222;
        }

        .panel-body, .login-separator {
            background: #fafafa;
        }
    </style>
    <div class="hidden-xs hidden-sm" id="login_bkground_img" style="height: 100%; margin: 0; overflow: hidden">
{#        <div class="hidden-xs hidden-sm" style="position: fixed;width: 100%;height:100%;background-image: linear-gradient(to right top, rgba(175,81,0,0.9), rgba(34,34,14,0.8) 50%, rgba(61,61,25,0.9));"></div>#}
         <div class="hidden-xs hidden-sm" style="position: fixed;width: 100%;height:100%; background-image: linear-gradient(to right top, rgba(175, 81, 0, 0.02), rgba(34,34,14,0.6) 50%, rgba(61,61,25,0.8));"></div>

        <div class="container mt-10p">
            <div class="row">
                <div class="panel-group login-box hidden-xs hidden-sm">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 30px 20px 5px;box-shadow: -1px 3px 6px -3px #ccc;">


                            <div class="login-separator">
                                <a href="{% url 'index' %}">
                                    <img src="/static/images/fav.png" style="width: 80px;height: 80px;">
                                </a>
                            </div>
                            <div class="body">
                                <p>
                                    We've emailed you instructions for setting your password, if an account exists with
                                    the email you entered.
                                    You should receive them shortly.
                                </p>

                                <p>
                                    If you don't receive an email, please make sure you've entered the address you
                                    registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                        </div>

                         <a href="{% url 'index' %}">
                             <div class="text-center" style="padding: 20px 0;">Go back to Home</div>
                         </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="login-content rvs visible-xs visible-sm">
        <div class="container ">
            <div class="row">
                <div class="panel-group visible-xs visible-sm mobile-login" style="margin-top: 60px;">
                    <div class="panel panel-default">
                        <div class="panel-body" style="box-shadow: -1px 3px 6px -3px #ccc;">

                            <div class="login-separator">
                                <a href="{% url 'index' %}">
                                    <img src="/static/images/fav.png" style="width: 60px;height: 60px;"></a>
                            </div>
                            <div class="body">
                                <p>
                                    We've emailed you instructions for setting your password, if an account exists with
                                    the email you entered.
                                    You should receive them shortly.
                                </p>

                                <p>
                                    If you don't receive an email, please make sure you've entered the address you
                                    registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                        </div>

                        <div class="text-center" style="padding: 20px 0;">Go back to <a href="{% url 'index' %}">Home
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock %}
