{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Reset Password</title>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div style="max-height: 640px">
                <img src="/static/images/harmony-1229893_960_720.jpg" width="100%" height="100%">
            </div>
        </div>
        <div class="col-md-4">
            <div class="right_for_map">
                <div id="register-div">
                    <a href="{% url 'index' %}">
                        <img src="/static/images/mindcure_logo.png" width="100%">
                    </a>
                </div>

                <div>
                    <h3 class="text-left"><b></b></h3><br>
                    <p>Enter your email address to receive instructions on resetting your password.</p>
                </div>
                <form method="post" id="ResetForm">
                    {% csrf_token %}
                        <div id="error-message" class="error"></div>
                    {{ form.as_p }}
                    <div class="form-group">
                        <div class="float-right">
                            <button type="submit" class="btn btn-md btn-primary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}