<html ng-app="mindcureApp">
<head>
    {% block title %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/fav.png"/>
    {% include 'partials/style.html' %}
    {% include 'partials/scripts.html' %}
</head>
{% block content %}
{% endblock %}
    {% load static from staticfiles %}
    <script src="/static/js/file-upload.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-resource.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/angular-cookies.min.js"></script>
    <script src="/static/js/ngToast.min.js"></script>
    <script src="/static/js/sweetalert2.all.min.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/static/js/flwpbf-inline.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/new_main.js"></script>
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.file-upload').file_upload();
        });
    </script>

    <script src="/static/js/polyfill.min.js"></script>
    <script src="/static/js/skygear.min.js"></script>
    <script src="/static/js/skygear-chat.min.js"></script>

    <!--Skygear configuration-->
    <!--The app end point and the api key can be found in the developer portal-->
    <script>
        skygear.config({
            'endPoint': 'https://mindcureglobal.com:8050/', // trailing slash is required
            'apiKey': 'mindcure'
        }).then(function () {
            <!--console.log(skygear.auth.accessToken);-->
        }, function (error) {
            console.error(error);
        });
    </script>
</html>
