<footer>
    <style>
        .ul_in_li_at_footer li a{
            font-size: 24px;
            color: #fff;
        }
        .ul_in_li_at_footer li a:hover{
            color: #AF5100;
        }
    </style>
    {% load static from staticfiles %}
{#    <div style="height: 7px; margin-bottom: 20px; background-color: #AF5100;"></div>#}
    <div class="container visible-md visible-lg">

       <div class="row">
            <div class="col-md-3 margin-top-30">
            <img src="{% static 'images/mindcure_white.png' %}" height="70px">

            <p class="pl-15 f-13 mood margin-top-10">Get connected with licensed<br>counseling and therapy experts</p>

{#            <h2 class="footer_title">CONTACT</h2>#}
{#            <ul style="list-style: none !important;">#}
{#                <li style="margin-top: 10px">#}
{#                    <ul class="ul_in_li_at_footer">#}
{#                        <li>#}
{#                            <a class="lg" href="https://www.facebook.com/MindcureGlobal">#}
{#                                <img src="{% static 'images/facebook-logo.svg' %}" height="20px">#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="lg" href="https://twitter.com/@MiNDCuRE_Global">#}
{#                                <img src="{% static 'images/twitter-social.svg' %}" height="20px">#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="lg" href="https://www.linkedin.com/in/mind-cure-7766a2156/">#}
{#                                <img src="{% static 'images/linkedin-logo.svg' %}" height="20px">#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="lg" href="https://plus.google.com/116232789782286024169">#}
{#                                <img src="{% static 'images/google-plus-social-logotype.svg' %}" height="20px">#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
        </div>

            <div class="col-md-2 margin-top-35">
                <h5 class="footer_title">Explore</h5>
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="footer_heading_ul_li_a">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'shop' %}" class="footer_heading_ul_li_a">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="{{ settings.BLOG_URL }}" class="footer_heading_ul_li_a">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{{ settings.FORUM_URL }}" class="footer_heading_ul_li_a">
                            Forum
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="footer_heading_ul_li_a">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>

           <div class="col-md-3 margin-top-35">
                <h5 class="footer_title">Legal</h5>
                <ul>
                    <li>
                        <a href="{% url 'terms' %}" class="footer_heading_ul_li_a">
                            Terms Of Service
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'privacy' %}" class="footer_heading_ul_li_a">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <h5 class="footer_title">About</h5>
                <ul style="list-style: none;margin-top: 10px;">
                    <li>
                        <a href="/about#who" class="footer_heading_ul_li_a">
                            Who We Are
                        </a> |
                        <a href="/about#what" class="footer_heading_ul_li_a">
                            What We Do
                        </a> |
                        <a href="/about#vision" class="footer_heading_ul_li_a">
                            Our Vision
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 margin-top-35">
                <h5 class="footer_title">Information</h5>
                <ul>
                    <li>
                        <a href="{% url 'get_started' %}" class="footer_heading_ul_li_a">
                            Connect with a therapist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'therapist_guide' %}" class="footer_heading_ul_li_a">
                            Become a Therapist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="footer_heading_ul_li_a">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

{#            <div class="col-md-2 margin-top-35">#}
{#                <h5 class="footer_title">Legal</h5>#}
{#                <ul>#}
{#                    <li>#}
{#                        <a href="" class="footer_heading_ul_li_a">#}
{#                            Terms Of Service#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="" class="footer_heading_ul_li_a">#}
{#                            Privacy Policy#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}

            <div class="col-md-2 margin-top-35">
                <h5 class="footer_title" style="padding-left: 10px">Follow</h5>
                <ul style="list-style: none !important;">
                    <li style="margin-top: 10px">
                        <ul class="ul_in_li_at_footer">
                            <li>
                                <a class="lg" href="https://www.facebook.com/MindcureGlobal">
                                    <img src="{% static 'images/facebook-logo.svg' %}" height="18px">
                                </a>
                            </li>
                            <li>
                                <a class="lg" href="https://twitter.com/@MiNDCuRE_Global">
                                    <img src="{% static 'images/twitter-social.svg' %}" height="18px">
                                </a>
                            </li>
                            <li>
                                <a class="lg" href="https://www.linkedin.com/in/mind-cure-7766a2156/">
                                    <img src="{% static 'images/linkedin-logo.svg' %}" height="18px">
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a class="lg" href="https://plus.google.com/116232789782286024169">-->
                                    <!--<img src="{% static 'images/google-plus-social-logotype.svg' %}" height="18px">-->
                                <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a class="lg" href="https://www.instagram.com/mindcure_global">
                                    <img src="{% static 'images/instagram.svg' %}" height="18px">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

{#            <div class="col-md-2 margin-top-35">#}
{#            <h2 class="footer_title" style="width: 155px;">ABOUT US</h2>#}
{#            <p class="f-12 white">#}
{#                At Mindcure, We provide an online counseling and emotional support platform designed to foster mental#}
{#                wellness.#}
{#            </p>#}
{#            <ul style="list-style: none;margin-top: 10px;">#}
{#                <li>#}
{#                    <a href="/about#who" class="footer_heading_ul_li_a">#}
{#                        Who We Are#}
{#                    </a> |#}
{#                    <a href="/about#what" class="footer_heading_ul_li_a">#}
{#                        What We Do#}
{#                    </a> |#}
{#                    <a href="/about#vision" class="footer_heading_ul_li_a">#}
{#                        Our Vision#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
       </div>

    </div>

    <div class="container visible-xs visible-sm">
        <div class="row">

            <div class="col-sm-12 margin-bottom-30" style="margin: 0 30px 0 30px; border-bottom: 1px solid #494747; padding-bottom: 20px;">
                <div style="margin-left: -30px;">
                    <img src="{% static 'images/mindcure_white.png' %}" height="60px">
                    <p class="pl-15 f-13 mood margin-top-10">Get connected with licensed<br>counseling and therapy experts</p>
                </div>
            </div>

            <div class="col-sm-6 col-xs-6 pl-30">
                <h5 style="font-family: opensans !important;color: #fff;">Explore</h5>
                <ul style="list-style: none;">
                    <li>
                        <a href="{% url 'index' %}" class="footer_heading_ul_li_a">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'shop' %}" class="footer_heading_ul_li_a">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="{{ settings.FORUM_URL }}" class="footer_heading_ul_li_a">
                            Forum
                        </a>
                    </li>
                    <li>
                        <a href="{{ settings.BLOG_URL }}" class="footer_heading_ul_li_a">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="footer_heading_ul_li_a">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-xs-6">
                <h5 style="font-family: opensans !important; color: #fff;">Useful Links</h5>
                <ul style="list-style: none !important;">
                    <li>
                        <a href="{% url 'get_started' %}" class="footer_heading_ul_li_a">
                            Connect with a therapist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'therapist_guide' %}" class="footer_heading_ul_li_a">
                            Become A Therapist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'self_help' %}" class="footer_heading_ul_li_a">
                            Anxiety Test
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'self_help' %}" class="footer_heading_ul_li_a">
                            Depression Test
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="footer_heading_ul_li_a">
                            FAQs
                        </a>
                    </li>
                    <li>
                </li>
                </ul>
            </div>

            <div class="col-sm-6 col-xs-6 pl-30">
                <h5 class="footer_title">Legal</h5>
                <ul>
                    <li>
                        <a href="" class="footer_heading_ul_li_a">
                            Terms Of Service
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer_heading_ul_li_a">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <h5 style="font-family: opensans !important; color: #fff; padding-top: 10px">Follow</h5>
                <ul style="list-style: none !important;">
                    <li>
                        <ul class="ul_in_li_at_footer">
                            <li>
                                <a class="lg" href="https://www.facebook.com/MindcureGlobal">
                                    <img src="{% static 'images/facebook-logo.svg' %}" height="25px">
                                </a>
                            </li>
                            <li>
                                <a class="lg" href="https://twitter.com/@MiNDCuRE_Global">
                                    <img src="{% static 'images/twitter-social.svg' %}" height="25px">
                                </a>
                            </li>
                            <li>
                                <a class="lg" href="https://www.linkedin.com/in/mind-cure-7766a2156/">
                                    <img src="{% static 'images/linkedin-logo.svg' %}" height="25px">
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a class="lg" href="https://plus.google.com/116232789782286024169">-->
                                    <!--<img src="{% static 'images/google-plus-social-logotype.svg' %}" height="25px">-->
                                <!--</a>-->
                            <!--</li>-->
                             <li>
                                <a class="lg" href="https://www.instagram.com/mindcure_global/">
                                    <img src="{% static 'images/instagram.svg' %}" height="25px">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-xs-6">
                <h5 style="font-family: opensans !important;color: #fff;">About Us</h5>
                <ul style="list-style: none;">
                    <li>
                        <a href="/about#who" class="footer_heading_ul_li_a">
                            Who We Are
                        </a>
                    </li>
                    <li>
                        <a href="/about#what" class="footer_heading_ul_li_a">
                            What We Do
                        </a>
                    </li>
                    <li>
                        <a href="/about#vision" class="footer_heading_ul_li_a">
                            Our Vision
                        </a>
                    </li>
                    <br><br>
                </ul>
            </div>
        </div>

        <div class="row">
            <!--<div class="col-md-3 col-xs-6">-->
            <!--<h1 class="footer_heading">COUNSELING</h1>-->
            <!--<ul style="list-style: none !important;">-->
            <!--<li>-->
            <!--<a href="" class="footer_heading_ul_li_a">-->
            <!--Career/Academics-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="" class="footer_heading_ul_li_a">-->
            <!--Friends & Family-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="" class="footer_heading_ul_li_a">-->
            <!--Love & Relationships-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="" class="footer_heading_ul_li_a">-->
            <!--Sexual Wellness-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="" class="footer_heading_ul_li_a">-->
            <!--Self Improvement-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<ul class="ul_in_li_at_footer">-->
            <!--<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">-->
            <!--<i class="fa fa-facebook-square" aria-hidden="true"></i>-->
            <!--</li>-->
            <!--<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">-->
            <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>-->
            <!--</li>-->
            <!--<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">-->
            <!--<i class="fa fa-instagram" aria-hidden="true"></i>-->
            <!--</li>-->
            <!--<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">-->
            <!--<i class="fa fa-google-plus-square" aria-hidden="true"></i>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-md-6 col-xs-6">-->
            <!--<h1 class="footer_heading">ABOUT MINDCURE</h1>-->
            <!-- -->
            <!--</div>-->
        </div>
    </div>
</footer>
{#<div class=""#}
{#     style="background-color: #AF5100;background: linear-gradient(#AF5100,#893e01);padding: 10px 20px;text-align: center;color: #fff;">#}
{#    <div>#}
{#        Copyright &copy; 2018 Mindcure Global. All rights reserved#}
{#    </div>#}
{#</div>#}

