<div class="header-background">
    {% load static from staticfiles %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <div style="height: 50px; width: 50px; margin-top: -12px;">
                        <img src="{% static 'images/mindcure_logo.png' %}" height="100%" width="100%">
                    </div>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{% url 'therapists' %}">Therapists</a>
                </li>

                <li>
                    <a href="{% url 'shop' %}">Shop</a>
                </li>

                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>

                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>

                <li>
                    <a href="{% url 'blog' %}">Blog</a>
                </li>

                <li>
                    <a href="{% url 'how_we_connect' %}">Forum</a>
                </li>

                <li>
                    <a href="{% url 'contact' %}">Contact Us</a>
                </li>

                <!--<li class="navbar_li_with_marginbottom li_li_hirght hidden-xs hidden-sm">-->
                <!--<a href="" class="navbar_a_withcolor_red forthe_web" data-toggle="modal"-->
                <!--data-target="#loginModal">Login</a>-->
                <!--</li>-->
                {% if not user %}
	                <li class="hidden-xs hidden-sm">
	                    <a href="{% url 'login' %}" class="navbar_a_withcolor_red forthe_web">Login</a>
	                </li>
	                <li class="navbar_li_with_marginbottom visible-xs visible-sm">
	                    <a href="{% url 'login' %}" class="navbar_a_withcolor_red forthe_mobile">Login</a>
	                </li>
                {% else %}
	                <li class="dropdown" style="font-weight: 800; font-size: 18px">
	                    <a href="#" data-toggle="dropdown" id="menu1">
	                        <strong>{{ user }}</strong>
	                        <!--<img src="/static/shop/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">-->
	                        <b class="caret"></b>
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="menu1">
	                        <li><a href="{% url 'profile' %}">Profile</a></li>
	                        <li><a href="{% url 'sessions' %}">Sessions</a></li>
	                        <li><a href="{% url 'logout' %}">Log out</a></li>
	                    </ul>
	                </li>
                {% endif %}
                <li><span class="linedivide1"></span></li>
                <li>
                    <div class="header-wrapicon2">
						<img src="/static/shop/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<a href="{% url 'cart' %}" class="header-cart-item-img">
										<img src="/static/shop/images/item-cart-01.jpg" alt="IMG">
									</a>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="/static/shop/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="/static/shop/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
                </li>
            </ul>
        </nav>
    </div>
</div>