<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width" />

    {% include 'partials/style.html' %}
</head>
<body>
{% include 'shop/header.html' %}

{% block content %}

{% endblock %}

{% include 'partials/footer.html' %}
</body>
</html>