{% load static from staticfiles %}

{% load compress %}
{% compress js %}
<script type="text/javascript" src="/static/shop/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/static/shop/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/static/shop/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/shop/vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/static/shop/vendor/select2/select2.min.js"></script>
<script rel="stylesheet" src="/static/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<!-- Start of Async Drift Code -->
<script>
        !function () {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                t[e] = t.factory(e);
            }), t.load = function (t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('244yu53d4gb9');


</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        breakpoints: {
            1024: {
                slidesPerView: 1,
                spaceBetween: 0
            },
            768: {
                slidesPerView: 1,
                spaceBetween: 0
            },
            640: {
                slidesPerView: 1,
                spaceBetween: 0
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0
            }
        }
    });
    var swipert = new Swiper('.swiper-therapist-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 2000,
        autoplayDisableOnInteraction: false,
        breakpoints: {
            1024: {
                slidesPerView: 6,
                spaceBetween: 0
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 0
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 0
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 0
            }
        }
    });


</script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/polyfill.min.js"></script>
<script src="/static/js/file-upload.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.file-upload').file_upload();
        });


</script>
{% endcompress %}
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}"></script>

<!--<script src="{% static 'js/paystack.js' %}"></script>-->
<script src="{% static 'js/paystack-inline.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-resource.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/ngToast.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/angular-moment.js' %}"></script>
<script src="{% static 'js/new_main.js' %}"></script>
<script src="{% static 'js/skygear.min.js' %}"></script>
<script src="{% static 'js/skygear-chat.min.js' %}"></script>
<script src="{% static 'js/socket.io.js' %}"></script>
<script src="{% static 'js/swx-session-storage.min.js' %}"></script>
<script src="{% static 'js/ngStorage.min.js' %}"></script>
<script src="{% static 'js/aws-sdk.min.js' %}"></script>
<!--Skygear configuration-->
<!--The app end point and the api key can be found in the developer portal-->
<script>
    skygear.config({
        'endPoint': 'https://mindcureglobal.com:8050/', // trailing slash is required
        'apiKey': 'mindcure'
    }).then(function (response) {
        console.log('skygear container is now ready for making API calls.');
    }, function (error) {
        console.error(error);
    });
</script>
<script src="/static/js/app.js"></script>
<script src="/static/shop/js/main.js"></script>
<!--<script type="text/javascript">-->
<!--$(".selection-1").select2({-->
<!--minimumResultsForSearch: 20,-->
<!--dropdownParent: $('#dropDownSelect1')-->
<!--});-->

<!--$(".selection-2").select2({-->
<!--minimumResultsForSearch: 20,-->
<!--dropdownParent: $('#dropDownSelect2')-->
<!--});-->
<!--</script>-->

