{% load static from staticfiles %}
{% load compress %}
{% compress css %}
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/indexquery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}"/>

<!--<link rel="stylesheet" href="/static/assets/style.css">-->
<!--<link rel="stylesheet" href="/static/css/profile_style.css">-->
<link href="{% static 'css/video-js.css' %}" rel="stylesheet">

<!-- If you'd like to support IE8 -->
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'shop/css/new_main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/file-upload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ngToast.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ngToast-animations.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap-multiselect/bootstrap-multiselect.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'less/bootstrap-multiselect/bootstrap-multiselect.less' %}">
<link rel="shortcut icon" href="{% static 'images/fav.png' %}"/>

<style>

    .dropbtn {
        color: #868686;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 5px 16px 5px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #fff
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/indexquery.css' %}">
<link rel="shortcut icon" href="{% static 'images/fav.png' %}"/>
{% endcompress %}

{% compress js %}
<script src="{% static 'js/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static  'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
<script src="{% static 'font-awesome/fontawesome-all.min.js' %}"></script>
<script src="{% static 'js/videojs-ie8.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/vendor/animsition/js/animsition.min.js'%}"></script>
<script src="{% static 'js/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static 'js/vendor/select2/select2.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/video.js' %}"></script>

{% endcompress %}