{% load premailer %}
{% premailer 'https://mindcureglobal.com' %}
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your MiNDCuRE account</title>
</head>
<body style="margin:0; padding:30px; background-color:#FFFFFF; font-family:'Open Sans', Arial,Helvetica,sans-serif; font-weight: 300;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" style="border-collapse: collapse; border: 1px solid lightgrey">
                <tr style="border-bottom: 1px solid lightgrey">
                    <td bgcolor="#fff" style="padding: 15px 0px 20px 0px;" align="center">
                        <a href="https://www.mindcureglobal.com" target="_blank" style="text-decoration: none; color: #FFFFFF;"><img src="http://mindcureglobal.com/static/images/mindcure_logo.png" width=""
                             height="60" style="display: block;" alt="MiNDCuRE logo"></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#fff" style="padding: 0px 30px 0px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 9px 0px 10px 7px;">
                              <h4 style="margin: 20px 0 0 0 !important; font-size: 1.3rem">Hello,</h4>
                            </td>
                          </tr>
                          <tr>
                              <td style="padding: 0px 0px 0px 5px;">
                                  <div class="">
                                    <p style="">{{ user.username.title }} would like to add you as his/her habit companion.</p>
                                  </div>
                              </td>
                          </tr>
                            <tr>
                                <td style="padding: 4px 0px 0px 6px;">
                                    <p>Accepting this invitation and becoming a companion means that you will receive weekly updates about {{ user.username.title }}'s recovery status tracked in MiNDCuRE. </p>
                                </td>
                            </tr>
                            <tr style="padding: 20px">
                                <td style="padding: 4px 0px 0px 6px;" align="center">
                                    <a href="/habits/{{ habit.id }}/companion/decline?token={{ token.key }}" style="padding-right: 20px">
                                        <button style="padding: 10px; background: #fff; border-radius: 25px; color: #22220E">Decline</button>
                                    </a>
                                    <a href="/habits/{{ habit.id }}/companion/accept?token={{ token.key }}">
                                        <button style="padding: 10px; background: #22220E; border-radius: 25px; color: white">Accept</button>
                                    </a>
                                    <p>If you have any questions or if you need assistance, please contact us at contact@mindcureglobal.com</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="font-size:0; line-height: 0;" width="40">
                                            </td>
                                            <td width="500">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="center" style="padding: 25px 0 25px 0; color: #22220E;">
                                                          <a href="{{ domain }}" style="text-decoration: none; color: #22220E;">Thanks, MiNDCuRE team</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size:0; line-height: 0;" width="40">Â </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="border-top: 1px solid lightgrey; text-align: center">
                    <td bgcolor="#fff" style="padding: 30px 30px 30px 30px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center">
                                    <table>
                                        <tr>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.facebook.com/mind.cure.52?hc_ref=ARQa6KRm26UCYrJQYZI5tqVa4FySnpTNdsggF9GXMzbWVT-Lfd2zuHat-aHrfJcVg6Q&fref=nf">
                                                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://twitter.com/@MiNDCuRE_Global">
                                                    <img src="https://png.icons8.com/color/1600/twitter-squared.png" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://plus.google.com/116232789782286024169">
                                                    <img src="https://banner2.kisspng.com/20180320/kgq/kisspng-linkedin-logo-computer-icons-business-symbol-linkedin-icon-5ab176563be596.8497903315215796062453.jpg" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.linkedin.com/in/mind-cure-7766a2156/">
                                                    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Google-Plus-Icon.png?resize=300%2C300" height="20px">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <span style="font-size: 10px;">
                                        Copyright {{ year}} MiNDCuRE, All rights reserved
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $('img').mousedown(function (e) {
        if (e.button == 2) {
            return false;
        }
    });
</script>
</body>
</html>
{% endpremailer %}