{% load premailer %}
{% premailer 'https://mindcureglobal.com' %}
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your MiNDCuRE account</title>
    <style>
        p {
            text-align: justify
        }
    </style>
</head>
<body style="margin:0; padding:30px; background-color:#FFFFFF; font-family:'Open Sans', Arial,Helvetica,sans-serif; font-weight: 300;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" style="border-collapse: collapse; border: 1px solid lightgrey">
                <tr style="border-bottom: 1px solid lightgrey">
                    <td bgcolor="#fff" style="padding: 15px 0px 20px 0px;" align="center">
                        <a href="https://www.mindcureglobal.com" target="_blank" style="text-decoration: none; color: #FFFFFF;"><img src="http://mindcureglobal.com/static/images/mindcure_logo.png" width=""
                             height="60" style="display: block;" alt="MiNDCuRE logo"></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#fff" style="padding: 0px 30px 0px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 9px 0px 10px 7px;">
                              <h4 style="margin: 20px 0 0 0 !important; font-size: 1.3rem">Hi {{ user.username }},</h4>
                            </td>
                          </tr>
                          <tr>
                              <td style="padding: 0px 0px 0px 5px;">
                                  <div class="">
                                      <p style="">The <b>MiNDCuRE online therapy</b> solution provides an accessible emotional aid and therapy platform through the professional service and rich experience of certified therapists, life and career coaches at an affordable rate.<br><br>
                                        MiNDCuRE fixes its compassionate gaze into the hidden treasures that lies in us all, the beautiful and powerful inward virtues shadowed by the realities of our brokenness. When we know ourselves to be connected to each other, compassion becomes spontaneous.<br><br>
                                        We want you to be happy, and Live at your best. Kindly check out FAQ for some commonly asked questions.
                                      </p>
                                  </div>
                              </td>
                          </tr>
                            <tr>
                                <td style="padding: 0px 0px 0px 5px;">
                                    <b>Cost of MiNDCuRE Therapy </b>
                                    <p>Therapy is generally expensive and makes people draw back from even trying. But we have decided to make it as affordable as possible. With MiNDCuRE, you can have unlimited therapy sessions for as low as $35/week (billed on a monthly basis) with a certified and experienced therapist.<br><br>
                                        You can also opt out and quit therapy anytime you fill dissatisfied with your therapy sessions.<br><br>
                                        ‘Unlimited sessions’ means you do not have to book an office appointment. You can send written, audio or video messages (depending on your therapy plan) to your therapist anytime you feel the need to. Your therapist will check-in to read your messages and reply at least twice per day.<br><br>
                                        Click on <b><a href="{% url 'get_started' %}">Subscribe</a></b> to read more about our Therapy Plans<br><br>
                                        Our therapists are experienced, certified and licensed to provide therapy independently.<br><br>
                                        MiNDCuRE understands the need for privacy and confidentiality of its users’ therapy sessions. For this reason, www.mindcureglobal.com is designed to be secure, anonymous and confidential. On MiNDCuRE, your email is visible to us only. All your therapist sees is your username. This setting also applies to the forum.<br><br>
                                        <b><a href="{% url 'get_started' %}">Begin Therapy</a></b>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="border-top: 1px solid lightgrey">
                    <td bgcolor="#fff" style="padding: 30px 30px 30px 30px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center">
                                     <div>
                                        <!--<p style="color: darkgrey; font-size: 8.5px">Download the MiNDCuRE application today</p>-->
                                        <a href="{{ settings.APPLE_URL }}">
                                            <img src="https://www.genze.com/wp-content/uploads/2017/08/apple-app-store-icon.png" height="30">
                                        </a>
                                        <a href="{{ settings.ANDROID_URL }}">
                                            <img src="https://caldwell-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/android-app-store-icon.png" height="30">
                                        </a>
                                        <!--<img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" height="60">-->
                                    </div>
                                    <table>
                                        <!--https://banner2.kisspng.com/20171216/213/facebook-logo-png-5a35528eaa4f08.7998622015134439826976.jpg-->
                                        <tr>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.facebook.com/mind.cure.52?hc_ref=ARQa6KRm26UCYrJQYZI5tqVa4FySnpTNdsggF9GXMzbWVT-Lfd2zuHat-aHrfJcVg6Q&fref=nf">
                                                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://twitter.com/@MiNDCuRE_Global">
                                                    <img src="https://png.icons8.com/color/1600/twitter-squared.png" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://plus.google.com/116232789782286024169">
                                                    <img src="https://banner2.kisspng.com/20180320/kgq/kisspng-linkedin-logo-computer-icons-business-symbol-linkedin-icon-5ab176563be596.8497903315215796062453.jpg" height="20px">
                                                </a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.linkedin.com/in/mind-cure-7766a2156/">
                                                    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Google-Plus-Icon.png?resize=300%2C300" height="20px">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <span style="font-size: 10px;">
                                        Copyright {{ year}} MiNDCuRE, All rights reserved
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $('img').mousedown(function (e) {
        if (e.button == 2) {
            return false;
        }
    });
</script>
</body>
</html>
{% endpremailer %}