@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .navbar-toggle {
    margin-top: 25px !important;
  }
}

/*@media only screen and (min-width : 320px) and (max-width : 360px) {
	.content_on_video .h1 {
		left: 170px;
		font-size: 15px;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.content_on_video {
		top: 115px;
		left: 25px;
	}
	.fa.fa-play-circle {
		left: 110px;
		top: 0px;
	}
	.video_banner {
		background-size: auto 100%;
	}
	.main_coll_md_6_h1_right {
		width: 60% !important;
	}
	.main_coll_md_6_h1_left {
		width: 50% !important;
	}
	.five_th_img {
		height: 40px !important;
	}
	.five_step_table td {
		font-size: 10px;
	}
	.searchpage_table_on_banner {
		left: 130px;
    	width: 55%
	}
}

@media only screen and (min-width : 361px) and (max-width : 380px) {
	.searchpage_table_on_banner {
		left: 140px;
    	width: 53%;
	}
	.content_on_video {
		left: 35px;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.fa.fa-play-circle {
		left: 105px;
		top: 3px;
	}
	.content_on_video .h1 {
		left: 170px;
	}
	.video_banner {
		background-size: auto 100%;
	}
}

@media only screen and (min-width : 381px) and (max-width : 400px) {
	.video_banner {
		background-size: auto 100%;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.fa.fa-play-circle {
		left: 120px;
	}
	.content_on_video .h1 {
		left: 175px;
	}
	.searchpage_table_on_banner {
		left: 170px;
    	width: 50%;
	}
	.main_coll_md_6_h1_right {
		width: 55% !important;
	}
	.main_coll_md_6_h1_left {
		width: 45% !important;
	}
	.content_on_video {
		left: 30px;
	}

	.after h1 {
		font-size: 22px;
	}

	.experts_count_on_banner {
		font-size: 13px;
		left: 30px;
	}
	.content_on_blog {
		left: 35px !important;
	}
}

@media only screen and (min-width : 401px) and (max-width : 430px) {
	.video_banner {
		background-size: auto 100%;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.fa.fa-play-circle {
		left: 110px;
	}
	.content_on_video .h1 {
		left: 175px;
	}
	.searchpage_table_on_banner {
		left: 170px;
    	width: 50%;
	}
	.main_coll_md_6_h1_right {
		width: 55% !important;
	}
	.main_coll_md_6_h1_left {
		width: 45% !important;
	}
	.content_on_video {
		left: 50px;
		top: 115px;
	}

	.after h1 {
		left: 15%;
	}

	.experts_count_on_banner {
		width: 90%;
		left: 25px;
	}

	.content_on_blog {
		left: 60px !important;
	}
}

@media only screen and (min-width : 431px) and (max-width : 480px) {
	.video_banner {
		background-size: auto 100%;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.fa.fa-play-circle {
		left: 110px;
	}
	.content_on_video .h1 {
		left: 175px;
	}
	.searchpage_table_on_banner {
		left: 190px;
    	width: 50%;
	}
	.main_coll_md_6_h1_right {
		width: 45% !important;
	}
	.main_coll_md_6_h1_left {
		width: 35% !important;
	}
	.content_on_video {
		left: 80px;
		top: 115px;
	}

	.after h1 {
		left: 18%;
	}

	.content_on_blog {
		left: 75px !important;
	}
}

@media only screen and (min-width : 465px) and (max-width : 480px) {
	.video_banner {
		background-size: 100% auto;
	}
	.content_on_video h1 {
		font-size: 15px;
	}
	.fa.fa-play-circle {
		left: 110px;
	}
	.content_on_video .h1 {
		left: 175px;
	}
	.searchpage_table_on_banner {
		left: 190px;
    	width: 50%;
	}
	.main_coll_md_6_h1_right {
		width: 45% !important;
	}
	.main_coll_md_6_h1_left {
		width: 35% !important;
	}
	.content_on_video {
		left: 80px;
		top: 115px;
	}
}

@media only screen and (min-width : 481px) and (max-width : 680px) {
	.content_on_video {
		left: 20px;
	}
	.navbar-toggle {
		margin-top: 25px;
	}
	li.navbar_li_with_marginbottom {
		margin-bottom: 10px;
	}
	.second_slide {
		background-size: auto 100%;
	}
	.first_slide {
		background-size: auto 100%;
	}
	.third_slide {
		background-size: auto 100%;
	}
	.content_on_video h1 {
		font-size: 25px;
		left: 200px;
	}
	.fa.fa-play-circle {
	    top: 7px;
    	left: 170px;
    	font-size: 50px !important;
	}
	.content_on_video .h1 {
		left: 200px;
	}
	.fa.fa-play-circle {
		left: 150px;
	}
	.col-md-6.coll_md_6 {
		padding-left: 0px;
	}
	h1.main_coll_md_6_h1_right {
		width: 44% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 33% !important;
	}
	img.five_th_img {
		height: 60px !important;
	}
	.five_step_table td {
		font-size: 12px;
	}
	.first_table_on_howitwork_banner {
		top: 10%;
    	left: 40px;
	}
	.first_table_on_howitwork_banner th {
		font-size: 30px;
	}
	.searchpage_table_on_banner {
		left: 180px;
		top: 70%;
		width: 55%;
	}
	.first_table_on_howitwork_banner td {
		font-size: 12px;
	}
	.text-talk {
		font-size: 15px;
	}
	.footer_container_forweb {
		display: none;
	}
	.aboutus_table_on_banner {
		left: 30px;
		width: 87%;
	}
	.aboutus_table_on_banner_td {
		width: 30% !important;
		vertical-align: top !important;
	}

	.aboutus_table_on_banner_td h1 {
		font-size: 30px !important;
		margin-top: 0px !important;
	}

	.text_on_aboutus_table_on_banner {
		font-size: 12px !important;
	}
	.aboutpage_first_homepage_banner {
		background-size: auto 100%;
	}
	.aboutpage_second_homepage_banner {
		background-size: auto 100%;
	}
	.aboutpage_third_homepage_banner {
		background-size: auto 100%;
	}
	.aboutpage_first_homepage_banner {
		position: relative;
	}
	.second_line {
		width: 23% !important;
	}

	.homepage_banner {
		position: relative;
		background-size: auto 100%;
	}

	.after h1 {
		left: 8%;
	    font-size: 20px;
	    top: 10px;
	    margin-top: 10px!important;
	}

	.table_on_banner {
		top: 15%;
		left: 0px;
		width: 100%;
	}

	.table_on_banner_1 {
		top: 40% !important;
	}

	.table_on_banner_2 {
		top: 65% !important;
	}

	.table_on_banner_for_web {
		display: none;
	}

	.experts_count_on_banner {
		top: 86%;
	    left: 25px;
	    font-size: 10px;
	}

	.border_radius {
		font-size: 15px;
	}

	.input {
		font-size: 10px;
	}

	.input_table {
		margin-top: 10px;
	}

	.filter_td {
		font-size: 10px;
	}

	.filter_b {
		font-size: 10px !important;
	}

	.card {
		margin: auto;
	}

	.fa_star, .fa_star_white {
		font-size: 15px !important;
	}

	.filter_td {
		text-align: center;
	}

	.blog_banner {
		background-size: auto 100%;
		position: relative;
	}

	.content_on_blog {
		left: 12px !important;
		top: 150px !important;
		font-size: 30px !important;
	}
}

@media only screen and (min-width : 481px) and (max-width : 520px) {
	.content_on_video {
		left: 45px;
	}
	.aboutus_table_on_banner {
    	width: 88%;
	}
	.second_line {
		width: 25% !important;
	}

	.after h1 {
		left: 19%;
	}

	.border_radius {
		font-size: 15px;
	}

	.experts_count_on_banner {
		width: 90%;
		left: 40px;
	}
	.content_on_blog {
		left: 90px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 521px) and (max-width : 560px) {
	.content_on_video {
		left: 70px;
	}
	.aboutus_table_on_banner {
    	width: 89%;
    }
    .second_line {
		width: 25% !important;
	}
	a.border_radius {
		font-size: 15px;
	}
	.after h1 {
		left: 23%;
	}
	.experts_count_on_banner {
		width: 90%;
		left: 50px;
	}
	.content_on_blog {
		left: 120px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 561px) and (max-width : 620px) {
	.content_on_video {
		left: 95px;
	}
	h1.main_coll_md_6_h1_right {
		width: 33% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 25% !important;
	}
	.searchpage_table_on_banner {
		left: 225px;
	}
	.aboutus_table_on_banner {
    	width: 90%;
    }
    .second_line {
		width: 28% !important;
	}
	.after h1 {
		left: 25%;
	}

	.content_on_blog {
		left: 140px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 621px) and (max-width : 670px) {
	.content_on_video {
		left: 130px;
	}
	h1.main_coll_md_6_h1_right {
		width: 30% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 25% !important;
	}
	.searchpage_table_on_banner {
		left: 225px;
	}
	.first_slide {
		background-size: 100% auto;
	}
	.second_slide {
		background-size: 100% auto;
	}
	.third_slide {
		background-size: 100% auto;
	}
	.second_line {
		width: 30% !important;
	}

	.experts_count_on_banner {
		left: 55px;
	}

	.after h1 {
		font-size: 25px;
		left: 25%;
	}

	.homepage_banner {
		background-size: 100% auto;
	}

	.blog_banner {
		background-size: 100% auto;
	}

	.content_on_blog {
		left: 160px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 671px) and (max-width : 680px) {
	.content_on_video {
		left: 130px;
	}
	h1.main_coll_md_6_h1_right {
		width: 30% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 25% !important;
	}
	.searchpage_table_on_banner {
		left: 225px;
	}
	.first_slide {
		background-size: 100% auto;
	}
	.second_slide {
		background-size: 100% auto;
	}
	.third_slide {
		background-size: 100% auto;
	}
	.homepage_banner {
		background-size: 100% auto;
	}
	.experts_count_on_banner {
		left: 69px;
	}

	.after h1 {
		left: 25%;
		font-size: 25px;
	}

	.blog_banner {
		background-size: 100% auto;
	}

	.content_on_blog {
		left: 180px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 681px) and (max-width : 720px) {
	.content_on_video {
		left: 90px;
	}
	.content_on_video h1 {
		font-size: 30px;
	}
	.fa.fa-play-circle {
		left: 180px;
		top: 10px;
		font-size: 50px !important;
	}
	.content_on_video .h1 {
		left: 240px;
	}
	h1.main_coll_md_6_h1_right {
		width: 30% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 25% !important;
	}
	button.navbar-toggle.collapsed {
		margin-top: 25px;
	}
	li.navbar_li_with_marginbottom {
		margin-bottom: 10px;
	}
	.searchpage_table_on_banner {
		left: 320px;
		top: 70%;
		width: 45% !important;
	}
	.first_slide {
		background-size: 100% auto;
	}
	.second_slide {
		background-size: 100% auto;
	}
	.third_slide {
		background-size: 100% auto;
	}
	.first_table_on_howitwork_banner {
		top: 20%;
		left: 40px;
	}
	.first_table_on_howitwork_banner th {
		font-size: 40px;
	}
	.first_table_on_howitwork_banner td {
		font-size: 12px;
		top: 75%;
	}
	.text-talk {
		font-size: 15px;
	}
	.col-md-6.coll_md_6 {
		padding-left: 0px !important;
	}
	.container.footer_container_forweb {
		display: none;
	}
	.homepage_banner {
		position: relative;
		background-size: 100% auto;
	}

	.after h1 {
		left: 25%;
	    font-size: 25px;
	    top: 10px;
	    margin-top: 10px!important;
	}

	.table_on_banner {
		top: 15%;
		left: 0px;
		width: 100%;
	}

	.table_on_banner_1 {
		top: 40% !important;
	}

	.table_on_banner_2 {
		top: 65% !important;
	}

	.table_on_banner_for_web {
		display: none;
	}

	.fa {
		font-size: 25px !important;
	}

	.experts_count_on_banner {
		top: 86%;
	    left: 80px;
	    font-size: 10px;
	}

	.border_radius {
		font-size: 15px;
	}

	.input {
		font-size: 10px;
	}

	.input_table {
		margin-top: 10px;
	}

	.filter_td {
		font-size: 10px;
	}

	.filter_b {
		font-size: 10px !important;
	}

	.card {
		margin: auto;
	}

	.fa_star, .fa_star_white {
		font-size: 15px !important;
	}

	.blog_banner {
		background-size: 100% auto;
	}

	.content_on_blog {
		left: 160px !important;
    	top: 170px !important;
	}
}

@media only screen and (min-width : 721px) and (max-width : 768px) {
	.content_on_video {
		left: 120px;
	}
	.content_on_video h1 {
		font-size: 30px;
	}
	.fa.fa-play-circle {
		left: 180px;
		top: 10px;
		font-size: 50px !important;
	}
	.content_on_video .h1 {
		left: 240px;
	}
	h1.main_coll_md_6_h1_right {
		width: 25% !important;
	}
	h1.main_coll_md_6_h1_left {
		width: 20% !important;
	}
	button.navbar-toggle.collapsed {
		margin-top: 25px;
	}
	li.navbar_li_with_marginbottom {
		margin-bottom: 10px;
	}
	.searchpage_table_on_banner {
		left: 350px;
		top: 70%;
		width: 45% !important;
	}
	.first_slide {
		background-size: 100% auto;
	}
	.second_slide {
		background-size: 100% auto;
	}
	.third_slide {
		background-size: 100% auto;
	}
	.first_table_on_howitwork_banner {
		top: 20%;
		left: 40px;
	}
	.first_table_on_howitwork_banner th {
		font-size: 40px;
	}
	.first_table_on_howitwork_banner td {
		font-size: 12px;
		top: 75%;
	}
	.text-talk {
		font-size: 15px;
	}
	.col-md-6.coll_md_6 {
		padding-left: 0px !important;
	}
	.container.footer_container_forweb {
		display: none;
	}
	.homepage_banner {
		position: relative;
		background-size: 100% auto;
	}

	.after h1 {
		left: 25%;
	    font-size: 25px;
	    top: 10px;
	    margin-top: 10px!important;
	}

	.table_on_banner {
		top: 15%;
		left: 0px;
		width: 100%;
	}

	.table_on_banner_1 {
		top: 40% !important;
	}

	.table_on_banner_2 {
		top: 65% !important;
	}

	.table_on_banner_for_web {
		display: none;
	}

	.fa {
		font-size: 25px !important;
	}

	.experts_count_on_banner {
		top: 86%;
	    left: 80px;
	    font-size: 10px;
	}

	.border_radius {
		font-size: 15px;
	}

	.input {
		font-size: 10px;
	}

	.input_table {
		margin-top: 10px;
	}

	.filter_td {
		font-size: 10px;
	}

	.filter_b {
		font-size: 10px !important;
	}

	.card {
		margin: auto;
	}

	.fa_star, .fa_star_white {
		font-size: 15px !important;
}

@media only screen and (min-width : 620px) and (max-width : 768px) {
	.aboutus_table_on_banner {
		left: 30px;
		width: 90%;
	}
	.aboutus_table_on_banner_td {
		width: 30% !important;
		vertical-align: top !important;
	}

	.aboutus_table_on_banner_td h1 {
		font-size: 30px !important;
		margin-top: 0px !important;
	}

	.text_on_aboutus_table_on_banner {
		font-size: 12px !important;
	}
	.aboutpage_first_homepage_banner {
		background-size: 100% auto;
	}
	.aboutpage_second_homepage_banner {
		background-size: 100% auto;
	}
	.aboutpage_third_homepage_banner {
		background-size: 100% auto;
	}
	.aboutpage_first_homepage_banner {
		position: relative;
	}
	.second_line {
		width: 23% !important;
	}
}*/






@media only screen and (min-width : 769) and (max-width : 1024px) {
  	.container.footer_container_formobile {
		display: none !important;
	}
	.table_on_banner_for_device {
		display: none;
	}

}

@media only screen and (min-width : 1025px) and (max-width : 1224px) {
  	.footer_container_formobile {
		display: none;
	}
	.table_on_banner_for_device {
		display: none;
	}
}

@media only screen and (min-width : 1225px) and (max-width : 1824px) {
  	.footer_container_formobile {
		display: none;
	}
	.table_on_banner_for_device {
		display: none;
	}
}











/*media query for homepage*/
@media screen and (min-width: 320px) and (max-width: 374px) {
    .navbar-toggle {
        margin-top: 25px;
    }

    .line {
        width: 40% !important;
    }

    .first_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .second_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .third_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .howitwork_homepage_banner_overlay {
        height: 197px;
    }

    .hr_hr {
        margin-left: 0px !important;
    }

    .first_table_on_howitwork_banner th {
        font-size: 15px;
    }

    .first_table_on_howitwork_banner td {
        font-size: 10px;
    }

    .first_table_on_howitwork_banner {
        left: 35px;
    }

    .searchpage_table_on_banner {
        left: 95px;
        width: 60%;
    }

    .text-talk {
        font-size: 10px;
    }

    .btn-lg {
        padding: 10px 10px;
        font-size: 15px;
    }

    .five_th_img {
        height: 50px !important;
    }

    .five_step_table td {
        font-size: 9px;
    }

    h1.theraphy_mindcure_h1 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }

    .theraphy_mindcure_p {
        font-size: 10px !important;
    }

    h1.main_coll_md_6_h1_left {
        width: 100% !important;
        margin-bottom: 10px !important;
        font-size: 15px !important;
    }

    h1.main_coll_md_6_h1_right {
        width: 100% !important;
        margin-bottom: 10px !important;
        font-size: 15px !important;
    }

    .get_started_inner_head {
        font-size: 11px;
    }

    .p_font_size {
        font-size: 9px;
        text-align: left !important;
        padding: 0px !important;
    }

    .during_theraphy_inner_head {
        font-size: 11px;
    }

    .col-md-6.coll_md_6 {
        padding-left: 0px !important;
    }

    .middle_contatiner {
        margin-bottom: 10px !important;
    }

    .vid_banner {
        /*margin-top: 20px;*/
    }

    .video_banner {
        background-size: auto 100%;
    }

    .content_on_video {
        left: 30px;
        top: 120px;
    }

    .content_on_video h1 {
        font-size: 15px;
    }

    .fa.fa-play-circle {
        left: 90px;
        font-size: 35px !important;
        top: 9px;
    }

    .content_on_video .h1 {
        left: 130px;
        top: 0px;
    }

    .container.footer_container_forweb {
        display: none;
    }

    .footer_heading {
        width: 100%;
    }

    .footer_heading_ul_li_a {
        font-size: 10px !important;
    }

    li.navbar_li_with_marginbottom {
        margin-bottom: 10px !important;
    }

    p.footer_heading_ul_li_a {
        text-align: left !important;
        padding: 0px !important;
    }

    .body {
        width: 90%;
        margin: auto;
    }

    .authentication_welcome {
        font-size: 20px;
        margin-top: 0px;
        font-weight: 600;
    }

    .authentication_label {
        width: 100% !important;
        font-size: 10px;
    }

    .authentication_bold {
        font-size: 15px;
    }

    button.btn.btn-default {
        width: 100%;
        background-color: #EB4035;
        color: #fff !important;
        font-weight: 600 !important;
    }

    .or_social_media {
        font-size: 12px;
        margin-top: 10px;
    }

    .header1 {
	    padding-bottom: 75px;
	    z-index: 1;
	    width: 100%;
    }

    ul.main-menu {
    	/*padding-top: 85px;*/
    }

    .container_card_right_form {
		margin: 0px;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .navbar-toggle {
        margin-top: 25px;
    }

    button.btn.btn-default {
        width: 100%;
    }

    .line {
        width: 40% !important;
    }

    .first_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .second_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .third_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .howitwork_homepage_banner_overlay {
        height: 250px;
    }

    .first_table_on_howitwork_banner th {
        font-size: 20px;
    }

    .first_table_on_howitwork_banner td {
        font-size: 10px;
    }

    .first_table_on_howitwork_banner {
        left: 5%;
        top: 20%;
    }

    .searchpage_table_on_banner {
        left: 115px;
        width: 60%;
    }

    .text-talk {
        font-size: 10px;
    }

    .btn-lg {
        padding: 10px 10px;
        font-size: 15px;
    }

    .five_th_img {
        height: 50px !important;
    }

    .five_step_table td {
        font-size: 9px;
    }

    hr.hr_hr {
        margin-left: 0px;
    }

    h1.theraphy_mindcure_h1 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }

    .theraphy_mindcure_p {
        font-size: 10px !important;
    }

    h1.main_coll_md_6_h1_left {
        width: 70% !important;
        margin-bottom: 10px !important;
        font-size: 19px !important;
    }

    h1.main_coll_md_6_h1_right {
        width: 100% !important;
        margin-bottom: 10px !important;
        font-size: 18px !important;
    }

    .get_started_inner_head {
        font-size: 11px;
    }

    .p_font_size {
        font-size: 9px;
    }

    .during_theraphy_inner_head {
        font-size: 11px;
    }

    .col-md-6.coll_md_6 {
        padding-left: 0px !important;
    }

    .middle_contatiner {
        margin-bottom: 10px !important;
    }

    .vid_banner {
        /*margin-top: 20px;*/
    }

    .video_banner {
        background-size: auto 100%;
    }

    .content_on_video {
        left: 60px;
        top: 120px;
    }

    .content_on_video h1 {
        font-size: 15px;
    }

    .fa.fa-play-circle {
        left: 90px;
        font-size: 35px !important;
        top: 9px;
    }

    .content_on_video .h1 {
        left: 130px;
        top: 0px;
    }

    .container.footer_container_forweb {
        display: none;
    }

    .footer_heading {
        width: 100%;
    }

    .footer_heading_ul_li_a {
        font-size: 10px !important;
    }

    li.navbar_li_with_marginbottom {
        margin-bottom: 10px !important;
    }

    .body {
        width: 90%;
        margin: auto;
    }

    .authentication_welcome {
        font-size: 20px;
        margin-top: 0px;
        font-weight: 600;
    }

    .authentication_label {
        width: 100% !important;
        font-size: 10px;
    }

    .authentication_bold {
        font-size: 15px;
    }

    p.or_social_media {
        text-align: center !important;
        margin-top: 10px;
    }

    .btn-default {
        width: 100%;
        background-color: #EB4035;
    }

    .header1 {
	    padding-bottom: 85px;
	    z-index: 1;
	    width: 100%;
    }

    .container_card_right {
		margin-left: 0px !important;
		margin-top: 20px !important;
		padding: 0px!important;
	}

	.form_input {
		left: 32px;
	}

	.button_parent {
		margin-left: 17px;
	}

	.container_card_right_form {
		margin: 0px;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 25px;
    }

    .line {
        width: 40% !important;
    }

    .first_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .second_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .third_slide {
        background-size: 100% auto;
        height: 197px;
    }

    .howitwork_homepage_banner_overlay {
        height: 197px;
    }

    .first_table_on_howitwork_banner th {
        font-size: 20px;
    }

    .first_table_on_howitwork_banner td {
        font-size: 10px;
    }

    .first_table_on_howitwork_banner {
        left: 6%;
        top: 18%;
    }

    .searchpage_table_on_banner {
        left: 130px;
        width: 60%;
        top: 100px !important;
    }

    .text-talk {
        font-size: 10px;
    }

    .btn-lg {
        font-size: 15px;
    }

    .five_th_img {
        height: 50px !important;
    }

    .five_step_table td {
        font-size: 9px;
    }

    h1.theraphy_mindcure_h1 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }

    .theraphy_mindcure_p {
        font-size: 10px !important;
    }

    h1.main_coll_md_6_h1_left {
        width: 70% !important;
        margin-bottom: 10px !important;
        font-size: 21px !important;
    }

    h1.main_coll_md_6_h1_right {
        width: 100% !important;
        margin-bottom: 10px !important;
        font-size: 20px !important;
    }

    .get_started_inner_head {
        font-size: 11px;
    }

    .p_font_size {
        font-size: 9px;
    }

    .during_theraphy_inner_head {
        font-size: 11px;
    }

    .col-md-6.coll_md_6 {
        padding-left: 0px !important;
    }

    .middle_contatiner {
        margin-bottom: 10px !important;
    }

    .vid_banner {
        /*margin-top: 20px;*/
    }

    .video_banner {
        background-size: auto 100%;
    }

    .content_on_video {
        left: 90px;
        top: 120px;
    }

    .content_on_video h1 {
        font-size: 15px;
    }

    .fa.fa-play-circle {
        left: 90px;
        font-size: 35px !important;
        top: 9px;
    }

    .content_on_video .h1 {
        left: 130px;
        top: 0px;
    }

    .container.footer_container_forweb {
        display: none;
    }

    .footer_heading {
        width: 100%;
    }

    .footer_heading_ul_li_a {
        font-size: 10px !important;
    }

    li.navbar_li_with_marginbottom {
        margin-bottom: 10px !important;
    }

    .body {
        width: 90%;
        margin: auto;
    }

    .authentication_welcome {
        font-size: 20px;
        margin-top: 0px;
        font-weight: 600;
    }

    .authentication_label {
        width: 100% !important;
        font-size: 10px;
    }

    .authentication_bold {
        font-size: 15px;
    }

    p.or_social_media {
        text-align: center !important;
        margin-top: 10px;
    }

    .btn-default {
        width: 100%;
        background-color: #EB4035;
    }

    .header1 {
	    padding-bottom: 85px;
	    z-index: 1;
	    width: 100%;
    }

    .container_card_right {
		margin-left: 0px !important;
		margin-top: 20px !important;
		padding: 0px!important;
	}

	.form_input {
		left: 28px;
	}

	.button_parent {
		margin-left: 20px;
	}

	.container_card_right_form {
		margin: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-toggle {
        margin-top: 25px;
    }

    .line {
        width: 40% !important;
    }

    .first_slide {
        background-size: 100% auto;
    }

    .second_slide {
        background-size: 100% auto;
    }

    .third_slide {
        background-size: 100% auto;
    }

    .first_table_on_howitwork_banner th {
        font-size: 30px;
    }

    .first_table_on_howitwork_banner td {
        font-size: 12px;
    }

    .first_table_on_howitwork_banner {
        left: 8%;
        top: 20%;
    }

    .searchpage_table_on_banner {
        left: 280px;
        width: 60%;
    }

    .text-talk {
        font-size: 12px;
    }

    .five_th_img {
        height: 60px !important;
    }

    .five_step_table td {
        font-size: 13px;
    }

    h1.theraphy_mindcure_h1 {
        font-size: 25px !important;
        margin-top: 10px !important;
    }

    .theraphy_mindcure_p {
        font-size: 10px !important;
    }

    h1.main_coll_md_6_h1_left {
        width: 37% !important;
        margin-bottom: 10px !important;
        font-size: 21px !important;
    }

    h1.main_coll_md_6_h1_right {
        width: 51% !important;
        margin-bottom: 10px !important;
        font-size: 20px !important;
    }

    .get_started_inner_head {
        font-size: 11px;
    }

    .p_font_size {
        font-size: 9px;
    }

    .during_theraphy_inner_head {
        font-size: 11px;
    }

    .col-md-6.coll_md_6 {
        padding-left: 0px !important;
    }

    .middle_contatiner {
        margin-bottom: 10px !important;
    }

    .vid_banner {
        margin-top: 20px;
    }

    .video_banner {
        background-size: 100% auto;
    }

    .content_on_video {
        left: 195px;
        top: 120px;
    }

    .content_on_video h1 {
        font-size: 25px;
    }

    .fa.fa-play-circle {
        left: 145px;
        font-size: 35px !important;
        top: 9px;
    }

    .content_on_video .h1 {
        left: 185px;
        top: 0px;
    }

    .container.footer_container_forweb {
        display: none;
    }

    .footer_heading {
        width: 50%;
    }

    .footer_heading_ul_li_a {
        font-size: 10px !important;
    }

    li.navbar_li_with_marginbottom {
        margin-bottom: 10px !important;
    }

    .nav > li > a {
        padding: 5px 5px !important;
        font-size: 12px;
    }

    .navbar_a_withcolor_red {
        margin-right: 10px;
    }

    .nav.navbar-nav.navbar-right {
        margin-top: 30px;
    }

    .forthe_mobile {
        display: none !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer_container_formobile {
        display: none;
    }

    .forthe_mobile {
        display: none !important;
    }
}

/*media query for homepage ends here*/

/*media query for about us page*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .aboutpage_first_homepage_banner {
        background-size: auto 100%;
        position: relative;
    }

    .aboutus_table_on_banner {
        left: 30px;
        top: 15%;
        width: 82%;
    }

    td.aboutus_table_on_banner_td {
        vertical-align: top !important;
        width: 40% !important;
    }

    td.aboutus_table_on_banner_td h1 {
        font-size: 30px !important;
    }

    /*td.text_on_aboutus_table_on_banner {*/
        /*/!*font-size: 10px !important;*!/*/
        /*line-height: 16px !important;*/
        /*text-align: justify !important;*/
    /*}*/

    .aboutpage_second_homepage_banner {
        background-size: auto 100%;
    }

    .aboutpage_third_homepage_banner {
        background-size: auto 100%;
    }

    span.second_line {
        width: 10% !important;
    }

    .login_span {
        font-size: 9px !important;
    }

    .icon_from_login_page {
        font-size: 12px !important;
    }

    .text_on_aboutus_table_on_banner_different {
    	font-size: 10px !important;
        line-height: 22px !important;
        text-align: justify !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .aboutpage_first_homepage_banner {
        background-size: auto 100%;
        position: relative;
    }

    .aboutus_table_on_banner {
        left: 30px;
        width: 84%;
        top: 15%;
    }

    td.aboutus_table_on_banner_td {
        vertical-align: top !important;
        width: 40% !important;
    }

    td.aboutus_table_on_banner_td h1 {
        font-size: 30px !important;
    }

    td.text_on_aboutus_table_on_banner {
        font-size: 10px !important;
        line-height: 16px !important;
        text-align: justify !important;
    }

    .aboutpage_second_homepage_banner {
        background-size: auto 100%;
    }

    .aboutpage_third_homepage_banner {
        background-size: auto 100%;
    }

    .icon_from_login_page {
        font-size: 12px !important;
    }

    .text_on_aboutus_table_on_banner_different {
    	font-size: 10px !important;
        line-height: 22px !important;
        text-align: justify !important;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .aboutpage_first_homepage_banner {
        background-size: auto 100%;
        position: relative;
    }

    .aboutus_table_on_banner {
        left: 30px;
        width: 84%;
        top: 15%;
    }

    td.aboutus_table_on_banner_td {
        vertical-align: top !important;
        width: 40% !important;
    }

    td.aboutus_table_on_banner_td h1 {
        font-size: 30px !important;
    }

    td.text_on_aboutus_table_on_banner {
        font-size: 10px !important;
    }

    .aboutpage_second_homepage_banner {
        background-size: auto 100%;
    }

    .aboutpage_third_homepage_banner {
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .aboutus_table_on_banner {
        left: 40px;
        width: 91%;
        top: 105px !important;
    }

    .aboutus_table_on_banner_first {
        top: 180px !important;
    }

    td.aboutus_table_on_banner_td {
        width: 40% !important;
    }

    td.text_on_aboutus_table_on_banner {
        font-size: 13px !important;
    }
}

/*media query for about us page ends here*/

/*media query for expertpage*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .table_on_banner {
        width: 100%;
        left: 0px;
        top: 33%;
    }

    .border_radius {
        padding: 5px 0px;
    }

    .table_on_banner td, th {
        font-size: 7px;
    }

    a.border_radius {
        font-size: 5px;
        padding: 20px 1px;
    }

    .homepage_banner {
        background-size: 100% auto;
        position: relative;
        height: 197px;
    }

    .homepage_banner_overlay {
        height: 197px;
    }

    i.fa.fa-graduation-cap {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-users {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-gratipay {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-user-md {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-male {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    .after h1 {
        left: 0%;
        font-size: 23px;
        top: 0px;
        margin-top: 10px;
    }

    .experts_count_on_banner {
        left: 25px;
        top: 82%;
        font-size: 9px;
        letter-spacing: 5px;
    }

    .input {
        font-size: 10px;
    }

    .advanced_search {
        font-size: 10px !important;
    }

    td.filter_td {
        font-size: 10px;
    }

    .card {
        margin: auto;
    }

    input[type="button"] {
        font-size: 11px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .table_on_banner {
        width: 100%;
        left: 0px;
        top: 33%;
    }

    .border_radius {
        padding: 5px 0px;
    }

    .table_on_banner td, th {
        font-size: 7px;
    }

    a.border_radius {
        font-size: 7px;
        padding: 20px 1px;
    }

    .homepage_banner {
        background-size: 100% auto;
        height: 197px;
        position: relative;
    }

    .homepage_banner_overlay {
        height: 197px;
    }

    i.fa.fa-graduation-cap {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-users {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-gratipay {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-user-md {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-male {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    .after h1 {
        left: 5%;
        font-size: 23px;
        top: 0px;
    }

    .experts_count_on_banner {
        left: 25px;
        top: 78%;
        font-size: 9px;
        letter-spacing: 7px;
    }

    .input {
        font-size: 10px;
    }

    .advanced_search {
        font-size: 10px !important;
    }

    td.filter_td {
        font-size: 10px;
    }

    .card {
        margin: auto;
    }

    input[type="button"] {
        font-size: 11px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .table_on_banner {
        width: 90%;
        left: 20px;
        top: 28%;
    }

    a.border_radius {
        font-size: 7px;
        padding: 20px 1px;
    }

    .homepage_banner {
        background-size: 100% auto;
        height: 197px;
        position: relative;
    }

    .homepage_banner_overlay {
        height: 197px;
    }

    i.fa.fa-graduation-cap {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-users {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-gratipay {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-user-md {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    i.fa.fa-male {
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    .after h1 {
        left: 10%;
        font-size: 23px;
        top: 0px;
    }

    .experts_count_on_banner {
        left: 40px;
        top: 80%;
        font-size: 10px;
        width: 88%;
        letter-spacing: 3px;
    }

    .input {
        font-size: 10px;
    }

    .advanced_search {
        font-size: 10px !important;
    }

    td.filter_td {
        font-size: 10px;
    }

    .card {
        margin: auto;
    }

    input[type="button"] {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .table_on_banner {
        width: 90%;
        left: 40px;
        top: 40%;
    }

    a.border_radius {
        font-size: 14px;
        padding: 20px 1px;
    }

    .homepage_banner {
        background-size: 100% auto;
        position: relative;
    }

    i.fa.fa-graduation-cap {
        margin-bottom: 20px;
        font-size: 30px !important;
    }

    i.fa.fa-users {
        margin-bottom: 20px;
        font-size: 30px !important;
    }

    i.fa.fa-gratipay {
        margin-bottom: 20px;
        font-size: 30px !important;
    }

    i.fa.fa-user-md {
        margin-bottom: 20px;
        font-size: 30px !important;
    }

    i.fa.fa-male {
        margin-bottom: 20px;
        font-size: 30px !important;
    }

    .after h1 {
        left: 17%;
        font-size: 35px;
        top: 20px;
        margin-top: 10px;
    }

    .experts_count_on_banner {
        left: 120px;
        top: 85%;
        font-size: 10px;
        width: 78%;
    }

    .input {
        font-size: 15px;
    }

    .advanced_search {
        font-size: 15px !important;
    }

    td.filter_td {
        font-size: 12px;
    }

    .card {
        margin: auto;
    }

    input[type="button"] {
        font-size: 11px;
    }
}

/*media query for expertpage ends here*/

/*media query for blogpage*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
    h1.content_on_blog {
        font-size: 25px !important;
        left: 9% !important;
        top: 70px !important;
    }

    .blog_banner {
        background-size: 100% auto;
        position: relative;
        height: 197px;
    }

    .searchleftandrightparent {
        margin-bottom: 30px;
        width: 100%;
    }

    p.first_section_parent_right_p {
        font-size: 8.5px !important;
        text-align: left !important;
        padding: 0px;
    }

    .nopadding {
        padding-left: 0px;
    }

    .container.contain {
        margin-top: 10px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    h1.content_on_blog {
        font-size: 25px !important;
        left: 17% !important;
        top: 70px !important;
    }

    .blog_banner {
        background-size: 100% auto;
        height: 197px;
        position: relative;
    }

    .searchleftandrightparent {
        margin-bottom: 30px;
        width: 100%;
    }

    p.first_section_parent_right_p {
        font-size: 10.5px !important;
        text-align: left !important;
        padding: 0px;
    }

    .container.contain {
        margin-top: 10px !important;
    }

    span.second_line {
        width: 14% !important;
    }

    .first_section_parent_left_img {
        background-size: auto 100%;
    }

    .search_up_blog_2 {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    h1.content_on_blog {
        font-size: 25px !important;
        left: 20% !important;
        top: 70px !important;
    }

    .blog_banner {
        background-size: 100% auto;
        position: relative;
        height: 197px;
    }

    .hr_hr {
        margin-left: 0px;
    }

    .searchleftandrightparent {
        margin-bottom: 30px;
        width: 100%;
    }

    .first_section_parent_right_p {
        font-size: 11px !important;
    }

    .container.contain {
        margin-top: 10px !important;
    }

    span.second_line {
        width: 14% !important;
    }

    .first_section_parent_left_img {
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .search_up_blog_2 {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1.content_on_blog {
        font-size: 40px !important;
        left: 23% !important;
        top: 155px !important;
    }

    .blog_banner {
        background-size: 100% auto;
        position: relative;
    }

    .searchleftandrightparent {
        margin-bottom: 30px;
        width: 60%;
    }

    .first_section_parent_right_p {
        font-size: 11px !important;
    }

    .container.contain {
        margin-top: 10px !important;
    }

    span.second_line {
        width: 14% !important;
    }

    .first_section_parent_left_img {
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 200px;
    }

    .search_up_blog_2 {
        background-size: 100% auto;
    }

    .first_section_parent_right {
        line-height: 20px;
    }
}

/*media query for blogpage ends here*/

/*media query for searchpage*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .searchpage_homepage_banner {
        position: relative;
        background-size: auto 100%;
    }

    .input_table {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .second_input_table {
        margin-bottom: 0px !important;
    }

    .sort_bold {
        font-size: 12px !important;
    }

    .search_bottom {
        width: 90%;
    }

    .search_up_2 {
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .searchpage_homepage_banner {
        position: relative;
        background-size: auto 100%;
    }

    .input_table {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .second_input_table {
        margin-bottom: 0px !important;
    }

    .sort_bold {
        font-size: 12px !important;
    }

    .search_bottom {
        width: 90%;
    }

    .search_up_2 {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .searchpage_homepage_banner {
        position: relative;
        background-size: auto 100%;
    }

    .input_table {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .second_input_table {
        margin-bottom: 0px !important;
    }

    .sort_bold {
        font-size: 12px !important;
    }

    .search_bottom {
        width: 90%;
    }

    .search_up_2 {
        background-size: 100% auto;
    }

    .searchpage_table_on_banner {
        top: 290px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .searchpage_homepage_banner {
        position: relative;
        background-size: 100% auto;
    }

    .input_table {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .second_input_table {
        margin-bottom: 0px !important;
    }

    .sort_bold {
        font-size: 12px !important;
    }

    .search_bottom {
        width: 90%;
    }

    .search_up_1.search_up {
        background-size: 100% auto;
    }

    .search_up_2 {
        background-size: auto 100%;
    }

    .search_up_3 {
        background-size: 100% auto;
    }

    .search_up_4 {
        background-size: auto 100%;
    }

    .searchpage_table_on_banner {
        top: 290px;
    }

    .searchleftandrightparent {
        width: 85%;
    }
}

/*media query for searchpage ends here*/

/*media query for expertprofile*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .expert_table_on_banner {
        left: 175px;
        width: 35%;
        top: 23px;
    }

    .expert_table_on_banner_th {
        font-size: 10px !important;
    }

    .first_table_on_expert_banner {
        left: 34px;
    }

    .first_table_on_expert_banner a {
        font-size: 12px;
    }

    .fa.fa-arrow-left {
        font-size: 12px;
    }

    .profile_detail_parent {
        top: 60% !important;
        width: 90%;
        left: 5%;
    }

    .expect_homepage_banner {
        background-size: 100% auto;
        height: 197px;
    }

    .expect_homepage_banner_overlay {
        height: 197px;
    }

    .profile_img_parent_wrap {
        height: 240px;
        /*padding: 10px 40px;*/
    }

    /*.col_md_6 h1, p {*/
        /*text-align: center !important;*/
        /*padding: 0px 20px;*/
    /*}*/

    .col_md_6 p {
        font-size: 12px !important;
    }

    .col_md_6 .ul {
        padding: 0px 20px;
    }

    .col_md_6 .ul li {
        font-size: 10px;
        padding-right: 5px !important;
    }

    .fa.fa-heart {
        font-size: 12px !important;
    }

    .col_md_3_parent {
        border-left: 0px !important;
    }

    hr {
        margin-left: 15px;
    }

    .col_md_3_parent_top {
        margin-bottom: 30px;
    }

    .col_md_3_parent_bottom {
        text-align: center;
    }

    .container.Skills_summary_container {
        margin-top: 175% !important;
    }

    .main_body_content .container .first_section ul li {
        padding: 5px 18px;
        font-size: 10px;
    }

    .main_body_content .container .second_section p {
        font-size: 12px;
    }

    .main_body_content .container .third_section ul li {
        font-size: 12px;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div_img {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .second_div {
        width: 60%;
    }

    .forthe_web {
        display: none !important;
    }

    li.li_li_hirght {
        height: 0px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .expert_table_on_banner {
        left: 210px;
        width: 35%;
        top: 23px;
    }

    .expert_table_on_banner_th {
        font-size: 11px !important;
    }

    .first_table_on_expert_banner {
        left: 34px;
    }

    .first_table_on_expert_banner a {
        font-size: 12px;
    }

    .fa.fa-arrow-left {
        font-size: 12px;
    }

    .profile_detail_parent {
        top: 60% !important;
        width: 90%;
        left: 5%;
    }

    .expect_homepage_banner {
        background-size: 100% auto;
        height: 197px;
    }

    .expect_homepage_banner_overlay {
        height: 197px;
    }

    .profile_img_parent_wrap {
        height: 215px;
        /*padding: 10px 40px;*/
    }

    .h_career {
        text-align: center !important;
        padding: 0px 20px;
    }

    .p_career {
        text-align: center;
    }

    .col_md_6 .ul {
        padding: 0px 20px;
    }

    .col_md_6 .ul li {
        font-size: 10px;
        padding-right: 20px !important;
    }

    .fa.fa-heart {
        font-size: 12px !important;
    }

    .col_md_3_parent {
        border-left: 0px !important;
    }

    hr {
        margin-left: 15px;
    }

    .col_md_3_parent_top {
        margin-bottom: 30px;
        text-align: center;
    }

    .col_md_3_parent_bottom {
        text-align: center;
    }

    .container.Skills_summary_container {
        margin-top: 140% !important;
    }

    .main_body_content .container .first_section ul li {
        padding: 5px 15px;
        font-size: 10px;
    }

    .main_body_content .container .second_section p {
        font-size: 12px;
    }

    .main_body_content .container .third_section ul li {
        font-size: 12px;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div_img {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .second_div {
        width: 60%;
    }

    .profile_img_parent {
        width: 70%;
        margin: auto;
        height: 190px;
    }

    p.profile_p {
        font-size: 12px;
        text-align: center !important;
    }

    .forthe_web {
        display: none !important;
    }

    li.li_li_hirght {
        height: 0px !important;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .expert_table_on_banner {
        left: 245px;
        width: 35%;
        top: 23px;
    }

    .expert_table_on_banner_th {
        font-size: 11px !important;
    }

    .first_table_on_expert_banner {
        left: 34px;
    }

    .first_table_on_expert_banner a {
        font-size: 12px;
    }

    .fa.fa-arrow-left {
        font-size: 12px;
    }

    .profile_detail_parent {
        top: 60% !important;
        width: 90%;
        left: 5%;
    }

    .expect_homepage_banner {
        background-size: 100% auto;
        height: 210px;
    }

    .expect_homepage_banner_overlay {
        height: 197px;
    }

    .profile_img_parent_wrap {
        height: 215px;
        /*padding: 10px 40px;*/
    }

    .h_career {
        text-align: center !important;
        padding: 0px 20px;
    }

    .p_career {
        text-align: center;
    }

    .col_md_6 .ul {
        padding: 0px 20px;
    }

    .col_md_6 .ul li {
        font-size: 12px;
        text-align: center;
        width: 32%;
        padding-right: 0px !important;
    }

    .profile_p {
        text-align: center !important;
    }

    .fa.fa-heart {
        font-size: 12px !important;
    }

    .col_md_3_parent {
        border-left: 0px !important;
    }

    hr {
        margin-left: 15px;
    }

    .col_md_3_parent_top {
        margin-bottom: 30px;
        text-align: center;
    }

    .col_md_3_parent_bottom {
        text-align: center;
    }

    .container.Skills_summary_container {
        margin-top: 135% !important;
    }

    .main_body_content .container .first_section ul li {
        padding: 5px 15px;
        font-size: 10px;
    }

    .main_body_content .container .second_section p {
        font-size: 12px;
    }

    .main_body_content .container .third_section ul li {
        font-size: 12px;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div_img {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .second_div {
        width: 60%;
    }

    .profile_img_parent {
        width: 60%;
        margin: auto;
        height: 190px;
    }

    .forthe_web {
        display: none !important;
    }

    li.li_li_hirght {
        height: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .expert_table_on_banner {
        left: 470px;
        width: 35%;
        top: 23px;
    }

    .expert_table_on_banner_th {
        font-size: 14px !important;
    }

    .first_table_on_expert_banner {
        left: 34px;
    }

    .first_table_on_expert_banner a {
        font-size: 14px;
    }

    .fa.fa-arrow-left {
        font-size: 12px;
    }

    .profile_detail_parent {
        top: 80% !important;
        width: 95%;
        left: 20px;
    }

    .expect_homepage_banner {
        background-size: 100% auto;
    }

    .profile_img_parent_wrap {
        height: 215px;
        /*padding: 10px 20px;*/
    }

    .h_career {
        text-align: center !important;
        padding: 0px 20px;
    }

    .p_career {
        text-align: center;
    }

    .col_md_6 .ul {
        padding: 0px 20px;
    }

    .col_md_6 .ul li {
        font-size: 12px;
        text-align: center;
        width: 32%;
        padding-right: 0px !important;
    }

    .profile_p {
        text-align: center !important;
        width: 90%;
        margin: auto;
    }

    .fa.fa-heart {
        font-size: 12px !important;
    }

    .col_md_3_parent {
        border-left: 0px !important;
    }

    hr {
        margin-left: 15px;
    }

    .col_md_3_parent_top {
        margin-bottom: 30px;
        text-align: center;
    }

    .col_md_3_parent_bottom {
        text-align: center;
    }

    .container.Skills_summary_container {
        margin-top: 40% !important;
    }

    .main_body_content .container .first_section ul li {
        padding: 5px 15px;
        font-size: 14px;
    }

    .main_body_content .container .second_section p {
        font-size: 12px;
    }

    .main_body_content .container .third_section ul li {
        font-size: 12px;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .first_div_img {
        left: 55px;
        width: 65%;
    }

    .main_body_content .container .right_first_section .main_body .similar_expert .second_div {
        width: 60%;
    }

    .profile_img_parent {
        width: 100%;
        margin: auto;
        height: 190px;
    }

    .container {
        width: 95%;
    }
}

/*media query for expertprofile ends here*/