.book_appointment_h1, .book_appointment_p {
	text-align: center;
	color: #333;
	/*font-family: 'CaviarDreams', serif;*/
}

.book_appointment_head_parent {
	/*padding: 25px 0px;*/
}

.book_appointment_mainbody {
	height: auto;
	background-color: #fafafa;
	padding: 20px 0 20px 0;
	margin-right: 0 !important;
}

.content_wrap {
	width: 70%;
	margin: auto;
}

.content_wrap_h1 {
	font-size: 20px;
	/*font-family: 'CaviarDreams', serif;*/
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}

.submain_with_green_border {
	border: 2px solid rgb(34, 34, 14);
	padding: 30px 0px;
	background: #fff;
}

.submain_without_green_border {
	/*border: 0px solid rgb(34, 34, 14);*/
	padding: 30px 0px;
	background: #fff;
}

.submain_with_green_border_left {
	height: 50px;
}

.submain_with_green_border_middle_h1 {
	font-size: 20px;
	/*font-family: 'CaviarDreams', serif;*/
	text-align: center;
}

.submain_without_green_border_middle_h1 {
	font-size: 20px;
	margin-top: 15px;
	/*font-family: 'CaviarDreams', serif;*/
	text-align: left;
}

.submain_with_green_border_middle_p {
	font-size: 14px;
	text-align: center;
}

.content_wrap_expert_sectioncard_block {
	/*padding: 20px 30px !important;*/
}

.content_wrap_h1_img_tothe_right {
	height: 25px;
	float: right;
}

.content_wrap_h1_a {
	font-weight: 600;
	font-size: 20px;
	color: #000;
}

.content_wrap_h1_a:hover {
	color: #000000;
	text-decoration: none;
}

.content_wrap_h1_a:focus {
	color: #000000;
	text-decoration: none;
}

.content_wrap_expert_sectioncard_block_imgwrap {
	width: 37%;
	margin: auto; 
	/*border: 1px solid; */
	height: 107px; 
	border-radius: 100%;
}

.content_wrap_expert_sectioncard_block_imgwrap_mobile {
	width: 102px;
	margin: auto;
	height: 107px;
	border-radius: 100%;
}

.collapse_img_left {
	width: 50px;
	margin: auto;
	padding-top: 15px;
	/*border: 2px solid #ddd; */
	height: 54px; 
	border-radius: 100%;
}

.collapse_h1_center {
	font-size: 20px;
	color: #333;
	/*font-family: 'CaviarDreams', serif;*/
}

.zeroed {
	margin: 0;
	padding: 0;
}

.collapse_h1_left {
	font-size: 20px;
	color: #333;
	text-align: left;
}

.collapse_p_left {
	font-size: 12px;
	text-align: left;
}

.collapse_p_center {
	font-size: 12px;
}

.collapse_img_right {
	height: 25px;
	margin-top: 10px;
}

.active, .btnn:hover {
    border-color: rgb(34, 34, 14) !important;
    color: rgb(34, 34, 14) !important;
    cursor: pointer;
}

.activee, .btnn_calender:hover {
    border-bottom: 3px solid rgb(34, 34, 14) !important;
    color: rgb(34, 34, 14) !important;
    cursor: pointer;
}

.activeee, .btnn_calender:hover {
    border-bottom: 3px solid rgb(34, 34, 14) !important;
    color: rgb(34, 34, 14) !important;
    cursor: pointer;
}

.activeeee, .btnn_calender:hover {
    border-bottom: 3px solid rgb(34, 34, 14) !important;
    color: rgb(34, 34, 14) !important;
    cursor: pointer;
}

.button_parent {
	margin-top: 20px;
}

.second_content_wrap_h1 {
	font-size: 15px;
	text-align: center;
	margin: 40px 0px;
	/*font-family: 'CaviarDreams', serif;*/
	font-weight: 600;
}

.submain_without_green_border_left_content {
	font-size: 24px;
	text-align: center;
	padding-top: 35px;
	/*padding: 5px 0px;*/
}

.submain_without_green_border_right_content {
	text-align: center;
	/*padding: 40px 0px;*/
	padding: 20px 0 5px 0;
}

.submain_without_green_border_middle_p {
	margin-top: 10px;
}

.submain_without_green_border_middle_b {
	text-align: center !important;
	font-size: 15px;
	font-weight: 900;
	color: black;
}

.newaccordion {
    color: #444;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 20px;
}

.panell {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.newaccordion_panel {
	width: 100%;
	background-color: #F3F6F8;
}

.newaccordion_panel_button {
	padding: 5px 30px;
    font-weight: 600;
    font-size: 19px;
}

.w3-container_li {
	padding: 20px 40px;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
}

.focused {
    background: rgb(34, 34, 14) !important;
    outline: none;
    border-radius: 30px;
  }

.container_card_left {
	margin-right: 1em;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.09);
    height: 420px;
    position: relative;
}

.container_card_text_p {
	text-align: center;
    font-style: normal;
    color: #1F1F1F;
    font-size: 1.5em;
    font-weight: 600;
    margin: 2em 0 1.5em;
}

.container_card_text_left {
	text-align: left;
	font-weight: 600;
}

.container_card_text_center {
	text-align: center;
	font-weight: 600;
}

.container_card_text_right {
	text-align: right;
	font-weight: 600;
}

.container_card_text_row {
	padding: 0px 50px 20px;
}

.container_row {
	margin-bottom: 30px;
}

.container_card_right {
	border-radius: 8px;
    margin-left: 1em!important;
    padding: 2em 3em 0!important;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.09);
}

.form_p_for_h {
	text-align: center;
	/*font-family: 'CaviarDreams', serif;*/
	font-weight: 600;
	font-size: 1.5em;
	color: #000;
}

.form_p {
	text-align: center;
	font-size: 13px;
}

.container_card_right_form {
	width: 100%;
}

.form_first_div {
	margin: 1.4em 2em 2em;
}

.form_input_parent {
	margin-top: .4em;
}

.form_input_phone {
	margin: 0!important;
	background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e!important;
    border-radius: 0;
    outline: 0;
    height: 2em;
    width: 100%;
    font-size: 1em;
    margin: 0 0 15px;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.form_input {
	position: absolute;
    left: 50px;
    height: 15px !important;
}

.form_input_label_checkbox {
	margin-bottom: 10px;
    font-size: 10px;
    left: 0!important;
    line-height: 15px !important;
    padding-left: 25px;
    position: relative;
    height: 20px;
}

.form_input_label{
	margin-bottom: 10px;
    font-size: 10px;
    left: 0!important;
    line-height: 15px !important;
    position: relative;
    height: 20px;
}

.continue_payment {
	width: 100%;
}

.no_decoration {
	text-decoration: none !important;
	color: #000101 !important;
	margin-bottom: 15px;
}

.collapse_img_left_img {
	background-image: url('/static/images/student.svg');
	height: 50px; 
	/*border-radius: 100%; */
	background-size: auto 100%;
}

.list-group-item.active {
	background-color: white;
}

.list-group-item.active {
	border-color: green !important;
}

.s_text13 {
	padding: 5px 20px;
	border-radius: 10px;
}

.s_active {
	color: #fff !important;
	background-color: rgb(34, 34, 14);
	border: 2px solid rgb(34, 34, 14);
	/*background-color: #406650;*/
}

.s_inactive {
	color: #000 !important;
	border: 2px solid rgb(34, 34, 14);
}

.text_justify {
	padding-left: 40px;
	text-align: left !important;
}

a {
    color: #888888;
    text-decoration: none;
	text-underline: none !important;
}

.started_icons {
	color: rgb(34, 34, 14) !important;
	font-size: 40px;
}

.therapist_icon {
	color: rgb(34, 34, 14) !important;
	font-size: 20px;
}

.filled {
	opacity: 0.5 !important;
}

@media only screen and (min-width : 320px) and (max-width : 360px) {
	.content_wrap_expert_section {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.content_wrap_expert_sectioncard_block_imgwrap {
		width: 65%;
	}

	.btnn_media {
	    height: 200px;
    	margin-bottom: 20px;
	}

	.collapse_img_left {
		width: 57px;
		height: 70px;
	}

	.collapse_img_left_img {
		height: 100%;
	}

	.collapse_col_fontawesome {
		text-align: center;
	}

	.collapse_h1_center {
		text-align: center;
	}

	.container_card_text_row {
		padding: 0px 0px 20px;
	}

	.container_card_text_right_media {
		text-align: left;
		font-size: 13px;
	}

	.container_card_right {
		margin-left: 0px !important;
		margin-top: 20px !important;
		padding: 0px!important;
	}

	.form_input {
		left: 35px;
	}

	.button_parent {
		margin-left: 20px;
	}
}

.lg {
	color: #fafafa;
	font-size: 30px;
}

.grey {
	color: lightgrey;
}

.text-justify {
	padding-left: 40px;
	text-align: justify !important;
}
