.profile_main_body {
	padding-top: 65px;
}

.page-container {
	background-color: #eaf0f142;
    /* background-color: #fffff4; */
}

.list-group-item {
	background-color: #ffffff !important;
	text-align: center !important;
}

i.fa.fa-download {
	font-size: 15px;
	color: #009F85;
}

i.fa.fa-flag-o {
	font-size: 15px;
	color: #009F85;
}

i.fa.fa-money {
	font-size: 15px;
	color: #009F85;
}

.right_background {
	height: auto;
	background-color: #fff;
	margin-top: 20px;
	padding: 50px;
	margin-bottom: 50px;
	margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EAF0F1
}

.section {
	border: 2px solid #EAF0F1;
	padding: 20px;
}

.left_button {
	background-color: #AF5100;
	border: #AF5100;
	font-size: 10px;
	color: #fff;
	border-radius: 5px 0px 0px 5px;
	padding: 5px 8px;
}

.right_button {
	background-color: #F1F3F5;
	border: #F1F3F5;
	color: #B3BABE;
	font-size: 14px;
	border-radius: 0px 5px 5px 0px;
	padding: 5px 8px;
}

.header .header-container .nav-right .dropdown-menumenu {
	right: -70px !important;
}

.header .header-container .nav-right .dropdown-menumenuone {
	right: -120px !important;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .d-inline {
    	padding-right: 85px!important;
    }

    .pro_img {
    	height: 200px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .d-inline {
    	padding-right: 112px!important;
    }

    .pro_img{
    	height: 220px !important;
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-primary {
    background-color: rgb(34, 34, 14) !important;
    border-color: rgb(34, 34, 14) !important;
    transition: 0.3s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: rgb(34, 34, 14) !important;
    border-color: rgb(34, 34, 14) !important;
}

.btn-warning {
    background-color: #AF5100 !important;
    border-color: #AF5100 !important;
}

.c-blue-500 {
    color: rgb(34, 34, 14) !important;
}

.sidebar-menu>li>a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 24px !important;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 35px;
    color: #22220E  !important
}

.mood {
    color: #22220E
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right)>.swal2-modal {
        margin: 50px !important;
    }
}

.f-8 {
    font-size: 8px !important;
}

.f-9 {
    font-size: 9px !important;
}

.f-10 {
    font-size: 10px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-25 {
    font-size: 25px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-30 {
    font-size: 30px !important;
}

.f-40 {
    font-size: 40px !important;
}

.f-50 {
    font-size: 50px !important;
}

.dimgrey {
    color: dimgrey;
}

.mR-15 {
    margin-right: 15px !important;
}

.width-190 {
    width: 190px !important;
}

.def {
    color: #22220E !important;
}

.text-white {
    color: #fff !important;
}

.sec {
    color: #af5100 !important;
}

.accent-sec {
    background: #af5100 !important;
}

.accent-def {
    background: #22220E !important;
}

.accent-red {
    background: red !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-20 {
    padding: 20px !important;
}