{% extends 'shop/layout.html' %}

{% block body %}
<style>
          @media only screen and (min-width: 640px) {
             <!--footer {-->
               <!--position: fixed;-->
               <!--left: 0;-->
               <!--bottom: 0;-->
               <!--width: 100%;-->
            <!--}-->

           }

           .no-items {
                overflow: hidden !important;
                padding: 50px;
                border: 1px solid lightgrey;
                margin-top: 80px
            }


</style>
{% load humanize %}
<!-- Cart -->
<section class="cart bgwhite p-t-30 p-b-100" ng-controller="BaseController">
    <div class="container">
        <!-- Cart item -->
        <div ng-show="cart.items.length > 0">
            <p class="form_p_for_h">Checking out items</p>
            <p class="form_p">click pay to initiate payment for items</p>
        </div>
        <div class="container-table-cart pos-relative">
            <div class="wrap-table-shopping-cart bgwhite">
                <table class="table-shopping-cart" ng-show="cart.items.length > 0">
                    <tr class="table-head">
                        <th class="column-1"></th>
                        <th class="column-2">Product</th>
                        <th class="column-3">Price</th>
                        <th class="column-3">Quantity</th>
                        <th class="column-5"></th>
                    </tr>
                    <tr class="table-row" ng-repeat="item in cart.items">
                        <td class="column-1">
                            <div class="cart-img-product b-rad-4 o-f-hidden">
                                <img src="[[item.product.cover_image]]" alt="IMG-PRODUCT" ng-cloak>
                            </div>
                        </td>
                        <td class="column-2" ng-cloak>[[ item.product.name ]]</td>
                        <td class="column-3" ng-cloak>
                            <b>₦</b> [[ item.unit_price|number ]]
                        </td>
                        <td class="column-3" style="padding-left: 3%;" ng-bind="item.quantity"></td>
                        <td class="column-5">
                            <a href ng-click="removeItem(item.id)">
                                <i class="fs-30 ion-trash-a"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-hide="cart.items.length > 0" class="no-items">
            <div style="text-align: center; padding-top: 30px;">
                <i class="ion-bag" style="font-size: 80px"></i>
                <h5 style="margin: 20px">Shopping Cart is Empty</h5>
                <a href="{% url 'shop' %}" class="btn-sm btn-primary">Browse Products</a>
            </div>
        </div>

        <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm" ng-show="cart.items.length > 0">
        </div>

        <!-- Total -->
        <div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm"
             ng-show="cart.items.length > 0">
            <h5 class="m-text20 p-b-24" style="text-align: center">
                Cart Totals
            </h5>
            <!--  -->
            <div class="flex-w flex-sb-m p-t-26 p-b-30" style="text-align: center">
					<span class="m-text22 w-size19 w-full-sm">
						Total:
					</span>

                <span class="m-text21 w-size20 w-full-sm">
						<b>₦</b> {{ user_cart.total_price|intcomma }}
					</span>
            </div>

            <div class="size15 trans-0-4">
                <!-- Button -->
                {% if user.is_authenticated %}
                <a ng-click="processPayment()" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                    Pay
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                    Login to Checkout
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}