{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}
    <div class="container book_appointment_head_parent">
    	<div class="row">
    		<div class="col-md-12">
    			<h1 class="book_appointment_h1">
    				REVIEW YOUR BOOKING
    			</h1>
    		</div>
    	</div>
    </div>

    <div class="container">
    	<div class="row container_row">
		  	<div class="col-sm-12">
			    <div class="card container_card_right">
			      <div class="card-body">
			        <div class="row container_card_right_form">
			        	<form class="container_card_right_form">
			        		<p class="form_p_for_h">
			        			Confirm transaction information
			        		</p>
			        		<p class="form_p">
			        			click on pay to initiate payment for items
			        		</p>

			        		<div class="form_first_div">
			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Phone Number" class="form_input_phone" name="">
			        				<div>
			        					<input type="checkbox" class="form_input" name="">
			        					<label class="form_input_label_checkbox">
			        						Please select incase of international number
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Email Id" class="form_input_phone" name="">
			        				<div>
			        					<label class="form_input_label">
			        						Important communications will be sent here
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Username" class="form_input_phone" name="">
			        				<div>
			        					<label class="form_input_label">
			        						If you're a new User, we will create an account for you.
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<select class="form_input_phone">
			        					<option>Category</option>
			        					<option>Career/Academic</option>
			        					<option>Love & Relationship</option>
			        					<option>Sexual Wellness</option>
			        					<option>Self-Improvement</option>
			        					<option>Family & Friends</option>
			        					<option>Abuse</option>
			        				</select>
			        				<div>
			        					<label class="form_input_label">
			        						So that we know what's troubling you.
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<select class="form_input_phone">
			        					<option>
			        						Sub Category
			        					</option>
			        				</select>
			        				<div>
			        					<label class="form_input_label">
			        						Could you tell us a little more.
			        					</label>
			        				</div>
			        			</div>

			        			<button type="button" class="btn btn-primary continue_payment">PAY</button>
			        		</div>
			        	</form>
			        </div>
			      </div>
			    </div>
                <section class="cart bgwhite p-t-70 p-b-100">
                    <div class="container">
                        <!-- Cart item -->
                        <div class="container-table-cart pos-relative">
                            <div class="wrap-table-shopping-cart bgwhite">
                                <table class="table-shopping-cart" ng-show="cart.items.length > 0">
                                    <tr class="table-head">
                                        <th class="column-1"></th>
                                        <th class="column-2">Product</th>
                                        <th class="column-3">Price</th>
                                        <th class="column-5"></th>
                                    </tr>

            						{% for item in user_cart.items.all %}
                                        <tr class="table-row">
                                            <td class="column-1">
                                                <div class="cart-img-product b-rad-4 o-f-hidden">
                                                    <img src="/media/{{ item.product.cover_image }}" alt="IMG-PRODUCT">
                                                </div>
                                            </td>
                                            <td class="column-2">{{ item.product.name }}</td>
                                            <td class="column-3"><b>NGN</b> {{ item.unit_price }}</td>
                                            <td class="column-4">
                                                <div class="flex-w bo5 of-hidden w-size17">
                                                    <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2" ng-click="decrementQuantity({{ item.product.id }})">
                                                        <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                                    </button>

                                                    <input class="size8 m-text18 t-center num-product" type="number" name="num-product1" value="{{ item.quantity }}">

                                                    <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2" ng-click="incrementQuantity({{ item.product.id }})">
                                                        <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="column-5"><b>NGN</b> {{ item.total_price }}</td>
                                            <td class="column-5">
                                                <a ng-click="deleteObj({{ item.id }})">
                                                  <i class="fs-12 fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <!-- Total -->
                        <div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
                            <h5 class="m-text20 p-b-24">
                                Cart Totals
                            </h5>

                            <!--  -->
                            <div class="flex-w flex-sb-m p-t-26 p-b-30">
                                <span class="m-text22 w-size19 w-full-sm">
                                    Total:
                                </span>

                                <span class="m-text21 w-size20 w-full-sm">
                                    <b>₦</b> {{ user_cart.total_price }}
                                </span>
                            </div>

                        </div>
                    </div>
                </section>
		  	</div>
		</div>
    </div>
{% endblock %}