<!-- Header -->
{% load static from staticfiles %}
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header" id="pcHeader" style="position: fixed;">
        <div class="wrap_header">
            <!-- Logo -->
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'images/mindcure_logo.png' %}">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <a href="{% url 'index' %}">
                            <li>
                                <b>Home</b>
                            </li>
                        </a>

{#                        <a href="{% url 'therapists' %}">#}
{#                            <li>#}
{#                                <b>Therapists</b>#}
{#                            </li>#}
{#                        </a>#}

                        <a href="{% url 'shop' %}">
                            <li>
                                <b>Shop</b>
                            </li>
                        </a>

                        <a href="{% url 'about' %}">
                            <li>
                                <b>About</b>
                            </li>
                        </a>

                        <a href="{% url 'faq' %}">
                            <li>
                                <b>FAQ</b>
                            </li>
                        </a>

                        <a href="{{ settings.BLOG_URL }}">
                            <li>
                                <b>Blog</b>
                            </li>
                        </a>

                        <a href="{{ settings.FORUM_URL }}">
                            <li>
                                <b>Community</b>
                            </li>
                        </a>

                        <a href="{% url 'contact' %}">
                            <li>
                                <b>Contact Us</b>
                            </li>
                        </a>
                        {#                        {% if user %}#}
                        {#                        <li class="hidden-xs hidden-sm">#}
                        {#                            <a href="{% url 'get_started' %}" class="navbar_a_withcolor_red forthe_web" style="background-color: #406650 !important;">Get Started</a>#}
                        {#                         </li>#}
                        <li class="navbar_li_with_marginbottom visible-xs visible-sm">
                            <a href="{% url 'get_started' %}" class="navbar_a_withcolor_red forthe_web">Get Started</a>
                        </li>
                        {#                        {% else %}#}
                        {% if not user %}
                            {#                            <li class="hidden-xs hidden-sm">#}
                            {#                                <a href="{% url 'login' %}" class="navbar_a_withcolor_red forthe_web" style="background-color: #4cae4c !important;">Get Started</a>#}
                            {#                            </li>#}
                            <li class="navbar_li_with_marginbottom visible-xs visible-sm">
                                <a href="{% url 'login' %}" class="navbar_a_withcolor_red forthe_mobile">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">
                <li class="hidden-xs hidden-sm" style="margin-right: 10px;">
                    <a href="{% url 'get_started' %}" class="navbar_a_withcolor_red suc forthe_web"
                       style="margin-right: 0;">Get Started</a>
                </li>
                {% if not user %}
                    <li class="hidden-xs hidden-sm">
                        <a href="{% url 'login' %}" class="navbar_a_withcolor_red forthe_web"
                           style="margin-right: 0;">Login</a>
                    </li>
                {% endif %}
                {% if user %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img src="/static/images/user.svg" style="height: 35px" class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <i class="ion-chevron-down filter-dropdown"></i>
                        </button>
{#                        <a href="#" class="header-wrapicon1 dis-block dropdown-toggle dropbtn" data-toggle="dropdown">#}
{#                            <img src="/static/shop/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">#}
{#                            <i class="ion-chevron-down filter-dropdown"></i>#}
{#                        </a>#}
{#                        <div class="dropdown-content">#}
{#                            <a onclick="appendURL('order_by', 'reviews_count')" class="g_inactive" id="reviews_count">Reviews</a>#}
{#                            <a onclick="appendURL('order_by', 'rating')" class="g_inactive" id="rating">Rating</a>#}
{#                            <a onclick="appendURL('order_by', 'therapy_sessions')" class="g_inactive" id="therapy_sessions">Therapy Sessions</a>#}
{#                        </div>#}
                        <ul class="dropdown-content">
                            <li><a href="{% url 'profile' %}"><strong class="hidden-xs hidden-sm">{{ user.username }}</strong></a></li>
                            <li><a href="{% url 'messages' %}">Messages</a></li>
                            <li><a href="{% url 'assessments' %}">Assessments</a></li>
                            <li><a href="{% url 'sessions' %}">Therapy Session</a></li>
                            <li><a href="" ng-click="logout()">Log out</a></li>
                            <!--<li><a href="{% url 'logout' %}">Log out</a></li>-->
                        </ul>
                    </div>
{#                    <div class="dropdown">#}
{#                        <a href="#" class="header-wrapicon1 dis-block dropdown-toggle" data-toggle="dropdown">#}
{#                            <img src="/static/shop/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a></li>#}
{#                            <li><a href="{% url 'messages' %}">Messages</a></li>#}
{#                            <li><a href="{% url 'assessments' %}">Assessments</a></li>#}
{#                            <li><a href="{% url 'sessions' %}">Therapy Session</a></li>#}
{#                            <li><a href="{% url 'logout' %}">Log out</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                {% endif %}

                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <a href="{% url 'cart' %}">
                        <img src="/static/images/shopping-bag.svg" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti" ng-bind="cart.items.length"></span>
                    </a>

                    {#                    <!-- Header cart noti -->#}
                    {#                    <div class="header-cart header-dropdown">#}
                    {#                        <ul class="header-cart-wrapitem">#}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-01.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        White Shirt With Pleat Detail Back#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $19.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {##}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-02.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        Converse All Star Hi Black Canvas#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $39.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {##}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-03.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        Nixon Porter Leather Watch In Tan#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $17.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {##}
                    {#                        <div class="header-cart-total">#}
                    {#                            Total: $75.00#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="header-cart-buttons">#}
                    {#                            <div class="header-cart-wrapbtn">#}
                    {#                                <!-- Button -->#}
                    {#                                <a href="{% url 'cart' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">#}
                    {#                                    View Cart#}
                    {#                                </a>#}
                    {#                            </div>#}
                    {##}
                    {#                            <div class="header-cart-wrapbtn">#}
                    {#                                <!-- Button -->#}
                    {#                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">#}
                    {#                                    Check Out#}
                    {#                                </a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>

        <a href="{% url 'index' %}" class="logo-mobile">
            <img src="{% static 'images/mindcure_logo.png' %}">
            <!--<img src="/static/shop/images/icons/logo.png" alt="IMG-LOGO">-->
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                {% if user %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img src="/static/images/user.svg" style="height: 30px" class="header-icon1 js-show-header-dropdown" alt="ICON">
                            <i class="ion-chevron-down filter-dropdown"></i>
                        </button>
                        <ul class="dropdown-content" style="min-width: 100px; !important;">
                            <li><a href="{% url 'profile' %}" class="f-13"><strong>{{ user.username }}</strong></a></li>
                            <li><a href="{% url 'messages' %}" class="f-13">Messages</a></li>
                            <li><a href="{% url 'assessments' %}" class="f-13">Assessments</a></li>
                            <li><a href="{% url 'sessions' %}" class="f-13">Session</a></li>
                            <li><a href="" ng-click="logout()" class="f-13">Log out</a></li>
                            <!--<li><a href="{% url 'logout' %}" class="f-13">Log out</a></li>-->
                        </ul>
                    </div>
                {% endif %}

{#                <span class="linedivide2"></span>#}

                <div class="header-wrapicon2">
                    <a href="{% url 'cart' %}">
                        <img src="/static/images/shopping-bag.svg" class="header-icon1" alt="ICON">
                        <span class="header-icons-noti" ng-bind="cart.items.length"></span>
                    </a>

                    {#                    <!-- Header cart notification -->#}
                    {#                    <div class="header-cart header-dropdown">#}
                    {#                        <ul class="header-cart-wrapitem">#}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-01.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        White Shirt With Pleat Detail Back#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $19.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {##}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-02.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        Converse All Star Hi Black Canvas#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $39.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {##}
                    {#                            <li class="header-cart-item">#}
                    {#                                <div class="header-cart-item-img">#}
                    {#                                    <img src="/static/shop/images/item-cart-03.jpg" alt="IMG">#}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="header-cart-item-txt">#}
                    {#                                    <a href="#" class="header-cart-item-name">#}
                    {#                                        Nixon Porter Leather Watch In Tan#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <span class="header-cart-item-info">#}
                    {#                                        1 x $17.00#}
                    {#                                    </span>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {##}
                    {#                        <div class="header-cart-total">#}
                    {#                            Total: $75.00#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="header-cart-buttons">#}
                    {#                            <div class="header-cart-wrapbtn">#}
                    {#                                <!-- Button -->#}
                    {#                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">#}
                    {#                                    View Cart#}
                    {#                                </a>#}
                    {#                            </div>#}
                    {##}
                    {#                            <div class="header-cart-wrapbtn">#}
                    {#                                <!-- Button -->#}
                    {#                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">#}
                    {#                                    Check Out#}
                    {#                                </a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <!--<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">-->
                <!--<span class="topbar-child1">-->
                <!--Free shipping for standard order over $100-->
                <!--</span>-->
                <!--</li>-->

                <!--<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">-->
                <!--<div class="topbar-child2-mobile">-->
                <!--<span class="topbar-email">-->
                <!--fashe@example.com-->
                <!--</span>-->

                <!--<div class="topbar-language rs1-select2">-->
                <!--<select class="selection-1" name="time">-->
                <!--<option>USD</option>-->
                <!--<option>EUR</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->

                <li class="item-topbar-mobile p-l-10" style=" margin-top: -5px;">
                    <div class="topbar-social-mobile">
                        <a target="_blank"
                           href="https://www.facebook.com/mind.cure.52?hc_ref=ARQa6KRm26UCYrJQYZI5tqVa4FySnpTNdsggF9GXMzbWVT-Lfd2zuHat-aHrfJcVg6Q&fref=nf"
                           class="topbar-social-item">
                            <img src="{% static 'images/facebook-logo.svg' %}" height="30px">
                        </a>
                        <!--<a href="#" class="topbar-social-item fa fa-instagram"></a>-->
                        <a target="_blank" href="https://twitter.com/@MiNDCuRE_Global" class="topbar-social-item">
                            <img src="{% static 'images/twitter-social.svg' %}" height="30px">
                        </a>
                        <a href="https://www.linkedin.com/in/mind-cure-7766a2156/" target="_blank" class="topbar-social-item">
                            <img src="{% static 'images/linkedin-logo.svg' %}" height="30px">
                        </a>
                        <!--<a target="_blank" href="https://plus.google.com/116232789782286024169" class="topbar-social-item">-->
                            <!--<img src="{% static 'images/google-plus-social-logotype.svg' %}" height="30px">-->
                        <!--</a>-->
                         <a target="_blank" href="https://www.instagram.com/mindcure_global" class="topbar-social-item">
                            <img src="{% static 'images/instagram.svg' %}" height="30px">
                         </a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'get_started' %}">Get Started</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'index' %}">Home</a>
                </li>

{#                <li class="item-menu-mobile">#}
{#                    <a href="{% url 'therapists' %}">Therapists</a>#}
{#                </li>#}

                <li class="item-menu-mobile">
                    <a href="{% url 'shop' %}">Shop</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'about' %}">About</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ settings.BLOG_URL }}">Blog</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ settings.FORUM_URL }}">Community</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'contact' %}">Contact Us</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="item-menu-mobile">
                        <a href="{% url 'sessions' %}">Sessions</a>
                    </li>
                    <li class="item-menu-mobile">
                        <a href="" ng-click="logout()">Log out</a>
                        <!--<a href="{% url 'logout' %}">Log out</a>-->
                    </li>
                {% else %}
                    <li class="item-menu-mobile">
                        <a href="{% url 'login' %}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
