<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    {% include 'partials/style.html' %}

</head>
<body class="animsition" ng-app="mindcureApp" ng-controller="BaseController" ng-init="init({{ session_cart }})">

{% include 'shop/header.html' %}
<toast></toast>

{% block body %}
{% endblock %}

{% include 'partials/footer.html' %}

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>

    {% include 'partials/scripts.html' %}
    {% block scripts %}
    {% endblock %}


</body>
</html>
