{% extends 'shop/layout.html' %}
{% block body %}
    <style>
         @media only screen and (min-width: 640px) {
             <!--footer {-->
               <!--position: fixed;-->
               <!--left: 0;-->
               <!--bottom: 0;-->
               <!--width: 100%;-->
            <!--}-->
        }
        mark {
            background: #AF5100 !important;
            padding: 8px;
            color: #fff !important;
            border-radius: 20px;
            font-size: 10px
        }
    </style>
    <!-- Content page -->
    {% load humanize %}
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						<ul class="p-b-54 list-inline">
							<li class="p-t-4">
								<a href="/shop?category=all" id="all" class="s_text13 s_inactive">
									All
								</a>
							</li>
                            {% for category in categories %}
							<li class="p-t-4">
								<a href="/shop?category={{ category.slug }}" id="{{ category.slug }}" class="s_text13 s_inactive">
									{{ category.name.title }}
								</a>
							</li>
                            {% endfor %}
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                                <div class="search-product pos-relative bo4 of-hidden">
                                    <form method="get" action="{{ request.path }}">
{#                                        {% csrf_token %}#}
                                        <input class="s-text7 size6 p-l-23 p-r-50 search-form" style="height: 36px" type="text" name="q" placeholder="Search Products...">
                                    </form>
                                </div>
							</div>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Showing {{ products.start_index }} – {{ products.end_index }} of {{ paginator.count }} results
						</span>
					</div>

					<!-- Product -->
                    {% if products.object_list|length > 0 %}
					<div class="row">
						{% for product in products %}
                            <div class="col-sm-12 col-md-6 col-lg-4 p-b-50 infinite-item">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                        <img src="/media/{{ product.cover_image }}" alt="IMG-PRODUCT">

                                        <div class="block2-overlay trans-0-4" ng-if="itemAvailable({{ product.id }})">
                                            <div class="block2-btn-addcart w-size1 trans-0-4" ng-show="itemAvailable({{ product.id }})">
                                                <!-- Button -->
                                                {% csrf_token %}
                                                {% if product.external_url %}
                                                    <a target="_blank" href="{{ product.external_url }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                        View Product
                                                    </a>
                                                {% else %}
                                                    <button ng-click="addToCart({{ product.id }})" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                        Add to Cart
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="block2-txt p-t-20">
                                        <a href="{% url 'product_detail' product.sku %}" class="block2-name dis-block s-text3 p-b-5">
                                            {{ product.name }}
                                        </a>

                                        <small class="p-r-5">
                                            <strong>₦</strong> {{ product.unit_price|intcomma }} &nbsp;<mark ng-hide="itemAvailable({{ product.id }})">Added to cart</mark>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if therapists.has_next %}
                            <a class="infinite-more-link" href="?page={{ therapists.next_page_number }}"></a>
                        {% endif %}

                        <div class="loading" style="display: none;">
                            Loading...
                        </div>
					</div>
                    {% endif %}
{##}
{#                    {% if products.has_other_pages %}#}
{#					<!-- Pagination -->#}
{#                        <div class="pagination flex-m flex-w p-t-26" style="display: inline-flex;">#}
{#                            {% for i in products.paginator.page_range %}#}
{#                                <a href="?page={{ i }}" class="item-pagination flex-c-m trans-0-4 {% if products.number == i %}active-pagination{% endif %}">{{ i }}</a>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                    {% else %}#}
{#                         <div style="height: 220px">#}
{#                            <div style="text-align: center; margin-top: 30px;">#}
{#                                <i class="ion-ios-cart-outline" style="font-size: 80px"></i>#}
{#                                <h5 style="margin: 20px">No inventory in stock</h5>#}
{#                                <a href="{% url 'shop' %}" class="btn-sm btn-primary">Browse Products</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
    <script>

        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });

        $('.search-form').keydown(function(event){
            if (event.keycode == 13) {
                return false;
            }
        });

        var urlParams = new URLSearchParams(window.location.search);

        if (urlParams.has('category')) {
             var _id = '#' + urlParams.get('category');
             $(_id).removeClass('s_inactive').addClass('s_active');
        }
        else {
             $('#all').removeClass('s_inactive').addClass('s_active');
        }

    </script>
{% endblock %}