{% load static from staticfiles %}
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'shop/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'shop/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static 'shop/vendor/bootstrap/js/popper.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'shop/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'shop/vendor/select2/select2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap-multiselect/bootstrap-multiselect.js' %}">
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'shop/js/main.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<script src="{% static 'js/paystack.js' %}"></script>
<script src="{% static 'js/paystack-inline.js' %}"></script>
<!--===============================================================================================-->

