<style>
	.about_image {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.about_image.full h1.visible-sm, .about_image.full h1.visible-xs {
		line-height: 30px;
		color: #fff;
		font-weight: 600;
		font-size: 30px;
	}
	
	.about_image.full p.visible-sm, .about_image.full p.visible-xs {
		color: #fff;
		padding: 0 !important;
		text-align: left !important;
	}
	
	.about_image.full a.visible-sm, .about_image.full a.visible-xs {
		width: 50%;
	}
	
	.about_image.full a.visible-sm:hover, .about_image.full a.visible-xs:hover {
		background: #22220E !important;
	}

	.about-by-3 {
		width: 30%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 15px;
		margin-right: 30px;
	}

	.about-by-3 .img_step{
		background-color: #fff;
		width: 50%;
		margin: auto auto 25px;
		height: 140px;
	}

	.about-by-3 .step_info table tbody {
		width: 100% !important;
		background: #fff !important;
	}

	@media only screen and (min-width: 320px) and (max-width: 823px) {
		.about_image {
			height: 440px;
			background-image: url(/static/images/office.jpg);
			background-size: cover !important;
			background-repeat: no-repeat;
		}

		.about_image.full {
			background-image: url(/static/images/office.jpg) !important;
			height: 87vh !important;
			background-size: cover !important;
			background-position: center center !important;
		}
		
		.about-by-3 {
			width: 100% !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	
		.about-by-3 .img_step {
			width: 100% !important;
			display: inline-block !important;
		}
	
		.about-by-3 .step_info {
			width: 100%;
			display: inline-block;
			padding-left: 0 !important;
		}
	
		.about-by-3 .step_info table {
			display: block;
			padding: 0 20px 0 20px !important;
			width: 100% !important;
			background: #AF5100 !important;
		}

		.about-by-3 .step_info table tbody {
			width: 100% !important;
			background: #fff !important;
		}
	}

</style>

{% extends 'shop/layout.html' %}

{% block body %}
{% load static from staticfiles %}
{#	<div style="margin-top: 80px" class="visible-xs visible-sm"></div>#}
	<!--<section id="vision" class="aboutpage_first_homepage_banner" style="position: relative;clear: both;">-->
		<!--<div class="aboutpage_first_homepage_banner_overlay">-->
			<!---->
		<!--</div>-->

		<!--<table class="aboutus_table_on_banner aboutus_table_on_banner_first" style="top: 20% !important;">-->
			<!--<tr>-->
				<!--<td class="aboutus_table_on_banner_td" style="width: 60%; text-align: left;">-->
					<!--<h1 class="fw-600 f-50 margin-top-50">-->
						<!--Our <br> Vision...-->
					<!--</h1>-->
				<!--</td>-->
				<!--<td class="text_on_aboutus_table_on_banner_different f-13 text_right" style="line-height: 25px;">-->
					<!--We believe that everyone should have access to mental wellness and make them feel and live their best. This is why our vision is providing online therapy platform that is accessible to everyone. We have a team of licensed and certified therapists, coaches and psychologists in different parts of the world to cater to all your mental health needs.-->
				<!--</td>-->
			<!--</tr>-->
		<!--</table>-->
	<!--</section>-->

	<!--<section id="who" class="aboutpage_second_homepage_banner" style="position: relative;clear: both;">-->
		<!--<div class="aboutpage_second_homepage_banner_overlay">-->
			<!---->
		<!--</div>-->

		<!--<table class="aboutus_table_on_banner">-->
			<!--<tr>-->
				<!--<td class="text_on_aboutus_table_on_banner_different f-13 text_left" style="line-height: 25px;">-->
					<!--MiNDCuRE is a connection of people. We believe connection is recovery's ally and we are convinced that mental health comes through self-awareness, trust and connection. We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them. When we know ourselves to be connected to each other, compassion becomes spontaneous.-->
					<!--At MiNDCuRE, everything is informed by our 3 core principles, <b>Get connected, Speak up and Get better</b>-->
				<!--</td>-->
				<!--<td class="aboutus_table_on_banner_td margin-top-40" style="width: 60%; text-align: right;">-->
					<!--<h1 class="fw-600 f-50">-->
						<!--Who We <br> Are...-->
					<!--</h1>-->
				<!--</td>-->
			<!--</tr>-->
		<!--</table>-->
	<!--</section>-->

	<!--<section id="what" class="aboutpage_third_homepage_banner" style="position: relative;clear: both;">-->
		<!--<div class="aboutpage_third_homepage_banner_overlay">-->
			<!---->
		<!--</div>-->

		<!--<table class="aboutus_table_on_banner" style="top: 25% !important;">-->
			<!--<tr>-->
				<!--<td class="aboutus_table_on_banner_td" style="width: 60%; text-align: left;">-->
					<!--<h1 class="fw-600 f-50 margin-top-40">-->
						<!--What We <br> Do...-->
					<!--</h1>-->
				<!--</td>-->
				<!--<td class="text_on_aboutus_table_on_banner f-13 text_right" style="line-height: 23px; !important;">-->
                    <!--The MiNDCuRE online community and therapy solution are designed to foster mental health and make tools available for your mental well-being.-->
					<!--We have established a culture that supports our therapists, so they can provide confidential and exceptional services to you. We do this because your mental health is our greatest value.-->
					<!--&lt;!&ndash;<span class="hidden-xs hidden-sm">The MiNDCuRE e-therapy platform provides an accessible emotional aid and therapy platform through the professional service and rich experience of certified therapists, life coaches and psychologists in different parts of the world, at an affordable rate.</span>&ndash;&gt;-->
                <!--</td>-->
			<!--</tr>-->
		<!--</table>-->
	<!--</section>-->
	<div class="about_image full" style="position: relative; height: 480px !important; background-image: url('/static/images/office.jpg'); !important;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;"></div>
        <div class="hidden-sm hidden-xs mlp-35" style="position: absolute; top: 8.5em; line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;">
            <h2 class="pad-all-15 text_center f-40 mb-30">
                About MiNDCuRE
            </h2>

            <p class="pad-all-15 white f-16 fw-500">MiNDCuRE is here to provide you with more information, <br>answer any questions you may have and create an efficient <br>solution for your therapy needs and mental well being.</p>
        	<p class="text_center margin-top-50"><img src="{% static 'images/down-arrow.svg' %}" height="50px"></p>
		</div>

        <div class="visible-sm visible-xs" style="position: absolute;top: 25%;">
            <h2 class="pad-all-15 text_center white" style="margin: 20px">
                About MiNDCuRE
            </h2>
            <p class="text_center white f-14 fw-500 pad-all-10" style="margin: 20px">MiNDCuRE is here to provide you with more information, answer any questions you may have and create an efficient solution for your therapy needs and mental well being.</p>
       		<p class="text_center margin-top-50"><img src="{% static 'images/down-arrow.svg' %}" height="50px"></p>
        </div>
    </div>
	<div class="container margin-top-30" style="padding: 20px;">
        <div class="">
            <div class="about-by-3" style="background: #AF5100; padding-bottom: 20px;">
                <!--<div class="img_step img_step_3"></div>-->
                <div class="step_info">
                    <table class="white margin-top-20 mb-10" style="width: 100%;">
                        <tbody style="background: #AF5100 !important;">
							<tr>
								<th class="num_right_th f-20 text_center">Our Vision</th>
							</tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
							<tr>
								<td class="steps pad-all-30 pad-right-30">
									We believe that everyone should have access to mental wellness and make them feel and live their best.
									This is why our vision is providing online therapy platform that is accessible to everyone.
									We have a team of licensed and certified therapists, coaches and psychologists in different parts
									of the world to cater to all your mental health needs.
								</td>
								<!--<td class="steps steps_mobile visible-xs visible-sm pad-all-25">-->
									<!--We believe that everyone should have access to mental wellness and make them feel and live their best.-->
									<!--This is why our vision is providing online therapy platform that is accessible to everyone.-->
									<!--We have a team of licensed and certified therapists, coaches and psychologists in different parts-->
									<!--of the world to cater to all your mental health needs.-->
								<!--</td>-->
							</tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="about-by-3" style="background: #AF5100; padding-bottom: 20px;">
                <!--<div class="img_step img_step_3"></div>-->
                <div class="step_info">
                    <table class="white margin-top-20 mb-10" style="width: 100%;">
                        <tbody style="background: #AF5100 !important;">
							<tr>
								<th class="num_right_th f-20 text_center">What We Do</th>
							</tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
							<tr>
								<td class="steps pad-all-30 pad-right-30">
									The MiNDCuRE online community and therapy solution are designed to foster mental health
									and make tools available for your mental well-being.
									We have established a culture that supports our therapists, so they can provide confidential
									and exceptional services to you. We do this because your mental health is our greatest value.
									<!--The MiNDCuRE e-therapy platform provides an accessible emotional aid and therapy platform-->
									<!--through the professional service and rich experience of certified therapists, life coaches-->
									<!--and psychologists in different parts of the world, at an affordable rate.-->
								</td>
							</tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
			<div class="about-by-3" style="background: #AF5100; padding-bottom: 20px;">
                <!--<div class="img_step img_step_3"></div>-->
                <div class="step_info">
                    <table class="white margin-top-20 mb-10" style="width: 100%;">
                        <tbody style="background: #AF5100 !important;">
							<tr>
								<th class="num_right_th f-20 text_center">Who We Are</th>
							</tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
							<tr>
								<td class="steps pad-all-30 pad-right-30">
									MiNDCuRE is a connection of people. We believe connection is recovery's ally and
									we are convinced that mental health comes through self-awareness, trust and connection.
									We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them.
									When we know ourselves to be connected to each other,
									<!--compassion becomes spontaneous.-->
									<!--At MiNDCuRE, everything is informed by our 3 core principles, <span class="fw-600">Get connected, Speak up and Get better</span>-->
								</td>
							</tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
			<!--<div class="about-by-3">-->
                <!--&lt;!&ndash;<div class="img_step img_step_4"></div>&ndash;&gt;-->
                <!--<div class="step_info ml-40 visible-md visible-lg">-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th class="num_right_th f-20">What We Do</th>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                    <!--<table class="pull-right" style="padding: 5px 0 0 10px;">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="steps hidden-xs hidden-sm ml-40">-->
                               	<!--The MiNDCuRE online community and therapy solution are designed to foster mental health-->
								<!--and make tools available for your mental well-being.-->
								<!--We have established a culture that supports our therapists, so they can provide confidential-->
								<!--and exceptional services to you. We do this because your mental health is our greatest value.-->
								<!--The MiNDCuRE e-therapy platform provides an accessible emotional aid and therapy platform-->
								<!--through the professional service and rich experience of certified therapists, life coaches-->
								<!--and psychologists in different parts of the world, at an affordable rate.-->
                            <!--</td>-->
                            <!--<td class="steps steps_mobile visible-xs visible-sm">-->
                                <!--The MiNDCuRE online community and therapy solution are designed to foster mental health-->
								<!--and make tools available for your mental well-being.-->
								<!--We have established a culture that supports our therapists, so they can provide confidential-->
								<!--and exceptional services to you. We do this because your mental health is our greatest value.-->
								<!--The MiNDCuRE e-therapy platform provides an accessible emotional aid and therapy platform-->
								<!--through the professional service and rich experience of certified therapists, life coaches-->
								<!--and psychologists in different parts of the world, at an affordable rate.-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--<div class="step_info visible-xs visible-sm">-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th class="num_right_th f-20">Who We Are</th>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                    <!--<table class="pull-right" style="padding: 5px 0 0 10px;">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="steps hidden-xs hidden-sm ml-40">-->
                                 <!--MiNDCuRE is a connection of people. We believe connection is recovery's ally and-->
								<!--we are convinced that mental health comes through self-awareness, trust and connection.-->
								<!--We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them.-->
								<!--When we know ourselves to be connected to each other, compassion becomes spontaneous.-->
								<!--At MiNDCuRE, everything is informed by our 3 core principles, <span class="fw-600">Get connected, Speak up and Get better</span>-->
                            <!--</td>-->
                            <!--<td class="steps steps_mobile visible-xs visible-sm">-->
                                 <!--MiNDCuRE is a connection of people. We believe connection is recovery's ally and-->
								<!--we are convinced that mental health comes through self-awareness, trust and connection.-->
								<!--We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them.-->
								<!--When we know ourselves to be connected to each other, compassion becomes spontaneous.-->
								<!--At MiNDCuRE, everything is informed by our 3 core principles, <span class="fw-600">Get connected, Speak up and Get better</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="about-by-3">-->
                <!--&lt;!&ndash;<div class="img_step img_step_5"></div>&ndash;&gt;-->
                <!--<div class="step_info">-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th class="num_right_th f-20">Who We Are</th>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                    <!--<table class="pull-right" style="padding: 5px 0 0 10px;">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="steps hidden-xs hidden-sm">-->
                                <!--MiNDCuRE is a connection of people. We believe connection is recovery's ally and-->
								<!--we are convinced that mental health comes through self-awareness, trust and connection.-->
								<!--We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them.-->
								<!--When we know ourselves to be connected to each other, compassion becomes spontaneous.-->
								<!--At MiNDCuRE, everything is informed by our 3 core principles, <span class="fw-600">Get connected, Speak up and Get better</span>-->
                            <!--</td>-->
                            <!--<td class="steps steps_mobile visible-xs visible-sm">-->
                                <!--MiNDCuRE is a connection of people. We believe connection is recovery's ally and-->
								<!--we are convinced that mental health comes through self-awareness, trust and connection.-->
								<!--We have a team driven by passion to help people live fully, by taking a quick glimpse into the hidden treasures that lie in them.-->
								<!--When we know ourselves to be connected to each other, compassion becomes spontaneous.-->
								<!--At MiNDCuRE, everything is informed by our 3 core principles, <span class="fw-600">Get connected, Speak up and Get better</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->

        </div>
        ​<!-- end outer row -->
    </div>
{% endblock %}