{% extends 'shop/layout.html' %}

{% block body %}
<style>
        .dot {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
        }

        .numberCircle {
            border-radius: 50%;
            behavior: url(PIE.htc);
            width: 60px;
            height: 60px;
            padding: 20px;
            background: dimgrey;
            border: 2px solid #666;
            color: #fff;
            font: 22px Arial, sans-serif;
        }

        .left_over {
            border: 1px solid dimgrey;
            background: #22220E;
            color: #fff;
            padding: 8px;
            font-size: 12px
        }
        .question_body {
            border-radius: 25px;
            border: 1px solid lightgrey;
            padding: 20px;
            background: #22220E;
            color: #fff;
            font-size: 25px;
            margin: 0 140px;
        }

        .question_counter {
            border-radius: 50%;
            border: 1px solid dimgrey;
            padding: 20px;
            margin-right: 15px;
            font-size: 20px
        }

        input[type=radio] {
          position: absolute;
          visibility: hidden;
          display: none;
          margin-right: 10px
        }

        label {
          color: lightgrey;
          display: inline-block;
          cursor: pointer;
          font-weight: bold;
          padding: 5px 20px;
          margin-bottom: 0;
          border-right: 2px solid lightgrey;
        }

        input[type=radio]:checked + label{
          color: #fff;
          background: #AF5100;
        }

        label + input[type=radio] + label {
          border-left: solid 3px lightgrey;
        }

        .radio-group {
          border: solid 3px lightgrey;
          display: inline-block !important;
          margin: 50px 250px 0 200px;
          border-radius: 10px;
          overflow: hidden;
        }

         @media only screen and (max-width: 992px) {
             .question_body {
                border-radius: 25px;
                border: 1px solid lightgrey;
                padding: 20px;
                background: #22220E;
                font-size: 15px;
                margin: 0;
                margin-bottom: 30px;
            }

            input[type=radio]:checked + label {
                color: #fff !important;
                background: #22220E;
            }

        }

        .assessment_title {
            font-family: inherit;
            font-weight: 600;
            font-size: 25px;
        }

        .assessment_question {
            color: dimgrey;
            line-height: 1.5;
            font-size: 14px;
        }

        @media only screen and (max-width: 640px) {

            .assessment_title {
                font-family: inherit;
                font-size: 16px;
                font-weight: 600;
                text-align: center
            }

        }

        .disclaimer_note {
             margin: 40px;
            font-size: 12px;
            color: dimgrey;
        }

</style>
<div style="background-color: #fbfbfb;" ng-init="init_assessment({{ questions_serialized}})">
    <div class="container header_name">
        <span class="assessment_title">{{ test.title }}</span>
    </div>

    <div class="container header_name">
        <form action="{{ request.path }}" method="post" id="testForm">
            {% csrf_token %}
            <div class="fieldshiled">
                <p>{{ test.description }}</p>
                <br>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div ng-repeat="question in questions">
                     <div class="col-md-12 col-lg-12" ng-show="responses.current_question == $index">
                        <div class="form-group">
                            <fieldset class="text_center ">
                                <div class="mb-40 margin-top-20">
                                    <span class="question_counter">[[ $index + 1 ]].</span>
                                    <span class="left_over">of [[ questions.length ]]</span>
                                </div>
                                <div class="text_center mb-30 question_body" ng-bind="question.body"></div>
                                <div class="radio-group hidden-xs hidden-sm">
                                    <span ng-repeat="resp in question.responses">
                                        <input type="radio" name="[[ question.id ]]" id="[[ resp.id ]]_[[ question.id ]]" ng-model="question.response" value="[[ resp.name ]]" required>
                                        <label class="f-16" for="[[ resp.id ]]_[[ question.id ]]" ng-bind="resp.name "></label>
                                    </span>
                                </div>
                                <div class="funkyradio visible-xs visible-sm">
                                    <div class="funkyradio-success" ng-repeat="resp in question.responses">
                                        <input type="radio" name="[[ question.id ]]" ng-model="question.response" id="[[ resp.id ]]_[[ question.id ]]" value="[[ resp.name ]]" required>
                                        <label for="[[ resp.id ]]_[[ question.id ]]">[[ resp.name ]]</label>
                                    </div><br>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" style="float: right" ng-show="responses.current_question == $index">
                        <div class="col-md-12">
                            <div class="form-group mR-30">
                                <button type="button" ng-click="prev_pt_question()" class="btn btn-warning" ng-hide="$first">
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="!question.response" ng-hide="$last" ng-click="next_pt_question()">Next</button>
                                <button type="submit" class="btn btn-success" ng-show="$last">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row disclaimer_note">
        <div class="text_center">
            <h4><b>Disclaimer</b></h4>
            The information on this page is not intended to be a substitution for diagnosis, treatment, or informed professional advice. <br>
            You should not take any action or avoid taking any action without consulting with a qualified mental health professional. <br>
            For more information, please read our terms of use which contains some help line resources.
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#testForm").validate({
            ignore: [],
            submitHandler: function (form) {
                // do other things for a valid form
                form.submit();
            }
        });
    })

    $('label').click(function(e) {
        console.log(e)
        e.preventDefault();
        $("#"+$(this).attr("for")).click().change();
    })

</script>
{% endblock %}