{% extends 'shop/layout.html' %}

{% block body %}
    <style>
        .assessment_title {
            font-family: inherit;
            font-weight: 600;
            font-size: 25px;
        }


        .assessment_question {
            color: dimgrey;
            line-height: 1.5;
            font-size: 14px;
        }

         @media only screen and (min-width: 640px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }
        }

        @media only screen and (max-width: 640px) {

            .assessment_title {
                font-family: inherit;
                font-size: 16px;
                font-weight: 600;
                text-align: center
            }
        }
        #parent {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }

        #child {
          <!--width: 100px;-->
          padding: 20px;
          color: #fff;
          background: #af5100;
        }
    </style>
    <div style="background-color: #fbfbfb; padding: 20px 0px;">
        <div class="container header_name">
            <span class="assessment_title">{{ assessment.title }}</span>
        </div>

        <div class="container header_name">
            <div class="fieldshiled">
                <p>{{ assessment.description }}</p>
                <br>
                <!--<div>-->
                    <!--<center style="padding: 20px; margin: 0 20px 20px 20px; color: white; background: #af5100">-->
                        <!--<h5>You scored {{ user_assessment.score }} on this assessment test</h5>-->
                    <!--</center>-->
                <!--</div>-->
                <div id="parent">
                  <div id="child">
                      <h5 style="padding: 10px 15px 0px 15px; margin-bottom: 20px">You scored {{ user_assessment.score }} on this assessment test!</h5>
                  </div>
                </div>
                <b>Your responses</b>
            </div>

            <div class="row" style="margin-top: 15px;">
                {% for resp in user_assessment.responses.all %}
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="assessment_question">{{ forloop.counter }}.&nbsp;{{ resp.question }}</span>
                            <div class="col-md-6">
                                <p class="black">{{ resp.response }}</p>
                            </div>
                        </div><br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}