<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-webfont.eot' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-webfont.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-webfont.woff' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-webfont.woff2' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexquery.css' %}"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="{% static 'js/global.js' %}"></script>
</head>
<body class="login">
{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="panel-group login-box" id="accordion">
            <!--<h2 class="text-center">-->
            <!--Get Connected, Get Better-->
            <!--</h2>-->

            <div class="panel panel-default floral-white">
                <div class="panel-heading" style="background-color: inherit">
                    <h4 class="panel-title">
                        <label for='register' class="authentication_label" style='width: 350px;'>
                            <input type='radio' id='register' name='toggle' value='register' required/> <b
                                class="authentication_bold">Join Us</b>.
                            <small class="form-text text-muted">
                                New to MindCure?
                            </small>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="{% url 'register' %}">
                             <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                                       placeholder="Enter username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                                       placeholder="Enter username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       autocomplete="new-password" placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-md btn-success">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ivory">
                <div class="panel-heading" style="background-color: inherit">
                    <h4 class=panel-title>
                        <label for='login' class="authentication_label" style='width: 350px;'>
                            <input type='radio' id='login' name='toggle' value='login' required/><b
                                class="authentication_bold">Sign In</b>.
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% if flashes %}
                            <div>
                                {% for message in flashes %}
                                    <p {% if message.tags == 'error' %} style="color: #a41515" {% else %} style="color: limegreen" {% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                                       placeholder="Enter username" name="username" required>
                                <small id="emailHelp" class="form-text text-muted">
                                    you can use either your username or email to access your account
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       autocomplete="new-password" placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-md btn-success">Submit</button>
                                </div>
                                <div class="float-left">
                                    Login via
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#register').on('click', function () {
        $(this).parent().find('a').trigger('click');
        $('#login').parent().find('a').trigger('click')
    });

    $('#login').on('click', function () {
        $(this).parent().find('a').trigger('click');
        $('#register').parent().find('a').trigger('click')
    });

    $(document).ready(function () {
        $('#login').parent().find('a').trigger('click');
    })
</script>
</body>
</html>
{% extends '../auth_layout.html' %}
{% block title %}
    <title>MindCure | Sign In</title>
{% endblock %}
{% block content %}
    <body class="login">
    {% include 'header.html' %}
    <div class="container">
        <div class="row">
            <div class="panel-group login-box">
                <!--<h2 class="text-center">Get Connected, Get Better</h2>-->

                <div class="panel panel-default ivory">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Sign In</h1>
                    </div>
                    <div class="panel-body">
                        <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <div class="float-right">
                                <button type="submit" class="btn btn-md btn-success">Submit</button>
                            </div>
                            <div class="float-left">
                                Login via
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="divider"></div>
                    <h3 class="text-center">New User? <a href="{% url 'register'%}">Join Us</a></h3>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}


