{% extends 'shop/layout.html' %}

{% block body %}
    <style>
    .mark {
        color: #fff;
        background: #AF5100;
    }
    .contact {
        width: 100%;
        height: 630px;
        margin: 15px;
        background-color: #22220E
    }

    @media only screen and (min-width: 320px) and (max-width: 374px) {
        .contact {
            width: 95%;
            height: 500px;
            background-color: #22220E;
        }
    }

    .contact_us {
        margin: 20px;
        font-size: 14px;
        text-align: justify;
    }
    </style>
	<!-- <div class="contact_main_body">
		<div class="left_for_map">
			<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=37%20plantaintion%20road%20gra%20ilorin%20kwara%20state+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/">Create Google Map</a></iframe></div><br />
		</div>
		<div class="right_for_map">
			<form>
				<span class="contact_form_title">
					Contact Us
				</span>a
			</form>
		</div>
	</div> -->
		<div class="row">
			<div class="col-md-6">
				<div class="contact ghost_border">
                    <div style="position: absolute; top: 15%; left: 12%; text-align:left; padding: 20px;">
                        <h1 style=" line-height: 1.5em; color: #fff; font-weight: bolder; font-family: aktiv-grotesk !important;">
                            Contact Us
                        </h1>

                        <p style="margin:15px 0; line-height: 1.5em; color: #fff; font-weight: 600; font-family: aktiv-grotesk !important;font-size: 18px;">

                        </p>
                        <ul>
                            <li class="white pb-10"><i class="ion-location f-25 pad-right-20"></i>
                                <span class="f-18">14 Ebinpejo Lane, Idumota, Lagos.</span>
                            </li>
                            <li class="white f-18 pb-10"><i class="ion-android-call f-25 pad-right-20"></i>+234 908-87654</li>
                            <li class="white f-18 pb-10"><i class="ion-android-mail f-25 pad-right-20"></i>info@mindcureglobal.com</li>
                        </ul>
                    </div>
{#                    <iframe width="100%" style="height: 100vh;" src="https://maps.google.com/maps?width=100%&amp;height=800&amp;hl=en&amp;q=otedola%20estate%20omole%20phase%202+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>#}
                </div>
			</div>
			
			<div class="col-md-6  col-sm-12 col-xs-12" style="padding-right: inherit;">
                <div style="padding: 15px 20px 15px 15px;">
                    <h1 style="color: #AF5100; font-size: 38px; text-align: center; margin: 20px 0px; font-family: inherit">
                       Send Us An Email
                    </h1>
                    <p class="contact_us">
                        Do you have an inquiry, question, feedback or a concern, and you want an immediate answer? Take a look at our 
                        <a href="{% url 'faq' %}"><b class="f-12">frequently asked questions</b></a>. For further enquiries, please fill out the form below and we'd be happy to help!
                        <br><br>
                        You wanna join us at MiNDCuRE as a content partner?  Send a mail to us. We have an amazing relationship with our free and premium content partners. Write to us below.
                    </p>
                </div>
                <form style="margin: 0 35px;">
                	<div class="form-group">
	                    <label for="exampleInputEmail1">Name</label>
	                    <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
	                </div>

	                <div class="form-group">
	                    <label for="exampleInputEmail1">Email</label>
	                    <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
	                </div>

	                <div class="form-group">
	                    <label for="exampleInputEmail1">Phone <mark>not required</mark></label>
	                    <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
	                </div>

	                <div class="form-group">
	                    <label for="exampleInputEmail1">Message</label>
	                    <textarea style="border: 1px solid #eee !important;"></textarea>
	                </div>

	                <button type="button" class="btn btn-md" style="background-color: #AF5100; color: #fff; float: right;">
						Send <i class="ion-thumbsup"></i>
					</button>
                    <div class="clearfix" style="margin: 10px 0;"></div>

                </form>
            </div>
			<!-- <div class="col-md-6">
				<div class="right_for_map">
					<form>
						<span class="contact_form_title">
							Contact Us
						</span>

						<div class="input_parent">
							<span class="label-input100">
								Name
							</span>
							<input type="text" class="input100" placeholder="" name="name" id="name">
						</div>

						<div class="input_parent">
							<span class="label-input100">
								Email
							</span>
							<input type="text" class="input100" placeholder="" name="email" id="email">
						</div>

						<div class="input_parent">
							<span class="label-input100">
								Phone
							</span>
							<input type="text" class="input100" placeholder="" name="phone">
						</div>

						<div class="input_parent">
							<span class="label-input100">
								Message
							</span>
							<textarea class="input100" name="message" id="message"></textarea>
						</div>

						<div style="width: 15%; margin: auto;">
							<button type="button" class="btn btn-lg" style="background-color: #F7BD3E; color: #fff;">
								Send
							</button>
						</div>
					</form>
				</div>
			</div> -->
		</div>
{% endblock %}