<style>
	.about_image {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.about_image.full h1.visible-sm, .about_image.full h1.visible-xs {
		line-height: 30px;
		color: #fff;
		font-weight: 600;
		font-size: 30px;
	}

	.about_image.full p.visible-sm, .about_image.full p.visible-xs {
		color: #fff;
		padding: 0 !important;
		text-align: left !important;
	}

	.about_image.full a.visible-sm, .about_image.full a.visible-xs {
		width: 50%;
	}

	.about_image.full a.visible-sm:hover, .about_image.full a.visible-xs:hover {
		background: #22220E !important;
	}

	.about-by-3 {
		width: 30%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 15px;
		margin-right: 30px;
	}

	.about-by-3 .img_step{
		background-color: #fff;
		width: 50%;
		margin: auto auto 25px;
		height: 140px;
	}

	.about-by-3 .step_info table tbody {
		width: 100% !important;
		background: #fff !important;
	}

	@media only screen and (min-width: 320px) and (max-width: 823px) {
		.about_image {
			height: 440px;
			background-image: url(/static/images/office-581131_960_720.jpg);
			background-size: cover !important;
			background-repeat: no-repeat;
		}

		.about_image.full {
			background-image: url(/static/images/office-581131_960_720.jpg) !important;
			height: 87vh !important;
			background-size: cover !important;
			background-position: center center !important;
		}

		.about-by-3 {
			width: 100% !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
		}

		.about-by-3 .img_step {
			width: 100% !important;
			display: inline-block !important;
		}

		.about-by-3 .step_info {
			width: 100%;
			display: inline-block;
			padding-left: 0 !important;
		}

		.about-by-3 .step_info table {
			display: block;
			padding: 0 20px 0 20px !important;
			width: 100% !important;
			background: #AF5100 !important;
		}

		.about-by-3 .step_info table tbody {
			width: 100% !important;
			background: #fff !important;
		}
	}

	/* HIDE RADIO */
    [type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
      outline: 2px solid dimgrey;
      margin-bottom: 20px;
      padding: 20px
    }

    .img_label {
        margin: 30px
    }

    .img_src {
        height: 140px;
        padding-bottom: 20px;
    }

    .img_caption {
        font-size: 10px;
        color: dimgrey
    }

</style>

{% extends 'shop/layout.html' %}

{% block body %}
{% load static from staticfiles %}
	<div class="about_image full" style="position: relative; height: 480px !important; background-image: url('/static/images/office-581131_960_720.jpg'); !important;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;"></div>
        <div class="hidden-sm hidden-xs mlp-35" style="position: absolute; top: 6.5em; line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;">
            <h2 class="pad-all-15 text_center f-40 mb-30">
                Contact Us
            </h2>

            <p class="pad-all-15 white f-16 fw-500">MiNDCuRE is here to provide you with more information, <br>answer any questions you may have and create an efficient <br>solution for your therapy needs and mental well being.</p>
        	<p class="text_center margin-top-80"><img src="{% static 'images/chevron-sign_down.svg' %}" height="50px"></p>
		</div>

        <div class="visible-sm visible-xs" style="position: absolute;top: 15%;">
            <h2 class="pad-all-15 text_center white" style="margin: 20px">
                Contact Us
            </h2>
            <p class="text_center white f-14 fw-500 pad-all-10" style="background: #22220E; margin: 20px">MiNDCuRE is here to provide you with more information, answer any questions you may have and create an efficient solution for your therapy needs and mental well being.</p>
       		<p class="text_center margin-top-90"><img src="{% static 'images/chevron-sign_down.svg' %}" height="50px"></p>
        </div>
    </div>
	<div class="container margin-top-30" style="padding: 20px;">
        <form style="margin: 0 35px; padding-bottom: 50px" method="post" action="{{ request.path }}">
            {% csrf_token %}
            <div class="form-group text_center">
                <label class="img_label">
                  <input type="radio" name="subject" value="Content Partner Request" checked>
                  <img class="img_src" src="/static/images/seo-consulting.svg"><br>
                    <span class="img_caption">You want to be a content partner</span>
                </label>

                <label class="img_label">
                  <input type="radio" name="subject" value="Feedback">
                  <img class="img_src" src="/static/images/subscribe.svg"><br>
                    <span class="img_caption">Feedback on our services and products?</span>
                </label>
                <label class="img_label">
                    <input type="radio" name="subject" value="Reporting a problem">
                    <img class="img_src" src="/static/images/chatLock.svg"><br>
                    <span class="img_caption">Report a problem?</span>
                </label>
            </div><br>
            {% if flashes %}
                <div class="text_center">
                    {% for message in flashes %}
                        <div {% if message.tags == 'error' %}
                            class="alert alert-danger alert-dismissable" {% else %}
                            class="alert alert-success alert-dismissable" {% endif %}>
                            <button type="button" class="close" data-dismiss="alert">&times;
                            </button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group col-md-4">
{#                <label for="name">Name</label>#}
                <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Your name" required>
                {% if form.name.errors %}
                    <ol>
                        {% for error in form.name.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-group col-md-4">
{#                <label for="email">Email</label>#}
                <input type="email" style="border: 1px solid #eee !important;" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Your email" required>
                {% if form.email.errors %}
                    <ol>
                        {% for error in form.email.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-group col-md-4">
{#                <label for="phone">Phone <mark>not required</mark></label>#}
                <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder="Your phone">
                {% if form.phone.errors %}
                    <ol>
                        {% for error in form.phoen.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-group col-md-12">
{#                <label for="message">Message</label>#}
                <textarea style="border: 1px solid #eee !important;" id="message" placeholder="Your Message" name="message" required></textarea>
                {% if form.message.errors %}
                    <ol>
                        {% for error in form.message.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="col-md-12">
                <div style="float: left">
                    <span class="fw-600 mR-05">Address:</span><span class="f-12">1684, Sanusi Fafunwa Str, VI, Lagos.</span><br>
                    <span class="fw-600 mR-05">Phone:</span><span class="f-12">+2349090333500</span>
                </div>
                <button type="submit" class="btn btn-md" style="background-color: #AF5100; color: #fff; float: right;">
                    Send <i class="ion-thumbsup"></i>
                </button>
            </div>

            <div class="clearfix" style="margin: 10px 0;"></div>

        </form>
    </div>
{% endblock %}