{% extends 'shop/layout.html' %}

{% block body %}
    <div style="background-color: #fbfbfb; padding: 20px">
        <div class="container header_name">
            <h1 style="font-family: inherit;">
                Mindcure Practitioner
            </h1>
        </div>

        <div class="container header_name">
            <div class="fieldshiled">
                <h4 class="fw-600">Description</h4>
                <br>

                <p>
                    Welcome to MiNDCuRE !
                    <br><br>
                    MiNDCuRE is an evolving online therapy solution for therapists -- a more accessible and affordable means to provide online therapy to millions of people in need.
                    We are pumped to have you on this page supposedly with an interest to join our team of verified and licensed therapists.
                    Kindly take a few minutes to filling the blanks below and we will get back to you soonest.
                    <br><br>
                    The MiNDCuRE  Team
                </p>
                <br>
            </div>

            <form method="post" action="{{ request.path }}" id="SetupForm" enctype="multipart/form-data">
                {% csrf_token %}
                {% if flashes %}
                    <div>
                        {% for message in flashes %}
                            <div {% if message.tags == 'error' %}
                                class="alert alert-danger alert-dismissable" {% else %}
                                class="alert alert-success alert-dismissable" {% endif %}>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div id="error-message" style="color:red; margin-bottom: 10px"></div>
                <div class="fieldshiled">
                    <h4 style="font-family: inherit; font-weight: 600; margin-top: 20px;">Personal Information</h4>
                    <br>

                    <div style="padding-top: 0px;">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" style="border: 1px solid #eee !important;" class="form-control"
                                           id="email" aria-describedby="emailHelp"
                                           name="email" placeholder="Enter email address" value="{{ form.email.data }}"
                                           required>
                                    {% if form.email.errors %}
                                        <ol>
                                            {% for error in form.email.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" style="border: 1px solid #eee !important;"
                                           class="form-control"
                                           name="password" id="password" aria-describedby="passwordHelp"
                                           placeholder="Enter password" required>
                                    {% if form.password.errors %}
                                        <ol>
                                            {% for error in form.password.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" style="border: 1px solid #eee !important;" class="form-control"
                                           id="name" aria-describedby="nameHelp"
                                           name="name" placeholder="What's your name" value="{{ form.name.data }}"
                                           required>
                                    {% if form.name.errors %}
                                        <ol>
                                            {% for error in form.name.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" style="border: 1px solid #eee !important;" class="form-control"
                                           id="phone" aria-describedby="phoneHelp" name="phone"
                                           placeholder="What's your mobile number" value="{{ form.phone.data }}"
                                           required>
                                    {% if form.phone.errors %}
                                        <ol>
                                            {% for error in form.phone.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="line1">Office Address</label>
                                    <input type="text" style="border: 1px solid #eee !important;" class="form-control"
                                           id="line1" name="line1" aria-describedby="line1Help" placeholder="..."
                                           value="{{ form.line1.data }}" required>
                                    {% if form.line1.errors %}
                                        <ol>
                                            {% for error in form.line1.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="line2">LandMark</label>
                                    <input type="text" style="border: 1px solid #eee !important;" class="form-control"
                                           id="line2" name="line2" aria-describedby="line2Help" placeholder="..."
                                           value="{{ form.line2.data }}">
                                    {% if form.line2.errors %}
                                        <ol>
                                            {% for error in form.line2.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control" id="country" name="country" style="height: 35px" required>
                                         {% for country in countries.all %}#}
                                            <option value="{{ country.code }}">{{ country.name }}</option>
                                        {% endfor %}
{#                                        <option value="nigeria">Nigeria</option>#}
                                    </select>
                                    {% if form.country.errors %}
                                        <ol>
                                            {% for error in form.country.errors %}
                                                <li class="error"><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

{#                        <div class="row">#}
{##}
{#                            <div class="col-md-6">#}
{#                                <div class="form-group">#}
{#                                    <label for="state">State</label>#}
{#                                    <select class="form-control" id="state" name="state" style="height: 35px" required>#}
{#                                        <option value="">Select State</option>#}
{#                                        {% for state in states.all %}#}
{#                                            <option value="{{ state.code }}">{{ state.name }}</option>#}
{#                                        {% endfor %}#}
{#                                        {% if form.state.errors %}#}
{#                                            <ol>#}
{#                                                {% for error in form.state.errors %}#}
{#                                                    <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                                {% endfor %}#}
{#                                            </ol>#}
{#                                        {% endif %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-md-6">#}
{#                                <div class="form-group">#}
{#                                    <label for="country">Country</label>#}
{#                                    <select class="form-control" id="country" name="country" style="height: 35px"#}
{#                                            required>#}
{#                                        <option value="nigeria">Nigeria</option>#}
{#                                    </select>#}
{#                                    {% if form.country.errors %}#}
{#                                        <ol>#}
{#                                            {% for error in form.country.errors %}#}
{#                                                <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                            {% endfor %}#}
{#                                        </ol>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="row margin-top-10">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="file-upload btn btn-success">Upload profile image
                                        <input type="file" accept="images/*" name="profile_image" id="profile_image" required/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="fieldshiled">
                    <h4 class="fw-600 mt-20">Your Profile</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="bio">Tell us about yourself, your experiences</label>
                                <textarea class="form-control" name="bio" id="bio" rows="5" cols="25" required>{{ form.bio.data }}</textarea>
                                {% if form.bio.errors %}
                                    <ol>
                                        {% for error in form.bio.errors %}
                                            <li class="error"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="qualification">Select Qualification</label>
                                <select class="form-control" id="qualification" name="qualification"
                                        style="height: 35px" value="{{ form.qualification.data }}" required>
                                    {% for qual in qualifications.all %}
                                        <option value="{{ qual.code }}">{{ qual.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.qualification.errors %}
                                    <ol>
                                        {% for error in form.qualification.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                         <div class="col-md-12">
                             <div class="form-group mb-2">
                                <label class="file-upload btn btn-success">
                                    Upload Resume <input type="file" accept="application/pdf" name="resume" id="resume" required/>
                                </label><br>
                                <small>
                                    <mark>Combine resume and other certifications into one pdf to upload</mark>
                                </small>
                            </div>
                         </div>
                    </div>
                </div>

                <div class="fieldshiled">
                    <h4 class="fw-600 mt-20">Application Details</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cover_letter">Cover letter</label>
                                <textarea class="form-control" name="cover_letter" id="cover_letter" rows="5" cols="25" required>{{ form.cover_letter.data }}</textarea>
                                {% if form.cover_letter.errors %}
                                    <ol>
                                        {% for error in form.cover_letter.errors %}
                                            <li class="error"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <h4 class="fw-600 mb-15">Questions</h4>
                        {% for question in questions %}
                            {% if question.is_multi_select %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="que_{{ question.number }}">{{ question.body }}?</label>
                                            <mark>This field is for us to know the skills the therapist has. Whatever multiple options they select here will be reflected on their profile page.
                                                Bear in mind that these exact skills are also amongst the category filters on the therapist listing page.So when the user selects any particular category of skills, only therapists with those skills will come up.
                                            </mark>
                                            <select class="form-control multiple-selected" name="que_{{ question.number }}" id="que_{{ question.number }}" multiple="multiple" aria-multiselectable required>
                                                <option value="all">All</option>
                                                <option value="Depression">Depression</option>
                                                <option value="Stress Disorders">Stress Disorders</option>
                                                <option value="Anxiety">Anxiety</option>
                                                <option value="Addiction">Addiction</option>
                                                <option value="Personality issues">Personality issues</option>
                                                <option value="Relationship and Dating issues">Relationship and Dating issues</option>
                                                <option value="Family and Parenting">Family and Parenting</option>
                                                <option value="Trauma and Abuse">Trauma and Abuse</option>
                                                <option value="Coping with Grief and Loss">Coping with Grief and Loss</option>
                                                <option value="Intimacy related issues">Intimacy related issues</option>
                                                <option value="Eating disorders">Eating disorders</option>
                                                <option value="Motivation, self-esteem and confidence">Motivation, self-esteem and confidence</option>
                                                <option value="Career difficulties">Career difficulties</option>
                                                <option value="Anger management">Anger management</option>
                                                <option value="Bipolar disorders">Bipolar disorders</option>
                                                <option value="Emotional wellness">Emotional wellness</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="que_{{ question.number }}">{{ question.body }}?</label>
                                            <textarea class="form-control" name="que_{{ question.number }}" id="que_{{ question.number }}" rows="3" cols="25" required>{{ form.que_1.data }}</textarea>
                                            {% if form.que_1.errors %}
                                                <ol>
                                                    {% for error in form.que_1.errors %}
                                                        <li class="error"><strong>{{ error|escape }}</strong></li>
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_2">Kindly provide contact information of at least one licensed therapist who can be your reference.</label>#}
{#                                <textarea class="form-control" name="que_2" id="que_2" rows="3" cols="25" required>{{ form.que_2.data }}</textarea>#}
{#                                {% if form.que_2.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_2.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_3">How much time do you think you can devote to working with MiNDCuRE</label>#}
{#                                <textarea class="form-control" name="que_3" id="que_3" rows="3" cols="25" required>{{ form.que_3.data }}</textarea>#}
{#                                {% if form.que_3.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_3.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_4">Which operating system and browser do you use on your computer and mobile device?</label>#}
{#                                <textarea class="form-control" name="que_4" id="que_4" rows="3" cols="25" required>{{ form.que_4.data }}</textarea>#}
{#                                {% if form.que_4.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_4.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_5">How many years have you been practicing therapy?</label>#}
{#                                <textarea class="form-control" name="que_5" id="que_5" rows="3" cols="25" required>{{ form.que_5.data }}</textarea>#}
{#                                {% if form.que_5.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_5.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_7">Have you ever been subject to an investigation or review or discipline actions by your licensing board? If so, please provide details. </label>#}
{#                                <textarea class="form-control" name="que_7" id="que_7" rows="3" cols="25" required>{{ form.que_7.data }}</textarea>#}
{#                                {% if form.que_7.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_7.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_8">Are you able to provide services in another language other than English? If so, which one(s).</label>#}
{#                                <textarea class="form-control" name="que_8" id="que_8" rows="3" cols="25" required>{{ form.que_8.data }}</textarea>#}
{#                                {% if form.que_8.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_8.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_9">Kindly provide us with your therapy style and approach.</label>#}
{#                                <textarea class="form-control" name="que_9" id="que_9" rows="3" cols="25" required>{{ form.que_9.data }}</textarea>#}
{#                                {% if form.que_9.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_9.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_10">Do you understand that you will not be an employee at MiNDCuRE but an independent therapist who provides services through the platform?</label>#}
{#                                <textarea class="form-control" name="que_10" id="que_10" rows="3" cols="25" required>{{ form.que_10.data }}</textarea>#}
{#                                {% if form.que_10.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_10.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="que_11">Who or what referred you to MiNDCuRE.</label>#}
{#                                <textarea class="form-control" name="que_11" id="que_11" rows="3" cols="25" required>{{ form.que_11.data }}</textarea>#}
{#                                {% if form.que_11.errors %}#}
{#                                    <ol>#}
{#                                        {% for error in form.que_11.errors %}#}
{#                                            <li class="error"><strong>{{ error|escape }}</strong></li>#}
{#                                        {% endfor %}#}
{#                                    </ol>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div>
                    {#                    <div class="">#}
                    {#                        <div class="form-group">#}
                    {#                            <label style="margin-bottom: 10px;">#}
                    {#                                How did you hear about Mindcure?#}
                    {#                            </label>#}
                    {#                            <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Colleague, friend or#}
                    {#                            family <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Client <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Ad on social media#}
                    {#                            <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Job posting <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Online search <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Article or press#}
                    {#                            piece <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> TV commercial <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Podcast <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Event <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> LinkedIn contact <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Print ad in magazine#}
                    {#                            <br>#}
                    {#                            <input id="checkBox" type="checkbox" style="width: 2%; height: 15px;"> Other <br>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="row">
                        <br>
                        <br>
                        <br>

                        <p>
                            That's it! Please verify all information prior to submitting.
                        </p>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
{#            $('.multiple_select').select2();#}
            $('#multiple-selected').multiselect();
        });
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#SetupForm").validate({
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
            submitHandler: function (form) {
                if ($(form).valid()) {
                    $.get('/api/check/therapist?q=' + form.email.value, function (data, status) {
                        console.log(data.response);
                        if (data.response == false) {
                            form.submit();
                        }
                        else {
                            document.getElementById('error-message').innerHTML = 'A Therapist account with this email address already exists.'
                        }
                    });
                }
                return false;
            }
        });
    </script>
{% endblock %}