{% extends 'shop/layout.html' %}

{% block body %}
    <style type="text/css">
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f0dd";
            padding-right: 5px;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f0d9";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
        }

        .panel.panel-default {
            margin-bottom: 20px !important;
        }
    </style>
    <div class="container">
        {#		<div style="margin-top: 80px" class="visible-xs visible-sm"></div>#}
        <h1 style="text-align: center; padding: 20px 0 0 0; font-weight: 600;">
            General Questions
        </h1>

        <div class="row">
            <div class="col-md-6">
                <div style="padding: 40px 0px;">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What do we do at MiNDCuRE ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>The MiNDCuRE e-therapy platform provides an accessible emotional aid and online
                                        therapy through the professional service and rich experience of certified
                                        therapists, life coaches and psychologists at a very affordable rate.</p>

                                    <p>The MiNDCuRE online community is built to foster mental health through an online
                                        connection with people. We believe Connection is Recovery’s ally. Click <a
                                                href="{% url 'about' %}">here</a> to learn more. </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Who are MiNDCuRE Therapists?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Our Licensed Therapy Experts have years of experience in various areas of therapy
                                        needs. We are thorough with our selection process in order to ensure that only
                                        professionals offer therapy services on our platform.</p>

                                    <p>Our therapists are licensed, and trained in the field of psychotherapy (
                                        psychologists, licensed counsellors, family therapists, clinical social workers
                                        and related experts) with certifications that include but not limited to PhD,
                                        PsyD, LPC, LMFT, LCSW, LMSW.</p>

                                    <p>All of them have been carefully examined, trained and certified by the
                                        professional board in their resident or practicing state or country. We do a
                                        background check on our therapists through our research team, we also review
                                        their clients' record and the degree of success in their practices.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How do I get matched to a therapist after I sign up and How Long?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingfour">
                                <div class="panel-body">
                                    <p>You can connect to a therapist in two ways you can either choose from the array
                                        of available therapists we have on our therapist page based on your preferences,
                                        or in case you are not sure which to pick, we will assign you to the right
                                        therapist that suits your therapy needs based on the pre therapy questionnaire
                                        you filled. This entire process takes just a couple of minutes.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        In what ways can MiNDCuRE help me?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>MiNDCuRE is recommended for users who want to make a positive shift on the way they live life. It has been proven tool for a better quality of Life, reaching career goals and achieving your Life goals. We have therapists who are specialized in varying mental health issues such as stress, anxiety, relationships, parenting, depression, addictions, eating, sleeping, trauma, anger, family conflicts, self identity, grief, self esteem and so on.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div style="padding: 40px 0;">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        In what cases or situation isn't MiNDCuRE capable of helping me?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <ul>
                                        <li>If you are in a crisis or any other person may be in danger - you are advised not to use this platform as we are not designed nor equipped to handle these issues. These resources can't provide you with immediate help.</li>
                                        <li>You are nursing suicidal thoughts.</li>
                                        <li>You are a minor or you are under the care of a legal guardian</li>
                                        <li>You are in an urgent crisis or emergency situation.</li>
                                        <li>You have been diagnosed with a severe mental illness, or if you have been advised to be in psychological supervision or psychiatric care</li>
                                        <li>You were required to undergo therapy or counseling either by a court order.</li>
                                        <li>You do not have a device that can connect to the Internet or you do not have a reliable Internet connection.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEight">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        How can i communicate with my therapist ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingEight">
                                <div class="panel-body">
                                    <ul>
                                        <li>Exchanging messages (not real time)  with your therapist.</li>
                                        <li>Live chats with your therapist.</li>
                                    </ul>
                                    <p>You can use different ways at different times as you wish, based on your subscription package, needs, availability, and convenience.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        How does MiNDCuRE online therapy differ from traditional office therapy?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>We are well aware of the vast advantages associated with online therapy solution. Yet we are very careful not to underestimate the proven potency and effectiveness of traditional therapy. While you bear that in mind,  study has shown that,  online therapy has proven similar results. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{#        <h1 style="text-align: center; font-weight: 600;">#}
{#            Costing#}
{#        </h1>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingEleven">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">#}
{#                                        Can Sense detect all device ?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingEleven">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingTwelve">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingTwelve">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0px;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingThirteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingThirteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingFourteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingFourteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <h1 style="text-align: center; font-weight: 600;">#}
{#            Privacy#}
{#        </h1>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingFifteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">#}
{#                                        Can Sense detect all device ?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingFifteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSixteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSixteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0px;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSeventeen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSeventeen" aria-expanded="false"#}
{#                                       aria-controls="collapseSeventeen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSeventeen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingEighteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingEighteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <h1 style="text-align: center; font-weight: 600;">#}
{#            Online Therapy#}
{#        </h1>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingFifteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">#}
{#                                        Can Sense detect all device ?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingFifteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSixteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSixteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0px;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSeventeen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSeventeen" aria-expanded="false"#}
{#                                       aria-controls="collapseSeventeen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSeventeen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingEighteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingEighteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <h1 style="text-align: center; font-weight: 600;">#}
{#            Subscription Packages#}
{#        </h1>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingFifteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">#}
{#                                        Can Sense detect all device ?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingFifteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSixteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSixteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0px;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSeventeen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSeventeen" aria-expanded="false"#}
{#                                       aria-controls="collapseSeventeen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSeventeen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingEighteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingEighteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <h1 style="text-align: center; font-weight: 600;">#}
{#            Therapy Services#}
{#        </h1>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingFifteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">#}
{#                                        Can Sense detect all device ?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingFifteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSixteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSixteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6">#}
{#                <div style="padding: 40px 0px;">#}
{#                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingSeventeen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseSeventeen" aria-expanded="false"#}
{#                                       aria-controls="collapseSeventeen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingSeventeen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingEighteen">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"#}
{#                                       href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">#}
{#                                        Can Sense detect all device?#}
{#                                    </a>#}
{#                                </h4>#}
{##}
{#                            </div>#}
{#                            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel"#}
{#                                 aria-labelledby="headingEighteen">#}
{#                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life#}
{#                                    accusamus terry richardson ad squid.#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <h1 style="text-align: center; font-weight: 600;">
            Need More Help?
        </h1>

        <p style="text-align: center; font-weight: 600; font-size: 15px; padding: 10px 0px;">
            We are here to answer your questions.
            <br><br>
            <a href="{% url 'contact' %}" type="button" class="btn" style="background-color: #AF5100; color: #fff;">Contact
                Us</a>
        </p>
    </div>
{% endblock %}