{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}

    <div class="container book_appointment_head_parent">
    	<div class="row">
    		<div class="col-md-12">
    			<h1 class="book_appointment_h1">
    				Book Your Appointment
    			</h1>

    			<p class="book_appointment_p">
    				Fix a one-on-one confidential session with a MindCure expert
    			</p>
    		</div>
    	</div>
    </div>

    <div class="book_appointment_mainbody">
    	<div class="content_wrap" id="myDIV">
    		<div class="">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<h1 class="content_wrap_h1">
	    					Choose the expert you would like to talk to
	    				</h1>

	    				<div class="submain_with_green_border">
	    					<div class="col-md-2">
	    						<img src="{% static 'images/mindcure_logo.png' %}"  class="submain_with_green_border_left">
	    					</div>
	    					<div class="col-md-8">
	    						<h1 class="submain_with_green_border_middle_h1">
	    							Book Appointment with the best available expert
	    						</h1>

	    						<p class="submain_with_green_border_middle_p">
	    							In case you are not sure which expert to speak to, our team will pick out the best available expert for you.
	    						</p>
	    					</div>
	    					<div class="col-md-2">
	    						<img src="{% static 'images/Disponible.png' %}"  class="submain_with_green_border_left">
	    					</div>
	    					<div class="clearfix"></div>
	    				</div>

	    				<br>
	    				<br>
	    				<br>

	    				<h1 class="content_wrap_h1">
	    					or select from our top experts
	    				</h1>
	    			</div>
	    		</div>
	    	</div>

	    	<div>
	    		<div class="row">
	    			<div class="col-md-4">
	    				<div class="content_wrap_expert_section">
				    		<div class="card btnn active">
				                <div class="card-block content_wrap_expert_sectioncard_block">
				                    <div class="content_wrap_expert_sectioncard_block_imgwrap">
				                        <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
				                    </div>
				                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>
				                    <p class="card-text" style="text-align: center; font-size: 12px;">
				                        Counselling Psychologist
				                    </p>

				                    <div class="card-block" style="text-align: center;">
				                        <a href="#" class="card-link">4 Rating</a>
				                        <a href="#" class="card-link">89 Reviews</a>
				                        <p style="font-size: 12px;">Conversations - 2540</p>
				                    </div>

				                    <div style="text-align: center; width: 100%; display: inline-block;">
				                        <i class="fas fa-check-circle"></i>
				                    </div>
				                </div>
			                </div>
				    	</div>
	    			</div>

	    			<div class="col-md-4">
	    				<div class="content_wrap_expert_section">
				    		<div class="card btnn">
				                <div class="card-block content_wrap_expert_sectioncard_block">
				                    <div class="content_wrap_expert_sectioncard_block_imgwrap">
				                        <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
				                    </div>
				                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>
				                    <p class="card-text" style="text-align: center; font-size: 12px;">
				                        Counselling Psychologist
				                    </p>

				                    <div class="card-block" style="text-align: center;">
				                        <a href="#" class="card-link">4 Rating</a>
				                        <a href="#" class="card-link">89 Reviews</a>
				                        <p style="font-size: 12px;">Conversations - 2540</p>
				                    </div>

				                    <div style="text-align: center; width: 100%; display: inline-block;">
				                        <i class="fas fa-check-circle"></i>
				                    </div>
				                </div>
			                </div>
				    	</div>
	    			</div>

	    			<div class="col-md-4">
	    				<div class="">
				    		<div class="card btnn">
				                <div class="card-block content_wrap_expert_sectioncard_block">
				                    <div class="content_wrap_expert_sectioncard_block_imgwrap">
				                        <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
				                    </div>
				                    <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>
				                    <p class="card-text" style="text-align: center; font-size: 12px;">
				                        Counselling Psychologist
				                    </p>

				                    <div class="card-block" style="text-align: center;">
				                        <a href="#" class="card-link">4 Rating</a>
				                        <a href="#" class="card-link">89 Reviews</a>
				                        <p style="font-size: 12px;">Conversations - 2540</p>
				                    </div>

				                    <div style="text-align: center; width: 100%; display: inline-block;">
				                        <i class="fas fa-check-circle"></i>
				                    </div>
				                </div>
			                </div>
				    	</div>
	    			</div>
	    		</div>
	    		

		    	

		    	
		    	<div class="clearfix"></div>
	    	</div>

	    	<br>
			<br>
			<br>

			<h1 class="content_wrap_h1">
				<a class="content_wrap_h1_a" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				    or select an expert from entire list

				    <img src="{% static 'images/arrowdown.png' %}"  class="content_wrap_h1_img_tothe_right">
			  	</a>
			</h1>
			<div class="clearfix"></div>

			<div class="collapse" id="collapseExample">
			  <div class="card card-body">
			    <ul class="list-group" id="">
				  	<li class="list-group-item d-flex justify-content-between align-items-center btnn btnn_media">
					  	<div class="container">
					  		<div class="row">
					  			<div class="col-md-2 col-sm-4">
							  		<div class="collapse_img_left">
				                        <div class="collapse_img_left_img" style=""></div>
				                    </div>
							  	</div>
							  	
							    <div class="col-md-8 col-sm-4">
							    	<h1 class="collapse_h1_center">Sonia Mitra</h1>
							    	<p class="collapse_p_center">Clinical Psychologist</p>
							    </div>
							    
							    <div class="col-md-2 col-sm-4 collapse_col_fontawesome">
							    	<i class="fas fa-check-circle"></i>
							    </div>
					  		</div>
					  	</div>
				  	</li>

				  	<li class="list-group-item d-flex justify-content-between align-items-center btnn btnn_media">
					  	<div class="container">
					  		<div class="row">
					  			<div class="col-md-2 col-sm-4">
							  		<div class="collapse_img_left">
				                        <div class="collapse_img_left_img"></div>
				                    </div>
							  	</div>
							  	
							    <div class="col-md-8 col-sm-4">
							    	<h1 class="collapse_h1_center">Prerana Patel</h1>
							    	<p class="collapse_p_center">Clinical Psychologist</p>
							    </div>
							    
							    <div class="col-md-2 col-sm-4 collapse_col_fontawesome">
							    	<i class="fas fa-check-circle"></i>
							    </div>
					  		</div>
					  	</div>
				  	</li>

				  	<li class="list-group-item d-flex justify-content-between align-items-center btnn btnn_media">
					  	<div class="container">
					  		<div class="row">
					  			<div class="col-md-2 col-sm-4">
							  		<div class="collapse_img_left">
				                        <div class="collapse_img_left_img"></div>
				                    </div>
							  	</div>
							  	
							    <div class="col-md-8 col-sm-4">
							    	<h1 class="collapse_h1_center">Nayanmoni Das</h1>
							    	<p class="collapse_p_center">Counselling Psychologist</p>
							    </div>
							    
							    <div class="col-md-2 col-sm-4 collapse_col_fontawesome">
							    	<i class="fas fa-check-circle"></i>
							    </div>
					  		</div>
					  	</div>
				  	</li>
				</ul>
			  </div>
			</div>

			<div class="button_parent">
				<button type="button" class="btn btn-success">Back</button>
				<button type="button" class="btn btn-success" style="float: right;">Next</button>
			</div>
			<div class="clearfix"></div>
    	</div>
    </div>

{% endblock %}