<footer>
	<div style="height: 7px; margin-bottom: 20px; background-color: #F7BD3E;"></div>
	<div class="container footer_container_forweb">
		<div class="col-md-3">
			<h1 class="footer_heading">ABOUT US</h1>
			<ul style="list-style: none;">
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Who We Are
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						What We Do
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Our Team
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Partners
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Terms Of Service
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Privacy Policy
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Report A Problem
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						FAQs
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Contact Us
					</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h1 class="footer_heading">USEFUL LINKS</h1>
			<ul style="list-style: none !important;">
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Experts
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Must Asked Questions
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Motivational Quotes
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Articles
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						De-stressing Techniques
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Press
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Business Offerings
					</a>
				</li>

				<li>
					<a href="" class="footer_heading_ul_li_a">
						Become An Expert
					</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h1 class="footer_heading">COUNSELING</h1>
			<ul style="list-style: none !important;">
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Career/Academics
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Friends & Family
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Love & Relationships
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Sexual Wellness
					</a>
				</li>
				<li>
					<a href="" class="footer_heading_ul_li_a">
						Self Improvement
					</a>
				</li>
				<li>
					<ul class="ul_in_li_at_footer">
						<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
							<i class="fas fa-facebook-square" aria-hidden="true"></i>
						</li>
						<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
							<i class="fa fa-twitter-square" aria-hidden="true"></i>
						</li>
						<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</li>
						<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
							<i class="fa fa-google-plus-square" aria-hidden="true"></i>
						</li>
					</ul>
				</li>
				<li style="color: #fff; font-size: 12px;">
					Like, Follow and Share Mindcure
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h1 class="footer_heading">ABOUT MINDCURE</h1>
			<p style="font-size: 12px; color: #fff;">
				At Mindcure, We provide an online counseling and emotional support platform designed to foster mental wellness. It anonymously connects you with the right expert consisting of psychologists, psychotherapists, counselors, life coaches and people with rich and extensive life experiences, who will guide you through completely individual sessions.
			</p>
		</div>
	</div>

	<!-- <div class="container footer_container_formobile">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<h1 class="footer_heading">ABOUT US</h1>
				<ul style="list-style: none;">
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Who We Are
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							What We Do
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Our Team
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Partners
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Terms Of Service
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Privacy Policy
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Report A Problem
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							FAQs
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Contact Us
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 col-xs-6">
				<h1 class="footer_heading">USEFUL LINKS</h1>
				<ul style="list-style: none !important;">
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Experts
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Must Asked Questions
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Motivational Quotes
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Articles
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							De-stressing Techniques
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Press
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Business Offerings
						</a>
					</li>

					<li>
						<a href="" class="footer_heading_ul_li_a">
							Become An Expert
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-xs-6">
				<h1 class="footer_heading">COUNSELING</h1>
				<ul style="list-style: none !important;">
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Career/Academics
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Friends & Family
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Love & Relationships
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Sexual Wellness
						</a>
					</li>
					<li>
						<a href="" class="footer_heading_ul_li_a">
							Self Improvement
						</a>
					</li>
					<li>
						<ul class="ul_in_li_at_footer">
							<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
								<i class="fa fa-facebook-square" aria-hidden="true"></i>
							</li>
							<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
								<i class="fa fa-twitter-square" aria-hidden="true"></i>
							</li>
							<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</li>
							<li style="background-color: white; background-color: white; border-radius: 9px; text-align: center; width: 26px; height: 28px;">
								<i class="fa fa-google-plus-square" aria-hidden="true"></i>
							</li>
						</ul>
					</li>
					<li style="color: #fff; font-size: 12px;">
						Like, Follow and Share Mindcure
					</li>
				</ul>
			</div>

			<div class="col-md-3 col-xs-6">
				<h1 class="footer_heading">ABOUT MINDCURE</h1>
				<p style="font-size: 12px; color: #fff;">
					At Mindcure, We provide an online counseling and emotional support platform designed to foster mental wellness. It anonymously connects you with the right expert consisting of psychologists, psychotherapists, counselors, life coaches and people with rich and extensive life experiences, who will guide you through completely individual sessions.
				</p>
			</div>
		</div>
	</div> -->
</footer>