{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}

    <div class="get_started_image full" style="position: relative; background-image: url('/static/images/silhouette-3392076_960_720.jpg');">
{#        <div style="background: rgba(16,16,16,0.7); width: 100%; height: 100%; position: absolute;"></div>#}
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;background-image: linear-gradient(to right top, rgba(175,81,0,0.5), rgba(34,34,14,0.6) 50%, rgba(61,61,25,0.8));"></div>
        <div class="hidden-sm hidden-xs" style="position: absolute; top: 5em; margin-left:10em; padding: 20px; line-height: 1.5em; color: #fff; font-weight: 600;">
            <h1 class="text_justify grey" style="margin-bottom: 30px">INTRODUCING THE STEPS TO THERAPY</h1>

            <p class="text_justify white" style="font-weight: 200;">Every psychological defection can be traced to a poor mind buildup and
                <br>cumulative emotional perturbation, which can be as a result of unpleasant circumstances,<br>long exposure to inhumanity, unhealthy mind
                engagements or a deeply rooted depression.
            </p>

            <p class="text_justify white" style="font-weight: 200;">Taking these steps means, you are making a decision to be mentally
                healthy and whole. <br>Remember, your mental health is your responsibility.<br>
            Your assigned therapist is here just to Listen to you and Help you.
            </p>
            <br><br>

            <p class="text_justify white f-18">Let's take one more step and yay! <br>You are with your therapist in a
                private, safe, secure chat room.</p>

        </div>

        <div class="visible-sm visible-xs" style="position: absolute;top:10%; padding: 20px; font-family: Roboto, Helvetica, Arial !important;">
            <h5 class="white text_center ml-20 gt-font"><b>INTRODUCING THE STEPS TO THERAPY</b></h5>

            <p class="white text_center f-14 gt-font">Every psychological defection can be traced to a poor mind buildup
                and cumulative emotional perturbation,
                which can be as a result of unpleasant circumstances, long exposure to inhumanity, unhealthy mind
                engagements or a deeply rooted depression.
            </p>

            <p class="white text_center f-14 gt-font">Taking these steps means, you are making a decision to be mentally
                healthy and whole. Remember, your mental health is your responsibility. Your assigned therapist is here just to Listen to you and Help you.</p>

            <p class="white text_center f-14 gt-font">Let's take one more step and yay! You are with your therapist in a
                private, safe, secure chat room.</p>
        </div>

    </div>

    <div class="book_appointment_mainbody">
        <div class="content_wrap" id="myDIV">
            <div class="">
                <div class="row">
                    <div class="text_center">
                        {% if flashes %}
                            {% for message in flashes %}
                                <div {% if message.tags == 'error' %}
                                    class="alert alert-danger alert-dismissable" {% else %}
                                    class="alert alert-success alert-dismissable" {% endif %}>
                                    <button type="button" class="close" data-dismiss="alert">&times;
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{% url 'pre_therapy' %}" class="col-md-12 no_decoration" id="pre_therapy_a">
                        <div class="submain_without_green_border" style="padding: 10px !important;" id="pre_therapy_div">
                            <div class="col-md-2 submain_without_green_border_left_content" style="padding: 0 !important;">
                                <img src="{% static 'images/planner.svg' %}" style="height: 100px;">
{#                                <i class="ion-document-text" style="font-size: 80px; color: rgb(34, 34, 14)"></i>#}
                            </div>
                            <div class="col-md-8">
                                <h1 class="text_justify hidden-sm hidden-xs gt-font">
                                    Fill out pre-therapy questions
                                </h1>
                                <h4 class="text_center visible-sm hidden-md hidden-lg gt-font">Pre-Therapy Questions</h4>

                                <p class="text_justify gt-font hidden-xs hidden-sm">
                                    Our pre-therapy questions give your chosen therapist introductory information about you.
                                </p>
                                <p class="text_center gt-font visible-xs visible-sm">
                                    Our pre-therapy questions give your chosen therapist introductory information about you.
                                </p>
                            </div>
                            {% if onboard and onboard.pre_therapy_step_completed %}
                                <div class="col-md-2 submain_without_green_border_left_content">
                                    <i class="ion-ios-checkmark started_icons"></i>
                               </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </a>

                    <a href="{% url 'therapist_selection' %}" class="col-md-12 no_decoration" id="therapist_step_completed_a">
                        <div class="submain_without_green_border" style="padding: 10px !important;" id="therapist_step_completed_div">
                            <div class="col-md-2 submain_without_green_border_left_content" style="padding: 0 !important;">
                                <i class="ion-person-stalker" style="font-size: 80px; color:#AF5100"></i>
                            </div>
                            <div class="col-md-10">
                                <h1 class="text_justify hidden-sm hidden-xs gt-font">Select a therapist</h1>

                                <h4 class="text_center visible-xs visible-sm hidden-md hidden-lg gt-font">Select a therapist</h4>

                                <p class="text_justify gt-font hidden-xs hidden-sm">
                                    Pick out a therapist you most believe might be best suited to your needs.
                                </p>
                                 <p class="text_center gt-font visible-xs visible-sm">
                                    Pick out a therapist you most believe might be best suited to your needs.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                    <a href="{% url 'plan_selection' %}" class="col-md-12 no_decoration" id="plan_step_completed_a">
                        <div class="submain_without_green_border" style="padding: 10px !important;"
                             id="plan_step_completed_div">
                            <div class="col-md-2 submain_without_green_border_left_content" style="padding: 0 !important;">
                                <img src="{% static 'images/live-chat.svg' %}" style="height: 100px;">
{#                                <i class="ion-card" style="font-size: 80px; color: rgb(34, 34, 14)"></i>#}
                            </div>
                            <div class="col-md-10">
                                <h1 class="text_justify hidden-sm hidden-xs gt-font">Select a therapy plan</h1>

                                <h4 class="text_center visible-sm hidden-md hidden-lg gt-font">Select a therapy plan</h4>

                                <p class="text_justify gt-font hidden-xs hidden-sm">
                                    Pick out the therapy plan most suited to your needs.
                                </p>
                                <p class="text_center gt-font visible-xs visible-sm">
                                    Pick out the therapy plan most suited to your needs.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        function disableBoard(variable_id) {
            var variable = $(variable_id);
            variable.removeAttr('href');
            variable.addClass('filled');
        }

        let plan_div = $('#plan_step_completed_div');
        let therapy_div = $('#therapist_step_completed_div');

        console.log('{{ on_board.id }}')

        {% if on_board %}

            if ('{{ on_board.pre_therapy_step_completed }}' === 'True') {
                disableBoard('#pre_therapy_a');
                $('#pre_therapy_div').addClass('filled');
            }

            if ('{{ on_board.pre_therapy_step_completed }}' === 'False' && '{{ on_board.therapist_step_completed }}' === 'False') {
                disableBoard('#therapist_step_completed_a');
                therapy_div.addClass('filled');
            }

            if ('{{ on_board.therapist_step_completed }}' === 'False' && '{{ on_board.plan_step_completed }}' === 'False') {
                disableBoard('#plan_step_completed_a');
                plan_div.addClass('filled');
            }

             if ('{{ on_board.therapist_step_completed }}' === 'True') {
                disableBoard('#therapist_step_completed_a');
                therapy_div.addClass('filled');
            }

             if ('{{ on_board.plan_step_completed }}' === 'True') {
                disableBoard('#plan_step_completed_a');
                plan_div.addClass('filled');
            }

        {% else %}
            disableBoard('#plan_step_completed_a');
            plan_div.addClass('filled');

            disableBoard('#therapist_step_completed_a');
            therapy_div.addClass('filled');
        {% endif %}
    </script>
{% endblock %}