{% extends 'shop/layout.html' %}

{% block body %}
    <style>
        .banner_overlay {
            background-color: #101010;
            opacity: 0.5;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
        }

        .first_table_on_howitwork_banner {
            margin-top: 80px;
        }

        blockquote p {
            color: #fff;
        }

        .blog {
            padding-left:0 !important;
            height: 300px;
            background: #fff;
            width: 42.5%;
            margin-left: 2.5%;
            margin-right: 5%
        }

        .forum {
            background-image: url('/static/images/forum_background.jpg');
            background-position: center center;
            position: relative;
            height: 300px;
            width: 42.5%;
            margin-right: 2.5%;
            margin-left: 5%
        }

        .forum_mobile {
            background-color: #22220E !important;
            position: relative;
            height: 100px;
            background-size: cover;
            width: 100%;
            margin: 0 !important;
        }

        @media only screen and (min-width: 320px) and (max-width: 732px) {
            .blog {
                padding-left:0 !important;
                height: 100px;
                background: #af5100;
                width: 100%;
                margin: 0 !important;
            }
        }
    </style>
    {% load static from staticfiles %}
    <div class="swiper-container hidden-xs hidden-sm" style="height:75% !important">
        <div class="first_table_on_howitwork_banner clus_center">
            <h1 style="font-size:56px" class="visible-md visible-lg hidden-sm hidden-xs">
                <img src="/static/images/logo_icon.png" width="80px" alt=""> MiNDCuRE
            </h1>
            <h1 style="font-size:34px" class="visible-xs visible-sm hidden-md hidden-lg">
                <img src="/static/images/logo_icon.png" width="80px" alt=""> MiNDCuRE
            </h1>

            <h3 class="visible-md visible-lg hidden-sm hidden-xs" style="line-height: 1.5;margin-top:10px;">Connect
                with licensed<br>counseling and therapy experts</h3>
            <h4 class="visible-xs visible-sm hidden-md hidden-lg" style="line-height: 1.5;">Connect with
                licensed<br>counseling and therapy experts</h4>
            <h5 style="margin-top: 20px;"><em id="quote"></em></h5>
            <a href="{% url 'get_started' %}" class="btn btn-primary btn-xs"><h5>Get Started</h5></a>
        </div>
        <div class="swiper-wrapper" style="transition-duration: 1000ms">
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_3.jpg' %}');">
                <div class="banner_overlay "></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_2.jpg' %}');">
                <div class="banner_overlay "></div>
            </div>
{#            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_4.jpg' %}');">#}
{#                <div class="banner_overlay"></div>#}
{#            </div>#}
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_5.jpg' %}');">
                <div class="banner_overlay"></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_6.jpg' %}');">
                <div class="banner_overlay"></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_7.jpg' %}');">
                <div class="banner_overlay"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-container visible-xs visible-sm">
        <div class="first_table_on_howitwork_banner clus_center">
            <h1 style="font-size:56px" class="visible-md visible-lg hidden-sm hidden-xs"><img
                    src="/static/images/logo_icon.png" width="80px" alt=""> MiNDCuRE</h1>

            <h1 style="font-size:34px" class="visible-xs visible-sm hidden-md hidden-lg"><img
                    src="/static/images/logo_icon.png" width="80px" alt=""> MiNDCuRE</h1>

            <h3 class="visible-md visible-lg hidden-sm hidden-xs" style="line-height: 1.5;margin-top:10px;">Connect
                with Licensed<br>Counseling and Therapy Experts</h3>
            <h4 class="visible-xs visible-sm hidden-md hidden-lg" style="line-height: 1.5;">Connect with
                Licensed<br>Counseling and Therapy Experts</h4>
            <h5 style="margin-top: 20px;"><em id="quote_mobile"></em></h5>
            <a href="{% url 'get_started' %}" class="btn btn-primary btn-xs"><h5>Get Started</h5></a>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_3.jpg' %}'); background-size:contain; background-position: center center">
                <div class="banner_overlay "></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_2.jpg' %}'); background-size:contain; background-position: center center">
                <div class="banner_overlay "></div>
            </div>
{#            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_4.jpg' %}');">#}
{#                <div class="banner_overlay"></div>#}
{#            </div>#}
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_5.jpg' %}'); background-size:contain; background-position: center center">
                <div class="banner_overlay"></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_6.jpg' %}'); background-size:cover; background-position: center center">
                <div class="banner_overlay"></div>
            </div>
            <div class="swiper-slide" style="background-image: url('{% static 'images/banners/home_slider_7.jpg' %}'); background-size:cover; background-position: center center">
                <div class="banner_overlay"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="row hidden-sm hidden-xs" style="background: #fff;padding: 20px;margin: 0;">
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/convenient.svg' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Convenient</span>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/cash.svg' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Inexpensive</span>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/secure.svg' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Private</span>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/time.png' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Whenever</span>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/anywhere.png' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Wherever</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                    <div class="clearfix"></div>
                    {#                    <hr class="hr_hr">#}
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs" style="background-color: #fafafa; padding: 40px 0; margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h1 style="color:#AF5100;font-family: Interface; text-align: left; font-weight: 600; font-size: 20px; margin-bottom: 20px;">
                            Here at MiNDCuRE
                        </h1>

                        <p style="font-size: 16px; line-height: 30px; color: #000;">
                            You can anonymously open up your wounds and unveil your masked past to your therapist
                            without any discrimination. Our Therapists see the best in you.<br><br>
                            Speak with your therapist in a secure and friendly MiNDCuRE therapy space designed for just
                            you. In this space, we assure you the attention of your therapist and confidentiality of
                            your session.
                        </p>
                    </div>
                </div>

                <div class="col-md-6" style="height: 330px;">
                    <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls
                           preload="auto" poster="{% static 'images/vidBanner.jpg' %}"
                           data-setup="{}">
                        <source src="{% static 'advert.mp4' %}" type='video/mp4'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
        </div>
    </div>
    {#        <h3 style="color: #AF5100; text-align: center; margin-top:10px; margin-bottom: 30px; font-family: inherit">How to begin therapy at MiNDCuRE</h3>#}
    {#        <div class="">#}
    {#            <div class="div-by-5 rand">#}
    {#                <div class="img_step img_step_1"></div>#}
    {#                <div class="step_info">#}
    {#                    <table>#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <th class="num_size">1</th>#}
    {#                            <th class="num_right_th">SELF -TEST ASSESSMENT</th>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {##}
    {#                    <table class="pull-right" style="padding: 5px 0 0 10px;">#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <td class="steps">#}
    {#                                Take an assessment test that reveals the state of your mental health.#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                    <div class="clearfix"></div>#}
    {#                </div>#}
    {#                <div class="clearfix"></div>#}
    {#            </div>#}
    {#            <div class="div-by-5 rand">#}
    {#                <div class="img_step img_step_2"></div>#}
    {#                <div class="step_info">#}
    {#                    <table>#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <th class="num_size">2</th>#}
    {#                            <th class="num_right_th">THERAPY SESSION WITH AN ASSIGNED THERAPIST</th>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {##}
    {#                    <table class="pull-right" style="padding: 5px 0 0 10px;">#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <td class="steps">#}
    {#                                Connect anonymously with an experienced and licensed therapist that is specialized in the area of your therapy need, <br>#}
    {#                                or we can also help you connect to the best available therapists by just clicking <a href="{% url 'get_started' %}">Get started</a>#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                    <div class="clearfix"></div>#}
    {#                </div>#}
    {#                <div class="clearfix"></div>#}
    {#            </div>#}
    {#            <div class="div-by-5 rand">#}
    {#                <div class="img_step img_step_4"></div>#}
    {#                <div class="step_info">#}
    {#                    <table>#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <th class="num_size">4</th>#}
    {#                            <th class="num_right_th">SUBSCRIBE TO A THERAPY PACKAGE PLAN</th>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {##}
    {#                    <table class="pull-right" style="padding: 5px 0 0 10px;">#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <td class="steps">#}
    {#                                You can subscribe to any one of MiNDCuRE therapy packages.#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                    <div class="clearfix"></div>#}
    {#                </div>#}
    {#                <div class="clearfix"></div>#}
    {#            </div>#}
    {#            <div class="div-by-5 rand">#}
    {#                <div class="img_step img_step_5"></div>#}
    {#                <div class="step_info">#}
    {#                    <table>#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <th class="num_size">5</th>#}
    {#                            <th class="num_right_th">BEGIN THERAPY IN A PRIVATE AND SECURE CHAT ROOM</th>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {##}
    {#                    <table class="pull-right" style="padding: 5px 0 0 10px;">#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            <td class="steps">#}
    {#                               The therapy chat room for you and your licensed therapist is always open. You can check in and speak anytime, wherever.#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                    <div class="clearfix"></div>#}
    {#                </div>#}
    {#                <div class="clearfix"></div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#        ​<!-- end outer row -->#}
    {#    </div>#}
    <div class="container" style="padding: 20px;">
        <h3 style="color: #AF5100; text-align: center; margin-top:10px; margin-bottom: 30px; font-family: GothamBold !important;">
            How to begin therapy at MiNDCuRE</h3>

        <div class="">
            <div class="div-by-3">
                <div class="img_step img_step_3"></div>
                <div class="step_info">
                    <table>
                        <tbody>
                        <tr>
                            {#                        <th class="num_size">1</th>#}
                            <th class="num_right_th">THERAPY SESSION WITH AN ASSIGNED THERAPIST</th>
                        </tr>
                        </tbody>
                    </table>

                    <table class="pull-right" style="padding: 5px 0 0 10px;">
                        <tbody>
                        <tr>
                            <td class="steps hidden-xs hidden-sm">
                                Connect anonymously with an experienced and licensed therapist that is specialized in
                                the
                                area of your therapy need, or we can also help you connect to the best available
                                therapists
                                by just clicking <a href="{% url 'get_started' %}">Get started</a>
                            </td>
                            <td class="steps steps_mobile visible-xs visible-sm">
                                Connect anonymously with an experienced and licensed therapist that is specialized in
                                the
                                area of your therapy need, or we can also help you connect to the best available
                                therapists
                                by just clicking <a href="{% url 'get_started' %}">Get started</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="div-by-3">
                <div class="img_step img_step_4"></div>
                <div class="step_info ml-40 visible-md visible-lg">
                    <table>
                        <tbody>
                        <tr>
                            <th class="num_right_th">SUBSCRIBE TO A THERAPY PACKAGE PLAN</th>
                        </tr>
                        </tbody>
                    </table>

                    <table class="pull-right" style="padding: 5px 0 0 10px;">
                        <tbody>
                        <tr>
                            <td class="steps hidden-xs hidden-sm ml-40">
                                The therapy chat room for you and your licensed therapist is always open. You can check
                                in
                                and speak anytime, wherever.
                            </td>
                            <td class="steps steps_mobile visible-xs visible-sm">
                                The therapy chat room for you and your licensed therapist is always open. You can check
                                in
                                and speak anytime, wherever.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="step_info visible-xs visible-sm">
                    <table>
                        <tbody>
                        <tr>
                            <th class="num_right_th">SUBSCRIBE TO A THERAPY PACKAGE PLAN</th>
                        </tr>
                        </tbody>
                    </table>

                    <table class="pull-right" style="padding: 5px 0 0 10px;">
                        <tbody>
                        <tr>
                            <td class="steps hidden-xs hidden-sm ml-40">
                                You can subscribe to any one of MiNDCuRE therapy packages.
                            </td>
                            <td class="steps steps_mobile visible-xs visible-sm">
                                You can subscribe to any one of MiNDCuRE therapy packages.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="div-by-3">
                <div class="img_step img_step_5"></div>
                <div class="step_info">
                    <table>
                        <tbody>
                        <tr>
                            {#                        <th class="num_size">5</th>#}
                            <th class="num_right_th">BEGIN THERAPY IN A PRIVATE & SECURE CHAT ROOM</th>
                        </tr>
                        </tbody>
                    </table>

                    <table class="pull-right" style="padding: 5px 0 0 10px;">
                        <tbody>
                        <tr>
                            <td class="steps hidden-xs hidden-sm">
                                The therapy chat room for you and your licensed therapist is always open. You can check
                                in
                                and speak anytime, wherever.
                            </td>
                            <td class="steps steps_mobile visible-xs visible-sm">
                                The therapy chat room for you and your licensed therapist is always open. You can check
                                in
                                and speak anytime, wherever.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        ​<!-- end outer row -->
    </div>
    <div class="raison">
        <div class="container">
            <h3 style="color: #AF5100; text-align: center; margin-bottom: 40px; font-family: GothamBold !important;">
                Why MiNDCuRE online therapy solution?
            </h3>

            <div class="col-md-12">
                <div class="div-by-4">
                    <div class="step_info">
                        <table class="pull-right" style="padding: 5px 0 0 10px;">
                            <tbody>
                            <tr>
                                <td class="steps">
                                    At MiNDCuRE, you can anonymously open up your wounds and unveil your masked past to
                                    your therapist without any discrimination. Our <a href="{% url 'therapists' %}">Therapists</a>
                                    see the best in you.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="div-by-4">
                    <div class="step_info">
                        <table class="pull-right" style="padding: 5px 0 0 10px;">
                            <tbody>
                            <tr>
                                <td class="steps">
                                    Speak with your therapist in a secure and friendly MiNDCuRE therapy space designed
                                    for just you. In this space, we assure you the attention of your therapist and
                                    confidentiality of your session.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="div-by-4">
                    <div class="step_info">
                        <table class="pull-right" style="padding: 5px 0 0 10px;">
                            <tbody>
                            <tr>
                                <td class="steps">
                                    If you are a licensed and experienced therapist, click on this <a
                                        href="{% url 'therapist_guide' %}">link</a> below to join MiNDCuRE. There’re so much interesting details that await you
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="div-by-4">
                    <div class="step_info">
                        <table class="pull-right" style="padding: 5px 0 0 10px;">
                            <tbody>
                            <tr>
                                <td class="steps">
                                    With MiNDCuRE, you can have a <a href="{% url 'therapists' %}">pre-therapy</a>
                                    session without having to worry about money. More importantly, we are here to
                                    connect you to those who can help you at <a href="{% url 'get_started' %}">little
                                    cost</a>.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="text_center margin-top-25 visible-lg visible-md">
                <a href="{% url 'get_started' %}" class="btn btn-primary btn-md ">Get Started</a><a
                    href="{% url 'therapist_guide' %}" class="btn btn-warning btn-md ml-20">Join our therapists</a>
            </div>
            <div class="text_center margin-top-25 visible-sm visible-xs">
                <a href="{% url 'get_started' %}" class="btn btn-primary btn-md"
                   style="width:100%; margin-bottom:10px">Get Started</a>
                <a href="{% url 'therapist_guide' %}"  style="width:100%;" class="btn btn-warning btn-md">Join our therapists</a>
            </div>
        </div>
    </div>
    <div class="vid_banner hidden-md hidden-lg">
        <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"
                poster="{% static 'images/vidBanner.jpg' %}" data-setup="{}">
            <source src="{% static 'advert.mp4' %}" type='video/mp4'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
    <div class="row" style="margin: 0; padding: 20px">
        <div class="col-md-6 ghost_border forum_mobile  visible-sm visible-xs">
            <div style="border-radius:25px; margin-left: -15px; background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
            <div class="container col-md-12">
                <h3 class="forum-title fw-600 white f-20 margin-top-15 text-center">
                    Our Forum
                </h3>

                 <div class="carousel slide" data-ride="carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <p class="forum-banner white f-9">
                           "Maybe we are not here to see each other but to see each other through." <br>
                            <a href="{{ settings.FORUM_URL }}" class="f-9 fw-600 lightgrey">Visit our forum to reach out to others.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ghost_border forum hidden-sm hidden-xs">
            <div style="border-radius:25px; margin-left: -15px; background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
            <div class="container col-md-12 ">
{#                <div style="margin-left: -15px; background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>#}
                <h3 class="pad-all-30 margin-top-80 white" style="padding-left:0!important; padding-bottom:0 !important; font-size: 30px; text-align: left; font-family: GothamBold !important;position: relative;">
                    Our Forum
                </h3>

                 <div class="carousel slide" data-ride="carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text_left">
                        <p class="forum-banner">
                           "Maybe we are not here to see each other but to see each other through." <br>
                            <a href="{{ settings.FORUM_URL }}" class="f-13 fw-600 lightgrey">Visit our forum to reach out to others.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-top-20 visible-xs visible-sm"></div>
        <div class="col-md-6 ghost_border blog">
{#            <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>#}
            <div class="container col-md-12">
                <div class="hidden-sm hidden-xs margin-top-100"></div>
                <!--<div class="visible-sm visible-xs margin-top-30"></div>-->

                <h3 class="blog-title">
                    Our Blog
                </h3>

                 <div class="carousel slide" data-ride="carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner visible-lg text_right">
                        <p class="blog-banner pl-20 f-15">
                            We feature inspiring write-ups that echo our <br>connectedness as human in all walks of Life.<br>
                            <a href="{{ settings.BLOG_URL }}" class="f-12 text_right">Read more stories and articles on our Blog.</a>
                        </p>
                    </div>
                     <div class="carousel-inner visible-xs visible-md  visible-sm text-center">
                        <p class="blog-banner white pl-20 f-9">
                            We feature inspiring write-ups that echo our connectedness as human in all walks of Life.<br>
                            <a href="{{ settings.BLOG_URL }}" class="f-9 lightgrey">Read more stories and articles on our Blog.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if therapists|length > 0 %}
        <div style="padding: 10px 0; padding-bottom: 30px;">
            <div>
                <h3 style="text-align: center; margin-bottom: 20px; font-weight: 900; font-family: InterfaceBold; !important;">
                    Try a Free Pre-Therapy Session
                </h3>

                <p class="steps" style="text-align:center; font-family: Interface; !important; margin: 16px">
                    Our Licensed Therapy Experts have years of experience in various areas of therapy needs. <br>We are
                    thorough with our selection process in order to ensure that only professionals connect with you.
                </p>
            </div>
            <div class="container visible-md visible-lg hidden-sm hidden-xs">
                <div class="row">
                    <div style="margin-left: 30px;"></div>
                    {% for therapist in therapists %}
                        <div class="col-md-1 margin-bottom" style="margin-right: 45px;">
                            <div class="card">
                                <div class="card-block" style="background-color: transparent !important;">
                                    <div style="width: 105px; margin: auto; height: 107px; border-radius: 100%;">
                                        {% if therapist.profile_image %}
                                            <a href="{% url 'therapist_detail' pk=therapist.pk %}">
                                                <div style="background-image: url('/media/{{ therapist.profile_image }}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'therapist_detail' pk=therapist.pk %}">
                                                <div style="background-image: url('{% static 'images/person.png' %}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {#                                    <h6 class="card-subtitle mb-2 text-muted"#}
                                    {#                                        style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">#}
                                    {#                                        <a href="{% url 'therapist_detail' pk=therapist.pk %}">{{ therapist.name }}</a>#}
                                    {#                                    </h6>#}
                                    {##}
                                    {#                                    <p class="card-text"#}
                                    {#                                       style="text-align: center; font-size: 13px;">#}
                                    {#                                        {{ therapist.qualification.name|truncatechars:30 }}</p>#}
                                    {##}
                                    {#                                    <div class="card-block" style="text-align: center;">#}
                                    {#                                        <span class="card-link">{{ therapist.rating }} Rating</span>#}
                                    {#                                        <span class="card-link">{{ therapist.reviews_count }} Reviews</span>#}
                                    {#                                    <p style="font-size: 13px;">Conversations - 2540</p>#}
                                    {#                                    </div>#}
                                    {##}
                                    {#                                    <div style="text-align: center; width: 100%; display: inline-block;">#}
                                    {#                                        <a href="{% url 'therapy_messages' pk=therapist.pk %}"#}
                                    {#                                           class="btn btn-primary btn-xs"><i class="ion-email"></i>&nbsp;Message</a>#}
                                    {#                                        <a href="{% url 'therapy_chats' pk=therapist.pk %}"#}
                                    {#                                           class="btn btn-warning btn-xs"><i class="ion-chatbox"></i>&nbsp;Chat</a>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {#                <div class="col-md-3">#}
                    {#                    <div class="card">#}
                    {#                      <div class="card-block">#}
                    {#                        <div style="width: 43%; margin: auto; border: 1px solid; height: 107px; border-radius: 100%;">#}
                    {#                            <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>#}
                    {#                        </div>#}
                    {#                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>#}
                    {#                        <p class="card-text" style="text-align: center; font-size: 13px;">#}
                    {#                            Counselling Psychologist#}
                    {#                        </p>#}
                    {##}
                    {#                        <div class="card-block" style="text-align: center;">#}
                    {#                            <a href="#" class="card-link">4 Rating</a>#}
                    {#                            <a href="#" class="card-link">89 Reviews</a>#}
                    {#                            <p style="font-size: 13px;">Conversations - 2540</p>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div style="text-align: center; width: 100%; display: inline-block;">#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">CHAT NOW</a>#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">MESSAGE</a>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="col-md-3">#}
                    {#                    <div class="card">#}
                    {#                      <div class="card-block">#}
                    {#                        <div style="width: 43%; margin: auto; border: 1px solid; height: 107px; border-radius: 100%;">#}
                    {#                            <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>#}
                    {#                        </div>#}
                    {#                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>#}
                    {#                        <p class="card-text" style="text-align: center; font-size: 13px;">#}
                    {#                            Counselling Psychologist#}
                    {#                        </p>#}
                    {##}
                    {#                        <div class="card-block" style="text-align: center;">#}
                    {#                            <a href="#" class="card-link">4 Rating</a>#}
                    {#                            <a href="#" class="card-link">89 Reviews</a>#}
                    {#                            <p style="font-size: 13px;">Conversations - 2540</p>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div style="text-align: center; width: 100%; display: inline-block;">#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">CHAT NOW</a>#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">MESSAGE</a>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {##}
                    {#                <div class="col-md-3">#}
                    {#                    <div class="card">#}
                    {#                      <div class="card-block">#}
                    {#                        <div style="width: 43%; margin: auto; border: 1px solid; height: 107px; border-radius: 100%;">#}
                    {#                            <div style="background-image: url('/static/images/help1.jpg'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>#}
                    {#                        </div>#}
                    {#                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">Maitreyee Bezbaroa</h6>#}
                    {#                        <p class="card-text" style="text-align: center; font-size: 13px;">#}
                    {#                            Counselling Psychologist#}
                    {#                        </p>#}
                    {##}
                    {#                        <div class="card-block" style="text-align: center;">#}
                    {#                            <a href="#" class="card-link">4 Rating</a>#}
                    {#                            <a href="#" class="card-link">89 Reviews</a>#}
                    {#                            <p style="font-size: 13px;">Conversations - 2540</p>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div style="text-align: center; width: 100%; display: inline-block;">#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">CHAT NOW</a>#}
                    {#                            <a href="#" class="btn btn-primary" style="padding: 6px 8px;">MESSAGE</a>#}
                    {#                        </div>#}
                    {#                      </div>#}
                    {#                    </div>#}
                    {#                </div>#}
                </div>
            </div>

            <div class="swiper-therapist-container visible-xs visible-sm hidden-md hidden-lg" style="overflow: hidden;">
                <div class="swiper-wrapper">
                    {% for therapist in therapists %}
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-block" style="background-color: transparent !important;">
                                    <div style="width: 105px; margin: auto; height: 107px; border-radius: 100%;">
                                        {% if therapist.profile_image %}
                                            <div style="background-image: url('/media/{{ therapist.profile_image }}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                            <!--<a href="{% url 'therapist_detail' pk=therapist.pk %}">-->
                                                <!--<div style="background-image: url('/media/{{ therapist.profile_image }}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>-->
                                            <!--</a>-->
                                        {% else %}
                                             <div style="background-image: url('{% static 'images/person.png' %}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                            <!--<a href="{% url 'therapist_detail' pk=therapist.pk %}">-->
                                                <!--<div style="background-image: url('{% static 'images/person.png' %}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>-->
                                            <!--</a>-->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="padding: 20px 0px 0px 0px; text-align: center;">
                <a href="{% url 'get_started' %}" class="btn btn-primary" style="padding: 6px 8px;">CONNECT WITH A THERAPIST</a>
            </div>
        </div>
    {% endif %}
    <div class="quize_image hidden-sm hidden-xs" style="position: relative;">
        <div id="over_lay" style="width: 100%; height: 100%; position: absolute; background: rgba(34, 34, 14, 0.68)"></div>
        <div style="position: absolute; top: 15%; left: 36%; text-align:center">
            <h1 style=" line-height: 1.5em; color: #fff; font-weight: bolder; font-family: aktiv-grotesk !important;">
                Just how well do you<br> know yourself?
            </h1>

            <p style="margin:15px 0; line-height: 1.5em; color: #fff; font-weight: 600; font-family: aktiv-grotesk !important;font-size: 18px;">
                Try MiNDCuRE's tested and verified free online self-assessment test.<br>
                Answer the questions and view your test results instantly.
            </p>
            <a href="{% url 'self_help' %}" class="btn btn-warning hidden-sm hidden-xs"
               style="width: 50%; line-height: 1.5em; color: #fff; font-weight: 600; font-family: aktiv-grotesk !important; margin-left:9em">
                TAKE A SELF TEST
            </a>
        </div>
    </div>
    <div class="visible-sm visible-xs" style="background-image: url('/static/images/how_well.jpg');background-position: bottom center;position: relative;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="container" style="padding: 40px 0;">

            <div class="col-md-12">
                <div class="text-center">
                     <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p class="pt-25" style="font-weight: 600; color:#fff">Try MiNDCuRE's tested and verified free online self-assessment test.<br>Answer the questions and view your test results instantly.</p>

                                    <p>
                                        <a href="{% url 'self_help' %}" class="btn btn-warning"
                                           style=" line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;margin-top: 10px;">
                                            TAKE A SELF TEST
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fafafa; padding: 40px 0; margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h1 style="color:#AF5100; text-align: center; font-weight: 600; font-size: 20px; margin-bottom: 20px;">
                            Connect instantly with MiNDCuRE Therapists on all devices
                        </h1>

                        <p style="font-size: 14px; line-height: 30px; text-align:justify !important; color: #000">
                            We understand that space, time and distance are some of the limitations with booking office
                            appointments in traditional therapy.
                            But with the MiNDCuRE online therapy solution, you can check in and chat up your therapist
                            on your Laptop, tablet or smart phones anytime and wherever.
                            We ensure your sessions are encrypted to keep them safe and confidential
                        </p>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block" style="padding-right: 0; padding-left: 0; background-color: #fafafa;">
                            <div style="text-align: center; width: 100%; display: inline-block;">
                                <a href="#">
                                    <img style="display: block;width: 50%;margin: 0 0 15px 25%;" class="five_th_img" src="{% static 'images/appleappstore.png' %}">
                                </a>
                                <a href="#">
                                    <img style="display: block;width: 50%;margin: 0 0 15px 25%;" class="five_th_img" src="{% static 'images/playstore.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if testimonials|length > 0 %}
        <div style="background-image: url('/static/images/testimonial1.jpg');background-position: center center;position: relative;">
            <div style="background: rgba(16,16,16,0.8); width: 100%; height: 100%; position: absolute;"></div>
            <div class="container" style="padding: 40px 0;">
                <h4 class="testimonial_header">
                    What do MiNDCuRE users say
                </h4>

                <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            {% for testimonial in testimonials %}
                                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>{{ testimonial.body }}</p>
                                                <small>{{ testimonial.name }}</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            {% endfor %}
                        </div>
                        <a data-slide="next" href="#quote-carousel" class="left carousel-control pad-right-30">
                            <i class="ion-ios-arrow-left"></i>
                        </a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control pl-30">
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var texts = [
                "Nothing haunts us like the things we don't say - Mitch Albom",
                "In our deepest moments,  we say the most inadequate things - Edna O' Brien. ",
                "Connection is Recovery's ally. - MiNDCuRE",
                "You cannot have a positive Life and a negative mind.  Joyce Meyer.",
                "We Listen - MiNDCuRE"
            ];

            var randomNumber = Math.floor(Math.random() * texts.length);
            $('#quote').text(texts[randomNumber]);
            $('#quote_mobile').text(texts[randomNumber]);
        });
    </script>
{% endblock %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('.carousel').carousel({
        interval: 2000
    });
    $("#myCarousel").on("slide.bs.carousel", function (e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $(".carousel-item").length;

        if (idx >= totalItems - (itemsPerSlide - 1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i = 0; i < it; i++) {
                // append slides to end
                if (e.direction == "left") {
                    $(".carousel-item")
                            .eq(i)
                            .appendTo(".carousel-inner");
                } else {
                    $(".carousel-item")
                            .eq(0)
                            .appendTo(".carousel-inner");
                }
            }
        }
    });
</script>