{% extends 'shop/layout.html' %}

{% block body %}
    <div style="background-color: #fbfbfb;">
        <div class="container header_name">
            <h1 style="font-family: inherit;">{{ test.title }}</h1>
        </div>

        <div class="container header_name">
            <form action="{{ request.path }}" method="post" id="testForm">
                {% csrf_token %}
                <div class="fieldshiled">
                    <p>{{ test.description }}</p>
                    <br>
                </div>

                <div class="row" style="margin-top: 15px;">
{#                    <input type="hidden" name="assessment_id" value="{{ test.id }}">#}
                    {% for question in questions %}
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-6 col-lg-12">
                                    <label for="{{ forloop.counter }}" style="margin-bottom: 20px">{{ forloop.counter }}. {{ question.body }}</label>
                                    <div class="funkyradio">
                                        {% for resp in question.responses.all %}
                                            <div class="funkyradio-success">
                                                <input type="radio" name="{{ question.id }}" id="{{ resp.id }}_{{ question.id }}" value="{{ resp.slug }}" required>
                                                <label for="{{ resp.id }}_{{ question.id }}">{{ resp.name }}</label>
                                            </div><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="float: right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
{#                <div class="fieldshiled">#}
{#                    <div class="row" style="margin-top: 15px;">#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <label for="[[ current_question.number ]]">[[ current_question.number ]]. [[ current_question.body ]]</label>#}
{#                                <div class="col-md-6">#}
{#                                    <div class="funkyradio">#}
{#                                        <div class="funkyradio-success" ng-repeat="resp in current_question.responses">#}
{#                                            <input type="radio" name="[[ current_question.number ]]" id="[[ resp.id ]]" value="[[ resp.name ]]" required/>#}
{#                                            <label for="[[ resp.id ]]">[[ resp.name ]]</label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <button type="button" class="btn-sm btn-primary" ng-show="current_question.number > 1" ng-click="changeQuestion(current_question.number - 1)">Prev</button>#}
{#                    <button type="button" class="btn-sm btn-success" ng-hide="current_question.number === data.final_number" ng-click="changeQuestion(current_question.number + 1)">Next</button>#}
{#                    <button type="submit" class="btn-sm btn-success">#}
{#                        <span ng-hide="current_question.number === data.final_number">Next</span>#}
{#                        <span ng-show="current_question.number === data.final_number">Submit</span>#}
{#                    </button>#}
{#                </div>#}

                {#                <div class="tabs">#}
                {#                    <ul class="tab-links">#}
                {#                        <li class="active"><a href="#tab1"></a></li>#}
                {#                        <li><a href="#tab2"></a></li>#}
                {#                        <li><a href="#tab3"></a></li>#}
                {#                        <li><a href="#tab4"></a></li>#}
                {#                    </ul>#}
                {#                 #}
                {#                    <div class="tab-content">#}
                {#                        <div id="tab1" class="tab active">#}
                {#                            <div class="fieldshiled">#}
                {#                                <div class="row" style="margin-top: 15px;">#}
                {#                                    {% for question in questions %}#}
                {#                                        <div class="col-md-12">#}
                {#                                            <div class="form-group">#}
                {#                                                <label for="{{ question.number }}">{{ question.number }}. {{ question.body }}</label>#}
                {#                                                <div class="col-md-6">#}
                {#                                                    <div class="funkyradio">#}
                {#                                                        {% for resp in question.responses.all %}#}
                {#                                                            <div class="funkyradio-success">#}
                {#                                                                <input type="radio" name="{{ question.number }}" id="{{ resp.id }}" value="{{ resp.name }}"/>#}
                {#                                                                <label for="{{ resp.id }}">{{ resp.name }}</label>#}
                {#                                                            </div>#}
                {#                                                        {% endfor %}#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    {% endfor %}#}
                {#                                    <div class="col-md-12">#}
                {#                                        <div class="form-group">#}
                {#                                            <label for="[[ current_question.number ]]">[[ current_question.number ]]. [[ current_question.body ]]</label>#}
                {#                                            <div class="col-md-6">#}
                {#                                                <div class="funkyradio">#}
                {#                                                    <div class="funkyradio-success" ng-repeat="resp in current_question.responses">#}
                {#                                                        <input type="radio" name="[[ current_question.number ]]" id="[[ resp.id ]]" value="[[ resp.name ]]" ng-model="data."/>#}
                {#                                                        <label for="[[ resp.id ]]">[[ resp.name ]]</label>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div>#}
                {#                                <button type="button" class="btn-sm btn-primary" ng-show="current_question.number > 1" ng-click="changeQuestion(current_question.number - 1)">Prev</button>#}
                {#                                <button type="button" class="btn-sm btn-success" ng-hide="current_question.number === data.final_number" ng-click="changeQuestion(current_question.number + 1)">Next</button>#}
                {#                                <button type="button" class="btn-sm btn-success" ng-show="current_question.number === data.final_number" ng-click="submit()">Submit</button>#}
                {#                            </div>#}
                {#                            <ul class="tab-links">#}
                {#                                <li>#}
                {#                                    <span href="#next_tab2" class="nextButton mynextbutton">Next</span>#}
                {#                                </li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#testForm").validate({
                ignore: [],
                submitHandler: function (form) {
                    // do other things for a valid form
                    form.submit();
                }
            });
            {#            jQuery('.tabs .tab-links a').on('click', function(e)  {#}
            {#                var currentAttrValue = jQuery(this).attr('href');#}
            {#         #}
            {#                // Show/Hide Tabs#}
            {#                jQuery('.tabs ' + currentAttrValue).show().siblings().hide();#}
            {#         #}
            {#                // Change/remove current tab to active#}
            {#                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');#}
            {#         #}
            {#                e.preventDefault();#}
            {#            });#}
            {#            #}
            {#            jQuery('.nextButton').on('click', function() {#}
            {#                #}
            {#           var $activeTab = $('.tab-links li.active');#}
            {#             #}
            {#             var $wrapper = jQuery(this).closest('.tabs');#}
            {#           var indexActive = $wrapper.find('li.active').index();#}
            {#           $wrapper.find('li').eq(indexActive + 1).find('a').click();#}
            {#        });#}
            {#            #}
            {#             jQuery('.prevButton').on('click', function() {#}
            {#                #}
            {#           var $activeTab = $('.tab-links li.active');#}
            {#             #}
            {#             var $wrapper = jQuery(this).closest('.tabs');#}
            {#           var indexActive = $wrapper.find('li.active').index();#}
            {#           $wrapper.find('li').eq(indexActive - 1).find('a').click();#}
            {#        });#}

        })
    </script>
{% endblock %}