{% extends 'shop/layout.html' %}

{% block body %}
    <div style="background-color: #fbfbfb; padding: 20px 0">
        <div class="container header_name">
            <h1 style="font-family: inherit;">{{ test.title }}</h1>
        </div>

        <div class="container header_name">
            <form action="{{ request.path }}" method="post" id="testForm">
                {% csrf_token %}
                <div class="fieldshiled">
                    <p>{{ test.description }}</p>
                    <br>
                </div>

                <div class="row" style="margin-top: 15px;">
{#                    {% for question in questions %}#}
{#                        <div class="col-md-12">#}
{#                            <div class="form-group">#}
{#                                <div class="col-md-6">#}
{#                                    <label for="{{ forloop.counter }}" style="margin-bottom: 20px">{{ forloop.counter }}. {{ question.body }}</label>#}
{#                                    <div class="funkyradio">#}
{#                                        {% for resp in question.responses.all %}#}
{#                                            <div class="funkyradio-success">#}
{#                                                <input type="radio" name="{{ question.id }}" id="{{ resp.id }}_{{ question.id }}" value="{{ resp.slug }}" required>#}
{#                                                <label for="{{ resp.id }}_{{ question.id }}">{{ resp.name }}</label>#}
{#                                            </div><br>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="gender" style="margin-bottom: 20px">1. What is your gender? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="male" id="male" value="Male" required>
                                        <label for="male">Male</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="female" id="female" value="Female" required>
                                        <label for="female">Female</label>
                                    </div><br>
                                     <div class="funkyradio-success">
                                        <input type="radio" name="others" id="others" value="Others" required>
                                        <label for="others">Others (specify below)</label>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
{#                                <label for="age" style="margin-bottom: 20px">2. How old are you?  </label>#}
                                <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="age" aria-describedby="ageHelp" name="age" placeholder="How old are you?" value="{{ form.age.data }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="previous_sessions" style="margin-bottom: 20px">3. Have you ever been in a therapy session before? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="yes" id="yes" value="Yes" required>
                                        <label for="yes">Yes</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="no" id="no" value="No" required>
                                        <label for="no">No</label>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="float: right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#testForm").validate({
                ignore: [],
                submitHandler: function (form) {
                    // do other things for a valid form
                    form.submit();
                }
            });

        })
    </script>
{% endblock %}