{% extends 'shop/layout.html' %}
{% load static from staticfiles %}
{% load custom %}
{% block body %}
    <style>
        .pre_t {
            font-size: 30px;
            font-weight: 600;
        }
        .tip {
          width: 0px;
          height: 0px;
          position: absolute;
          background: transparent;
          border: 10px solid #ccc;
        }

        .tip-up {
          top: -25px; /* Same as body margin top + border */
          left: 10px;
          border-right-color: transparent;
          border-left-color: transparent;
          border-top-color: transparent;
        }

        .tip-down {
          bottom: -25px;
          left: 10px;
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: transparent;
        }

        .tip-left {
          top: 10px;
          left: -25px;
          border-top-color: transparent;
          border-left-color: transparent;
          border-bottom-color: transparent;
        }

        .tip-right {
          top: 10px;
          right: -25px;
          border-top-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }

        .dialogbox .body {
          position: relative;
          <!--max-width: 300px;-->
          height: auto;
          margin: 20px 10px;
          padding: 15px;
          background-color: #dadada57;
          border-radius: 3px;
          border: 5px solid #eeeeee54;
        }

        .body .message {
          min-height: 30px;
          border-radius: 3px;
          font-family: Arial;
          font-size: 14px;
          line-height: 1.5;
          color: #797979;
        }

        small {
            font-size: 12px;
            font-style: italic;
        }

        span {
             font-style: italic;
        }

        .question_section {
            padding: 25px 25px 0 25px;
            background: #eeeeee54
        }

         @media only screen and (min-width: 1200px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }
        }

    </style>

    <div style="background-color: #fbfbfb;">
        <div class="container header_name">
            <h1 class="pre_t visible-md visible-lg">Pre Therapy Questions</h1>
            <h1 class="f-25 fw-600 text-center visible-xs visible-sm">Pre Therapy Questions</h1>
        </div>

        <div class="container header_name margin-bottom-48" ng-controller="BaseController" ng-init="init_pre_therapy()">
            {% if flashes %}
                <div class="col-md-12 newaccordion text_center">
                    {% for message in flashes %}
                        <div {% if message.tags == 'error' %}
                            class="alert alert-danger alert-dismissable" {% else %}
                            class="alert alert-success alert-dismissable" {% endif %}>
                            <button type="button" class="close" data-dismiss="alert">&times;
                            </button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ request.path }}" method="post" id="testForm">
                {% csrf_token %}
                <div class="fieldshiled">
                    <p style="text-align: justify">Please fill out this short questionnaire to provide some general and anonymous background about you and the issues you'd like to deal with in online therapy. It would help us match you with the most suitable therapist for you. Your answers will also give this counselor a good starting point in getting to know you.</p>
                    <br>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question ==1">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6 question_section">
                                    <label for="gender" class="question_label">1. What is your gender? </label>
                                    <!--<div class="funkyradio">-->
                                        <!--<div class="funkyradio-success">-->
                                            <!--<input type="radio" name="gender" id="male" value="Male" onclick="genderChanged(this)" ng-model="questions[0].response" ng-change="activateNext()" required>-->
                                            <!--<label for="male">Male</label>-->
                                        <!--</div><br>-->
                                        <!--<div class="funkyradio-success">-->
                                            <!--<input type="radio" name="gender" id="female" value="Female" onclick="genderChanged(this)" ng-model="questions[0].response" required>-->
                                            <!--<label for="female">Female</label>-->
                                        <!--</div><br>-->
                                         <!--<div class="funkyradio-success">-->
                                            <!--<input type="radio" name="gender" id="others" value="Others" ng-model="questions[0].response" onclick="genderChanged(this)" required>-->
                                            <!--<label for="others">Others (specify below)</label>-->
                                        <!--</div><br>-->
                                    <!--</div>-->
                                    <input type="text" style="border: 1px solid #eee !important;" class="form-control" id="gender" ng-model="questions[0].response" aria-describedby="genderHelp" name="gender" value="{{ form.gender.data }}" required>
                                    <br>
                                    {% if form.gender.errors %}
                                        <ol>
                                            {% for error in form.gender.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <button type="button" class="btn btn-primary" style="float:right; margin-right: 15px" ng-disabled="!questions[0].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="responses.current_question == 2">
                        <div style="margin-top:50px;" class="hidden-sm hidden-xs"></div>
                        <div class="form-group">
                            <!--<div style="margin-bottom: 12em;" class="hidden-sm hidden-xs"></div>-->
                            <div class="col-md-6 question_section">
                                <label for="age" class="question_label">2. How old are you?  </label>
                                <input type="number" min="18" max="99" style="border: 1px solid #eee !important;" class="form-control" id="age" aria-describedby="ageHelp" ng-model="questions[1].response" name="age" value="{{ form.age.data }}" required>
                                <br><br>
                                {% if form.age.errors %}
                                    <ol>
                                        {% for error in form.age.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                            <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <br>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:5px;">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[1].response" ng-click="next_pt_question()">Next</button>
                        </div>
                        <div style="margin-bottom: 12em" class="hidden-xs hidden-sm"></div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 3">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="previous_sessions" class="question_label">3. Have you ever been in a therapy session before? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="previous_sessions" ng-model="questions[2].response" id="yes" value="Yes" required>
                                        <label for="yes">Yes</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="previous_sessions" ng-model="questions[2].response" id="no" value="No" required>
                                        <label for="no">No</label>
                                    </div><br>
                                </div>
                                {% if form.previous_sessions.errors %}
                                    <ol>
                                        {% for error in form.previous_sessions.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                            <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[2].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 4">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="medication" class="question_label">4. Are you currently on any therapeutic medication? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="medication" ng-model="questions[3].response" id="therapeutic_yes" value="Yes" required>
                                        <label for="therapeutic_yes">Yes</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="medication" ng-model="questions[3].response" id="therapeutic_no" value="No" required>
                                        <label for="therapeutic_no">No</label>
                                    </div><br>
                                </div>
                                {% if form.medication.errors %}
                                    <ol>
                                        {% for error in form.medication.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[3].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="responses.current_question == 5">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="struggles" class="question_label">5. Do you have any struggles with panic attacks,  depression or anxiety?  </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="struggles" ng-model="questions[4].response" id="struggles_yes" value="Yes" required>
                                        <label for="struggles_yes">Yes</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="struggles" ng-model="questions[4].response" id="struggles_no" value="No" required>
                                        <label for="struggles_no">No</label>
                                    </div><br>
                                </div>
                                {% if form.struggles.errors %}
                                    <ol>
                                        {% for error in form.struggles.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                            <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[4].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 6">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="suicide" class="question_label">6. When last did you have a premonition to commit Suicide? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="suicide" ng-model="questions[5].response" id="less_week" value="Less than a week ago" required>
                                        <label for="less_week">Less than a week ago</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="suicide" ng-model="questions[5].response" id="less_year" value="Less than A year ago" required>
                                        <label for="less_year">Less than A year ago</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="suicide" ng-model="questions[5].response" id="more_year" value="More than A year ago" required>
                                        <label for="more_year">More than A year ago</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="suicide" ng-model="questions[5].response" id="often" value="Often" required>
                                        <label for="often">Often</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="suicide" ng-model="questions[5].response" id="never" value="Never" required>
                                        <label for="never">Never</label>
                                    </div><br>
                                </div>
                                {% if form.suicide.errors %}
                                    <ol>
                                        {% for error in form.suicide.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[5].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 7">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="connecting" class="question_label">7. Connecting with a MiNDCuRE Therapist requires you to completely open up in order to get help. Can you afford this? </label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="connecting" ng-model="questions[6].response" id="connecting_yes" value="Yes" required>
                                        <label for="connecting_yes">Yes</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="connecting" ng-model="questions[6].response" id="connecting_no" value="No" required>
                                        <label for="connecting_no">No</label>
                                    </div><br>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="connecting" ng-model="questions[6].response" id="connecting_see" value="Let's see" required>
                                        <label for="connecting_see">Let's see</label>
                                    </div><br>
                                </div>
                                 {% if form.connecting.errors %}
                                    <ol>
                                        {% for error in form.connecting.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[6].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 8">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="country" class="question_label">8. In what country do you reside? </label>
                                <select class="form-control" id="country" ng-model="questions[7].response" name="country" style="height: 35px" value="{{ form.country.data }}" required><br><br>
                                    {% for count in countries %}
                                        <option value="{{ count.name }}">{{ count.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.country.errors %}
                                    <ol>
                                        {% for error in form.country.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[7].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 9">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="reason" class="question_label">9. Please specify (in a few sentences) why you'd like counseling. This will give your therapist a good understanding of where to start </label>
                                <textarea class="form-control" name="reason" ng-model="questions[8].response" id="reason" rows="5" cols="25" required>{{ form.reason.data }}</textarea>
                                <br><br>
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="btn-group" style="float:right; margin-right: 15px; padding-top:15px">
                            <button type="button" class="btn btn-warning" ng-click="prev_pt_question()">Prev</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!questions[8].response" ng-click="next_pt_question()">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-48" ng-show="responses.current_question == 10">
                        <div class="form-group">
                            <div class="col-md-6 question_section">
                                <label for="qualities" class="question_label">10. Are there any specific qualities that you'd like in a therapist? Please let us know here </label>
                               <select class="form-control" multiple id="qualities" ng-model="questions[9].response" name="qualities">
                                   <option value="Depression">Depression</option>
                                   <option value="Stress Disorders">Stress Disorders</option>
                                   <option value="Anxiety">Anxiety</option>
                                   <option value="Addiction">Addiction</option>
                                   <option value="Personality issues">Personality issues</option>
                                    <option value="Relationship and Dating issues">Relationship and Dating issues</option>
                                    <option value="Family and Parenting">Family and Parenting</option>
                                    <option value="Trauma and Abuse">Trauma and Abuse</option>
                                    <option value="Coping with Grief and Loss">Coping with Grief and Loss</option>
                                    <option value="Intimacy related issues">Intimacy related issues</option>
                                    <option value="Eating disorders">Eating disorders</option>
                                    <option value="Motivation, self-esteem and confidence">Motivation, self-esteem and confidence</option>
                                    <option value="Career difficulties">Career difficulties </option>
                                    <option value="Anger management">Anger management</option>
                                    <option value="Bipolar disorders">Bipolar disorders</option>
                                    <option value="Emotional wellness">Emotional wellness</option>
                               </select>
                                <!--<textarea class="form-control" name="qualities" ng-model="questions[9].response" id="qualities" rows="5" cols="25" placeholder="List attributes and separate using commas; e.g. Relationships and Family, Personality/Self improvement, Emotional Wellness, Mental Health, Others" required>{{ form.qualities.data }}</textarea>-->
                            </div>
                             <div class="col-md-6 hidden-sm hidden-xs">
                                    <div class="dialogbox" style=" margin-top:20px; margin-bottom:20px">
                                        <div class="body">
                                            <span class="tip tip-left"></span>
                                            <div class="message">
                                                 <img src="{% static 'images/left-quote.svg' %}" height="15px" style="float:left"><br>
                                                <span class="ml-20">{% random_quote %}</span><br><br>
                                                <img src="{% static 'images/right-quote.svg' %}" height="15px" style="float:right"><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                <div class="row" style="float: right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-warning" ng-show="responses.current_question == 10" ng-click="prev_pt_question()">Prev</button>
                        <button type="submit" class="btn btn-success" ng-show="responses.current_question == 10">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        jQuery(document).ready(function () {

            $("#testForm").validate({
                ignore: [],
                submitHandler: function (form) {
                    // do other things for a valid form
                    form.submit();
                }
            });
        });

        function genderChanged(gender) {
            gender.value == 'Others' ? document.getElementById('gender').disabled = false : document.getElementById('gender').disabled = true;
        }
    </script>
{% endblock %}
