{% extends 'shop/layout.html' %}

{% block body %}
<style type="text/css">
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

        .panel-title > a:before {
            float: right !important;
            content: "\2798";
            padding-right: 5px;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\2794";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
        }

        .panel.panel-default {
            margin-bottom: 20px !important;
        }

        #requirements {
            text-align: justify;
        }

        @media only screen and (min-width: 320px) and (max-width: 360px) {
            #requirements {
                text-align: center;
            }
        }

</style>

<div class="new_therapist">
    <div class="new_therapist_inner">
        <h1 class="text_center mb-20 f-25 fw-600">
            PRIVACY POLICY
        </h1>

        <p class="f-15 text-justify">
            We, at MiNDCuRE appreciate the trust and information entrusted upon us by you, and seek to protect such
            information to the best extent possible, and only use the information in a manner provided in this privacy
            policy (“Privacy Policy”)
        </p>
        <p class="f-15 text-justify">
            The Privacy Policy is to be read along with and is also subject to MiNDCuRE terms of use available at
            (“Terms of Use”), and comes into effect from the date and time a user (“User” or “You”) registers with
            MiNDCuRE, and accepts the Terms of Use laid provided for. By using the MiNDCuRE Website (the “Website” and
            “Services”), you have agreed to permit to us the collection, storage, and use of the personal information
            you provide (including any changes thereto as provided by the User) for any of the services that MiNDCuRE
            offers.
        </p>
        <p class="f-15 text-justify">
            Our Privacy Policy tells you how MiNDCuRE (“MiNDCuRE/ We/ Our”) collects, protects, uses, and shares your
            information in relation to the services provided through the Website (collectively, the “Service”), and your
            choices about the collection and use of your information. This Privacy Policy shall apply to MiNDCuRE and
            all its Affiliates.
        </p>
        <p class="f-15 text-justify">
            By using our Service, you understand and accept this privacy policy along with any changes as may be made
            from time to time (“Privacy Policy”) and thereby expressly consent to our collection, use and disclosure of
            Personal Information (as defined below) in accordance with this Privacy Policy. If you are not agreeable to
            this, please do not use this Website or Services.
        </p>

        <h3 class="f-15 text-justify"><b>COLLECTION OF PERSONAL INFORMATION</b></h3>
        <p class="f-15 text-justify">
            In the course of providing the Services to you, MiNDCuRE may collect the following information (“Personal
            Information”):
        </p>
        <p class="f-15 text-justify">
            Personal information such as your username, password, e-mail address and phone number when you register for
            a MiNDCuRE account.
        </p>
        <p class="f-15 text-justify">
            With your permission, we may automatically collect some information about your hardware devices when you
            access MiNDCuRE. For example, when you utilize our applications, we may collect your internet protocol
            (“IP”) address and the type of mobile device you use and your geographic location. We also may collect
            information about your activity on MiNDCuRE, such as information about your account usage, as well as
            information about how you interact with the Application. We may combine this automatically-gathered
            information with other information, including personal information we have collected about you.
        </p>
        <p class="f-15 text-justify">
            If you permit cookies on your browser, we may receive and store certain types of information known as
            “cookies” when you access the Website.
        </p>
        <p class="f-15 text-justify">
            Communications between you and MiNDCuRE.
        </p>

        <h3 class="f-15 text-justify"><b>USE OF YOUR PERSONAL INFORMATION</b></h3>
        <p class="f-15 text-justify">
            In order to provide a personalised browsing experience, MiNDCuRE may collect Personal Information from you
            in the manner provided in Clause 1 above, and only upon your consent to this Privacy Policy that MiNDCuRE
            may use such Personal Information to improve its marketing and promotional efforts, to analyse usage,
            improve the content of MiNDCuRE, product offerings, and to customise MiNDCuRE’s content, layout, and
            services, in order to improve MiNDCuRE with a view to optimise MiNDCuRE for you and better tailor it to meet
            your needs.
        </p>
        <p class="f-15 text-justify">
            If you have permitted MiNDCuRE to track your IP address and save cookies in your device by accepting this
            Privacy Policy, to extend this personalized experience, MiNDCuRE may track the IP address of your device and
            save certain User data on your device in the form of cookies. MiNDCuRE uses this data only to deliver web
            pages to you upon request, to customize the site to your interests, to measure traffic within the
            Application, and with your consent let advertisers know the geographic locations of the Users. Please note
            that such portion of your data provided by you to MiNDCuRE that may be personal or sensitive in nature, will
            not be provided to third parties without your consent. User data of a general nature such as demographics
            may however be revealed to external parties.
        </p>
        <p class="f-15 text-justify">
            To ensure a seamless experience at the Website for you and to ensure your maximum benefit and comfort, we
            use or may use the data collected through cookies, log file, device identifiers, location data and clear
            gifs information to: (a) remember information so that you will not have to re-enter it during your visit or
            the next time you visit the site; (b) provide custom, personalized content and information, including
            advertising; (c) provide and monitor the effectiveness of our Services; (d) monitor aggregate metrics such
            as total number of visitors, traffic, usage, and demographic patterns on our website and our Services; (e)
            diagnose or fix technology problems; and (f) otherwise to plan for and enhance our service.
        </p>
        <p class="f-15 text-justify">
            We use certain third-party analytics tools to help us measure traffic and usage trends for the Services.
            These tools collect information, which is not personal or sensitive in nature sent by your device or our
            Services, including the web pages you visit, add-ons, and other information that assists us in improving the
            Services. We collect and use this analytics information with analytics information from other Users in the
            form of anonymised logs, so that it cannot reasonably be used to identify any particular individual User.
        </p>
        <p class="f-15 text-justify">
            In order to facilitate communications between you and other MiNDCuRE users.
        </p>

        <h3 class="f-15 text-justify"><b>CONFIDENTIALITY</b></h3>
        <p class="f-15 text-justify">
            Any information shared by you during personal consultation (“Confidential Information”) shall be excluded
            from the definition of Personal Information and shall not be collected/used in the same manner as Personal
            Information as mentioned in clause 1 and 2 above.
        </p>
        <p class="f-15 text-justify">
            Your Confidential Information shall not be disclosed or shared by MiNDCuRE, its employees, its agents or any
            third party contractors, including the experts; either orally or in writing; except only in the following
            circumstances:
        </p>
        <p class="f-15 text-justify">
            If MiNDCuRE believes that there is a significant/ real/ imminent threat or risk to your health, safety or
            life or to the health, safety or life of any other person or the public;
        </p>
        <p class="f-15 text-justify">
            If MiNDCuRE is required to share such Confidential Information to any authority by law; and
        </p>
        <p class="f-15 text-justify">
            If you have claimed a health care insurance and such Confidential Information is required by the insurer.
        </p>

        <h3 class="f-15 text-justify"><b>SHARING YOUR CONTENT</b></h3>
        <p class="f-15 text-justify">
            We may share Personal Information (including but not limited to, information from cookies, log files, device
            identifiers, location data, and usage data) with businesses that are legally part of the same group of
            companies that MiNDCuRE is part of, or that become part of that group (“ Affiliates”).Our Affiliates may
            only use this information to help provide, understand, and improve the Service (including by providing
            analytics) and Affiliates’ own services (including by providing you with better and more relevant
            experiences).
        </p>
        <p class="f-15 text-justify">
            We also may share your Personal Information as well as information from tools like cookies, log files, and
            device identifiers and location data, with third-party organizations that help us provide the Services to
            you. Our service providers will only be given access to your information as is reasonably necessary to
            provide the Services. All the Service Providers and third parties engaged by MiNDCuRE shall be bound by
            adequate confidentiality terms to protect the Confidential Information and the Personal Information of the
            User so that such information is not used in any manner it is not intended to be used.
        </p>
        <p class="f-15 text-justify">
            While sharing any information with any third party, we will remove parts of data that can identify you and
            share only anonymized data with other parties. We may also combine your information with other information
            in a way that it is no longer associated with you and share that anonymised aggregated information which
            cannot be traced back to you.
        </p>
        <p class="f-15 text-justify">
            Please note that only Personal Information or content that you voluntarily disclose for posting to the
            Website, or post to any social media account owned and operated by MiNDCuRE becomes available to the public.
            No other information provided by you is shared with the public. Once you have shared such information or
            made it public, the same may be re-shared by others, re-posted by MiNDCuRE, or used by MiNDCuRE for the
            purposes of analysis, research or studies.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE shall not ordinarily share the sensitive Personal Information of a User without their prior
            consent. You agree that MiNDCuRE may share sensitive Personal Information of a User with any third party
            without obtaining the prior consent of the User in the following limited circumstances:
        </p>
        <p class="f-15 text-justify">
            When it is requested or required by law or by any court or governmental agency or authority to disclose, for
            the purpose of verification of identity, or for the prevention, detection, investigation including cyber
            incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and
            belief that such disclosure is reasonably necessary for enforcing the Terms of Use, this Privacy Policy, or
            for complying with the applicable laws and regulations.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE proposes to share such information within its group companies and officers and employees of such
            group companies for the purpose of processing personal information on its behalf. MiNDCuRE also ensures that
            the recipients of such information agree to process such information based on our instructions and in
            compliance with this Privacy Policy and any other appropriate confidentiality and security measures.
        </p>

        <h3 class="f-15 text-justify"><b>STORAGE OF INFORMATION AND CONTENT</b></h3>
        <p class="f-15 text-justify">
            Please make sure that you maintain the secrecy of your account information. For the safety and security of
            your information, we have implemented procedures to help protect the information that you provide to us.
            However, no method of transmitting or storing electronic data is ever completely secure, and we cannot
            guarantee that such information will never be accessed, used, or released in a manner that is inconsistent
            with this policy. We expressly disclaim any representation or warranty, whether express or implied, with
            respect to ensuring, guaranteeing, or otherwise offering any definitive promise of security in connection
            with your Information. THE USER IS RESPONSIBLE FOR MAINTAINING THE SECRECY OF YOUR ACCOUNT INFORMATION AT
            ALL TIMES.
        </p>
        <p class="f-15 text-justify">
            The User is solely responsible for maintaining confidentiality of the User’s password and User
            identification. The User shall be solely responsible for all activities and transmission performed by the
            User through his User identification. MiNDCuRE assumes no responsibility or liability for their improper use
            of information relating to such usage of credit cards and/or debit cards by the User, whether online or
            off-line.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE may change or amend this Privacy Policy from time to time to incorporate necessary future changes.
            MiNDCuRE use of User Data shall be in adherence with consistent with the provisions of the relevant privacy
            policy under which the information was collected, regardless of new or conflicting provisions in an updated
            Privacy Policy.
        </p>
        <p class="f-15 text-justify">
            Your privacy is extremely important to us. We are constantly putting great deal of thought, efforts, tools
            and procedures in order to protect and safeguard your privacy. This document is our "Privacy Policy" and it
            contains details on issues related to your privacy when using our services. It is intended to inform you of
            our policies, procedures and practices regarding the collection, use and disclosure of any information that
            you provide through the Platform. The Privacy Policy is part of our Terms and Conditions which can be found
            in our website. The terms in the Privacy Policy (such as, but not limited to, "we", "our", us", "Platform",
            Provider", "Provider Services" etc) have the same meaning as in our Terms and Conditions document. When you
            use our Platform you accept and agree to both the Terms and Conditions and to the Privacy Policy. If you do
            not agree to be bound to the Privacy Policy you should stop using the Platform immediately. By accessing and
            using our Platform you affirm that you have read the Terms and Conditions and the Privacy Policy and that
            you understand, agree and acknowledge to all the terms contained in both of them.
        </p>

        <h3 class="f-15 text-justify"><b>Information Collection and Use</b></h3>
        <p class="f-15 text-justify">
            To let us operate the Platform effectively and to let you use the Platform, including the Provider Services,
            we have to collect and use some information from you (the "Information"). You may decide which Information,
            if any, you would like to share with us but some functions of the Platform may not be available to you
            without providing us the necessary Information. By deciding to provide the Information you agree to our
            methods of collections and use, as well to other terms and provisions of this Privacy Policy. The different
            types of Information we collect and how we intend to use them are detailed below.
        </p>

        <h3 class="f-15 text-justify"><b>Personally Identifiable Information:</b></h3>
        <p class="f-15 text-justify">
            When you sign up to the Platform, update your account details, provide your billing information, provide
            your emergency contact information or make other use of our services, we may ask you for personally
            identifiable information ("Personal Information"). The Personal Information can be used can be used to
            contact you or identify you and it may include, but not limited to, your name, your email, your phone
            number, your address and your credit card information. We may use the Personal Information, either by itself
            or in conjunction with other information, for the following purposes:
        </p>
        <p class="f-15 text-justify">
            Create your account at our Platform, let you log in to the account, administer your account, monitor your
            account, provide customer service and contact you with information, alerts and suggestions that are related
            to your account.
        </p>
        <p class="f-15 text-justify">
            <b>Billing-related purposes.</b>

            Reach out to you, either ourselves or using the appropriate authorities, if either we or a Provider has a
            good reason to believe that you or any other person may be in danger or may be either the cause or the
            victim of a criminal act.
        </p>
        <p class="f-15 text-justify">
            Let a Provider know your first name so he or she can communicate with you effectively.
        </p>
        <p class="f-15 text-justify">
            Let a Provider know your state to ensure he is licensed and qualified to provide a service to you.
        </p>
        <p class="f-15 text-justify">
            <b>Profile Information:</b>
            We may ask you several questions about you and your needs. ("Profile Information"). This information is
            shared with Providers that use our Platform. We may use the Profile Information, either by itself or in
            conjunction with other information, for the following purposes:
        </p>
        <p class="f-15 text-justify">
            <ol class="f-15 text-justify">
                <li>Match you with a Provider</li>
                <li>Help us and our Providers to get to know you and your needs.</li>
                <li>Collect and analyse statistical or aggregated information which is not personally identifiable.</li>
            </ol>
        </p>
        <p class="f-15 text-justify">
            <b>Log Data:</b>
            When you use the Platform, our servers or servers of third party services automatically record information
            that your browser sends ("Log Data"). This Log Data may include, but not limited to, information such as
            your computer, Internet Protocol address ("IP"), pages that you visit and the time spent on those pages,
            actions that you take and other statistics. We may use this information, either by itself or in conjunction
            with other information for the following purposes:
        </p>
        <p class="f-15 text-justify">
            Monitor, analyse and improve the use and functionality of the Platform, the Platform's technical operation
            and the match of the Platform functionality to your needs and preferences.
        </p>

        <h3 class="f-15 text-justify"><b>Session Content:</b></h3>
        <p class="f-15 text-justify">
            While using the Platform you and a Provider would likely write or say things by means of text-based
            communication (such as messages), verbal communication or video communication, either internally or to each
            other (collectively "Session Content"). The Session Content is shared with the Provider(s) that work with
            you. The Session Content may be used, either by itself or in conjunction with other information, for the
            following purposes:
            <ol class="f-15 text-justify">
                <li>Let a Provider provide the service to you.</li>
                <li>Supervise, administer and monitor the service.</li>
                <li>Allow professional supervision to the Provider by qualified professionals.</li>
                <li>Note that all communications transmitted through the Platform, may be recorded or monitored for quality
                    assurance and
                    training purposes and become part of your file and records.
                </li>
            </ol>
            </p>

        <h3 class="f-15 text-justify"><b>Cookies and Web Beacons</b></h3>
        <p class="f-15 text-justify">
            Like many websites, we use "cookies" and "web beacons" to collect information. A "cookie" is a small data
            file that is being transferred to your computer's hard disk for record-keeping purposes. A "web beacon" is a
            tiny image, placed on a Web page or e-mail that can report your visit or use. We use cookies and web beacons
            to enable the technical operation of the Platform, to administer your log-in to your account and to collect
            the Log Data. You can change your browser's settings to it will stop accepting cookies or to prompt you
            before accepting a cookie. However, if you do not accept cookies you may not be able to use the Platform.
            The Platform may also include the use of cookies and web beacons of services owned or provided by third
            parties that are not covered by our privacy policy and we do not have access or control over these cookies
            and web beacons.
        </p>

        <h3 class="f-15 text-justify"><b>Social and General Information Tools</b></h3>
        <p class="f-15 text-justify">
            We would be using several publicly-available tools and information exchange resources, such as (but not
            limited to) a blog, a Facebook page, a Twitter account, a Google Plus account and others (collectively
            "Social and General Information Tools"). Any information you provide or share by using the Social and
            General Information Tools may be freely read, accessed, collected and used by others.
        </p>

        <h3 class="f-15 text-justify"><b>Phishing</b></h3>
        <p class="f-15 text-justify">
            Online identity theft and account hacking, including the practice currently known as "phishing", are of
            great concern. You should always suspect when you are being asked for your account information and you must
            always make sure you do that in our secure system. We will never request your login information, your credit
            card information, in a non-secure or unsolicited communication (e-mail, phone or otherwise).
        </p>

        <h3 class="f-15 text-justify"><b>Aggregate Information and Non-Identifying Information</b></h3>
        <p class="f-15 text-justify">
            We may share aggregated information that does not include any Personal Information with third parties for
            any purpose, including but not limited to industry analysis, research, business transactions and public
            relations.
        </p>

        <h3 class="f-15 text-justify"><b>Links</b></h3>
        <p class="f-15 text-justify">
            The Platform may contain links to other websites, services or offers which are owned, operated or maintained
            by third parties. If you click on a third party link, you will be directed to that third website or service.
            The fact that we link to a website or service is not an endorsement, authorization or representation of our
            affiliation with that third party, nor is it an endorsement of their privacy or information security
            policies or practices. We do not have control over third party websites and services and we do not have
            control over their privacy policies and terms of use.
        </p>

        <h3 class="f-15 text-justify"><b>Transfer of Business</b></h3>
        <p class="f-15 text-justify">
            We may sell or transfer some or all of our assets, including your Personal Information, in connection with a
            merger, acquisition, consolidation, joint venture, reorganization or sale of assets. Such transactions would
            be covered by a confidentiality agreement.
        </p>

        <h3 class="f-15 text-justify"><b>Service Providers</b></h3>
        <p class="f-15 text-justify">
            We may employ third party companies and individuals to facilitate our Platform, to perform certain tasks
            which are related to the Platform or to provide audit, legal, operational or other services for us. These
            tasks include, but not limited to, customer service, technical maintenance, monitoring, email management and
            communication, database management, billing and payment processing, reporting and analytics. When needed we
            may disclose information, including Personal Information, to such third parties but we will try to limit the
            Personal Information disclosed to the minimum necessary to perform their task.
        </p>

        <h3 class="f-15 text-justify"><b>Children's Privacy</b></h3>
        <p class="f-15 text-justify">
            We do not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow
            such persons to become our user. The Platform is not directed and not intended to be used by children under
            the age of 13. If you're aware that we have collected Personal Information from a child under age 13 please
            let us know by contacting us and we will delete that information.
        </p>
        <p class="f-15 text-justify">
            We also do not allow anyone under the age of 18 to use the Platform without parental consent, authorization
            and presence.
        </p>

        <h3 class="f-15 text-justify"><b>International Transfer</b></h3>
        <p class="f-15 text-justify">
            Your information may be transferred to — and maintained on — computers located outside of your state,
            province, country or other governmental jurisdiction where the privacy laws may not be as protective as
            those in your jurisdiction. If you are located outside the United States and choose to provide information
            to us, we may transfer Personal Information to the United States and processes it there. If you are located
            in the United States and choose to provide information to us, we may also transfer some Personal Information
            outside of the US and processes it therTo clear any doubt, all clauses regarding limitations of liabilities and indemnification shall survive the
            termination or expiration of this Agreement.
            Last Updated: August 27th, 2018e. Your consent to this Privacy Policy followed by your submission of
            such information represents your agreement to such transfers.
        </p>

        <h3 class="f-15 text-justify"><b>Compliance with Laws and Law Enforcement</b></h3>
        <p class="f-15 text-justify">
            We cooperate with government and law enforcement officials and private parties to enforce and comply with
            the law. We will disclose any information, including Personal Information, to government or law enforcement
            officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to
            claims and legal process (including but not limited to subpoenas), to protect the property and rights of
            ourselves or a third party, to protect the safety of the public or any person, or to prevent or stop
            activity we may consider to be, or to pose a risk of being, any illegal, unethical or legally actionable
            activity. We may disclose information, including Personal Information, to take precautions against
            liability. You should also be aware that Providers may be obliged to disclose information to law enforcement
            or other authorities to conform to their professional and legal responsibilities. Specifically, and without
            limitation, you should be aware that the law requires mental health professionals to disclose information
            and/or take action in the following cases: (a) reported or suspected abuse of a child or vulnerable adult;
            (b) serious suicidal potential; (c) threatened harm to another person; (d) court-ordered presentation of
            treatment.
        </p>

        <h3 class="f-15 text-justify"><b>Data Retention</b></h3>
        <p class="f-15 text-justify">
            You may review, update, correct or delete the Personal Information in your Account by contacting us or by
            editing it online. If you would like us to delete your Personal Information or any other information from
            our system, please contact us with such request. We will use commercially reasonable efforts to honour your
            request. However, we may retain an archived copy of your records as required by law for legitimate business
            purposes or for recordkeeping purposes. There may also be residual information that will remain within our
            databases and other records, including, without limitation, some data may that may be still archived and
            stored offline. We are not responsible for removing information from the third parties that we have already
            legitimately shared Personal Information about you.
        </p>

        <h3 class="f-15 text-justify"><b>Security</b></h3>
        <p class="f-15 text-justify">
            We are concerned about safeguarding your information. The security of your Personal Information is very
            important to us. Therefore, we employ measures to protect this information from unauthorized access, use,
            and disclosure. However, the confidentiality of any communication transmitted through the Platform or stored
            with us cannot be guaranteed. Please remember that no method of electronic transmission over the Internet or
            method of storage can be 100% secure. You acknowledge and agree that you share and transmit the information
            at your own risk, as further detailed in our terms of use. If you have reason to believe that there has been
            of security, including but limited to "hacking" to your account, you must notify us immediately.
        </p>

        <h3 class="f-15 text-justify"><b>Changes to the Privacy Policy</b></h3>
        <p class="f-15 text-justify">
            We may update this privacy statement at our sole discretion. The date of the last revision of this policy
            appears at the end of this page. We encourage you to periodically review this page for the latest
            information on our privacy policy and practices.
        </p>

        <h3 class="f-15 text-justify"><b>Contacting us</b></h3>
        <p class="f-15 text-justify">
            If you have any questions or concerns about this Privacy Policy or our privacy-related practices,
            please contact us by clicking the "Contact us" link at the bottom of any page in our website.
        </p>

        <p class="f-15 text-justify">
            <b>Last Updated: August, 2018</b>
        </p>
    </div>
</div>

{% endblock %}