{% extends 'layout.html' %}

{% block content %}
	<div class="searchpage_homepage_banner">
		<div class="searchpage_homepage_banner_overlay">
			
		</div>

		<table class="searchpage_table_on_banner">
			<tr>
				<td style="font-size: 15px; line-height: 20px; text-align: right;">
					<input type="text" name="search" id="search" placeholder="&#x1F50E; Search">
				</td>
			</tr>
			<tr>
				<td style="text-align: right; padding-top: 10px;">
					<a href="" style="color: #fff;">
						Advanced Search
					</a>
				</td>
			</tr>
		</table>
	</div>

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-6">
				<table class="input_table">
					<tr>
						<td>
							Showing Search Results For: PERSONAL
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<table class="input_table second_input_table">
					<tr>
						<td style="height: 0px !important;">
							Exclude Offline
						</td>
						<td style="height: 0px !important;">
							<b class="sort_bold" style="font-size: 15px;">Sort: </b>Coversations | Rating
						</td>
						<td style="height: 0px !important;">
							<i class="fa fa-filter" aria-hidden="true"></i>
							Filter Results
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="searchleftandrightparent">
					<div class="search_up_1 search_up"></div>
					<div class="search_bottom">
						<table>
							<tr>
								<td style="padding: 10px 5px 0px 10px;">
									<ul class="search_bottom_ul">
										<li>
											<a href="">
												PERSONAL | 
											</a>
										</li>
										<li>
											<a href="">
												SELF IMPROVEMENT 
											</a>
										</li>
										<li>
											<a href="">
												TIPS 
											</a>
										</li>
									</ul>
								</td>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li style="padding-top: 10px;">
											<a href="">1 Day</a>
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<td style="padding: 10px 5px 10px 10px; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
									6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="searchleftandrightparent">
					<div class="search_up search_up_2"></div>
					<div class="search_bottom">
						<table>
							<tr>
								<td style="padding: 10px 5px 0px 10px;">
									<ul class="search_bottom_ul">
										<li>
											<a href="">
												PERSONAL | 
											</a>
										</li>
										<li>
											<a href="">
												PARENTING TIPS 
											</a>
										</li>
									</ul>
								</td>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li style="padding-top: 10px;">
											1 Week
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<td style="padding: 10px 5px 10px 10px; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
									10 - Step Guide To Parenting The RIGHT WAY!
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="searchleftandrightparent">
					<div class="search_up search_up_3"></div>
					<div class="search_bottom">
						<table>
							<tr>
								<td style="padding: 10px 5px 0px 10px;">
									<ul class="search_bottom_ul">
										<li>
											<a href="">
												MYTHS AND TRUTH | 
											</a>
										</li>
										<li>
											<a href="">
												PERSONAL 
											</a>
										</li>
									</ul>
								</td>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li style="padding-top: 10px;">
											23 Minutes
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<td style="padding: 10px 5px 10px 10px; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
									Your Sense Of Control Might Just Be An illusion. Get Help To Get Better.
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="searchleftandrightparent">
					<div class="search_up search_up_4"></div>
					<div class="search_bottom">
						<table>
							<tr>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li>
											<a href="">
												PERSONAL |
											</a>
										</li>
										<li>
											<a href="">
												SELF IMPROVEMENT |
											</a>
										</li>
										<li>
											<a href="">
												TIPS
											</a>
										</li>
									</ul>
								</td>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li style="padding-top: 5px;">
											1 Week
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<td style="padding: 10px 5px 10px 10px; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
									What Is A DIET? What Is Our Relationship With It?
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table style="width: 100%; margin-top: 30px !important;">
		<tr>
			<th style="text-align: center;">
				<a href="" style="color: #D69632; text-transform: uppercase; font-family: montserratReg;">
					View More
				</a>
			</th> 
		</tr>
		<tr>
			<th style="text-align: center;">
				<i class="fa fa-circle" aria-hidden="true"></i>
				<i class="fa fa-circle" aria-hidden="true"></i>
				<i class="fa fa-circle" aria-hidden="true"></i>
			</th>
		</tr>
	</table>
{% endblock %}