{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}
    <div class="container book_appointment_head_parent">
    	<div class="row">
    		<div class="col-md-12">
    			<h1 class="book_appointment_h1">
    				Book Your Appointment
    			</h1>

    			<p class="book_appointment_p">
    				Fix a one-on-one confidential session with a MindCure expert
    			</p>
    		</div>
    	</div>
    </div>

    <div class="book_appointment_mainbody">
    	<div class="content_wrap" id="myDIV">
    		<div class="">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<div class="submain_without_green_border">
	    					<div class="col-md-2">
	    						<img src="{% static 'images/mindcure_logo.png' %}"  class="submain_with_green_border_left">
	    					</div>
	    					<div class="col-md-8">
	    						<h1 class="submain_without_green_border_middle_h1">
	    							MindCure will assign the best available expert for you
	    						</h1>
	    					</div>
	    					<div class="col-md-2">
	    					</div>
	    					<div class="clearfix"></div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>

	    	<div class="second_content_wrap">
	    		<h1 class="second_content_wrap_h1">
	    			SELECT DATE & TIME
	    		</h1>
	    	</div>

	    	<div class="">
	    		<div class="row">
	    			<div class="col-md-12 newaccordion">
	    				<div class="submain_without_green_border">
	    					<div class="col-md-2 submain_without_green_border_left_content">
	    						&#8358;400
	    					</div>
	    					<div class="col-md-8">
	    						<b class="submain_without_green_border_middle_b">Voice Call</b>
	    						<h1 class="submain_without_green_border_middle_h1">
	    							for initial 45 minutes (&#8358; 100 for every 15 mins thereafter)
	    						</h1>
	    						<p class="submain_without_green_border_middle_p">
	    							Your expert will talk to you one on one over a dedicated phone line and work with you to find the answers you need
	    						</p>
	    					</div>
	    					<div class="col-md-2 submain_without_green_border_right_content">
	    						<button type="button" class="btn btn-success">SELECT</button>
	    					</div>
	    					<div class="clearfix"></div>
	    				</div>
	    			</div>

					<div class="panell newaccordion_panel">
					  	<div class="w3-bar w3-black" id="myDIVCalender">
							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender activee" onclick="openWeek('TUE')">
								TUE <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('WED')">
								WED <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('THU')">
								THU <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('FRI')">
								FRI <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('SAT')">
								SAT <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('SUN')">
								SUN <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openWeek('MON')">
								MON <br>
								<span>
									Apr 24
								</span>
							</button>
						</div>

						<div id="TUE" class="w3-container week">
						  	<ul id="content">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="WED" class="w3-container week" style="display:none">
						  	<ul id="content1">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
						  	</ul> 
						</div>

						<div id="THU" class="w3-container week" style="display:none">
							<ul id="content2">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="FRI" class="w3-container week" style="display:none">
						  	<ul id="content3">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SAT" class="w3-container week" style="display:none">
						 	<ul id="content4">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SUN" class="w3-container week" style="display:none">
						 	<ul id="content5">
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="MON" class="w3-container week" style="display:none">
						 	<ul id="content6">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>
					</div>





					<div class="col-md-12 newaccordion">
	    				<div class="submain_without_green_border">
	    					<div class="col-md-2 submain_without_green_border_left_content">
	    						&#8358;600
	    					</div>
	    					<div class="col-md-8">
	    						<b class="submain_without_green_border_middle_b">Voice Call</b>
	    						<h1 class="submain_without_green_border_middle_h1">
	    							for initial 30 minutes (Rs 250 for every 15 mins thereafter)
	    						</h1>
	    						<p class="submain_without_green_border_middle_p">
	    							A visual interaction will help your expert observe body language and non-verbal cues, enabling for optimal therapy. Confidentiality is guaranteed
	    						</p>
	    					</div>
	    					<div class="col-md-2 submain_without_green_border_right_content">
	    						<button type="button" class="btn btn-success">SELECT</button>
	    					</div>
	    					<div class="clearfix"></div>
	    				</div>
	    			</div>

					<div class="panell newaccordion_panel">
					  	<div class="w3-bar w3-black" id="myDIVCalender1">
							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender activeee" onclick="openCity('TUE')">
								TUE <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('WED')">
								WED <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('THU')">
								THU <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('FRI')">
								FRI <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('SAT')">
								SAT <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('SUN')">
								SUN <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('MON')">
								MON <br>
								<span>
									Apr 24
								</span>
							</button>
						</div>

						<div id="TUE" class="w3-container city">
						  	<ul id="">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="WED" class="w3-container city" style="display:none">
						  	<ul id="">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
						  	</ul> 
						</div>

						<div id="THU" class="w3-container city" style="display:none">
							<ul id="content2">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="FRI" class="w3-container city" style="display:none">
						  	<ul id="content3">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SAT" class="w3-container city" style="display:none">
						 	<ul id="content4">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SUN" class="w3-container city" style="display:none">
						 	<ul id="content5">
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="MON" class="w3-container city" style="display:none">
						 	<ul id="content6">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>
					</div>





					<div class="col-md-12 newaccordion">
	    				<div class="submain_without_green_border">
	    					<div class="col-md-2 submain_without_green_border_left_content">
	    						&#8358;1500
	    					</div>
	    					<div class="col-md-8">
	    						<b class="submain_without_green_border_middle_b">Face to face</b>
	    						<h1 class="submain_without_green_border_middle_h1">
	    							for initial 60 minutes (Rs 250 for every 15 mins thereafter)
	    						</h1>
	    						<p class="submain_without_green_border_middle_p">
	    							Meet a YourDOST Expert in-person and get the guidance you need while opening up about your concerns in a safe, judgment-free space.
	    						</p>
	    					</div>
	    					<div class="col-md-2 submain_without_green_border_right_content">
	    						<button type="button" class="btn btn-success">SELECT</button>
	    					</div>
	    					<div class="clearfix"></div>
	    				</div>
	    			</div>

					<div class="panell newaccordion_panel">
					  	<div class="w3-bar w3-black" id="myDIVCalender2">
							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender activeeee" onclick="openCity('TUE')">
								TUE <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('WED')">
								WED <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('THU')">
								THU <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('FRI')">
								FRI <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('SAT')">
								SAT <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('SUN')">
								SUN <br>
								<span>
									Apr 24
								</span>
							</button>

							<button class="w3-bar-item w3-button newaccordion_panel_button btnn_calender" onclick="openCity('MON')">
								MON <br>
								<span>
									Apr 24
								</span>
							</button>
						</div>

						<div id="TUE" class="w3-container city">
						  	<ul id="content">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="WED" class="w3-container city" style="display:none">
						  	<ul id="content1">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
						  	</ul> 
						</div>

						<div id="THU" class="w3-container city" style="display:none">
							<ul id="content2">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="FRI" class="w3-container city" style="display:none">
						  	<ul id="content3">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SAT" class="w3-container city" style="display:none">
						 	<ul id="content4">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="SUN" class="w3-container city" style="display:none">
						 	<ul id="content5">
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>

						<div id="MON" class="w3-container city" style="display:none">
						 	<ul id="content6">
							  	<li class="w3-container_li" tabIndex="1">06:00</li>
							  	<li class="w3-container_li" tabIndex="2">06:30</li>
							  	<li class="w3-container_li" tabIndex="3">07:00</li>
							  	<li class="w3-container_li" tabIndex="4">07:30</li>
							  	<li class="w3-container_li" tabIndex="5">08:00</li>
							  	<li class="w3-container_li" tabIndex="6">08:30</li>
							  	<li class="w3-container_li" tabIndex="7">09:00</li>
							  	<li class="w3-container_li" tabIndex="8">09:30</li>
							  	<li class="w3-container_li" tabIndex="9">10:00</li>
							  	<li class="w3-container_li" tabIndex="10">10:30</li>
							  	<li class="w3-container_li" tabIndex="11">11:00</li>
							  	<li class="w3-container_li" tabIndex="12">11:30</li>
							  	<li class="w3-container_li" tabIndex="13">12:00</li>
							  	<li class="w3-container_li" tabIndex="14">12:30</li>
							  	<li class="w3-container_li" tabIndex="15">01:00</li>
							  	<li class="w3-container_li" tabIndex="16">01:30</li>
							  	<li class="w3-container_li" tabIndex="17">02:00</li>
							  	<li class="w3-container_li" tabIndex="18">02:30</li>
							  	<li class="w3-container_li" tabIndex="19">03:00</li>
							  	<li class="w3-container_li" tabIndex="20">03:30</li>
							  	<li class="w3-container_li" tabIndex="21">04:00</li>
							  	<li class="w3-container_li" tabIndex="22">04:30</li>
							  	<li class="w3-container_li" tabIndex="23">05:00</li>
							  	<li class="w3-container_li" tabIndex="24">05:30</li>
							  	<li class="w3-container_li" tabIndex="25">06:00</li>
							  	<li class="w3-container_li" tabIndex="26">06:30</li>
							  	<li class="w3-container_li" tabIndex="27">07:00</li>
						  	</ul>
						</div>
					</div>
	    		</div>
	    	</div>

			<div class="button_parent">
				<button type="button" class="btn btn-success">Back</button>
				<button type="button" class="btn btn-success" style="float: right;">Next</button>
			</div>
			<div class="clearfix"></div>
    	</div>
    </div>
{% endblock %}