{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}

    <div ng-init="init_therapist()">
        <div class="container book_appointment_head_parent">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="book_appointment_h1">
                        Book Your Appointment
                    </h1>

                    <p class="book_appointment_p">
                        Fix a one-on-one confidential session with a MindCure expert
                    </p>
                </div>
            </div>
        </div>
        {% if flashes %}
            <div class="row">
                {% for message in flashes %}
                    <div {% if message.tags == 'error' %}
                        class="alert alert-danger alert-dismissable" {% else %}
                        class="alert alert-success alert-dismissable" {% endif %}>
                        <button type="button" class="close" data-dismiss="alert">&times;
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="book_appointment_mainbody">
            <form class="content_wrap" id="myDIV" action="{{ request.path }}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="content_wrap_h1 hidden-sm hidden-xs">
                            Choose the expert you would like to talk to
                        </h1>

                        <h1 class="content_wrap_h1 visible-sm visible-xs f-14 text_center">
                            Choose the expert you would like to talk to
                        </h1>

                        <div class="submain_without_green_border">
                            <div class="col-md-2 submain_without_green_border_left_content" style="padding: 0 !important;">
                                <img src="{% static 'images/meeting.svg' %}" height="100px">
                            </div>
                            <div class="col-md-8">
                                <h1 class="submain_with_green_border_middle_h1">
                                    Book Appointment with the best available expert
                                </h1>

                                <p class="submain_with_green_border_middle_p">
                                    In case you are not sure which expert to speak to, our team will pick out the best
                                    available expert for you.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <h1 class="content_wrap_h1 hidden-xs hidden-sm margin-top-25">
                            select from our top experts
    {#                        <button type="submit" class="btn btn-primary margin-bottom-20" style="float: right;">Next</button>#}
                        </h1>

    {#                    <div class="button_parent">#}
    {#                        <button type="submit" class="btn btn-primary" style="float: right;">Next</button>#}
    {#                    </div>#}

                        <h1 class="content_wrap_h1 text_center visible-xs visible-sm f-14 margin-top-25">
                            select from our top experts
                        </h1>
                    </div>
                </div>

                <input type="hidden" name="therapist_id" id="therapist_id">
                <div class="error" ng-bind="therapist_error" ng-hide="current_therapist_id"></div>

                <div class="row cc-selector">
                    {% for top_therapy in therapists|slice:":3" %}
                        <div class="col-md-4 margin-bottom-20" ng-click="changeTherapist('{{ top_therapy.id }}')">
                            <div class="content_wrap_expert_section" id="{{ top_therapy.id }}" ng-class="current_therapist_id == '{{ top_therapy.id }}' ? 'selected_therapist': '' ">
                                <div class="card btnn">
                                    <div class="card-block content_wrap_expert_sectioncard_block">
                                        <a href="{% url 'therapist_detail' pk=top_therapy.pk %}"
                                           class="content_wrap_expert_sectioncard_block_imgwrap hidden-sm hidden-xs visible-md visible-lg">
                                            {% if top_therapy.profile_image %}
                                                <div class="therapist-profile-img"
                                                     style="background-image: url('/media/{{ top_therapy.profile_image }}');"></div>
                                            {% else %}
                                                <div class="therapist-profile-img"
                                                     style="background-image: url('{% static "images/student.svg" %}')"></div>
                                            {% endif %}
                                        </a>
                                        <a href="{% url 'therapist_detail' pk=top_therapy.pk %}"
                                           class="content_wrap_expert_sectioncard_block_imgwrap_mobile hidden-md hidden-lg visible-sm visible-xs">
                                            {% if top_therapy.profile_image %}
                                                <div class="therapist-profile-img"
                                                     style="background-image: url('/media/{{ top_therapy.profile_image }}');"></div>
                                            {% else %}
                                                <div class="therapist-profile-img"
                                                     style="background-image: url('{% static "images/student.svg" %}')"></div>
                                            {% endif %}
                                        </a>
                                        <h6 class="card-subtitle mb-2 text-muted"
                                            style="text-align: center; margin-top: 10px; font-size: 20px; font-family: inherit;">
                                            {{ top_therapy.name }}
                                        </h6>

                                        <p class="card-text" style="text-align: center; font-size: 12px;">
                                            {{ top_therapy.qualification.name|truncatechars:30  }}</p>

                                        <div class="card-block" style="text-align: center;">
                                            <span class="card-link">{{ top_therapy.rating }} Rating</span>
                                            <span class="card-link">{{ top_therapy.reviews_count }} Reviews</span>
                                        </div>
                                        <div style="text-align: center; width: 100%; display: inline-block;">
                                            <a href="{% url 'therapy_messages' pk=top_therapy.pk %}"
                                               class="btn btn-primary btn-xs"><i class="ion-email"></i>&nbsp;Message</a>
                                            <a href="{% url 'therapy_chats' pk=top_therapy.pk %}"
                                               class="btn btn-warning btn-xs"><i class="ion-chatbox"></i>&nbsp;Chat</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="clearfix"></div>

                {% if therapists.object_list|length %}
                    <div>
                        <h1 class="content_wrap_h1 hidden-sm hidden-xs fw-600">
                            or select an expert from entire list
                        </h1>

                        <h1 class="content_wrap_h1 visible-sm visible-xs text_center f-14 fw-600">
                            or select an expert from entire list
                        </h1>

                        <div class="clearfix"></div>

                        <div class="card card-body">
                            <div class="list-group infinite-container">
                                {% for therapist in therapists %}
                                    <div ng-click="changeTherapist('{{ therapist.id }}')" class="list-group-item d-flex justify-content-between align-items-center hidden-sm hidden-xs btnn btnn_media zeroed infinite-item">
                                        <div class="container">
                                            <div class="row" style="width: 76em;">
                                                <div class="col-lg-12" ng-class="current_therapist_id == '{{ therapist.id }}' ? 'selected_therapist': '' ">
                                                    <div class="col-lg-2">
                                                    <div class="collapse_img_left">
                                                        <a href="{% url 'therapist_detail' pk=therapist.pk %}">
                                                            {% if therapist.profile_image %}
                                                                <div style="height: 50px; background-size: auto 100%; border-radius: 100%; background-image: url('/media/{{ therapist.profile_image }}');"></div>
                                                            {% else %}
                                                                <div style="height: 50px; background-size: auto 100%; border-radius: 100%; background-image: url('{% static "images/student.svg" %}')"></div>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                                    <div class="col-lg-8">
                                                        <h1 class="collapse_h1_left">{{ therapist.name|truncatechars:100 }}</h1>

                                                        <p class="collapse_p_left">
                                                            {{ therapist.qualification.name|truncatechars:100  }}
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-2 pt-30">
                                                        <a href="{% url 'therapy_messages' pk=therapist.pk %}"
                                                           class="btn btn-primary btn-xs">
                                                            <i class="ion-email"></i>&nbsp;Message
                                                        </a>
                                                        <a href="{% url 'therapy_chats' pk=therapist.pk %}"
                                                           class="btn btn-warning btn-xs">
                                                            <i class="ion-chatbox"></i>&nbsp;Chat
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-click="changeTherapist('{{ therapist.id }}')"  class="list-group-item d-flex justify-content-between align-items-center visible-sm visible-xs btnn btnn_media zeroed border-none infinite-item">
                                        <div class="container">
                                            <div class="row" ng-class="current_therapist_id == '{{ therapist.id }}' ? 'selected_therapist': '' ">
                                                <div class="col-lg-2">
                                                    <div class="collapse_img_left">
                                                        <a href="{% url 'therapist_detail' pk=therapist.pk %}">
                                                            {% if therapist.profile_image %}
                                                                <div style="height: 50px; background-size: auto 100%; border-radius: 100%; background-image: url('/media/{{ therapist.profile_image }}');"></div>
                                                            {% else %}
                                                                <div style="height: 50px; background-size: auto 100%; border-radius: 100%; background-image: url('{% static "images/student.svg" %}')"></div>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-8 text_center">
                                                    <h1 class="collapse_h1_left text_center">
                                                        {{ therapist.name|truncatechars:100 }}</h1>

                                                    <p class="collapse_p_left text_center">
                                                        {{ therapist.qualification.name|truncatechars:100  }}
                                                    </p>
                                                </div>

                                                <div class="col-lg-2 collapse_col_fontawesome">
                                                    <a href="{% url 'therapy_messages' pk=therapist.pk %}"
                                                       class="btn btn-primary btn-xs">
                                                        <i class="ion-email"></i>&nbsp;Message
                                                    </a>
                                                    <a href="{% url 'therapy_chats' pk=therapist.pk %}"
                                                       class="btn btn-warning btn-xs">
                                                        <i class="ion-chatbox"></i>&nbsp;Chat
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if therapists.has_next %}
                                    <a class="infinite-more-link" href="?page={{ therapists.next_page_number }}"></a>
                                {% endif %}

                                <div class="loading" style="display: none;">
                                    Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}