{% extends 'shop/layout.html' %}

{% block body %}
    <style>
        @media only screen and (min-width: 640px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }
        }
    </style>
    {% load static from staticfiles %}
    <div class="container book_appointment_head_parent">
        <div class="row">
            <div class="col-md-12">
                <h1 class="book_appointment_h1 f-20 fw-600">
                    Select an appropriate therapy plan
                </h1>

                <p class="book_appointment_p hidden-xs hidden-sm text-center">
                    Fix a one-on-one confidential session with a MindCure expert
                </p>

                <p class="book_appointment_p visible-xs visible-sm text-center">
                    Fix a one-on-one confidential <br>session with a MindCure expert
                </p>
            </div>
        </div>
    </div>

    <div class="book_appointment_mainbody">
        <div class="content_wrap" id="myDIV">

            <form method="post" ng-submit="selectPlan()" id="planForm">
                {% csrf_token %}
                <div class="row">
                    {% if flashes %}
                        <div class="col-md-12 newaccordion text_center">
                            {% for message in flashes %}
                                <div {% if message.tags == 'error' %}
                                    class="alert alert-danger alert-dismissable" {% else %}
                                    class="alert alert-success alert-dismissable" {% endif %}>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for plan in plans.all %}
                        <div class="col-md-12 newaccordion">
                        <div class="submain_without_green_border ghost_border {% if plan.title == 'MiNDCuRE unlimited plan' %}plan-def{% endif %}">
                            <div class="col-md-2 submain_without_green_border_left_content {% if plan.title == 'MiNDCuRE unlimited plan' %}white{% endif %}">
                                <span style="border-bottom: 1px solid lightgrey; padding-bottom: 3px">${{ plan.price }}/week</span> ${{ plan.monthly_price }}/month
                            </div>
                            <div class="col-md-8">
                                <p class="submain_without_green_border_middle_b {% if plan.title == 'MiNDCuRE unlimited plan' %}white{% endif %}">{{ plan.title }}</p>

                                <p class="submain_without_green_border_middle_p hidden-xs hidden-sm {% if plan.title == 'MiNDCuRE unlimited plan' %}white{% endif %}">{{ plan.description }}</p>
                                <p class="submain_without_green_border_middle_p visible-xs visible-sm text-center {% if plan.title == 'MiNDCuRE unlimited plan' %}white{% endif %}">{{ plan.description }}</p>
                            </div>
                            <div class="col-md-2 submain_without_green_border_right_content {% if plan.title == 'MiNDCuRE unlimited plan' %}white{% endif %}">
                                <input type="radio" checked="checked" name="plan_id" value="{{ plan.id }}" required>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                 <div class="button_parent">
                    <button type="submit" id="planNext" class="btn btn-primary" style="float: right;">Select Plan</button>
                </div>
            </form>

            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}