{% extends 'shop/layout.html' %}
{% load static from staticfiles %}
<style>
    .about_image {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.about_image.full h1.visible-sm, .about_image.full h1.visible-xs {
		line-height: 30px;
		color: #fff;
		font-weight: 600;
		font-size: 30px;
	}

	.about_image.full p.visible-sm, .about_image.full p.visible-xs {
		color: #fff;
		padding: 0 !important;
		text-align: left !important;
	}

	.about_image.full a.visible-sm, .about_image.full a.visible-xs {
		width: 50%;
	}

	.about_image.full a.visible-sm:hover, .about_image.full a.visible-xs:hover {
		background: #22220E !important;
	}

	a:hover{
        text-decoration: none !important;
    }

    .show-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

</style>
{% block body %}
    <!-- Content page -->
{#	<section class="bgwhite p">#}
{#        #}
{#	</section>#}
    <div class="create_therapist_image full" style="position: relative; height: 420px !important; background-image: url('/static/images/lens-3046269_960_720.jpg') !important;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;"></div>
        <div class="hidden-sm hidden-xs" style="margin-left: 8em; width:100%; position: absolute; top: 3.5em; line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;">
            <h2 class="pl-40 f-40">
                Self Test
            </h2>

            <p class="pl-40 white f-16 fw-500">A self-test is a self-awareness tool that can help you make decision about your mental health.<br><br>
            <!--Anxiety and Depression comes with symptoms which might be helpful in taking some vital steps <br>towards recovery.Take an anxiety and depression test and get your result instantly.<br><br>-->
            Addiction, Anxiety and Depression come with symptoms which might be helpful in taking some  <br> vital steps towards recovery. Take these tests below and get your result instantly.
            </p>
            <p class="text_center margin-top-50" style="margin-right: 20em !important; margin-top: 3em"><img src="{% static 'images/chevron-sign_down.svg' %}" height="60px"></p>
        </div>

        <div class="visible-sm visible-xs pl-40" style="position: absolute;top: 5%; padding-left: 10px; padding-right: 15px;">
            <h2 class="text_center white fw-600 f-40">
                Self Test
            </h2>
            <p class="text_center white f-13 fw-500">A self-test is a self-awareness tool that can help <br>you make decision about your mental health.<br><br>
            <!--Anxiety and Depression comes with symptoms which might be helpful in taking some vital steps towards recovery.Take an anxiety and depression test and get your result instantly.<br><br>-->
            Addiction, Anxiety and Depression come with symptoms which might be helpful in taking some  <br> vital steps towards recovery. Take these tests below and get your result instantly.
            </p>
            <p class="text_center margin-top-40"><img src="{% static 'images/chevron-sign_down.svg' %}" height="50px"></p>
        </div>
    </div>
    <div class="container">
        <div class="row pad-top-30">

            <div class="col-sm-12 col-md-12 col-lg-12 p-b-50">
                <!--<div class="pad-all-30 text_center">-->
                    <!--<span class="f-14" style="color: dimgrey; line-height: 1.9">Addiction, Anxiety and Depression come with symptoms which might be helpful in taking some vital steps towards recovery. <br>-->
                        <!--Take these tests below and get your result instantly.-->
                    <!--</span>-->
                <!--</div>-->
                {% for test in tests %}
                    <div class="col-sm-12 col-md-6 col-lg-4 p-b-50" style="border-radius: 25px; border: 2px solid whitesmoke; margin-right: 20px; margin-left: 20px; margin-bottom: 20px; padding-bottom: 10px">
                    <!-- Block2 -->
                        <div class="block2 pad-all-10">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative" style="height: 250px;">
                                <a href="/self-help/{{ test.slug }}" style="text-decoration: none !important">
                                    <img src="/media/{{ test.banner_image }}" alt="IMG-PRODUCT" style="height: 100%; padding: 10px">
                                </a>
                            </div>
                            <div class="text_center">
                                <div class="block2-txt p-t-20">
                                     <a href="/self-help/{{ test.slug }}" style="text-decoration: none !important">
                                        <span class="block2-name dis-block s-text3 p-b-5 ellipsis"><b>{{ test.title }}</b></span>
                                     </a>
                                    <small class="dis-block p-b-5 ellipsis">{{ test.description }}</small>
                                </div>
                                <a href="/self-help/{{ test.slug }}" class="btn btn-sm btn-primary margin-top-25 f-15" style="border-radius: 25px">Take test</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}