{% extends 'shop/layout.html' %}

{% block body %}
	<div class="blog_banner">
		<div class="homepage_banner_overlay">

		</div>

		<div class="after">
			<h1 class="content_on_blog" style="position: absolute; left: 26%; font-size: 60px; top: 250px; color: #fff; text-transform: uppercase;">Read And Be Free</h1>
		</div>
	</div>

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-6">
				<div class="searchleftandrightparent">
					<div class="search_up_blog_1 search_up"></div>
					<div class="search_bottom" style="background-color: green; border: 0px; border-radius: 0px 0px 10px 10px;">
						<table>
							<tr>
								<td style="padding: 10px 5px 0px 10px;">
									<ul class="search_bottom_ul">
										<li>
											<a href="" style="color: #fff;">
												PERSONAL |
											</a>
										</li>
										<li>
											<a href="" style="color: #fff;">
												MYTH & TRUTH
											</a>
										</li>
									</ul>
								</td>
								<td style="padding: 10px 5px;">
									<ul class="search_bottom_ul">
										<li style="padding-top: 10px;">
											<a href="" style="color: #fff;">1 Day</a>
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<td style="padding: 10px 5px 10px 10px; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; color: #fff;">
									6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="first_section_parent">
					<div class="first_section_parent_left">
						<div class="first_section_parent_left_img"></div>
					</div>

					<div class="first_section_parent_right">
						<h1 class="first_section_parent_right_p" style="margin-top: 0px; font-size: 12px;">
							<a href="" style="color: #000;">INFORMATIVE</a>
						</h1>
						<p class="first_section_parent_right_p" style="margin-bottom: 0px; font-size: 12px;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p class="first_section_parent_right_p">
							<i class="fa fa-clock-o" aria-hidden="true" style="color: #000; font-size: 12px !important;"></i>
							1 Day
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>

				<div class="first_section_parent">
					<div class="first_section_parent_left">
						<div class="first_section_parent_left_img"></div>
					</div>

					<div class="first_section_parent_right">
						<h1  class="first_section_parent_right_p" style="margin-top: 0px; font-size: 12px;">
							<a href="" style="color: #000;">ADVICE</a>
							|
							<a href="" style="color: #000;">CAREER</a>
						</h1>
						<p  class="first_section_parent_right_p" style="margin-bottom: 0px; font-size: 12px;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p class="first_section_parent_right_p" >
							<i class="fa fa-clock-o" aria-hidden="true" style="color: #000; font-size: 12px !important;"></i>
							1 Day
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="container contain" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-5">
				<hr class="hr_hr" style="border: 1.5px solid #333;">
			</div>
			<div class="col-md-2">
				<h1 style="margin-top: 10px; font-size: 18px;">
					Trending Stories
				</h1>
			</div>
			<div class="col-md-5">
				<hr class="hr_hr" style="border: 1.5px solid #333;">
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="searchleftandrightparent" style="width: 100%;">
					<div class="search_up_blog_1 search_up"></div>
					<div class="search_bottom" style="background-color: green; border: 0px; padding: 10px 5px; border-radius: 0px 0px 10px 10px; height: auto;">
						<h1 style="font-size: 10px; margin-top: 10px;">
							<a href="" style="color: #fff;">
								SELF DEVELOPMENT
							</a>
						</h1>
						<p class="nopadding" style="font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; color: #fff;">
							6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="searchleftandrightparent" style="width: 100%;">
					<div class="search_up_blog_2 search_up"></div>
					<div class="search_bottom" style="background-color: green; border: 0px; padding: 10px 5px; border-radius: 0px 0px 10px 10px; height: auto;">
						<h1 style="font-size: 10px; margin-top: 10px;">
							<a href="" style="color: #fff;">
								PERSONAL |
							</a>

							<a href="" style="color: #fff;">
								HUMOR
							</a>
						</h1>
						<p class="nopadding" style="font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; color: #fff;">
							6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="searchleftandrightparent" style="width: 100%;">
					<div class="search_up_blog_1 search_up"></div>
					<div class="search_bottom" style="background-color: green; border: 0px; padding: 10px 5px; border-radius: 0px 0px 10px 10px; height: auto;">
						<h1 style="font-size: 10px; margin-top: 10px;">
							<a href="" style="color: #fff;">
								INFORMATIVE
							</a>
						</h1>
						<p class="nopadding" style="font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; color: #fff;">
							6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="searchleftandrightparent" style="width: 100%;">
					<div class="search_up_blog_2 search_up"></div>
					<div class="search_bottom" style="background-color: green; border: 0px; padding: 10px 5px; border-radius: 0px 0px 10px 10px; height: auto;">
						<h1 style="font-size: 10px; margin-top: 10px;">
							<a href="" style="color: #fff;">
								RELATIONSHIP
							</a>
						</h1>
						<p class="nopadding" style="font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; color: #fff;">
							6 Research-Based Hacks To Help You Avoid The Wrong Diets and Eat RIGHTLY!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table style="width: 100%; margin-top: 30px !important;">
		<tr>
			<th style="text-align: center;">
				<a href="" style="color: #D69632; text-transform: uppercase; font-family: montserratReg;">
					View More
				</a>
			</th>
		</tr>
		<tr>
			<th style="text-align: center;">
				<i class="fa fa-circle" aria-hidden="true"></i>
				<i class="fa fa-circle" aria-hidden="true"></i>
				<i class="fa fa-circle" aria-hidden="true"></i>
			</th>
		</tr>
	</table>
{% endblock %}