{% extends 'shop/layout.html' %}

{% block body %}
	<style>
		.bisk {
			background: ivory;
		}
		@media only screen and (min-width: 640px) {
             footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
            }

            .margin_lines {
            	margin: 120px 0 20px 330px;
            }
        }

        @media only screen and (max-width: 640px) {
        	.margin_lines {
            	margin: 40px 20px 20px 20px;
            }
        }
	</style>
    {% load static from staticfiles %}
    <div class="container margin_lines" ng-init="initSub('{{ profile.current_plan.id }}', '{{ profile.current_therapist.name }}', '{{ profile.current_plan.price }}', '{{ profile.current_therapist.email }}', '{{ profile.current_therapist.billing_settings.subaccount_code }}')">
    	<div class="row container_row text_left">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
			    <div class="card container_card_righ bisk">
			      <div class="card-body" style="border: 2px solid whitesmoke">
			        <div class="row container_card_right_form" style="margin-left: 0 !important;">
			        	<div class="container_card_right_form pt-25">
			        		<p class="form_p_for_h hidden-xs hidden-sm">
			        			Please review your subscription information
			        		</p>
                            <p class="form_p_for_h visible-xs visible-sm pl-30 text_left f-14" style="line-height: 1.3">
			        			Review subscription information
			        		</p>
			        		<p class="form_p">
			        			click subscribe to complete subscription
			        		</p>

			        		<form class="form_first_div" method="post" ng-submit="subscribeUser()">
			        			<div class="form_input_parent">
			        				<input type="text" class="form_input_phone" value="{{ profile.current_therapist.name }}" disabled>
			        				<div>
			        					<label class="form_input_label">
                                            Selected Therapist
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<input type="text" class="form_input_phone" value="{{ profile.current_plan.title }}" disabled>
			        				<div>
			        					<label class="form_input_label">
			        						Selected Plan
			        					</label>
			        				</div>
			        			</div>

                                <div class="form_input_parent">
									<select class="form_input_phone" ng-model="amount" ng-change="computeDuration()" required>
										<option value="{{ profile.current_plan.price }}-5">Week payment/ ${{ profile.current_plan.price }}</option>
										<option value="{{ profile.current_plan.monthly_price }}-20">Month payment/ ${{ profile.current_plan.monthly_price }}</option>
									</select>
			        				<div>
			        					<label class="form_input_label">
			        						Plan Cost
			        					</label>
			        				</div>
			        			</div>

								<div class="form_input_parent">
									<input type="date" min="[[ now_date ]]" ng-model="start_date" required>
									<label class="form_input_label">Planned start date<br> <span class="error f-10" ng-bind="error.start_date"></span></label>
								</div>

			        			<button type='submit' ng-disabled="!payFormData.duration" class="btn btn-primary float-right margin-bottom-20 f-10">
			        				SUBSCRIBE
			        			</button>

			        		</form>
			        	</div>
			        </div>
			      </div>
			    </div>
		  	</div>
            <div class="col-sm-3"></div>
		</div>
    </div>
{% endblock %}