{% extends 'shop/layout.html' %}

{% block body %}
<style type="text/css">
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

        .panel-title > a:before {
            float: right !important;
            content: "\2798";
            padding-right: 5px;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\2794";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
        }

        .panel.panel-default {
            margin-bottom: 20px !important;
        }

        #requirements {
            text-align: justify;
        }

        @media only screen and (min-width: 320px) and (max-width: 360px) {
            #requirements {
                text-align: center;
            }
        }

</style>

<div class="new_therapist">
    <div class="new_therapist_inner">
        <h1 class="text_center mb-20 f-25 fw-600">
            TERMS AND CONDITIONS
        </h1>

        <h3 class="f-15 text-justify"><b>The Terms and Conditions</b></h3>
        <p class="f-15 text-justify">
            The following are the Terms and Conditions (the "Agreement") for the access and use of any person ("User",
            "Client" or "you") in an online platform through which therapy, consulting, professional advice and any
            other information are provided (collectively the "Platform"). The Platform may be provided, be accessible or
            be available via multiple websites, devices, platforms and other means, whether owned and/or operated by us
            or by third parties, including, without limitation, the website Mindcureglobal.com.
        </p>
        <p class="f-15 text-justify">
            Without derogating from the above, the Platform may be used among other things to facilitate (a) personal
            advice and information delivered specifically to you; and (b) general information and content which is
            publicly available and not transmitted to you personally.
        </p>
        <p class="f-15 text-justify">
            By accessing or using the Platform, or by clicking a button or a box indicating that you have read and agree
            to the terms of use, you are entering into this Agreement. You should read this Agreement carefully before
            starting to use the Platform. If you do not agree to be bound to any term of this Agreement, you must
            refrain from signing up to the Platform, you must stop making any use of the Platform and you should not
            access the Platform.
        </p>
        <p class="f-15 text-justify">
            When the terms "we", "us", "our" or similar are used in this Agreement, they refer to any company that owns
            and operates the Platform (the "Company"), its affiliated companies and the shareholders, directors,
            officers, employees, consultants, contractors, subcontractors, agents, advisors, assignees and successors of
            the aforementioned companies.
        </p>

        <h3 class="f-15 text-justify"><b>The Therapists and Therapy Services</b></h3>
        <p class="f-15 text-justify">
            The Platform enables you to communicate with a therapist, consultant, practitioner, professional, expert,
            coach, advisor or any other person (collectively "Therapist") for the purpose of getting therapy,
            information, advice or any other input, benefit or service (collectively "Therapy Services").
        </p>
        <p class="f-15 text-justify">
            The Therapists are neither our employees nor agents nor representatives. Furthermore, we assume no
            responsibility for any act, omission or doing of any Therapist.
        </p>
        <p class="f-15 text-justify">
            We make no representation or warranty whatsoever as to the willingness or ability of a Therapist to give
            advice.
        </p>
        <p class="f-15 text-justify">
            We make no representation or warranty whatsoever as to whether you will find the Therapist Services
            relevant, useful, correct, relevant, satisfactory or suitable to your needs.
        </p>
        <p class="f-15 text-justify">
            We do not control the quality of the Therapist Services and we do not determine whether any Therapist is
            qualified to provide any specific service as well as whether a Therapist is categorized correctly or matched
            correctly to you.
        </p>
        <p class="f-15 text-justify">
            While we may try to do so from time to time, in our sole discretion, you acknowledge that we do not
            represent to verify, and do not guarantee the verification of, the skills, degrees, qualifications,
            licensure, certification, credentials, competence or background of any Therapist. It is your responsibility
            to conduct independent verification regarding any Therapist that provides you with Therapist Services
            (whether through the Platform or not) and we strongly recommend that you will conduct this verification
            prior to communicating with any Therapist through the Platform and on a continuous basis as you use the
            Platform.
        </p>
        <p class="f-15 text-justify">
            Your relationship relating to the Therapist Services is strictly with the Therapist. We are not involved in
            any way with the actual substance of that relationship or any part of the Therapist Service (whether
            provided through the Platform or not), and we do not validate or involved in any of the Therapist Services.
        </p>
        <p class="f-15 text-justify">
            In case you make a payment through the Platform, or make any payment to us, this payment is made to the
            Therapist for the Therapist Services. We may charge the therapist by taking a portion of this payment for
            the use and operation of the Platform ("Platform Use Fees"). However, we will not be deemed as the therapist
            of any Therapist Services regardless of payment. Furthermore, the payment for the use of the Platform is
            made by the Therapist and not by you.
        </p>

        <h3 class="f-15 text-justify"><b>Use of the Platform</b></h3>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that although the Therapist may provide the therapy Services through the
            Platform, we cannot assess whether the use of the Therapist, the therapy Services or the Platform is right
            and suitable for your needs. THE PLATFORM DOES NOT INCLUDE THE PROVISION OF MEDICAL CARE, MENTAL HEALTH
            SERVICES, OR OTHER PROFESSIONAL SERVICES BY US. As operators of the Platform, our role is strictly limited
            to facilitating the communication between you and the Therapist and to enable the provision of the Therapist
            Services. It is up to you to consider and decide whether these services are appropriate for you or not.
        </p>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that you are aware of the fact that the Therapist Services are not a
            complete substitute for a face-to-face examination and/or session by a licensed qualified professional. You
            should never rely on or make health or well-being decisions which are primarily based on information
            provided as part of the Therapist Services. Furthermore, we strongly recommend that you will consider
            seeking advice by having an in-person appointment with a licensed and qualified professional. Never
            disregard, avoid, or delay in obtaining medical advice from your doctor or other qualified healthcare
            therapist, by face-to-face appointment, because of information or advice you received through the Platform.
        </p>
        <p class="f-15 text-justify">
            THE PLATFORM IS NOT INTENDED FOR DIAGNOSIS, INCLUDING INFORMATION REGARDING WHICH DRUGS OR TREATMENT THAT
            MAY BE APPROPRIATE FOR YOU, AND YOU SHOULD DISREGARD ANY SUCH ADVICE IF DELIVERED THROUGH THE PLAFORM.
            You are advised to exercise a high level of care and caution in the use of the Platform and the Therapist
            services.
        </p>
        <p class="f-15 text-justify">
            IF YOU ARE THINKING ABOUT SUICIDE OR IF YOU ARE CONSIDERING TO TAKE ACTIONS THAT MAY CAUSE HARM TO YOU OR TO
            OTHERS OR IF YOU FEEL THAT OR ANY OTHER PERSON MAY BE IN ANY DANGER OR IF YOU HAVE ANY MEDICAL EMERGENCY,
            YOU MUST IMMEDIATELY CALL THE EMERGENCY SERVICE NUMBER (911 IN THE US) AND NOTIFY THE RELEVANT AUTHORITIES.
            YOU ACKNOWLEDGE, CONFIRM AND AGREE THAT THE PLATFORM IS NOT DESIGNED FOR USE IN ANY OF THE AFOREMENTIONED
            CASES AND THAT YOU MUST NOT USE THE PLATFORM IN ANY OF THE AFOREMENTIONED CASES.
            The Platform may contain other content, products or services which are offered or provided by third parties
            ("Third Party Content"), links to Third Party Content (including but not limited to links to other websites)
            or advertisements which are related to Third Party Content. You confirm and acknowledge that we have no
            responsibility over any such Third Party Content, including (but not limited to) any related products,
            practices, terms or policies, and that we will not be liable for any damage or loss caused by any Third
            Party Content.
        </p>
        <p class="f-15 text-justify">
            BY AGREEING TO THIS AGREEMENT YOU ARE ALSO AGREEING TO THE TERMS OF THE PLATFORM PRIVACY POLICY AVAILABLE AT
            <a href="https://www.Mindcureglobal.com/privacy">(THE "PRIVACY POLICY")</a>. THE PRIVACY POLICY IS INCORPORATED INTO AND
            DEEMED A PART OF THIS AGREEMENT. THE SAME RULES THAT APPLY REGARDING CHANGES AND REVISIONS OF THIS AGREEMENT
            ALSO APPLY TO CHANGES AND REVISIONS OF THE PRIVACY POLICY.
        </p>

        <h3 class="f-15 text-justify"><b>Further Disclaimer of Warranty</b></h3>
        <p class="f-15 text-justify">
            YOU HEREBY RELEASE US AND AGREES TO HOLD US HARMLESS FROM ANY AND ALL CAUSES OF ACTION AND CLAIMS OF ANY
            NATURE RESULTING FROM THE PROVIDER SERVICES OR THE PLATFORM, INCLUDING (WITHOUT LIMITATION) ANY ACT,
            OMISSION, OPINION, RESPONSE, ADVICE, SUGGESTION, INFORMATION AND/OR SERVICE OF ANY MENTAL HEALTH
            PROFESSIONAL OR ANY OTHER PROVIDER IN A FIELD REQUIRING LICENSURE AND/OR CERTIFICATION, WHO MAY BE ACCESSED
            THROUGH THE PLATFORM.
        </p>
        <p class="f-15 text-justify">
            YOU AGREE, CONFIRM AND ACKNOWLEDGE THAT WE DO NOT REVIEW, RECOMMEND, ENDORSE, EVALUATE OR PROVIDE ANY
            GUARANTEE, REPRESENTATION OR WARRANTY, AND SPECIFICALLY DISCLAIM ALL REPRESENTATION AND WARRANTIES, WITH
            RESPECT TO (A) ANY PROVIDER; (B) ANY INFORMATION ABOUT ANY PROVIDER INCLUDING WITHOUT LIMITATION ANY
            QUALIFICATIONS, EXPERTISE, CLAIMES OR BACKGROUND OF ANY PROVIDER; (C) THE PROVIDER SERVICES (WHETHER THROUGH
            THE PLATFORM OR NOT) INCLUDING WITHOUT LIMITATION ANY OPINION, RESPONSE, ADVICE, RECOMMENDATION, INFORMATION
            OR ANY OTHER CONTENT WRITTEN OR SAID BY A PROVIDER; (D) THE CONTENT AND THE SUBSTANCE WHICH ARE PART OF THE
            PROVIDER SERVICES; (E) ANY OTHER CONTENT OR INFORMATION POSTED ON THE PLATFORM OR THROUGH THE PLATFORM; (F)
            THE VALIDITY, ACCURACY, AVAILABILITY, COMPLETENESS, SAFETY, LEGALITY, SECURITY, PRIVACT, QUALITY OR
            APPLICABILITY OF THE PLATFORM AND THE PROVIDER SERVICES.
        </p>
        <p class="f-15 text-justify">
            YOU AGREE, CONFIRM AND ACKNOWLEDGE THAT THE PLATFORM IS PROVIDED "AS IS" AND THEREFORE YOU WILL NOT HAVE ANY
            CLAIM OR DEMAND AGAINST US. THE USE OF THE PLATFORM IS AT YOUR SOLE RISK. TO THE FULLEST EXTENT OF THE LAW,
            WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO
            MERCHANTABILITY, NON-INFRINGEMENT, SECURITY, FITNESS FOR A PARTICULAR PURPOSE OR ACCURACY.
        </p>
        <p class="f-15 text-justify">
            ANY CONSULTATION WITH A PROVIDER VIA THE PLATFORM CANNOT AND DOES NOT REPLACE A MEETING WITH A PROFESSIONAL.
            YOU ARE ENCOURAGED TO VERIFY THE INFORMATION PROVIDED BY THE PROVIDERS. ANY RELIANCE ON SUCH INFORMATION IS
            DONE AT THE YOUR FULL AND SOLE RISK AND LIABILITY.
        </p>
        <p class="f-15 text-justify">
            WE DO NOT ASSUME, AND WILL NOT BE LIABLE FOR: (A) THE ACCURACY OR AVAILABILITY OF THE PLATFORM OR ANY PART
            OF THE PLATFORM; OR (B) ANY DAMAGES, HARM OR INJURY ARISING FROM OR RELATED TO THE PLATFORM, THE PROVIDERS
            OR THE PROVIDER SERVICES.
        </p>
        <p class="f-15 text-justify">
            In the event of a dispute regarding any transaction conducted via the Platform, you hereby relieve us from
            all manner of actions, claims or demands and from any and all losses (direct, indirect, incidental or
            consequential), damages, costs or expenses, including, without limitation, court costs and attorneys' fees,
            which you may have against one or more of the above.
        </p>

        <h3 class="f-15 text-justify"><b>Limitation of Liability</b></h3>
        <p class="f-15 text-justify">
            YOU AGREE, CONFIRM AND ACKNOWLEDGE THAT WE SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY
            INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES.
        </p>
        <p class="f-15 text-justify">
            YOU FURTHER AGREE, CONFIRM AND ACKNOWLEDGE THAT OUR AGGREGATE LIABILITY FOR DAMAGES ARISING WITH RESPECT TO
            THIS AGREEMENT AND ANY AND ALL USE OF THE PLATFORM WILL NOT EXCEED THE TOTAL AMOUNT OF MONEY PAID BY YOU
            THROUGH THE PLATFORM IN THE 3 MONTHS PERIOD PRIOR TO THE DATE OF THE CLAIM.
        </p>
        <p class="f-15 text-justify">
            WE EXPLICITLY DISCLAIM ANY LIABILITY WITH RESPECT TO ANY CLAIM, SUIT OR ACTION MADE BY A PROVIDER, WHETHER
            RELATING TO THE PROVIDER SERVICES OR NOT, IN CONNECTION WITH YOUR PAYMENT FOR THE PROVIDER SERVICES OR
            OTHERWISE. YOU AGREE, CONFIRM AND ACKNOWLEDGE TO INDEMNIFY, DEFEND AND HOLD US HARMLESS WITH RESPECT TO ANY
            SUCH CLAIM.
        </p>
        <p class="f-15 text-justify">
            If the applicable law does not allow the limitation of liability as set forth above, the limitation will be
            deemed modified solely to the extent necessary to comply with applicable law.
        </p>
        <p class="f-15 text-justify">
            This section (limitation of liability) shall survive the termination or expiration of this Agreement.
            Your account, representations, conduct and commitments
            You hereby confirm that you are at least 18 years old of age.
            You hereby confirm that you are legally able to enter into a contract.
        </p>
        <p class="f-15 text-justify">
            You hereby confirm and agree that all the information that you provided in or through the Platform, and the
            information that you will provide in or through the Platform in the future, is accurate, true, current and
            complete. Furthermore, you agree that during the term of this Agreement you will make sure to maintain and
            update this information so it will continue to be accurate, current and complete.
        </p>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that you are responsible for maintaining the confidentiality of your
            password and any other security information related to your account (collectively "Account Access"). We
            advise you to change your password frequently and to take extra care in safeguarding your password.
        </p>
        <p class="f-15 text-justify">
            You agree to notify us immediately of any unauthorized use of your Account Access or any other concern for
            breach of your account security.
        </p>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that we will not be liable for any loss or damage that incurred as a
            result of someone else using your account, either with or without your consent and/or knowledge.
        </p>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that you are solely and fully liable and responsible for all activities
            that are made by using your Account Access. You further acknowledge and agree that we will hold you liable
            and responsible for any damage or loss incurred as a result of the use of your Account Access by any person
            whether authorized by you or not, and you agree to indemnify us for any such damage or loss.
        </p>
        <p class="f-15 text-justify">
            You agree and commit not to use the account or Account Access of any other person for any reason.
            You agree and confirm that your use of the Platform, including the Therapist Services, are for your own
            personal use only and that you are not using neither the Platform nor the Therapist Services for or behalf
            of any other person or organization.
        </p>
        <p class="f-15 text-justify">
            You agree and commit not to interfere with or disrupt, or attempt to interfere with or disrupt, any of our
            systems, services, servers, networks or infrastructure, or any of the Platform's systems, services, servers,
            networks or infrastructure, including without limitation obtaining unauthorized access to the
            aforementioned.
        </p>
        <p class="f-15 text-justify">
            You agree and commit not to make any use of the Platform for the posting, sending or delivering of either of
            the following: (a) unsolicited email and/or advertisement or promotion of goods and services; (b) malicious
            software or code; (c) unlawful, harassing, privacy invading, abusive, threatening, vulgar, obscene, racist
            or potentially harmful content; (d) any content that infringes a third party right or intellectual property;
            (e) any content that may cause damage to a third party; (f) any content which may constitute, cause or
            encourage a criminal action or violate any applicable law.
        </p>
        <p class="f-15 text-justify">
            You agree and commit not to violate any applicable local, state, national or international law, statute,
            ordinance, rule, regulation or ethical code in relation to your use of the Platform and your relationship
            with the Therapists and us.
        </p>
        <p class="f-15 text-justify">
            If you receive any file from us or from a Therapist, whether through the Platform or not, you agree to check
            and scan this file for any virus or malicious software prior to opening or using this file.
            You will indemnify us, defend us, and hold us harmless from and against any and all claims, losses, causes
            of action, demands, liabilities, costs or expenses (including, but not limited to, litigation and reasonable
            attorneys' fees and expenses) arising out of or relating to any of the following: (a) your access to or use
            of the Platform; (b) any actions made with your account or Account Access whether by you or by someone else;
            (c) your violation of any of the provisions of this Agreement; (d) non-payment for any of the services
            (including Therapist Services) which were provided through the Platform; (e) your violation of any third
            party right, including ,without limitation, any intellectual property right, publicity, confidentiality,
            property or privacy right. This clause shall survive expiration or termination of this Agreement.
        </p>
        <h3 class="f-15 text-justify"><b>Fees and Payment</b></h3>
        <p class="f-15 text-justify">
            You confirm and agree that all payment related information that you provided and will provide in the future,
            to or through the Platform, are accurate,
            current and correct and will continue to be accurate, current and correct.
        </p>
        <p class="f-15 text-justify">
            You confirm and agree to use only payment means (credit cards or others) which you are duly and fully
            authorized to use.
        </p>
        <p class="f-15 text-justify">
            You agree that all current and future interactions (whether online or offline) between you and a Therapist
            will be made, managed and billed through Platform.
        </p>
        <p class="f-15 text-justify">
            If, for any reason, an interaction between you and the Therapist is not made through the Platform, you agree
            that it will be billed through the platform and that the standard Platform Use Fees will be charged and
            delivered to us even if the Platform hasn't been used for this interaction.
        </p>
        <p class="f-15 text-justify">
            Please note that the charges paid by a customer, are not refundable. However, in the event a customer, is
            not satisfied with the Service provided by MiNDCuRE, then they may send a mail to <a href="mailto:customersupport@mindcureglobal.com"><b>customersupport@mindcureglobal.com</b>.</a>
            MiNDCuRE will review each such mail, on a case to case basis, and may refund the charges paid, if it deems
            fit.
        </p>
        <p class="f-15 text-justify">
            The decision of MiNDCuRE on any such matter shall be final and binding. Please note the specific refund policy in the event of the following circumstances:<br><br>
            <b>Therapy Plan:</b> Any purchased therapy Plan is activated from the date of purchase and expires according
            to its
            duration. In case, the customer fails to use the services during the period, the Therapy Plan cannot be
            shifted to any other period, further, no refunds will be provided in such a scenario. The customer agrees
            and understands that buying a Therapy Plan does not give the customer any preference with regard to the
            allotment of their chat session(s) and/or the Expert of their choice. All Experts have a pre-defined chat
            session schedule, which might be subject to change. The customer agrees that all requests for chat sessions
            are serviced on a first come first serve basis.
        </p>
        <p class="f-15 text-justify">
            The User agrees and accepts that all nuances and modalities relating to making payment using Internet
            Banking/ Debit/Credit Cards (“Virtual Payment Mode”) shall be separately governed by arrangement(s) / terms
            and conditions between the User and the relevant banks. We shall not be responsible, in any manner
            whatsoever, for any liability that may arise in relation to the Virtual Payment Modes (including any
            fraudulent transaction).
        </p>
        <p class="f-15 text-justify">
            While availing any of the payment method(s) available on the Website, we will not be responsible or assume
            any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to (a)
            lack of authorization for any transactions; (b) any payment issues arising out of the transaction or (c)
            decline of such transaction for any reason.
        </p>
        <p class="f-15 text-justify">
            You understand, accept and agree that the payment facility provided us, is neither a banking nor financial
            service.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE reserves its right to change the charges for Services, at any time, without the requirement of any
            prior intimation to the User. Any such change shall be binding and effective on the User.
        </p>
        <h3 class="f-15 text-justify"><b>SE OF THE WEBSITE AND CONDUCT</b></h3>
        <p class="f-15 text-justify">
            <b>Use of the Website</b>
            You may use the Website for lawful purposes only. You shall not post or transmit through the Website any
            material which violates or infringes the rights of others, or which is threatening, abusive, defamatory,
            libellous, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable,
            contains injurious formulas, recipes, or instructions, which encourages conduct that would constitute a
            criminal offense, give rise to civil liability or otherwise violate any law.
        </p>
        <p class="f-15 text-justify">
            You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or
            disclosing any part of the Website in any medium; (ii) transmitting spam, chain letters, or other
            unsolicited email; (iv) attempting to interfere with, compromise the system integrity or security or
            decipher any transmissions to or from the servers running the Website; (iii) taking any action that imposes,
            or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure;
            (iv) uploading invalid data, viruses, worms, or other software agents through the Website; (v) collecting or
            harvesting any personally identifiable information, including account names, from the Website; (vi) using
            the Website for any commercial purposes without having all necessary rights and licenses to the User
            Content; (vii) impersonating another person or otherwise misrepresenting your affiliation with a person or
            entity, conducting fraud, hiding or attempting to hide your identity; (viii) interfering with the proper
            working of the Website; (ix) accessing any content on the Website through any technology or means other than
            those capabilities provided by the Website; or (x) bypassing the measures we may use to prevent or restrict
            access to the Website, including without limitation features that prevent or restrict use or copying of any
            content or enforce limitations on use of the Website or the content therein.
        </p>
        <p class="f-15 text-justify">
            <b>User Content Guidelines:</b>

            You are solely responsible for your conduct and any data that you submit, post or display on or via the
            Website. MiNDCuRE shall have no liability for conduct in relation to your use of our Website. Violations of
            these Terms may result in legal consequences prescribed by the applicable laws.
        </p>
        <p class="f-15 text-justify">
            The Website provides Users the facility to create, share and post content (together, "User Content").
            MiNDCuRE claims no ownership rights over User Content created by you. MiNDCuRE has the right (but not the
            obligation) in its sole discretion to remove any User Content that is stored via the Website.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE takes no responsibility and assumes no liability for any User Content that you or any other User or
            third party creates, stores, shares, posts or sends through the Website. You shall be solely responsible for
            your User Content and the consequences of posting, publishing it, or sharing it and you agree that we are
            only acting as a passive conduit for your online distribution and publication of your User Content. If your
            Content violates these Terms, you may bear legal responsibility for that content.
        </p>
        <p class="f-15 text-justify">
            You agree not to post, store, transmit, create or share any User Content that: (i) may create a risk of
            harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or
            mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or
            damage to any person or property; (iii) seeks to harm or exploit children by exposing them to inappropriate
            content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a
            crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive,
            racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights,
            harassing, humiliating to other people (publicly or otherwise), libellous, threatening, profane, or
            otherwise objectionable; (vi) contains any information or content that is illegal (including, without
            limitation, the disclosure of insider information under securities law or of another party’s trade secrets);
            or (vii) contains any information or content that you do not have a right to make available under any law or
            under contractual or fiduciary relationships. You agree that any User Content that you create, store, or
            share does not and will not violate third-party rights of any kind, including without limitation any
            Intellectual Property Rights (as defined below) or rights of privacy. MiNDCuRE reserves the right, but is
            not obligated, to reject and/or remove any User Content that MiNDCuRE believes, in its sole discretion,
            violates these provisions. For the purposes of these Terms, “Intellectual Property Rights” means all patent
            rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and
            service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist
            or hereafter come into existence, and all Website therefore and registrations, renewals and extensions
            thereof, under the laws of any state, country, territory or other jurisdiction.
        </p>
        <p class="f-15 text-justify">
            In connection with your User Content, you affirm, represent and warrant the following:

            Your User Content and your use thereof as contemplated by these Terms and the Website will not violate any
            law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights
            or privacy rights.
        </p>
        <p class="f-15 text-justify">
            To the extent that you use the Website for any commercial purpose and your User Content contains any
            copyrighted material that is not your original work or in which you do not otherwise own the copyright, you
            have obtained all rights, licenses, consents, and permissions necessary in order to use that copyrighted
            material in connection with the creation and/or dissemination of that User Content using the Website.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE may exercise the rights to your User Content granted under these Terms without liability for
            payment of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining
            agreement or otherwise.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE takes no responsibility and assumes no liability for any User Content that you or any other User or
            third party creates, stores, shares, posts, sends or otherwise makes available through the Website, whether
            directly or indirectly. You shall be solely responsible for your User Content and the consequences of
            posting, publishing it, or sharing it and you agree that MiNDCuRE is only acting a passive conduit for the
            distribution and publication of your User Content. If your Content violates these Terms, you may bear legal
            responsibility for that content.
        </p>
        <h3 class="f-15 text-justify"><b>RIGHTS TO USER CONTENT</b></h3>
        <p class="f-15 text-justify">
        <p class="f-15 text-justify">
            If you share your User Content with MiNDCuRE and/or link your User Content to MiNDCuRE on a third party
            service and/or post content on any social media page owned and operated by MiNDCuRE you expressly grant, and
            you represent and warrant that you have all rights necessary to grant, to MiNDCuRE a royalty-free,
            sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce,
            modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform,
            publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness
            as contained in your User Content, in whole or in part, and in any form, media or technology, whether now
            known or hereafter developed, for use in connection with the Website and MiNDCuRE’s (and its successors’ and
            affiliates’) business, including without limitation for promoting and redistributing part or all of our
            Website (and derivative works thereof) in any media formats and through any media channels.
        </p>

        <h3 class="f-15 text-justify"><b>DISCLAIMERS</b></h3>
        <p class="f-15 text-justify">
            THE ADVICE OR INFORMATION PROVIDED BY EXPERTS VIA THE WEBSITE IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY
            AND CANNOT BE CONSIDERED A SUBSTITUTE FOR EXAMINATION BY A DOCTOR OR OTHER MENTAL HEALTH PROFESSIONAL. YOU
            ARE ADVISED STRONGLY AGAINST RELYING SOLELY ON, OR MAKE DECISIONS BASED SOLELY ON ADVICE PROVIDED BY ANY
            Expert.
        </p>
        <p class="f-15 text-justify">
            You understand and agree that although a Expert may be a counsellor, therapist or other mental health
            professional. MiNDCuRE disclaims any and all liability for any consultation and therapy services rendered by
            a Expert to you through the Website. You further acknowledge and agree that you take full responsibility for
            the decision to access a Expert through the Website and to continue to interact with such individual(s), and
            that the role of MiNDCuRE is strictly limited to providing access to such Experts to you.
        </p>
        <p class="f-15 text-justify">
            USE OF THE SERVICES IS NOT FOR EMERGENCIES. IF YOU THINK YOU HAVE A MEDICAL OR MENTAL HEALTH EMERGENCY, OR
            IF AT ANY TIME YOU ARE CONCERNED ABOUT YOUR CARE OR TREATMENT, PLEASE GO TO THE NEAREST HOSPITAL OR HEALTH
            CARE PROVIDER.
        </p>
        <p class="f-15 text-justify">
            THE WEBSITE IS NOT A SUICIDE HELPLINE PLATFORM. IF YOU ARE CONSIDERING OR CONTEMPLATING SUICIDE OR FEEL THAT
            YOU ARE A DANGER TO YOURSELF OR TO OTHERS, YOU MAY DISCONTINUE USE OF THE SERVICES IMMEDIATELY AT YOUR
            DISCRETION AND PLEASE NOTIFY APPROPRIATE POLICE OR EMERGENCY MEDICAL PERSONNEL. IF YOU ARE THINKING ABOUT
            SUICIDE, IMMEDIATELY CALL A SUICIDE PREVENTION HELPLINE SUCH AS AASRA (91-22-27546669).
        </p>
        <p class="f-15 text-justify">
            YOUR USE OF INFORMATION PROVIDED ON THE WEBSITE AND AVAILING OF SERVICES ON THE WEBSITE IS SOLELY AT YOUR
            OWN RISK. MINDCURE IS NOT, AND WILL NOT IN ANY MANNER BE INVOLVED IN THE PRACTICE OF MEDICINE OR THE
            PROVISION OF MEDICAL CARE.
        </p>

        <h3 class="f-15 text-justify"><b>PRIVACY AND SECURITY</b></h3>
        <p class="f-15 text-justify">
            You understand that by using the Website you consent to the collection, use and disclosure of your
            personally identifiable information and aggregate data as set forth in our Privacy Policy.
        </p>
        <p class="f-15 text-justify">
            You understand that MiNDCuRE cannot guarantee that unauthorized third parties will never be able to defeat
            our security measures or use your personal information for improper purposes. You acknowledge that you
            provide your personal information at your own risk.
        </p>

        <h3 class="f-15 text-justify"><b>WARRANTY</b></h3>
        <p class="f-15 text-justify">
            THE WEBSITE IS PROVIDED ON AN “AS IS” BASIS, AND USE OF THE WEBSITE IS AT THE USER’S RISK. TO THE MAXIMUM
            EXTENT PERMITTED BY APPLICABLE LAW, THE WEBSITE IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS
            OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE, OR NON-INFRINGEMENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM
            MINDCURE OR THROUGH THE WEBSITE WILL NOT CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. WITHOUT LIMITING
            THE FOREGOING, MINDCURE, ITS SUBSIDIARIES, ITS AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT
            FOUND ON THE WEBSITE IS ACCURATE, RELIABLE OR CORRECT; THAT THE WEBSITE WILL MEET YOUR REQUIREMENTS; THAT
            THE WEBSITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS
            OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT
            DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL
            BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA THAT RESULTS
            FROM SUCH DOWNLOAD OR YOUR USE OF THE WEBSITE.
        </p>
        <p class="f-15 text-justify">
            MINDCURE DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE
            ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED WEBSITE OR SERVICE, AND
            MINDCURE WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS
            OF PRODUCTS OR SERVICES.
        </p>

        <h3 class="f-15 text-justify"><b>EXCEPTIONS AND LIMITATIONS</b></h3>
        <p class="f-15 text-justify">
            MiNDCuRE does not make any representation or warranty as to the quality or value of the services offered on
            the Website, or availability of Expert(s). MiNDCuRE does not implicitly or explicitly support or endorse any
            services on the Website. MiNDCuRE shall not be liable for any errors or omissions, whether on behalf of
            itself or third parties.
        </p>
        <p class="f-15 text-justify">
            While MiNDCuRE carries out background checks and verifications on all Experts, you understand and
            acknowledge that MiNDCuRE does not endorse, recommend, warrant or guarantee to qualifications, expertise,
            claims or background of any Expert, or any service, advice, opinion, recommendation provided by a Expert.
            Nothing contained in these Terms, the Website or on any third party site shall be considered as an
            endorsement, recommendation, referral, verification, warranty or guarantee with respect to (a) any Expert;
            (b) the Website or (c) any service, advice, opinion, recommendation made available via the Website or (d)
            the validity, accuracy, availability, completeness, safety, legality, quality or applicability of any
            information made available via the Website.
        </p>
        <p class="f-15 text-justify">
            You acknowledge that there will be occasions when the Website may be interrupted, including, without
            limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of
            telecommunications links and/or equipment.
        </p>
        <p class="f-15 text-justify">
            You agree that MiNDCuRE is not responsible for, and does not endorse, User Content posted within the
            Website. MiNDCuRE does not have any obligation to pre-screen, monitor, edit, or remove any User Content. If
            your User Content violates these Terms, you shall be solely responsible for any legal consequences with
            respect to such User Content.
        </p>
        <p class="f-15 text-justify">
            MiNDCuRE reserves the right to remove any User Content from the Website for any reason, without prior
            notice. User Content removed from the Website may continue to be stored by MiNDCuRE, including, without
            limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid
            court order. MiNDCuRE will not be liable to you for any modification, suspension, or discontinuation of the
            Website, or the loss of any User Content.
        </p>
        <p class="f-15 text-justify">
            We may, without prior notice, change the Website, stop providing the Website or features of the Website, to
            you or to Users generally, or create usage limits for the Website. We may permanently or temporarily
            terminate or suspend your access to the Website, or delete any User Content without notice and liability for
            any reason, including if in our sole determination you violate any provision of these Terms, or for no
            reason. Upon termination for any reason or no reason, you continue to be bound by these Terms.
        </p>

        <h3 class="f-15 text-justify"><b>TERMINATION</b></h3>
        <p class="f-15 text-justify">
            MiNDCuRE may terminate these Terms for any reason at any time. MiNDCuRE reserves the right, in its sole
            discretion, to restrict, suspend, or terminate your access to and use of the Website, with or without prior
            notice. Otherwise applicable sections of the Terms shall survive termination. In addition to any termination
            rights, we reserve the right to enforce and prosecute any violations of these Terms.
        </p>

        <h3 class="f-15 text-justify"><b>LINKS</b></h3>
        <p class="f-15 text-justify">
            The Website may contain links to other Websites ("Linked Sites"). The Linked Sites are not under the control
            of the Company. We are not responsible for the content of any Linked Site, including, without limitation to,
            any link contained in a Linked Site, or any changes or updates to a Linked Site.
        </p>
        <p class="f-15 text-justify">
            We are not responsible for any form of transmission, whatsoever, received by the User from any Linked Site.
            We are providing these links only for convenience, and the inclusion of any such link does not imply
            endorsement by the Website, of the Linked Sites or any association with its operators or owners including
            the legal heirs or assigns thereof.
        </p>
        <p class="f-15 text-justify">
            On accessing the Linked Sites, you shall be governed by the terms of use, privacy policy and such other
            additional policies of the Linked Sites. You further acknowledge and agree that we shall not be responsible
            or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection
            with the use of or reliance on any such content, advertising, products, services or other materials
            available on or through any Linked Sites or for any errors, defamatory content, libel, slander, omissions,
            falsehoods, obscene content, pornographic material, or any profanity contained therein.
        </p>

        <h3 class="f-15 text-justify"><b>INDEMNIFICATION</b></h3>
        <p class="f-15 text-justify">
            You shall indemnify and hold us harmless from and against any and all losses, damages, settlements,
            liabilities, costs, charges, assessments and expenses, as well as third party claims and causes of action,
            including, without limitation, attorneys’ fees, arising out of any breach by you of any of these Terms, or
            any use by you of the Website. You shall provide us with such assistance, without charge, as we may request
            in connection with any such defence, including, without limitation, providing us with such information,
            documents, records and reasonable access to you, as we deem necessary. You shall not settle any third party
            claim or waive any defence without our prior written consent.
        </p>
        <p class="f-15 text-justify">
            IN THE EVENT OF A DISPUTE REGARDING ANY TRANSACTION CONDUCTED VIA THE WEBSITE, YOU HEREBY RELIEVE MINDCURE,
            ITS AFFILIATES, THEIR RESPECTIVE OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS AND AGENTS
            FROM ALL MANNER OF ACTIONS, CLAIMS OR DEMANDS AND FROM ANY AND ALL LOSSES (DIRECT, INDIRECT, INCIDENTAL OR
            CONSEQUENTIAL), DAMAGES, COSTS OR EXPENSES, INCLUDING, WITHOUT LIMITATION, COURT COSTS AND ATTORNEYS’ FEES,
            WHICH MEMBER MAY HAVE AGAINST ONE OR MORE OF THE ABOVE.
        </p>


        <h3 class="f-15 text-justify"><b>LIMITATION OF LIABILITY</b></h3>
        <p class="f-15 text-justify">
            IN NO EVENT WILL MINDCURE OR ITS AFFILIATES OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE
            WEBSITE BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING
            OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE WEBSITE OR ANY LINKED SITES, OR IN CONNECTION WITH
            ANY FAILURE OF PERFORMANCE. THESE LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT,
            TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF MINDCURE HAS BEEN ADVISED OF THE POSSIBILITY
            OF SUCH DAMAGE.
        </p>
        <p class="f-15 text-justify">
            BY USE OF THE WEBSITE AND THE SERVICES, THE USER ACKNOWLEDGES THAT HE/SHE IS SOLELY RESPONSIBLE FOR ANY AND
            ALL ACTIONS, LIABILITIES, CONSEQUENCES, DECISIONS, BEHAVIOURS (“CONDUCT”) ARISING OUT OF OR IN CONNECTION
            WITH THE USE OF THE WEBSITE AND/OR SERVICES, AND SHALL IN NO WAY HOLD MINDCURE AND/OR ITS AFFILIATES
            RESPONSIBLE FOR SUCH CONDUCT.
        </p>

        <h3 class="f-15 text-justify"><b>GOVERNING LAW</b></h3>
        <p class="f-15 text-justify">
            This Agreement shall be governed by the laws of India, and the courts of Bangalore shall have exclusive
            jurisdiction with respect to any dispute arising hereunder.
        </p>

        <h3 class="f-15 text-justify"><b>MISCELLANEOUS PROVISIONS</b></h3>
        <p class="f-15 text-justify">
            <b>Survival:</b> In the event of termination or expiration of these Terms for any reason, any provisions of these
            Terms that by their nature should survive termination of these Terms will survive termination of these
            Terms, unless contrary to the pertinent provisions herein stated.
        </p>
        <p class="f-15 text-justify">
            <b>Severability:</b> If any term or provision in these Terms is held to be either illegal or unenforceable, in
            whole or in part, under any enactment or rule of law, such term or provision or part shall to that extent be
            deemed not to form part of these Terms, but the validity and enforceability of the remainder of these Terms
            shall not be affected.
        </p>
        <p class="f-15 text-justify">
            <b>Unenforceability:</b> If any provision of these Terms or any word, phrase, clause, sentence, or other portion
            thereof should be held to be unenforceable or invalid for any reason, then provided that the essential
            consideration for entering into these Terms on the part of any Party is not unreasonably impaired, such
            provision or portion thereof shall be modified or deleted in such manner as to render these Terms as
            modified legal and enforceable to the maximum extent permitted under applicable laws.
        </p>
        <p class="f-15 text-justify">
            <b>No Waiver:</b> No delay or omission by either Party hereto to exercise any right or power occurring upon any
            noncompliance or default by the other party with respect to any of the terms of these Terms shall impair any
            such right or power or be construed to be a waiver thereof. The terms and conditions of these Terms may be
            waived or amended only in writing or mutual agreement of the Parties. A waiver by either of the Parties
            hereto of any of the covenants, conditions, or agreements to be performed by the other shall not be
            construed to be a waiver of any succeeding breach thereof or of any covenant, condition, or agreement herein
            contained (whether or not the provision is similar).
        </p>
        <p class="f-15 text-justify">
            <b>Notices:</b> Any notice required or permitted to be given to MiNDCuRE hereunder shall be in writing and sent or
            transmitted by (i) registered or certified mail; (ii) hand-delivery; (iii) email; or (iv) internationally
            recognized courier service, provided its receipt is acknowledged and, dispatched or sent or transmitted to
            the address specified MiNDCuRE. All notice required to be given under these Terms shall be addressed to:
            You agree and commit to immediately notify us, including all the relevant details, in any case that you
            receive a service from a Therapist not through the Platform or in any case that you are billed by a
            Therapist not through the
        </p>
        <p class="f-15 text-justify">
            You agree to pay all fees and charges associated with your Account a timely basis and according to the fees
            schedule, the terms and the rates as published in the Platform. Such fees and charges (including any taxes
            and late fees, as applicable) may be charged on your credit card. By providing us with your credit card
            information you authorize us to bill and charge you through that credit card. You agree to maintain valid
            credit card information in your Account information.
        </p>

        <h3 class="f-15 text-justify"><b>Modifications, Termination, Interruption and Disruptions to the Platform</b></h3>
        <p class="f-15 text-justify">
            You agree, confirm and acknowledge that we may modify, suspend, disrupt or discontinue the Platform, any
            part of the Platform or the use of the Platform, whether to all clients or to you specifically, at any time
            with or without notice to you. You agree and acknowledge that we will not be liable for any of the
            aforementioned actions or for any losses or damages that are caused by any of the aforementioned actions.
            For the removal of any doubt, we may terminate or prevent your use of the Platform and any services provided
            by through the Platform (including but not limited to Therapist Services) at our sole discretion for any
            reason and for any period of time.
        </p>
        <p class="f-15 text-justify">
            The Platform depends on various factors such as software, hardware and tool, either our own or those owned
            and/or operated by our contractors and suppliers. We do not guarantee that the Platform will be
            uninterrupted or that it will be secure, consistent, timely or error-free.
        </p>

        <h3 class="f-15 text-justify"><b>Notices</b></h3>
        <p class="f-15 text-justify">
            We may provide notices or other communications to you regarding this agreement or any aspect of the
            Platform, by email to the email address that we have on record, by regular mail or by posting it online. The
            date of receipt shall be deemed the date on which such notice is given. Notices sent to us must be delivered
            by email to <b>legal@Mindcureglobal.com</b>.
        </p>
        <p class="f-15 text-justify">
            THIS AGREEMENT CONSTITUTES THE ENTIRE AGREEMENT BETWEEN YOU AND US. YOU CONFIRM THAT YOU HAVE NOT RELIED
            UPON ANY PROMISES OR REPRESENTATIONS BY US EXCEPT AS SET FORTH IN THIS AGREEMENT.
        </p>
        <p class="f-15 text-justify">
            We may change this Agreement by posting modifications on the Platform. Unless otherwise specified by us, all
            modifications shall be effective upon posting. Therefore, you are encouraged to check the terms of this
            Agreement frequently. The last update date of this Agreement is posted at the bottom of the Agreement. By
            using the Platform after the changes become effective, you agree to be bound by such changes to the
            Agreement. If you do not agree to the changes, you must terminate access to the Platform and participation
            in its services.
        </p>
        <p class="f-15 text-justify">
            We may freely transfer or assign this Agreement or any of its obligations hereunder.
            The paragraph headings in this Agreement are solely for the sake of convenience and will not be applied in
            the interpretation of this Agreement.
        </p>
        <p class="f-15 text-justify">
            If any provision of this Agreement is held by a court of competent jurisdiction to be illegal, invalid,
            unenforceable, or otherwise contrary to law, the remaining provisions of this Agreement will remain in full
            force and effect.
        </p>
        <p class="f-15 text-justify">
            To clear any doubt, all clauses regarding limitations of liabilities and indemnification shall survive the
            termination or expiration of this Agreement.
            Last Updated: August 27th, 2018
        </p>
    </div>
</div>

{% endblock %}