{% extends 'shop/layout.html' %}
{% load static from staticfiles %}

{% block body %}
    <style type="text/css">
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

        .panel-title > a:before {
            float: right !important;
            content: "\2798";
            padding-right: 5px;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\2794";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
        }

        .panel.panel-default {
            margin-bottom: 20px !important;
        }

        #requirements {
            text-align: justify;
        }

        @media only screen and (min-width: 320px) and (max-width: 360px) {
            #requirements {
                text-align: center;
            }
        }

    </style>
    <div class="create_therapist_image full" style="position: relative; height: 400px !important;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;"></div>
        <div class="hidden-sm hidden-xs mle-10" style="position: absolute; top: 7.0em; line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;">
            <h2 class="pl-40 f-30">
                Join Mindcure as a therapist today
            </h2>

            <p class="pl-40 white">MiNDCuRE is an ethical, effective and secure way <br>to practice <b>therapy</b> online.</p>

            <div class="text_justify">
                <a class="btn btn-primary btn-lg " href="{% url 'setup-practise' %}">Apply Now</a>
            </div>
        </div>

        <div class="visible-sm visible-xs" style="position: absolute;top: 25%;">
            <h2 class="text_center white">
                Join Mindcure as a therapist today
            </h2>
            <p class="text_center white mb-30">MiNDCuRE is an ethical, effective and secure way <br> to practice <b>therapy</b> online.</p>
{##}
{#            <p class="tj visible-sm visible-xs">#}
{#                Our thorough compliance to therapy codes of ethics, the effectiveness of our online solution and the#}
{#                atmosphere of convenience we create for our independent therapists, make us stand out as a most#}
{#                recommended online therapy provider.#}
{#            </p>#}

            <a class="btn btn-primary visible-sm visible-xs" href="{% url 'setup-practise' %}" style="background: #3d3d19; margin-left: 22%;">
                APPLY NOW
            </a>
        </div>
    </div>

    <div class="row hidden-sm hidden-xs" style="background: #fff;padding: 20px;margin: 0;">
        <div class="container" style="padding-top: 30px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/convenient.svg' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Convenient</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/time.png' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Anytime</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6"
                         style="margin-bottom: 10px;display: inline-block;text-align: center;">
                        <img class="five_th_img" src="{% static 'images/anywhere.png' %}"
                             style="height: 80px; margin-bottom: 15px;">
                        <span style="display: block;">Anywhere</span>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                    <div class="clearfix"></div>
                    {#                    <hr class="hr_hr">#}
                </div>
            </div>
        </div>
    </div>

    <div class="new_therapist mb-30">
        <div class="new_therapist_inner">
            <h1 class="text_center mb-20 f-25 fw-600">
                <img src="{% static 'images/earth-globe.svg' %}" height="30px" class="pad-right-10">THERAPISTS ONBOARDING
            </h1>

            <p class="f-15 text_center">
                Our thorough compliance to therapy codes of ethics, the effectiveness of our online solution and the
                atmosphere of convenience we create for our independent therapists, make us stand out as a most
                recommended online therapy provider.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                <div style="text-align: center">
                    <img src="{% static 'images/stopwatch.svg' %}" height="50px">
                </div>
                <h1 class="mb-10 fw-600 f-20 text_center">
                    CONVENIENCE
                </h1>

                <p class="steps f-13 lh-27 pad-all-10">
                    Working with MiNDCuRE entails lots of flexibility. In that, you can choose how many sessions you
                    want to have on a daily basis, and your preferences can be made known to us in order to filter your
                    potential clients. You are also in control of your therapy session schedules.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                <div style="text-align: center">
                    <img src="{% static 'images/group.svg' %}" height="50px">
                </div>
                <h1 class="mb-10 fw-600 f-20 text_center">
                    REACHING OUT THE MORE
                </h1>

                <p class="steps f-13 lh-27 pad-all-10">
                    As a therapist, you might feel dissatisfied with your infrequent therapy sessions, or may even want to reach out to a wider range of people who need therapy, MiNDCuRE is a frontier in this evolving online therapy sphere and will serve you satisfactorily in these areas.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                <div style="text-align: center">
                    <img src="{% static 'images/shield.svg' %}" height="50px">
                </div>
                <h1 class="mb-10 fw-600 f-20 text_center">
                    SAFETY AND SECURITY
                </h1>

                <p class="steps f-13 lh-27 pad-all-10">
                    Our licensed therapy experts have years of experience in various areas of therapy needs. Our internet security tools also keep our clients’ therapy sessions secure from data leaks.
                </p>
            </div>
        </div>
    </div>

    <div class="waiting_for_you">
{#        <div class="waiting_for_you_inner">#}
{#            <h1 class="text_center mb-30 f-25 chat fw-600">#}
{#                SECURITY AND SAFETY OF DATA IS TOPMOST PRIORITY#}
{#            </h1>#}
{##}
{#            <p class="f-15 text_center chat">#}
{#                Our licensed therapy experts have years of experience in various areas of therapy needs. Our internet security tools also keep our clients’ therapy sessions secure from data leaks.#}
{#            </p>#}
{#        </div>#}

        <div class="container" style="padding: 1em 0 0;">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                    <div style="text-align: center">
                        <img src="{% static 'images/social-care.svg' %}" height="50px">
                    </div>
                    <h1 class="mb-10 fw-600 f-20 text_center">
                        COMMUNITY
                    </h1>

                    <p class="steps f-13 lh-27 pad-all-10">
                        MEET and BUILD relationship with those who work in the same fields of behavioral science- counselors, psychotherapists, psychologists, Career Coaches and Life Coaches. Also get involved in community discussions to help more people other than your clients.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                    <div style="text-align: center">
                        <img src="{% static 'images/connection.svg' %}" height="50px">
                    </div>
                    <h1 class="mb-10 fw-600 f-20 text_center">
                        EXPANDING YOUR CONNECTION
                    </h1>

                    <p class="steps f-13 lh-27 pad-all-10">
                        We are building a leading platform that breaks the barriers of time, space, distance and race as associated sometimes with traditional office therapy. We are committed to this vision of connecting people to find help anytime, anywhere because at MiNDCuRE, we believe strongly that CONNECTION IS RECOVERY’S ALLY.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 mb-15">
                    <div style="text-align: center">
                        <img src="{% static 'images/salary.svg' %}" height="50px">
                    </div>
                    <h1 class="mb-10 fw-600 f-20 text_center">
                        EARNING
                    </h1>

                    <p class="steps f-13 lh-27 pad-all-10">
                        Working with us as an independent therapist is another stream of income for you either as full time
                        or just additional. Your income is in direct proportion to your completed sessions. This means, you
                        are in control of how much you earn through your service. All you need to do is offer therapy
                        services. We offer the platform, clients, billing and the logistics.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text_center margin-top-20">
                    Therapist FAQ
                </h1>

                <div style="padding: 40px 0 10px 0;">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default"
                             style="border: none; border-bottom: 1px solid #eee !important;">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Is the DATA of my clients secured ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    We are totally obsessed about securing your privacy and confidentiality. We have built a state-of-the-art technology, operation, and infrastructure with one thing in mind: protecting your privacy and safeguarding the information you provide.
                                    Our privacy and confidentiality standards are by far more advanced than what is required by law or regulations, so you can feel safe and comfortable. You don't need to identify yourself.
                                    Everything you tell your counselor is protected by strict federal and state laws.
                                    We don't cooperate or work with any insurance companies or employers, so nothing needs to be shared, reported or filed with them.
                                    All the messages between you and your counselor are secured and encrypted.
                                    Our servers are hosted in an "A Grade" facility, ensuring the best-in-class security and protection.
                                    Our browsing encryption system (SSL) follows modern best practices and is rated A+, providing world class online security and encryption.
                                    Our databases are encrypted and scrambled so they essentially become useless in the very unlikely event that they are being stolen or inappropriately used.
                                    If you wish for any of your information or records to be released to a third party, please let your counselor know.
                                    Your counselor will send you an authorization form that you will need to fill and sign before your information can be released.
                                    The security of clients’ data and the confidentiality of their sessions are of paramount importance to us.
                                    We have put Internet security checks in place in order to ensure this.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" style="border: none; border-bottom: 1px solid #eee !important;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What are the licensing and malpractice qualifications ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Kindly visit the <a href="#">MiNDCuRE Practitioner page</a> for more details.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default"
                             style="border: none; border-bottom: 1px solid #eee !important;">
                            <div class="panel-heading" role="tab" id="headingfour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Is there a cost associated with being a Mindcure provider ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingfour">
                                <div class="panel-body">
                                    There’s no cost associated with providing therapy through our platform.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default"
                             style="border: none; border-bottom: 1px solid #eee !important;">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        How do I obtain clients at Mindcure ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    We have developed algorithms that match our clients to therapists based on clients’ preferences and therapist-client suitability index.
                                    We provide the clients; you provide the service.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default"
                             style="border: none; border-bottom: 1px solid #eee !important;">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What is the expected time commitment for a Mindcure therapist ?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingSix">
                                <div class="panel-body">
                                    As a therapist at MiNDCuRE, you are obligated to check in at least twice in a day daily, at least five days a week.
                                    But your caseload and active hours are ultimately yours to set.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="waiting_for_you">
        <div class="container">
            <div class="row mb-20" id="requirements">
                <div class="col-md-6 col-sm-12 col-xs-12 mb-15">
                    <h1 class="fw-600 mb-10 f-20">
                        Requirements
                    </h1>
                    <p class="f-13">To provide therapy through the MiNDCuRE online therapy solution, practitioners are required to possess a license from their Practicing or resident country or state board to practice therapy independently.</p>
                    <p class="f-13">Kindly click on apply now to upload all the required credentials and fill necessary details in order for us to determine if you can practice therapy at MiNDCuRE. This should not take more than a couple of minutes.</p>

                    <div class="margin-top-25">
                        <a class="btn btn-primary btn-md" href="{% url 'setup-practise' %}">Apply Now</a>
                        <a class="btn btn-warning btn-md" href="{% static 'files/Therapist handbook.pdf' %}" download="Therapist Handbook">Donwload Handbook</a>
                    </div>
{#                    <p class="f-13">#}
{#                        <b>For Therapists resident in US:</b><br>#}
{#                        Licensed by a state board to provide counseling (e.g., LCSW, LMFT, LPC, PsyD or similar#}
{#                        credentials).#}
{#                    </p>#}
{##}
{#                    <p class="f-13">#}
{#                        <b>For Therapists resident in Nigeria:</b><br>#}
{#                        Licensed by the national association of mental health care with proven sessions for validation.#}
{#                    </p>#}
{##}
{#                    <p class="f-13">#}
{#                        <b>For Therapists resident in other countries:</b><br>#}
{#                        Licensed and/or certified to offer therapy services by the governing body in your respective#}
{#                        countries.#}
{#                    </p>#}
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h1 class="fw-600 mb-10 f-20" id="requirements">
                        Experience
                    </h1>
                    <dl style="list-style: decimal;padding-left: 20px">
                        <dt class="pb-5 exp_list f-14">
                            Experience in individual therapy sessions for adults (age 18 above).
                        </dt>
                        <dt class="pb-5 exp_list f-14">
                            Very Good writing skills
                        </dt>
                        <dt class="pb-5 exp_list f-14">
                            Fluent in speaking and writing in English Language
                        </dt>
                        <dt class="pb-5 exp_list f-14">
                            Have a current malpractice insurance
                        </dt>
                        <dt class="exp_list f-14">
                            Laptop and/or smart phone and a very reliable Internet connection.
                        </dt>
                    </dl>
                    <div class="margin-top-30" style="background: #22220E; padding: 8px 15px 8px 15px">
                        <p class="f-13 white">As soon as your application is reviewed by our in-house experts, the MiNDCuRE team will send our therapist guide eBook to you for review before you commence practice on your website</p>
                    </div><br>
{#                    <mark>Note that if you are an intern or if you require supervision to provide counseling services,#}
{#                        you cannot be a provider at MiNDCuRE at this time.#}
{#                    </mark>#}
                </div>
            </div>
        </div>
    </div>

{#    <div class="container margin-top-30 mb-25">#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-12 col-xs-12 mb-15">#}
{#                <h1 class="mb-10 fw-600 f-20 text_center">#}
{#                    EARNING#}
{#                </h1>#}
{##}
{#                <p class="steps f-13 lh-27 pad-all-10">#}
{#                    Working with us as an independent therapist is another stream of income for you either as full time#}
{#                    or just additional. Your income is in direct proportion to your completed sessions. This means, you#}
{#                    are in control of how much you earn through your service. All you need to do is offer therapy#}
{#                    services. We offer the platform, clients, billing and the logistics.#}
{#                </p>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-12 col-xs-12 mb-15">#}
{#                <h1 class="mb-10 fw-600 f-20 text_center">#}
{#                    COMMUNITY#}
{#                </h1>#}
{##}
{#                <p class="steps f-13 lh-27 pad-all-10">#}
{#                    MEET and BUILD relationship with those who work in the same field of psychotherapy as you do-#}
{#                    Counselors, Psychologists, Career Coaches, Life Coaches. Also get involved in community discussions#}
{#                    to help more people other than your clients.#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% if testimonials|length > 0 %}
        <div style="background-image: url('/static/images/testimonial1.jpg'); background-position: bottom center;position: relative;">
            <div style="background: rgba(16,16,16,0.7); width: 100%; height: 100%; position: absolute;"></div>
            <div class="container" style="padding: 40px 0;">
                <h3 style="color: #AF5100; font-size: 30px; text-align: center; font-family: GothamBold !important;position: relative;">
                    What do MiNDCuRE therapists say
                </h3>

                <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text_center">
                            {% for testimonial in testimonials %}
                                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p class="white">{{ testimonial.body }}</p>
                                                <small>{{ testimonial.name }}</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            {% endfor %}
                        </div>
                        <a data-slide="next" href="#quote-carousel" class="left carousel-control">
                            <i class="ion-ios-arrow-left"></i>
                        </a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control">
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="waiting_for_you" style="margin-bottom: 0; background: #fff !important; padding-top: 10px; padding-bottom: 15px">
        <h1 class="text_center">
            <i class="fa fa-envelope f-40 message"></i>
        </h1>

        <h1 class="f-30 text_center">
            Not Verified Yet ?
        </h1>

        <p class="f-18 text_center">If you have questions about an application awaiting verification,
            <br>please contact <a href="mailto:info@mindcureglobal.com"><b>info@mindcureglobal.com</b></a>
        </p>
    </div>


{% endblock %}