{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}
    <style>
        .h_career, .p_career, .ul {

            margin: 0 0 0;
        }

        .main_body_content {
            background: #fafafa;
            padding-bottom: 3em;
        }

        .col_md_3_parent_top, .col_md_3_parent_bottom {
            position: absolute;
        }

        .col_md_3_parent_top {
            top: 15px;
        }

        .col_md_3_parent_bottom {
            bottom: 0px;
        }

        .col_md_3_parent_bottom_ul li {
            font-size: 2em;
            margin-top: 10px;
        }

        .facebook {
            color: #3b5998;
        }

        .twitter {
            color: #55acee;
        }

        .googleplus {
            color: #dd4b39;
        }

        .linkedin {
            color: #0077b5;
        }

        .ion-ios-star{
            color:#AF5100;
            font-size:20px;
        }

    </style>
    <div class="expect_homepage_banner">
        <div class="expect_homepage_banner_overlay"></div>

        <div class="profile_detail_parent">
            <div class="container therapistDetail hidden-sm hidden-xs">
                <div class="col-md-2 col-xs-12 col-sm-4" style="padding:20px 15px;">
                    <div class="profile_img_parent_wrap">
                        <div style="border: 2px solid #fff; height: 150px; border-radius: 100%; background-image: {% if therapist.profile_image %} url('/media/{{ therapist.profile_image }}') {% else %} url(/static/images/person.png) {% endif %}; background-size: auto 100%;
                                background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 col-sm-8 col_md_6" style="padding:20px; border-right: 1px dashed #333 !important;">
                    <h3 class="h_career">
                        {{ therapist.name.title }}
                    </h3>

                    <p class="p_career">
                        {{ therapist.qualification.name.title }}
                    </p>

                    <ul class="ul pb-10">
                        <li>
                            {% for i in 'xxxxx' %}
                                {% if forloop.counter < therapist.rating %}
                                    <i class="ion-ios-star" aria-hidden="true"></i>
                                {% endif %}
                            {% endfor %}
                        </li>
                        <li style="color: rgb(34, 34, 14) !important; font-size: 90%;">
                            ( {{ therapist.reviews.count }} Reviews )
                        </li>
                    </ul>

                    {% if therapist.headline %}

                        <hr style="border: 1px dashed #333;">

                        <p class="profile_p" style="color: #000; text-align: justify;">
                            {{ therapist.headline }}
                        </p>

                        <hr style="border: 1px dashed #333;">

                    {% endif %}

                    <ul class="ul">
                        <a style="margin-right: 5px;" href="{% url 'therapy_messages' pk=therapist.pk %}" class="btn btn-primary btn-md">
                            <i class="ion-email"></i>&nbsp;Message
                        </a>
                        <a style="margin-left: 5px;" href="{% url 'therapy_chats' pk=therapist.pk %}" class="btn btn-warning btn-md">
                            <i class="ion-chatbox"></i>&nbsp;Chat
                        </a>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-12" style="padding: 20px; position: relative; display: block; height: 150px;">
                    <div class="col_md_3_parent_top">
                        <h4 style="margin-top: 0">
                            <b>Sessions:</b> {{ therapist.sessions.count }}
                        </h4>
                    </div>

                    <div class="col_md_3_parent_bottom">
                        <h4><b>Share Profile On:</b></h4>

                        <ul class="col_md_3_parent_bottom_ul">
                            <li class="pad-right-10">
                                <a href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="blank">
                                    <img src="{% static 'images/facebook-logo.svg' %}" height="30px">
{#                                        <i class="ion-social-facebook-outline f-25 pl-10 text-white" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://twitter.com/intent/tweet?status={{title}}+{{url}}" target="blank">
                                    <img src="{% static 'images/twitter-social.svg' %}" height="30px">
{#                                        <i class="ion-social-twitter f-25 twitter" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&source={{source}}" target="blank">
                                    <img src="{% static 'images/linkedin-logo.svg' %}" height="30px">
{#                                        <i class="ion-social-linkedin f-25 linkedin" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://plus.google.com/share?url={{url}}" target="blank">
                                    <img src="{% static 'images/google-plus-social-logotype.svg' %}" height="30px">
{#                                        <i class="ion-social-googleplus f-25 googleplus" aria-hidden="true"></i>#}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container visible-sm visible-xs">
                <div class="col-md-6 bg-white">
                    <div class="profile_img_parent_wrap pad-top-10">
                        <div style="height: 180px; border-radius: 100%; background-image: {% if therapist.profile_image %} url('/media/{{ therapist.profile_image }}') {% else %} url(/static/images/person.png) {% endif %}; background-size: auto 100%;
                                background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bg-white padding-20 pb-20">

                     <h3 class="h_career text_center">
                        {{ therapist.name.title }}
                    </h3>

                    <p class="p_career text_center f-12">
                        {{ therapist.qualification.name.title }}
                    </p>

                    <ul class="ul text_center">
                        <li style="padding:0 !important;">
                            {% for i in 'xxxxx' %}
                                {% if forloop.counter < therapist.rating %}
                                    <i class="ion-ios-star" aria-hidden="true"></i>
                                {% endif %}
                            {% endfor %}
                            <!--{% if therapist.rating > 0 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                            <!--{% if therapist.rating > 1 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                            <!--{% if therapist.rating > 2 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                            <!--{% if therapist.rating > 3 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                            <!--{% if therapist.rating > 4 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                        </li>
                        <li style="color: rgb(34, 34, 14) !important; font-size: 90%;">
                            ( {{ therapist.reviews_count }} Reviews )
                        </li>
                    </ul>

                    <h4 class="text_center f-15">
                        <b class="f-15">Conversations:</b> 281
                    </h4>

                    <div class="col-md-3 col-xs-12 text_center">
                    <strong>Share Profile On:</strong>

                        <ul class="col_md_3_parent_bottom_ul pb-10">
                            <li class="pad-right-10">
                                <a href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="blank">
                                    <img src="{% static 'images/facebook-logo.svg' %}" height="30px">
{#                                        <i class="ion-social-facebook-outline f-25 pl-10 text-white" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://twitter.com/intent/tweet?status={{title}}+{{url}}" target="blank">
                                    <img src="{% static 'images/twitter-social.svg' %}" height="30px">
{#                                        <i class="ion-social-twitter f-25 twitter" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&source={{source}}" target="blank">
                                    <img src="{% static 'images/linkedin-logo.svg' %}" height="30px">
{#                                        <i class="ion-social-linkedin f-25 linkedin" aria-hidden="true"></i>#}
                                </a>
                            </li>
                            <li class="pad-right-10">
                                <a href="https://plus.google.com/share?url={{url}}" target="blank">
                                    <img src="{% static 'images/google-plus-social-logotype.svg' %}" height="30px">
{#                                        <i class="ion-social-googleplus f-25 googleplus" aria-hidden="true"></i>#}
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% if therapist.headline %}

                        <hr style="border: 1px dashed #333;">

                        <p class="profile_p text_center" style="color: #000; text-align: justify;">
                            {{ therapist.headline }}
                        </p>

                        <hr style="border: 1px dashed #333;">

                    {% endif %}

                    <ul class="ul" style="    text-align: center;">
                        <a href="{% url 'therapy_messages' pk=therapist.pk %}" class="btn btn-primary btn-md">
                            <i class="ion-email"></i>&nbsp;Message
                        </a>
                        <a  href="{% url 'therapy_chats' pk=therapist.pk %}" class="btn btn-warning btn-md">
                            <i class="ion-chatbox"></i>&nbsp;Chat
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main_body_content">
        <div class="empty_div"></div>
        <div class="container Skills_summary_container">
            <div class="row">
                <div class="col-md-8">
                    {% if therapist.categories.count > 0 %}
                    <div class="first_section">
                        <h3>
                            <img src="{% static 'images/humanpictos.svg' %}" height="20px" style="margin-bottom: 3px; padding-right:5px; color: white">
                            Expertise
                        </h3>
                        <ul>
                            {% for category in therapist.categories.all %}
                            <li>
                                {{ category.title }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div class="second_section">
                        <h3>
                            <img src="{% static 'images/scientist.svg' %}" height="20px" style="margin-bottom: 3px; padding-right:5px; color: white">
                            Experience
                        </h3>

                        <p style="color: inherit;">{{ therapist.bio }}</p>
                    </div>

                    <div class="third_section">
                        <h3>
                            <img src="{% static 'images/testimonial.svg' %}" height="20px" style="margin-bottom: 3px; padding-right:5px; color: white">
                            reviews
                        </h3>

                        <div class="h70-em" style="min-height: 200px; background-color: #fff;">
                            {% if reviews.object_list|length > 0 %}
                                <ul>
                                    {% for review in reviews %}
                                        <li>{{ review.body }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="text_center padding-70">
                                    <img src="{% static 'images/group.png' %}" height="50px">
                                    <h4>No current reviews</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pt-20 visible-sm visible-xs"></div>
                <div class="col-md-4">
                    <div class="right_first_section">
                        <h3>
                            <img src="{% static 'images/businessman.svg' %}" height="20px" style="margin-bottom: 3px; padding-right:5px; color: white">
                            SIMILAR EXPERTS
                        </h3>

                        <div class="main_body">
                            <div class="">
                                <div class="row">
                                    {% for similar in similar_therapists.all|slice:"3" %}
                                        <div class="col-md-12 col-sm-6" {% if forloop.counter != 1 %}style="border-top: 8px solid ghostwhite"{% endif %}>
                                            <div class="card" style="width: 24rem; padding: 20px 0 20px 0">
                                                <a href="{% url 'therapist_detail' pk=similar.pk %}">
                                                    <div style="border: 2px solid #fff; height: 120px; border-radius: 100%; background-image: {% if similar.profile_image %} url('/media/{{ similar.profile_image }}') {% else %} url(/static/images/person.png) {% endif %}; background-size: auto 100%; background-repeat: no-repeat;background-position: center;">
                                                    </div>
                                                </a>

                                                <div class="card-block text_center">
                                                    <a href="{% url 'therapist_detail' pk=similar.pk %}">
                                                        <h4 class="card-title">{{ similar.name }}</h4>
                                                    </a>
                                                    <i>{{ similar.qualification.name }}</i>

                                                    <p class="card-text">
                                                        {% for i in 'xxxxx' %}
                                                            {% if forloop.counter <= similar.rating %}
                                                                <i class="ion-ios-star" aria-hidden="true"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                                                    <!--{% if similar.rating > 0 %}-->
                                                            <!--<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                                                        <!--{% if similar.rating > 1 %}-->
                                                            <!--<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                                                        <!--{% if similar.rating > 2 %}-->
                                                            <!--<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                                                        <!--{% if similar.rating > 3 %}-->
                                                            <!--<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                                                        <!--{% if similar.rating > 4 %}-->
                                                            <!--<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}-->
                                                    </p>
                                                </div>
                                                <ul class="ul text_center">
                                                    <a href="{% url 'therapy_messages' pk=similar.pk %}" class="btn btn-primary btn-md">
                                                        <i class="ion-email"></i>&nbsp;Message
                                                    </a>
                                                    <a  href="{% url 'therapy_chats' pk=similar.pk %}" class="btn btn-warning btn-md">
                                                        <i class="ion-chatbox"></i>&nbsp;Chat
                                                    </a>
                                                </ul>
{#                                                <ul class="list-group list-group-flush">#}
                                                    {#                                                <li class="list-group-item"#}
                                                    {#                                                    style="background-color: rgb(34, 34, 14) !important;; color: #fff;">#}
                                                    {#                                                    Conversations: 481 <br>#}
                                                    {#                                                    Last Active: 1 Week Ago#}
                                                    {#                                                </li>#}
{#                                                    <li class="list-group-item">#}
{#                                                        <table class="second_right_right_table">#}
{#                                                            <tr>#}
{#                                                                <th style="text-align: center; font-size: 18px;width: 30%;">#}
{#                                                                    <a href="{% url 'therapy_messages' pk=similar.pk %}">#}
{#                                                                        <i class="ion-email f-20 message" aria-hidden="true"></i>#}
{#                                                                    </a>#}
{#                                                                </th>#}
{#                                                                <th style="text-align: center; font-size: 18px;width: 30%;">#}
{#                                                                    <a href="{% url 'therapy_chats' pk=similar.pk %}">#}
{#                                                                        <i class="ion-chatbox-working chat f-20" aria-hidden="true"></i>#}
{#                                                                    </a>#}
{#                                                                </th>#}
{#                                                            </tr>#}
{#                                                            <tr>#}
{#                                                                <td style="text-align: center;font-size: 13px;">#}
{#                                                                    <a href="{% url 'therapy_messages' pk=similar.pk %}">Message</a>#}
{#                                                                </td>#}
{#                                                                <td style="text-align: center;font-size: 13px;">#}
{#                                                                    <a href="{% url 'therapy_chats' pk=similar.pk %}">Chat</a>#}
{#                                                                </td>#}
{#                                                            </tr>#}
{#                                                        </table>#}
{#                                                    </li>#}
{#                                                </ul>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
