{% extends 'account/basic_layout.html' %}

{% block title %}
    <title>Chat Sessions</title>
{% endblock %}

{% block content %}
    <!-- ### $App Screen Content ### -->
    {% load static from staticfiles %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="full-container">
                <div class="peers fxw-nw pos-r">
                    <!-- Sidebar -->
                    <div class="peer bdR" id="chat-sidebar1">
                        <a href="{% url 'therapist_detail' pk=therapist.pk %}"
                           style="text-decoration: none; color: inherit" class="layers h-100">
                            <!-- List -->
                            <div class="card">
                                <div>
                                    {% if therapist.profile_image %}
                                        <img src="/media/{{ therapist.profile_image }}" alt="{{ therapist.name.title }}" class="card-img-top">
                                    {% else %}
                                        <img src="{% static 'images/boss.png' %}" alt="{{ therapist.name.title }}" class="card-img-top">
                                    {% endif %}
                                </div>
                                <ul class="list-group list-group-flush">
                                     <li class="list-group-item">
                                         {{ therapist.name }}
                                     </li>
                                    {% if user.headline %}
                                        <li class="list-group-item">
                                            {{ user.headline }}
                                        </li>
                                    {% endif %}

                                    <li class="list-group-item">
                                        <div class="d-inline">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </div>
                                        <div class="d-inline">
                                            <i class="fa fa-flag-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="d-inline" style="padding-right: 0px;">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <!-- Chat Box -->
                    <div class="peer peer-greed" id='chat-box'>
                        <div class="layers h-100">
                            <div class="layer w-100">
                                <!-- Header -->
                                <div class="peers fxw-nw jc-sb ai-c pY-20 pX-30 bgc-white">
                                    <div class="peers ai-c">
                                        <div class="peer d-n@md+">
                                            <a href="" title="" id='chat-sidebar-toggle'
                                               class="td-n c-grey-900 cH-blue-500 mR-30">
                                                <i class="ti-menu"></i>
                                            </a>
                                        </div>
                                        <div class="peer mR-20">
                                            {% if therapist.profile_image %}
                                                <img src="/media/{{ therapist.profile_image }}"
                                                     alt="{{ therapist.name.title }}" class="w-3r h-3r bdrs-50p">
                                            {% else %}
                                                <img src="{% static 'images/boss.png' %}"
                                                     alt="{{ therapist.name.title }}" class="w-3r h-3r bdrs-50p">
                                            {% endif %}
                                        </div>
                                        <div class="peer">
                                            <h6 class="lh-1 mB-0">{{ therapist.name.title }}</h6>
                                            <i class="fsz-sm lh-1">Typing...</i>
                                        </div>
                                    </div>
                                    <div class="peers">
                                        <a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md mR-30" title="">
                                            <i class="ti-video-camera"></i>
                                        </a>
                                        <a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md mR-30" title="">
                                            <i class="ti-headphone"></i>
                                        </a>
                                        {#                                        <a href="" class="peer td-n c-grey-900 cH-blue-500 fsz-md" title="">#}
                                        {#                                            <i class="ti-more"></i>#}
                                        {#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                            <div class="layer w-100 fxg-1 bgc-grey-200 scrollable pos-r">
                                <!-- Chat Box -->
                                <div class="p-20 gapY-15">
                                    <!-- Chat Conversation -->
                                    <div class="peers fxw-nw">
                                        <div class="peer mR-20">
                                            {% if therapist.profile_image %}
                                                <img src="/media/{{ therapist.profile_image }}"
                                                     alt="{{ therapist.name.title }}" class="w-2r bdrs-50p">
                                            {% else %}
                                                <img src="{% static 'images/boss.png' %}"
                                                     alt="{{ therapist.name.title }}" class="w-2r bdrs-50p">
                                            {% endif %}
                                        </div>
                                        <div class="peer peer-greed">
                                            <div class="layers ai-fs gapY-5">
                                                <div class="layer">
                                                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                                        <div class="peer mR-10">
                                                            <small>10:00 AM</small>
                                                        </div>
                                                        <div class="peer-greed">
                                                            <span>Lorem Ipsum is simply dummy text of</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Chat Conversation -->
                                    <div class="peers fxw-nw ai-fe">
                                        <div class="peer ord-1 mL-20">
                                            <img class="w-2r bdrs-50p" src="{% static 'images/man.svg' %}" alt="">
                                        </div>
                                        <div class="peer peer-greed ord-0">
                                            <div class="layers ai-fe gapY-10">
                                                <div class="layer">
                                                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                                        <div class="peer mL-10 ord-1">
                                                            <small>10:00 AM</small>
                                                        </div>
                                                        <div class="peer-greed ord-0">
                                                            <span>Heloo</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layer">
                                                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                                        <div class="peer mL-10 ord-1">
                                                            <small>10:00 AM</small>
                                                        </div>
                                                        <div class="peer-greed ord-0">
                                                            <span>??</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layer w-100">
                                <!-- Chat Send -->
                                <div class="p-20 bdT bgc-white">
                                    <div class="pos-r">
                                        <input type="text" class="form-control bdrs-10em m-0" placeholder="Say something...">
                                        <button type="button" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}