{% extends 'shop/layout.html' %}

{% block body %}
    <style>
        .pin-icon {
            font-size: 5em;
        }

        .fw-500 {
            font-weight: 500
        }

        input {
            border-bottom: 2px solid lightgray !important;
            font-size: 15px !important;
        }

        ::-webkit-input-placeholder {
             color: #000 !important;
        }

        .dropbtn {
            color: #000;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: #000;
            font-size: 12px;
            padding: 7px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .skip {
            text-align: center;
            width: 100% !important;
            font-size: 15px;
            box-shadow: 2px 2px 2px 2px #888888;
            background-color:#22220E;
            color: #fff;
            padding: 15px;
            margin-bottom: 20px
        }

        @media only screen and (min-width: 320px) and (max-width: 360px) {
            .skip {
                text-align: center;
                width: 89% !important;
                font-size: 10px;
                box-shadow: 2px 2px 2px 2px #888888;
                background-color:#22220E;
                color: #fff;
                padding: 15px;
                margin: 20px;
                font-weight: 800;
            }

            .dropbtn {
                color: #000;
                padding: 12px;
                font-size: 14px;
                border: none;
                cursor: pointer;
            }
        }

        @media only screen and (min-width: 361px) and (max-width: 380px) {
            .skip {
                text-align: center;
                width: 89% !important;
                font-size: 10px;
                box-shadow: 2px 2px 2px 2px #888888;
                background-color:#22220E;
                color: #fff;
                padding: 15px;
                margin: 20px;
                font-weight: 800;
            }

            .dropbtn {
                color: #000;
                padding: 12px;
                font-size: 14px;
                border: none;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 424px) and (min-width: 375px) {
            .btn-default {
                width: auto;
                background-color: #fff;
            }
        }
    </style>    
{#    <div class="homepage_banner">#}
{#        <div class="homepage_banner_overlay"></div>#}
{#    </div>#}
    <div class="create_therapist_image full" style="position: relative; height: 420px !important; background-image: url('/static/images/business-people.jpg') !important;">
        <div style="background: rgba(16,16,16,0.5); width: 100%; height: 100%; position: absolute;"></div>
        <div class="visible-xs visible-sm" style="position: absolute;width: 100%;height:100%;"></div>
        <div class="hidden-sm hidden-xs mle-10" style="position: absolute; top: 8.5em; line-height: 1.5em; color: #fff; font-weight: 600; font-family: inherit;">
            <h2 class="pl-40 f-40">
                MiNDCuRE Therapists
            </h2>

            <p class="pl-40 white f-16 fw-500">We are MiNDCuRE Therapists with years of Practice. <br>We are Certified and Licensed to help you find <b>Mental Health.</b></p>
        </div>

        <div class="visible-sm visible-xs" style="position: absolute;top: 30%;">
            <h2 class="text_center white">
                MiNDCuRE Therapists
            </h2>
            <p class="text_center white" style="padding: 10px;font-size: 14px; font-weight:500">We are MiNDCuRE Therapists with years of Practice. <br>We are Certified and Licensed to help you find <b>Mental Health.</b></p>
        </div>
    </div>

    <div class="container margin-top-30 margin-bottom-20">
        <div class="row">
            <div class="col-md-6">
                <table class="input_table">
                    <tr>
                        <td>
                            <form method="get" action="{{ request.path }}">
                                <input type="text" name="q" id="search" class="input search-form" placeholder="Search By Experts Name">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="input_table">
                    <tr class="float-right">
                        <td class="filter_td" style="height: 44px !important;">
                            <div class="dropdown">
                                <button class="dropbtn">Sort<i class="ion-chevron-down filter-dropdown"></i></button>
                                <div class="dropdown-content">
                                    <a onclick="appendURL('order_by', 'reviews_count')" class="g_inactive" id="reviews_count">Reviews</a>
                                    <a onclick="appendURL('order_by', 'rating')" class="g_inactive" id="rating">Rating</a>
                                    <a onclick="appendURL('order_by', 'sessions_count')" class="g_inactive" id="therapy_sessions">Therapy Sessions</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Filter by categories<i
                                        class="ion-chevron-down filter-dropdown"></i></button>
                                <div class="dropdown-content">
                                    <a class="g_inactive" onclick="appendURL('categories', 'all')" id="all">All</a>
                                    {% for category in categories %}
                                        <a class="g_inactive" onclick="appendURL('categories', '{{ category.slug }}')" id="{{ category.slug }}">{{ category.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Filter by languages<i class="ion-chevron-down filter-dropdown"></i></button>
                                <div class="dropdown-content">
                                    {% for language in languages %}
                                        <a class="g_inactive" onclick="appendURL('language', '{{ language.slug }}')" id="{{ language.slug }}">{{ language.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        {#                        <td class="filter_td" style="height: 44px !important;">#}
                        {#                            <a href="/therapists?page=1&order_by=reviews_count" class="s_text13 g_inactive f-8"#}
                        {#                               id="reviews_count">Reviews</a>#}
                        {#                            <a href="/therapists?page=1&order_by=rating" class="s_text13 g_inactive f-8" id="rating">Rating</a>#}
                        {#                            <a href="/therapists?page=1&order_by=language" class="s_text13 g_inactive f-8"#}
                        {#                               id="language">Language</a>#}
                        {#                            <a href="/therapists?page=1&order_by=therapy_sessions" class="s_text13 g_inactive f-8"#}
                        {#                               id="therapy_sessions">Therapy Sessions</a>#}
                        {#                        </td>#}
                        {#                        <td class="filter_td" style="height: 44px !important;">#}
                        {#                            <i class="ion-filter" aria-hidden="true"></i>#}
                        {#                            Filter Results#}
                        {#                        </td>#}
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skip" style="margin-top: 0 !important;" {% if profile.current_therapist %} ng-click="skip()" {% else %} ng-click="assign()"{% endif %}>
                    <a href class="white">If you would like us to ASSIGN a therapist, kindly click here.</a>
                </div>
            </div>
        </div>
    </div>

    <form class="container" style="margin-bottom: 40px;" id="myDIV" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="therapist_id" id="therapist_id">
        <div class="row infinite-container">
            {% if therapists.object_list|length == 0 %}
            <div style="height: 275px">
                <div style="text-align: center; margin-top: 30px;">
                    <i class="ion-university" style="font-size: 80px"></i>
                    <h5 style="margin: 20px">No therapists matching your query</h5>
                </div>
            </div>
            {% endif %}

            {% for therapist in therapists %}
                <div class="col-md-3 margin-bottom infinite-item">
                    <div class="card" id="{{ therapist.id }}">
                        <div class="card-block ghost_border">
                            <div style="width: 105px; margin: auto; height: 107px; border-radius: 100%;">
                                <a href="{% url 'therapist_detail' pk=therapist.pk %}">
                                    {% if therapist.profile_image %}
                                        <div style="background-image: url('/media/{{ therapist.profile_image }}'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                    {% else %}
                                        <div style="background-image: url('/static/images/person.png'); height: 105px; border-radius: 100%; background-size: auto 100%;"></div>
                                    {% endif %}
                                </a>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted therapist_text">
                                <a href="{% url 'therapist_detail' pk=therapist.pk %}" class="chat"><b>{{ therapist.name | title }}</b></a>
                            </h6>

                            <p class="card-text text_center f-13 fw-600">
                                {{ therapist.qualification.name|truncatechars:30 }}
                            </p>

                            <div class="card-block" style="text-align: center; background: inherit">
                                <span class="pad-right-20">
                                    {% if therapist.rating > 0 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                    {% if therapist.rating > 1 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                    {% if therapist.rating > 2 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                    {% if therapist.rating > 3 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                    {% if therapist.rating > 4 %}<i class="ion-ios-star" aria-hidden="true"></i>{% endif %}
                                </span>
                                <!--<span href="#" class="card-link">{{ therapist.rating }} Rating</span>-->
                                <span style="padding: 10px 0 10px 0">|</span>
                                <span class="card-link success">{{ therapist.reviews_count }} Reviews</span>
                                {#                                    <p style="font-size: 13px;">Conversations - 2540</p>#}
                            </div>
                            <div style="text-align: center; width: 100%; display: inline-block;">
                                {% if therapist.id == selected %}
                                    <span class="btn btn-default btn-sm">
                                        <i class="ion-ios-checkmark-outline">&nbsp;Active</i>
                                    </span>
                                {% else %}
                                    <span class="btn btn-success btn-sm" onclick="changeAccount('{{ therapist.id }}')">
                                        <i class="ion-ios-checkmark-outline">&nbsp;Select</i>
                                    </span>
                                {% endif %}
                                <a href="{% url 'therapy_messages' pk=therapist.pk %}" class="btn btn-primary btn-sm"><i class="ion-email"></i>&nbsp;Message</a>
                                {% if selected == therapist.id %}
                                    <a href="{% url 'sessions' %}" class="btn btn-warning btn-sm"><i class="ion-chatbox"></i>&nbsp;Therapy</a>
                                {% else %}
                                    <a href="{% url 'therapy_chats' pk=therapist.pk %}" class="btn btn-warning btn-sm"><i class="ion-chatbox"></i>&nbsp;Chat</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if therapists.has_next %}
                <a class="infinite-more-link" href="?page={{ therapists.next_page_number }}"></a>
            {% endif %}

            <div class="loading" style="display: none;">
                <div style="text-align: center; font-size: 26px; color: #000">
                    <i class="ion-load-a"></i>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
    <script>
        $('.search-form').keydown(function (event) {
            if (event.keycode == 13) {
                return false;
            }
        });

        var urlParams = new URLSearchParams(window.location.search);
        var _id = null;

        if (urlParams.has('order_by')) {
            _id = '#' + urlParams.get('order_by');
            $(_id).removeClass('g_inactive').addClass('g_active');
        }

        if (urlParams.has('language')) {
            _id = '#' + urlParams.get('language');
            $(_id).removeClass('g_inactive').addClass('g_active');
        }

        if (urlParams.has('categories')) {
            _id = '#' + urlParams.get('categories');
            $(_id).removeClass('g_inactive').addClass('g_active');
        }

        if (urlParams.has('categories')) {
            _id = '#' + urlParams.get('categories');
            $(_id).removeClass('g_inactive').addClass('g_active');
        }

{#        else {#}
{#            $('#all').removeClass('g_inactive').addClass('g_active');#}
{#        }#}

        function appendURL(key, value) {
{#            let param = new URL(location.href).searchParams.get(query);#}
{#            console.log(param);#}
            let new_uri = null;
            let uri = location.href;
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                new_uri =uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                new_uri = uri + separator + key + "=" + value;
            }

            location.href = new_uri;
        }

        var  changeAccount = function(therapist_id) {
            document.getElementById("therapist_id").value = therapist_id;
            $('#myDIV').submit();
        }

    </script>
{% endblock %}


