{% extends 'shop/layout.html' %}

{% block body %}
    {% load static from staticfiles %}
    <div class="container book_appointment_head_parent">
    	<div class="row">
    		<div class="col-md-12">
    			<h1 class="book_appointment_h1">
    				REVIEW YOUR BOOKING
    			</h1>
    		</div>
    	</div>
    </div>

    <div class="container">
    	<div class="row container_row">
		  	<div class="col-sm-6">
			    <div class="card container_card_left">
			      	<div class="card-body">
				        <p class="container_card_text_p">
				        	Your Appointment Details
				        </p>
				        <div class="row container_card_text_row">
				        	<div class="col-md-3 col-xs-4 container_card_text_left">
				        		Expert
				        	</div>
				        	<div class="col-md-1 col-xs-3 container_card_text_center">
				        		:
				        	</div>
				        	<div class="col-md-8 col-xs-5 container_card_text_right container_card_text_right_media">
				        		Best Available Expert
				        	</div>
				        </div>

				        <div class="row container_card_text_row">
				        	<div class="col-md-3 col-xs-4 container_card_text_left">
				        		Date
				        	</div>
				        	<div class="col-md-1 col-xs-3 container_card_text_center">
				        		:
				        	</div>
				        	<div class="col-md-8 col-xs-5 container_card_text_right">
				        		Apr 25
				        	</div>
				        </div>

				        <div class="row container_card_text_row">
				        	<div class="col-md-3 col-xs-4 container_card_text_left">
				        		Time
				        	</div>
				        	<div class="col-md-1 col-xs-3 container_card_text_center">
				        		:
				        	</div>
				        	<div class="col-md-8 col-xs-5 container_card_text_right">
				        		8:00 PM
				        	</div>
				        </div>

				        <div class="row container_card_text_row">
				        	<div class="col-md-3 col-xs-4 container_card_text_left">
				        		Type
				        	</div>
				        	<div class="col-md-1 col-xs-3 container_card_text_center">
				        		:
				        	</div>
				        	<div class="col-md-8 col-xs-5 container_card_text_right">
				        		Voice Call
				        	</div>
				        </div>

				        <div class="row container_card_text_row">
				        	<div class="col-md-3 col-xs-4 container_card_text_left">
				        		Charges
				        	</div>
				        	<div class="col-md-1 col-xs-3 container_card_text_center">
				        		:
				        	</div>
				        	<div class="col-md-8 col-xs-5 container_card_text_right">
				        		&#8358;400
				        	</div>
				        </div>
			      	</div>
			    </div>
		  	</div>
		  	<div class="col-sm-6">
			    <div class="card container_card_right">
			      <div class="card-body">
			        <div class="row container_card_right_form">
			        	<form class="container_card_right_form">
			        		<p class="form_p_for_h">
			        			Please provide your contact information
			        		</p>
			        		<p class="form_p">
			        			So we can update you on the status of the appointment
			        		</p>

			        		<div class="form_first_div">
			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Phone Number" class="form_input_phone" name="">
			        				<div>
			        					<input type="checkbox" class="form_input" name="">
			        					<label class="form_input_label_checkbox">
			        						Please select incase of international number
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Email Id" class="form_input_phone" name="">
			        				<div>
			        					<label class="form_input_label">
			        						Important communications will be sent here
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<input type="text" placeholder="Username" class="form_input_phone" name="">
			        				<div>
			        					<label class="form_input_label">
			        						If you're a new User, we will create an account for you.
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<select class="form_input_phone">
			        					<option>Category</option>
			        					<option>Career/Academic</option>
			        					<option>Love & Relationship</option>
			        					<option>Sexual Wellness</option>
			        					<option>Self-Improvement</option>
			        					<option>Family & Friends</option>
			        					<option>Abuse</option>
			        				</select>
			        				<div>
			        					<label class="form_input_label">
			        						So that we know what's troubling you.
			        					</label>
			        				</div>
			        			</div>

			        			<div class="form_input_parent">
			        				<select class="form_input_phone">
			        					<option>
			        						Sub Category
			        					</option>
			        				</select>
			        				<div>
			        					<label class="form_input_label">
			        						Could you tell us a little more.
			        					</label>
			        				</div>
			        			</div>

			        			<button type="button" class="btn btn-success continue_payment">
			        				CONTINUE PAYMENT
			        			</button>

			        			<p class="form_p">
			        				Have An Account?
				        			<a href="">
				        				Login Now
				        			</a>
				        		</p>
			        		</div>
			        	</form>
			        </div>
			      </div>
			    </div>
		  	</div>

		  	<div class="button_parent">
				<button type="button" class="btn btn-success">Back</button>
			</div>
		</div>
    </div>
{% endblock %}