<!DOCTYPE html>
<html>
<head>
    <title>MindCure | {{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

    {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.min.css' %}">

</head>
<body class="application" ng-app="mindcureApp" ng-controller="ProfileController" ng-init="init()">

{#<nav class="navbar navbar-fixed-top" id="header" style="background: url(/static/images/pattern-5.png);">#}
{#    <div class="container-fluid" id="popupContainer">#}
{#        <div class="navbar-header">#}
{#            <div class="brand">#}
{#                {% if default_resolved %}#}
{#                    <a href="javascript:void(0);" id="logo">#}
{#                    <span class="hidden-xs-down m-r-3">#}
{#                        <img id="showServices" class="lg"#}
{#                             src="{{ url_for('static', filename='images/rsz_atele_logo.png') }}"/>#}
{#                    </span>#}
{#                    </a>#}
{#                    <ul class="nav navbar-nav navbar-right pull-right">#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Stations"#}
{#                               style="{% if request.path[:10]=="/stations/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.stations') }}">#}
{#                                <i class="fa fa-building"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Accounts"#}
{#                               style="{% if request.path[:10]=="/accounts/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.accounts') }}">#}
{#                                <i class="fa fa-users"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Reports"#}
{#                               style="{% if request.path[:9]=="/reports/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.reports') }}">#}
{#                                <i class="fa fa-bar-chart-o"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Billing Information"#}
{#                               style="{% if request.path[:10]=="/billings/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.billing_info') }}">#}
{#                                <i class="fa fa-money"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Settings"#}
{#                               style="{% if request.path[:21]=="/settings/basic_info/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.settings') }}">#}
{#                                <i class="fa fa-gears"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="Messages"#}
{#                               style="{% if request.path[:10]=="/messages/" %}color: #FD6F06;{% endif %}"#}
{#                               href="{{ url_for('.messages') }}">#}
{#                                <i class="fa fa-envelope"></i></a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a id="headway" class="dropbtn" title="Notifications" href="#">#}
{#                                <i class="fa fa-bell-o"></i><sup class="badge" ng-bind="notifications.length"></sup>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a class="dropbtn" data-toggle="tootip" title="My Account" href="javascript:void(0);">#}
{#                                <i class="fa fa-user"></i>#}
{#                            </a>#}
{##}
{#                            <div class="dropdown-content rvs">#}
{#                                <span class="dropdown-arrow"></span>#}
{#                                <a href="{{ url_for('.settings') }}"><b>{{ current_client.name }}</b></a>#}
{#                                <a id="logout-btn" href="{{ url_for('.logout') }}">Log Out</a>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                    {% block nav %}#}
{#                        <ul class="nav navbar-nav navbar-left">#}
{#                            {% if no_angular and current_service %}#}
{#                                {% if use_default_nav %}#}
{#                                    <li style="font-size: 10px;">#}
{#                                        <a {% if request.path== url_for('.dashboard', slug=current_service.code)+'#!/' %}class="active" {% endif %}#}
{#                                           href="{{ url_for('.dashboard', slug=current_service.code) }}#!/">Overview</a>#}
{#                                    </li>#}
{#                                    <li style="font-size: 10px;">#}
{#                                        <a {% if request.path== url_for('.dashboard', slug=current_service.code)+'#!/networks' %}class="active" {% endif %}#}
{#                                           href="{{ url_for('.dashboard', slug=current_service.code) }}#!/networks">Networks</a>#}
{#                                    </li>#}
{#                                    <li style="font-size: 10px;">#}
{#                                        <a {% if request.path== url_for('.dashboard', slug=current_service.code)+'#!/installations' %}class="active" {% endif %}#}
{#                                           href="{{ url_for('.dashboard', slug=current_service.code) }}#!/installations">Installations</a>#}
{#                                    </li>#}
{#                                    <li style="font-size: 10px;">#}
{#                                        <a {% if request.path== url_for('.dashboard', slug=current_service.code)+'#!/customers' %}class="active" {% endif %}#}
{#                                           href="{{ url_for('.dashboard', slug=current_service.code) }}#!/customers">Customers</a>#}
{#                                    </li>#}
{#                                {% else %}#}
{#                                    {% for link in current_service.navigations %}#}
{#                                        <li style="font-size: 10px;">#}
{#                                            <a rel="{{ link.code }}"#}
{#                                               href="{{ url_for('.dashboard', slug=current_service.code) }}#{{ link.url }}">{{ link.name }}</a>#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                            {% else %}#}
{#                                <li ng-repeat="link in navigations" style="font-size: 10px;" ng-cloak>#}
{#                                    <a href="#!/[[ link.code ]]" ng-bind="link.name"></a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{#                    {% endblock %}#}
{#                {% else %}#}
{#                    <a href="{{ url_for('.index') }}" id="logo">#}
{#                        <span class="hidden-xs-down m-r-3">#}
{#                            <img class="lg" src="{{ url_for('static', filename='images/rsz_atele_logo.png') }}"/>#}
{#                        </span>#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}


    <script type="text/javascript">
      window.addEventListener('load', function() {
           const loader = document.getElementById('loader');
          setTimeout(function() {
              loader.classList.add('fadeOut');
          }, 300)
      });
    </script>
    {% load static from staticfiles %}
    <script src="{% static 'js/moment.js' %}"></script>
      {% include 'shop/scripts.html' %}
    <script src="{% static 'js/file-upload.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-resource.min.js' %}"></script>
    <script src="{% static 'js/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'js/angular-cookies.min.js' %}"></script>
    <script src="{% static 'js/ngToast.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/flwpbf-inline.js' %}"></script>
    <script src="{% static 'js/angular-moment.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/new_main.js' %}"></script>
    <script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <script src="{% static 'js/polyfill.min.js' %}"></script>
    <script src="{% static 'js/skygear.min.js' %}"></script>
    <script src="{% static 'js/skygear-chat.min.js' %}"></script>

    <!--Skygear configuration-->
    <!--The app end point and the api key can be found in the developer portal-->
    <script>
        skygear.config({
            'endPoint': 'http://mindcureglobal.com:3000/', // trailing slash is required
            'apiKey': 'mindcure'
        }).then(function () {
            console.log(skygear.auth.accessToken);
            {#console.log('skygear container is now ready for making API calls.');#}
        }, function (error) {
            console.error(error);
        });
    </script>

    <!-- Start of Async Drift Code -->
    <script>
        !function () {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                t[e] = t.factory(e);
            }), t.load = function (t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('244yu53d4gb9');
    </script>
    <script type="text/javascript" src="{% static 'assets/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bundle.js' %}"></script>
</body>
</html>
