{% extends "messages/layout.html" %}
{% block breadcrumbs %}
    <div id="breadcrumbs" class="container-fluid">
        <ul id="action_navs">
        </ul>
        <span>{{ page_title }}</span>
    </div>
{% endblock %}
{% block inner_body %}
    <style>
        .msg_bdy {
            text-transform: none;
        }
    .msg_bdy p{
        margin-bottom: 0;
    }
    </style>
    <div class="table" ng-show="messages.total > 0">
        <div class="thead tr">
            <span class="td" style="width: 100px;">date</span>
            <span class="td" style="width: 150px;">sender</span>
            <span class="td" style="width: 15px;"></span>
            <span class="td" style="width: 15px;"></span>
            <span class="td">message</span>
        </div>
{#        {% for obj in results.get('items') %}#}
{#        {% set date = timestamp_to_date(obj.timestamp) %}#}
        <div class="tr" ng-repeat="msg in messages.items">
            <span class="td" ng-bind="msg.created_at">
{#              {% if date %}{{ date.strftime('%b %d, %Y %H:%m %p') }}{% endif %}#}
            </span>
            <span class="td" ng-bind="msg.sender"></span>
            <span class="td">
                <i class="fa fa-share"></i>
            </span>
            <span class="td">
                <i class="fa fa-envelope-o"></i>
            </span>
            <span class="td msg_bdy">
                <span class="grey" ng-bind="msg.subject"></span><br>[[ msg.body ]]
            </span>
        </div>
{#        {% endfor %}#}
    </div>
{#    {% else %}#}
{#    {% if length(request_args)>0 %}#}
{#    <div class="table" ng-show="">#}
{#        <div class="thead tr">#}
{#            <span class="td" style="width: 100px;">date</span>#}
{#            <span class="td" style="width: 150px;">sender</span>#}
{#            <span class="td" style="width: 15px;"></span>#}
{#            <span class="td" style="width: 15px;"></span>#}
{#            <span class="td">message</span>#}
{#        </div>#}
{#    </div>#}
{#    <div class="no_search_results">#}
{#        No Results found#}
{#    </div>#}
{#    {% else %}#}
    <div class="tr" id="empty_list_box">
        <h3 style="text-align: center; margin-top:50px; margin-left:550px">
            <i class="ion-email" aria-hidden="true" style="font-size: 100px; color: lightgrey;"></i>
            <br>
            Inbox is empty
        </h3>
    </div>
{#    {% endif %}#}
{#    {% endif %}#}
{% endblock inner_body %}