{% extends "messages/base_layout.html" %}

{% block body %}
    <style>
        #create_message_box {
            display: block;
            position: absolute;
            bottom: 37px;
            right: 105px;
            text-align: center;
            font-size: 25px;
        }

        #create_message_box i {
            color: #fff;
            background: #FC6E06;
            border-radius: 50%;
            padding: 15px;
            width: 53px;
            height: 53px;
            transition: 0.3s;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
        }

        #create_message_box i:hover {
            background: #ec5702;
        }

        #compose_message {
            display: none;
            position: absolute;
            bottom: 100px;
            right: 20px;
            background: #fff;
            width: 400px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
            -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
            -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
        }

        #compose_message header {
            background: #FC6E06;
            border: 1px solid #ec5702;
            color: #fff;
            text-align: left;
            text-transform: uppercase;
            display: block;
            padding: 10px;
        }

        #compose_message header #cls {
            cursor: pointer;
        }

        .grey {
            color: #888 !important;
        }

        #compose_message .table {
            margin-bottom: 0;
        }

        #compose_message form {
            padding: 0;
        }

        #compose_message form .table .tr input, #compose_message form .table .tr select, #compose_message form .table .tr textarea, #compose_message form .table .tr .redactor_box {
            width: 100%;
            max-width: 400px;
        }

        #compose_message form .table .tr .redactor_box {
            height: 180px;
            max-height: 180px !important;
            overflow: auto;
            text-transform: none !important;
        }

        #compose_message form .table .tr input.td, #compose_message form .table .tr select.td, #compose_message form .table .tr textarea.td {
            border: 1px solid #eee !important;
        }

        #compose_message form .table .tr input.td:hover, #compose_message form .table .tr select.td:hover {
            cursor: auto;
        }

        #compose_submit {
            background: #FC6E06;
            border: 1px solid #ec5702;
            color: #fff;
            padding: 7px 20px;
            text-transform: uppercase;
        }

        #compose_submit:hover {
            background: #ec5702;
            border: 1px solid #FC6E06;

        }

        #message_ty_selector {
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2222;
            padding: 30% 20px 0;
            text-align: center;
        }

        #message_ty_selector span {
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin: 0 10px;
            transition: 0.3s;
        }

        #message_ty_selector span:hover {
            border-color: #FC6E06;
        }

        #message_ty_selector span i {
            font-size: 80px;
            color: #fff;
        }
    </style>
    <a href="javascript:void(0);">
        <div id="create_message_box">
            <i class="fa fa-plus"></i>
        </div>
    </a>

    <div id="compose_message">
        <div id="message_ty_selector">
            <div>
                <span><i tooltip="Message" rel="message" class="fa fa-envelope comp_msg_typ"></i></span>
                <span><i tooltip="Complaint" rel="complaint" class="fa fa-bullhorn  comp_msg_typ"></i></span>
            </div>
        </div>
        <form action="{% url 'create_message' %}" method="post" name="form">
            {{ form.csrf_token }}
            <input type="hidden" id="message_type" name="message_type">
            <header><span id="cls" class="pull-right"><i class="fa fa-close"></i></span>Compose <span id="header_title">Message</span>
            </header>
            <div class="table">

                <div class="tr">
                    {{ form.subject }}
                </div>
                <div class="tr">
                    {{ form.body }}
                </div>
                <div class="tr">
                    <td>
                        <button id="compose_submit" class="pull-right" type="submit">Send <i class="fa fa-thumbs-up"></i></button>
                    </td>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

    {% block breadcrumbs %}
    {% endblock %}
    <div class="clearfix"></div>
    {% block inner_body %}
    {% endblock inner_body %}
{% endblock body %}
{% block page_js %}
    <script>
        $('.comp_msg_typ').click(function () {
            var rel = $(this).attr('rel');
            if (rel == "complaint") {
                $('#header_title').html("COMPLAINT");
                $('#recipient_type option[value="admin"]').prop('selected', true);
                $('#recip_sel').addClass("hidden");
                $('#cust_sel').addClass("hidden");
            } else {
                $('#header_title').html("MESSAGE");
                $('#recipient_type option[value="0"]').prop('selected', true);
                $('#recip_sel').removeClass("hidden");
            }
            $('#message_ty_selector').hide();
            $('#message_type').val(rel)
        });
        $('#create_message_box').click(function () {
            $('#compose_message').toggle()
        });
        $('#cls').click(function () {
            $('#compose_message').hide()
            $('#message_ty_selector').show()
        })
        $('#recipient_type').change(function () {
            var recipient_type = $(this).val()
            if (recipient_type == "customer") {
                $('#cust_sel').removeClass("hidden");
            } else {
                $('#cust_sel').addClass("hidden");
            }
        });
    </script>
{% endblock %}
