{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Sign In</title>
{% endblock %}
{% block content %}
    {% load static from staticfiles %}
    <style>
        .frm_sbmt {
            width: 100%;
            border-radius: 0;
            padding: 7px 12px;
        }

        input {
            border-radius: 0 !important;
        }

        input.form-control:focus, input.form-control:hover, input.form-control:active {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #222;
        }

        .panel-body, .login-separator {
            background: #fafafa;
        }
        .panel_trans .panel-body .login-separator {
            background: transparent !important;
        }
        .panel_trans .panel-body .login-separator:before {
                border-bottom: 1px solid #ccc !important;
        }
        .panel_trans .panel-body .login-separator:after {
                border-bottom: 1px solid #ccc !important;
        }
    </style>
    <body ng-controller="AuthController" ng-init="init()">
        <div class="hidden-xs hidden-sm" id="login_bkground_img" style="height: 100%; margin: 0; overflow: hidden">
          <div class="hidden-xs hidden-sm" style="position: fixed;width: 100%;height:100%;background-image: linear-gradient(to right top, rgba(175, 81, 0, 0.02), rgba(34,34,14,0.6) 50%, rgba(61,61,25,0.8));"></div>
            <div class="container mt-10p">
                <div class="row">
                    <div class="panel-group login-box hidden-xs hidden-sm">
                        <div class="panel panel-default panel_trans">
                            <div class="panel-body" style="padding: 23px 20px 5px;box-shadow: -1px 3px 6px -3px #ccc;">

                                <div class="text-center" style="color: #bf5e0f;margin-bottom: 15px;">
                                    <header style="font-size: 24px; font-weight: 200;">SIGN IN</header>
                                </div>
                                <div class="login-separator">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'images/fav.png' %}" style="width: 60px;height: 60px;">
                                    </a>
                                </div>
                                <div ng-show="error.messages.length > 0" class="alert alert-danger alert-dismissable" ng-repeat="err in error.messages" ng-cloak>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong ng-bind="err"></strong>
                                </div>
                                <form method="post" ng-submit="login()">
                                    {% csrf_token %}
                                    {% if flashes %}
                                        <div>
                                            {% for message in flashes %}
                                                <div {% if message.tags == 'error' %}
                                                    class="alert alert-danger alert-dismissable" {% else %}
                                                    class="alert alert-success alert-dismissable" {% endif %}>
                                                    <button type="button" class="close" data-dismiss="alert">&times;
                                                    </button>
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="web_username">Username</label>
                                        <input type="text" class="form-control" id="web_username" ng-model="authData.username"
                                               placeholder="Enter username" name="username" required>
                                        {% if form.username.errors %}
                                            <ol>
                                                {% for error in form.username.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="web_password">Password:</label>
                                        <input type="password" class="form-control" id="web_password" name="password" ng-model="authData.password"
                                               placeholder="Enter Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-xs btn-success frm_sbmt" id="desktop_submit">Log In</button>
                                    </div>
                                    <div class="form-group" style="font-size: 85%;text-align: center;">
                                        Having Difficulty logging in? Try
                                        <a href="{% url 'password_reset' %}" style="padding-top: 5px">Reset Password</a>
                                    </div>
                                </form>
                            </div>
                            {#                        <div class="login-separator">#}
                            {#                            Don't have an account?#}
                            {#                        </div>#}
                            <div class="text-center" style="padding: 20px 0;"><a href="{{ register_url }}">Create
                                an account</a> to join the MindCure community
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.60);">
                <p class="quote_p" style="text-align: center; font-weight: 900" id="quote"></p>
             </div>

        </div>
        <div class="login-content visible-xs visible-sm" style="margin: 0; height: 100%; overflow: hidden">
            <div class="container ">
                <div class="row">
                    <div class="panel-group mobile-login">
                        <div class="panel panel-default panel_trans">
                            <div class="panel-body" style="box-shadow: -1px 3px 6px -3px #ccc;">
                                <div class="text-center" style="color: #bf5e0f;margin-bottom: 15px;">
                                    <header style="font-size: 20px; font-weight: 200;">SIGN IN</header>
                                </div>
                                <div class="login-separator">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'images/fav.png' %}" style="width: 60px;height: 60px;">
                                    </a>
                                </div>
                                <div ng-show="error.messages.length > 0"  class="alert alert-danger alert-dismissable" ng-repeat="err in error.messages" ng-cloak>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong ng-bind="err"></strong>
                                </div>
                                <form method="post" ng-submit="login()">
    {#                                {% csrf_token %}#}
                                    {% if flashes %}
                                        <div>
                                            {% for message in flashes %}
                                                <div {% if message.tags == 'error' %} class="alert alert-danger alert-dismissable" {% else %} class="alert alert-success alert-dismissable" {% endif %}>
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" ng-model="authData.username" placeholder="Enter username" name="username" required>
                                        {% if form.username.errors %}
                                            <ol>
                                                {% for error in form.username.errors %}
                                                    <li><strong>{{ error|escape }}</strong></li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" class="form-control" id="password" name="password" ng-model="authData.password" placeholder="Enter Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-xs btn-success frm_sbmt" id="mobile_submit">Log In</button>
                                    </div>
                                    <div class="form-group" style="font-size: 85%;text-align: center;margin-bottom: 0;">
                                        Having Difficulty logging in? Try
                                        <a href="{% url 'password_reset' %}" style="padding-top: 5px">Reset Password</a>
                                    </div>
                                </form>
                            </div>
                            {#                        <div class="login-separator">#}
                            {#                            or login with#}
                            {#                        </div>#}
                            <div class="text-center" style="padding: 20px 0;">Don't have an account?
                                <a href="{{ register_url }}">Create an account</a>
                            </div>
                        </div>
                        <div>
                            <p class="quote_p" id="quote_mobile"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var texts = [
                    "We must learn to regard people less in the light of what they do or omit to do, and more in the light of what they suffer. - Dietrich Bonhoeffer",
                    "When people talk, listen completely. Most people never listen. - Ernest Hemingway",
                    "We Listen.  - MiNDCuRE",
                    "We must learn to regard people less in the light of what they do or omit to do, and more in the light of what they suffer. - Dietrich Bonhoeffer",
                    "Whenever you feel like criticizing any one...just remember that all the people in this world haven't had the advantages that you've had.  - F. Scott Fitzgerald",
                    "No one cares how much you know, until they know how much you care.  - Theodore Roosevelt",
                    "Opportunities to share love and compassion are all around us. It's going to take an army of compassionate people to heal our world. How will you show yours? - Renae A. Sauter",
                    "There is no health without mental health; mental health is too important to be left to the professionals alone, and mental health is everyone's business.- Vikram Patel",
                    "A child's mental health is just as important as their physical health and deserves the same quality of support.- Kate Middleton",
                    "I see taking care of my emotional and mental health in the same way that I see taking care of a garment: After it's been through wear and tear, it needs attention.- Gina Barreca",
                    "It is during our darkest moments that we must focus to see the light.- Aristotle Onassis",
                    "Self-pity is spiritual suicide. It is an indefensible self-mutilation of the soul.- Anthon St. Maarten",
                    "Emotions are not problems to be solved. They are signals to be interpreted. - Vironika Tugaleva",
                    "Well-being, or wholeness, implies integrity and harmony between all existing elements, providing freedom for the whole.- Darrell Calkins",
                    "Our tears are trying to serve a purpose, but we rarely let them. I don't know how we got started with subverting that purpose.- Hugh Howey",
                    "I'd never known that I could feel this broken and whole at once.- Rachel L. Schade",
                    "Ever has it been that love knows not its own depth until the hour of separation. - Kahlil Gibran",
                    "In our deepest moments we say the most inadequate things.- Edna O'Brien",
                    "Unexpressed emotions will never die. They are buried alive and will come forth later in uglier ways.- Sigmund Freud",
                    "Forgiveness is giving up the hope that the past could have been any different. - Oprah Winfrey",
                    "When you stand and share your story in an empowering way, your story will heal you and your story will heal somebody else. - Iyanla Vanzant",
                    "It is the mark of an educated mind to be able to entertain a thought without accepting it. - Aristotle",
                    "Sometimes it is difficult to realize or hear our own prejudices and own up to their existence. Admitting there is a problem is the first step to recovery.- Michael J. Fox",
                    "For every wound there is a scar. And every scar tells a story. A story that says: I survived. - Thomas Hodge",
                    "You gain strength, courage, and confidence by every experience in which you really stop to look fear in the face. You must do the thing which you think you cannot do.- Eleanor Roosevelt",
                    "For every minute you remain angry, you give up sixty seconds of peace of mind.- Ralph Waldo Emerson",
                    "Human happiness is a disposition of mind and not a condition of circumstance.- John Locke",
                    "There is only one thing that makes a dream impossible to achieve: The fear of failure. - Paulo Coelho",
                    "Don’t be afraid of your fears. They are not there to scare you. They’re there to let you know that something is worth it - C Joybell",
                    "Trauma is personal. It does not disappear if it is not validated. When someone enters the pain and hears the screams, healing can begin. - Danielle Bernock",
                    "My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style. - Maya Angelou",
                    "Everything is a gift of the universe- even joy, anger, jealousy, frustration, or separateness. Everything is perfect either for our growth or our enjoyment. - Ken Keyes Jr.",
                    "If you start to think the problem is 'out there', stop yourself. That thought is the problem. - Stephen Covey"
                ];

                var randomNumber = Math.floor(Math.random() * texts.length);
                $('#quote').text(texts[randomNumber]);
                $('#quote_mobile').text(texts[randomNumber]);

                var images=['/static/images/ethiopianGirl.jpg', '/static/images/login1.jpg', '/static/images/login2.jpg'];

                var rando = Math.floor(Math.random() * images.length);
                var bgImg = 'url(' + images[rando] + ')';

                $('#login_bkground_img').css({'background':bgImg, 'background-size':'cover'});
            });
        </script>
    </body>
{% endblock %}
