{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Create Account</title>
{% endblock %}
{% block content %}
	<div style="overflow:hidden;">
		<div class="row">
			<div class="col-md-8">
				<div class="web_login_image_wrapper">
                    <!-- <img src="/static/images/help2.jpg" width="100%" height="100%"> -->
                    <div class="web_register_image">
                        <div class="howitwork_homepage_banner_overlay" style="height: inherit;">
                            <p style="text-align: justify; padding-top: 300px; font-size: 20px; width: 70%; margin: auto; line-height: 30px; font-weight: 600; color: #fff;">
                                "Humans were once androgynous and whole, no man, no woman, perfect and powerful. So they decided to challenge the gods. The gods in their wrath decided to wipe them out but realized if they did, there'd be none to worship them. So split them into two, leaving them wandering in search for their imperfect half that makes them whole."
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-4">
				<div style="padding: 30px 20px 0px 0px;">
                    <div id="register-div">
                        <a href="{% url 'index' %}">
                            <img src="/static/images/mindcure_logo.png" width="100%">
                        </a>
                    </div>
					<form action="{% url 'register' %}" method="post" id="RegisterForm">
                        {% csrf_token %}
                        {% if flashes %}
                            <div>
                                {% for message in flashes %}
                                    <div {% if message.tags == 'error' %} class="alert alert-danger alert-dismissable" {% else %} class="alert alert-success alert-dismissable" {% endif %}>
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div id="error-message" style="color:red; margin-bottom: 10px"></div>
{#                        <div class="form-group">#}
{#                            <label for="full_name">Full Name:<br>#}
{#                                <small><mark>This information won't be made available to others on the platform</mark></small>#}
{#                            </label>#}
{#                            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter Full Name"#}
{#                                   value="{{ name }}" required>#}
{#                           {% if form.name.errors %}#}
{#                                <ol>#}
{#                                {% for error in form.name.errors %}#}
{#                                    <li><strong>{{ error|escape }}</strong></li>#}
{#                                {% endfor %}#}
{#                                </ol>#}
{#                           {% endif %}#}
{#                        </div>#}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" value="{{ username }}"
                                   placeholder="Enter username" name="username" required>
                            {% if form.username.errors %}
                                <ol>
                                {% for error in form.username.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                           {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="username">Email:</label>
                            <input type="email" class="form-control" id="email" value="{{ email }}"
                                   placeholder="Enter Email" name="email" required>
                            {% if form.email.errors %}
                                <ol>
                                {% for error in form.email.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                           {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   autocomplete="new-password" placeholder="Enter Password" required>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                              <label><input type="checkbox" name="checkBox" value="" required>I am over 18 and agree to the <a href="">terms of use</a> and <a href="">privacy policy</a></label>
                            </div>
{#                                <div class="float-left">#}
{#                                    <input type="checkbox" name="checkbox" value="Bike"><span>I am over 18 and agree to the <a href="">terms of use</a> and <a href="">privacy policy</a></span>#}
{#                                </div>#}
                            <div class="float-right">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    <div class="login-separator">
                        or create account with
                    </div>
                    <div class="text-center margin-bottom">Already have an account? <br><a href="{% url 'login'%}">Sign In</a></div>
				</div>
			</div>
		</div>
	</div>


    <script>
       $(document).ready(function(){
            var images=['/static/images/consult1.jpg', '/static/images/help2.jpg', '/static/images/consult2.jpg', '/static/images/harmony-1229893_960_720.jpg', '/static/images/sunset-2535767_960_720.jpg'];

            var randomNumber = Math.floor(Math.random() * images.length);
            var bgImg = 'url(' + images[randomNumber] + ')';

            $('.web_register_image').css({'background':bgImg, 'background-size':'cover'});
        });
    </script>
     <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#RegisterForm").validate({
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
            submitHandler: function (form) {
                if ($(form).valid()) {
                    $.get('/api/check/username?q=' + form.username.value, function (data, status) {
                        if (data.response == false) {
                            form.submit();
                        }
                        else {
                            document.getElementById('error-message').innerHTML = 'A User with this username already exists.'
                        }
                    });
                }
                return false;
            }
        });
    </script>
{% endblock %}