{% extends '../partials/auth_layout.html' %}
{% block title %}
    <title>MindCure | Sign In</title>
{% endblock %}
{% block content %}
    <div style="overflow:hidden;">
        <div class="row">
            <div class="col-md-8">
                <div class="web_login_image_wrapper">
                    <div class="web_register_image">
                        <div class="howitwork_homepage_banner_overlay" style="height: inherit;">
                            <p style="text-align: justify; padding-top: 300px; font-size: 20px; width: 70%; margin: auto; line-height: 30px; font-weight: 600; color: #fff;">
                                "Humans were once androgynous and whole, no man, no woman, perfect and powerful. So they decided to challenge the gods. The gods in their wrath decided to wipe them out but realized if they did, there'd be none to worship them. So split them into two, leaving them wandering in search for their imperfect half that makes them whole."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 60px 20px 0px 0px;">
                    <div id="register-div">
                        <a href="{% url 'index' %}">
                            <img src="/static/images/mindcure_logo.png" width="100%">
                        </a>
                    </div>

                    <div>
                        <h3 class="text-left"><b>SIGN IN</b></h3><br>
                        <p>Enter your account details to access our secure, effective array of services.</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {% if flashes %}
                            <div>
                                {% for message in flashes %}
                                    <div {% if message.tags == 'error' %}
                                        class="alert alert-danger alert-dismissable" {% else %}
                                        class="alert alert-success alert-dismissable" {% endif %}>
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" value="{{ username }}"
                                   placeholder="Enter username" name="username" required>
                            {% if form.username.errors %}
                                <ol>
                                    {% for error in form.username.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Enter Password" required>
                        </div>

                        <div class="float-right">
                            <button type="submit" class="btn btn-md" style="background-color: #F7BD3E; color: #fff;">
                                Sign In
                            </button>
                        </div>
                        <div class="float-left">
                            <span>Forgot password?<br><a href="{% url 'password_reset' %}">Click here</a></span>
                        </div>
                        <br>
                    </form>
                    <div class="login-separator">
                        or login with
                    </div>
                    <div class="text-center margin-bottom">Don't have an account? <br><a href="{% url 'register' %}">Click
                        here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
       $(document).ready(function(){
            var images=['/static/images/consult1.jpg', '/static/images/help2.jpg', '/static/images/consult2.jpg', '/static/images/harmony-1229893_960_720.jpg', '/static/images/sunset-2535767_960_720.jpg',];

            var randomNumber = Math.floor(Math.random() * images.length);
            var bgImg = 'url(' + images[randomNumber] + ')';

            $('.web_register_image').css({'background':bgImg, 'background-size':'cover', });
        });
    </script>
{% endblock %}